// ============================ 0-TOOLS
@import "./0.tools/tools";

// ============================ 1-BASE
@import "./1.base/base";

// ============================ 2-COMPONENTS
@import "./2.components/components";

@import "./1.base/theme";

#view-degree-modal,
#view-courses-modal {
  .modal-header {
    border: none !important;
    position: unset !important;
  }
  .dropdown-menu.show {
    height: 45vh;
    overflow: scroll;
    @media (max-width: 400px) {
      width: 100%;
    }
    .dropdown-item {
      @media (max-width: 400px) {
        white-space: pre-wrap;
      }
    }
  }
  .dropdown-toggle {
    padding-left: 0 !important;
    height: 50px;
    padding-right: 30px !important;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: #e8e8e8 !important;
  }
}

.invalid-feedback {
  display: block;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 770px !important;
    margin: 1.75rem auto;
  }
}
#view-degree-modal {
  .dropdown-toggle[aria-expanded="false"]::after {
    content: none;
  }
  .dropdown-toggle[aria-expanded="true"]::after {
    content: none;
  }
}
select#year,
select#day,
select#month,
select#month_b,
select#day_b,
select#year_b {
  padding: 0.45em 0.7em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-right: 15px;
  width: 100px;
  background: url(../../assets/images/select-bg.png) no-repeat 95% center
    #ffffff;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  color: #5c6670;
  font-size: 18px;
}

@media (max-width: 576px) {
  select#year,
  select#day,
  select#month,
  select#month_b,
  select#day_b,
  select#year_b {
    padding: 0.45em 0.2em;
    margin-right: 5px;
    width: 80px;
  }
}

@media (max-width: 364px) {
  select#year,
  select#day,
  select#month,
  select#month_b,
  select#day_b,
  select#year_b {
    padding: 0.45em 0.2em;
    border-radius: 5px;
    margin-right: 5px;
    width: 65px;
  }
}

select#year::-ms-expand,
select#day::-ms-expand,
select#month::-ms-expand,
select#month_b::-ms-expand,
select#day_b::-ms-expand,
select#year_b::-ms-expand {
  display: none;
}

.addMoreMargin {
  @include media-breakpoint-up(lg) {
    margin-bottom: 10rem;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .select2-search__field {
    line-height: 1.2;
  }
}

.p-8 {
}
.sb_learn_more .p-8:first-child {
  @include media-breakpoint-down(sm) {
    padding-bottom: 15px;
    padding-top: 25px;
  }
}

.mb24 {
  @include media-breakpoint-down(md) {
    margin-bottom: 24px !important;
  }
}

.pb20 {
  @include media-breakpoint-down(md) {
    padding-bottom: 20px !important;
  }
}
.modal-backdrop--none {
  @include media-breakpoint-down(lg) {
    position: unset !important;
    height: auto !important;
    width: auto !important;
  }
}
.isTransferLogicLoading {
  opacity: 0.6;
  pointer-events: none;
}

.v--modal-overlay {
  z-index: 1200 !important;
}

#faq-modal {
  .modal-header {
    border: none !important;
    position: unset !important;
    padding: 0 !important;
  }
  .modal-body {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .modal-footer {
    border: none !important;
  }
  .btn {
    color: black !important;
    height: 40px !important;
    width: 108px !important;
    padding: 2px;
  }
}
