<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no, maximum-scale=1'"
    />
    <meta
      name="google-site-verification"
      content="JDwal5UVlIx7wOV6yjCuC9R_iTWAB5URc6JrWMEIZFU"
    />

    <style>
      .async-hide {
        opacity: 0 !important;
      }
    </style>
    <script>
      dataLayer = [];
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-N62JTCV");
    </script>
    <!-- End Google Tag Manager -->
    <script>
      (function(a, s, y, n, c, h, i, d, e) {
        s.className += " " + y;
        h.start = 1 * new Date();
        h.end = i = function() {
          s.className = s.className.replace(RegExp(" ?" + y), "");
        };
        (a[n] = a[n] || []).hide = h;
        setTimeout(function() {
          i();
          h.end = null;
        }, c);
        h.timeout = c;
      })(window, document.documentElement, "async-hide", "dataLayer", 4000, {
        "GTM-N62JTCV": true,
      });
    </script>
    <!-- Page hiding snippet (recommended)  -->

    <title>ASU and Uber Education Partnership | ASU Online</title>
    <meta
      property="og:image"
      content="https://uber.asu.edu/img/publicheroimage.4251a245.png"
    />

    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" />
    <link rel="stylesheet" href="/assets/css/owl.theme.css" />
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/animate.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:700,400,300,200"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:900,700,400,300,200"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"
    />
    <link
      rel="shortcut icon"
      href="images/favicons/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <!-- Hotjar Tracking Code for http://goto.asuonline.asu.edu -->
    <script>
      (function(h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function() {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = {
          hjid: 423835,
          hjsv: 5,
        };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "//static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="80">
    <!-- Google Tag Manager -->
    <noscript
      ><iframe
        src="//www.googletagmanager.com/ns.html?id=GTM-N62JTCV"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>

    <div id="app"></div>
    <!-- built files will be auto injected -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.0/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/js/owl.carousal.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/js/classlist-poly.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script>
      /* This function gets the client Ids from GA accounts
       * Author: David Lemus - EdPlus @ ASU
       * @asuonline account Id: UA-141599-1
       * @asu enterprise account ID: UA-42798992-4
       */
      var cidE = "",
        cidA = "";
      setTimeout(function() {
        if ("undefined" != typeof ga) {
          ga(function() {
            let gaIds = ga.getAll();
            let i, size, match;
            for (i = 0, size = gaIds.length, match = 0; i < size; i++) {
              if (gaIds[i].get("trackingId") === "UA-141599-1" && cidE == "") {
                // The field name sent to the Lead API should be clientid
                // You can use an existing field or create it dynamically
                cidE = gaIds[i].get("clientId");
              } else if (
                gaIds[i].get("trackingId") === "UA-42798992-4" &&
                cidA == ""
              ) {
                // The field name sent to the Lead API should be enterpriseclientid
                // You can use an existing field or create it dynamically
                cidA = gaIds[i].get("clientId");
              }
            }
          });
        }
      }, 2000);
    </script>

    <script>
      if (window.location.host.indexOf("eats") >= -1) {
        $("body").addClass("uber-Eats");
        console.log("uber-eats");
      } else {
        $("body").addClass("uber-pro");
        console.log("uber-pro");
      }
    </script>
  </body>
</html>
