/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.fa-ul>li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714286em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #ffffff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}

.fa-music:before {
  content: "\f001";
}

.fa-search:before {
  content: "\f002";
}

.fa-envelope-o:before {
  content: "\f003";
}

.fa-heart:before {
  content: "\f004";
}

.fa-star:before {
  content: "\f005";
}

.fa-star-o:before {
  content: "\f006";
}

.fa-user:before {
  content: "\f007";
}

.fa-film:before {
  content: "\f008";
}

.fa-th-large:before {
  content: "\f009";
}

.fa-th:before {
  content: "\f00a";
}

.fa-th-list:before {
  content: "\f00b";
}

.fa-check:before {
  content: "\f00c";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}

.fa-search-plus:before {
  content: "\f00e";
}

.fa-search-minus:before {
  content: "\f010";
}

.fa-power-off:before {
  content: "\f011";
}

.fa-signal:before {
  content: "\f012";
}

.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}

.fa-trash-o:before {
  content: "\f014";
}

.fa-home:before {
  content: "\f015";
}

.fa-file-o:before {
  content: "\f016";
}

.fa-clock-o:before {
  content: "\f017";
}

.fa-road:before {
  content: "\f018";
}

.fa-download:before {
  content: "\f019";
}

.fa-arrow-circle-o-down:before {
  content: "\f01a";
}

.fa-arrow-circle-o-up:before {
  content: "\f01b";
}

.fa-inbox:before {
  content: "\f01c";
}

.fa-play-circle-o:before {
  content: "\f01d";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}

.fa-refresh:before {
  content: "\f021";
}

.fa-list-alt:before {
  content: "\f022";
}

.fa-lock:before {
  content: "\f023";
}

.fa-flag:before {
  content: "\f024";
}

.fa-headphones:before {
  content: "\f025";
}

.fa-volume-off:before {
  content: "\f026";
}

.fa-volume-down:before {
  content: "\f027";
}

.fa-volume-up:before {
  content: "\f028";
}

.fa-qrcode:before {
  content: "\f029";
}

.fa-barcode:before {
  content: "\f02a";
}

.fa-tag:before {
  content: "\f02b";
}

.fa-tags:before {
  content: "\f02c";
}

.fa-book:before {
  content: "\f02d";
}

.fa-bookmark:before {
  content: "\f02e";
}

.fa-print:before {
  content: "\f02f";
}

.fa-camera:before {
  content: "\f030";
}

.fa-font:before {
  content: "\f031";
}

.fa-bold:before {
  content: "\f032";
}

.fa-italic:before {
  content: "\f033";
}

.fa-text-height:before {
  content: "\f034";
}

.fa-text-width:before {
  content: "\f035";
}

.fa-align-left:before {
  content: "\f036";
}

.fa-align-center:before {
  content: "\f037";
}

.fa-align-right:before {
  content: "\f038";
}

.fa-align-justify:before {
  content: "\f039";
}

.fa-list:before {
  content: "\f03a";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}

.fa-indent:before {
  content: "\f03c";
}

.fa-video-camera:before {
  content: "\f03d";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}

.fa-pencil:before {
  content: "\f040";
}

.fa-map-marker:before {
  content: "\f041";
}

.fa-adjust:before {
  content: "\f042";
}

.fa-tint:before {
  content: "\f043";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}

.fa-share-square-o:before {
  content: "\f045";
}

.fa-check-square-o:before {
  content: "\f046";
}

.fa-arrows:before {
  content: "\f047";
}

.fa-step-backward:before {
  content: "\f048";
}

.fa-fast-backward:before {
  content: "\f049";
}

.fa-backward:before {
  content: "\f04a";
}

.fa-play:before {
  content: "\f04b";
}

.fa-pause:before {
  content: "\f04c";
}

.fa-stop:before {
  content: "\f04d";
}

.fa-forward:before {
  content: "\f04e";
}

.fa-fast-forward:before {
  content: "\f050";
}

.fa-step-forward:before {
  content: "\f051";
}

.fa-eject:before {
  content: "\f052";
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}

.fa-plus-circle:before {
  content: "\f055";
}

.fa-minus-circle:before {
  content: "\f056";
}

.fa-times-circle:before {
  content: "\f057";
}

.fa-check-circle:before {
  content: "\f058";
}

.fa-question-circle:before {
  content: "\f059";
}

.fa-info-circle:before {
  content: "\f05a";
}

.fa-crosshairs:before {
  content: "\f05b";
}

.fa-times-circle-o:before {
  content: "\f05c";
}

.fa-check-circle-o:before {
  content: "\f05d";
}

.fa-ban:before {
  content: "\f05e";
}

.fa-arrow-left:before {
  content: "\f060";
}

.fa-arrow-right:before {
  content: "\f061";
}

.fa-arrow-up:before {
  content: "\f062";
}

.fa-arrow-down:before {
  content: "\f063";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}

.fa-expand:before {
  content: "\f065";
}

.fa-compress:before {
  content: "\f066";
}

.fa-plus:before {
  content: "\f067";
}

.fa-minus:before {
  content: "\f068";
}

.fa-asterisk:before {
  content: "\f069";
}

.fa-exclamation-circle:before {
  content: "\f06a";
}

.fa-gift:before {
  content: "\f06b";
}

.fa-leaf:before {
  content: "\f06c";
}

.fa-fire:before {
  content: "\f06d";
}

.fa-eye:before {
  content: "\f06e";
}

.fa-eye-slash:before {
  content: "\f070";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}

.fa-plane:before {
  content: "\f072";
}

.fa-calendar:before {
  content: "\f073";
}

.fa-random:before {
  content: "\f074";
}

.fa-comment:before {
  content: "\f075";
}

.fa-magnet:before {
  content: "\f076";
}

.fa-chevron-up:before {
  content: "\f077";
}

.fa-chevron-down:before {
  content: "\f078";
}

.fa-retweet:before {
  content: "\f079";
}

.fa-shopping-cart:before {
  content: "\f07a";
}

.fa-folder:before {
  content: "\f07b";
}

.fa-folder-open:before {
  content: "\f07c";
}

.fa-arrows-v:before {
  content: "\f07d";
}

.fa-arrows-h:before {
  content: "\f07e";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}

.fa-twitter-square:before {
  content: "\f081";
}

.fa-facebook-square:before {
  content: "\f082";
}

.fa-camera-retro:before {
  content: "\f083";
}

.fa-key:before {
  content: "\f084";
}

.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}

.fa-comments:before {
  content: "\f086";
}

.fa-thumbs-o-up:before {
  content: "\f087";
}

.fa-thumbs-o-down:before {
  content: "\f088";
}

.fa-star-half:before {
  content: "\f089";
}

.fa-heart-o:before {
  content: "\f08a";
}

.fa-sign-out:before {
  content: "\f08b";
}

.fa-linkedin-square:before {
  content: "\f08c";
}

.fa-thumb-tack:before {
  content: "\f08d";
}

.fa-external-link:before {
  content: "\f08e";
}

.fa-sign-in:before {
  content: "\f090";
}

.fa-trophy:before {
  content: "\f091";
}

.fa-github-square:before {
  content: "\f092";
}

.fa-upload:before {
  content: "\f093";
}

.fa-lemon-o:before {
  content: "\f094";
}

.fa-phone:before {
  content: "\f095";
}

.fa-square-o:before {
  content: "\f096";
}

.fa-bookmark-o:before {
  content: "\f097";
}

.fa-phone-square:before {
  content: "\f098";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}

.fa-github:before {
  content: "\f09b";
}

.fa-unlock:before {
  content: "\f09c";
}

.fa-credit-card:before {
  content: "\f09d";
}

.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}

.fa-hdd-o:before {
  content: "\f0a0";
}

.fa-bullhorn:before {
  content: "\f0a1";
}

.fa-bell:before {
  content: "\f0f3";
}

.fa-certificate:before {
  content: "\f0a3";
}

.fa-hand-o-right:before {
  content: "\f0a4";
}

.fa-hand-o-left:before {
  content: "\f0a5";
}

.fa-hand-o-up:before {
  content: "\f0a6";
}

.fa-hand-o-down:before {
  content: "\f0a7";
}

.fa-arrow-circle-left:before {
  content: "\f0a8";
}

.fa-arrow-circle-right:before {
  content: "\f0a9";
}

.fa-arrow-circle-up:before {
  content: "\f0aa";
}

.fa-arrow-circle-down:before {
  content: "\f0ab";
}

.fa-globe:before {
  content: "\f0ac";
}

.fa-wrench:before {
  content: "\f0ad";
}

.fa-tasks:before {
  content: "\f0ae";
}

.fa-filter:before {
  content: "\f0b0";
}

.fa-briefcase:before {
  content: "\f0b1";
}

.fa-arrows-alt:before {
  content: "\f0b2";
}

.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}

.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}

.fa-cloud:before {
  content: "\f0c2";
}

.fa-flask:before {
  content: "\f0c3";
}

.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}

.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}

.fa-paperclip:before {
  content: "\f0c6";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}

.fa-square:before {
  content: "\f0c8";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}

.fa-list-ul:before {
  content: "\f0ca";
}

.fa-list-ol:before {
  content: "\f0cb";
}

.fa-strikethrough:before {
  content: "\f0cc";
}

.fa-underline:before {
  content: "\f0cd";
}

.fa-table:before {
  content: "\f0ce";
}

.fa-magic:before {
  content: "\f0d0";
}

.fa-truck:before {
  content: "\f0d1";
}

.fa-pinterest:before {
  content: "\f0d2";
}

.fa-pinterest-square:before {
  content: "\f0d3";
}

.fa-google-plus-square:before {
  content: "\f0d4";
}

.fa-google-plus:before {
  content: "\f0d5";
}

.fa-money:before {
  content: "\f0d6";
}

.fa-caret-down:before {
  content: "\f0d7";
}

.fa-caret-up:before {
  content: "\f0d8";
}

.fa-caret-left:before {
  content: "\f0d9";
}

.fa-caret-right:before {
  content: "\f0da";
}

.fa-columns:before {
  content: "\f0db";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}

.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}

.fa-comment-o:before {
  content: "\f0e5";
}

.fa-comments-o:before {
  content: "\f0e6";
}

.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}

.fa-sitemap:before {
  content: "\f0e8";
}

.fa-umbrella:before {
  content: "\f0e9";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}

.fa-lightbulb-o:before {
  content: "\f0eb";
}

.fa-exchange:before {
  content: "\f0ec";
}

.fa-cloud-download:before {
  content: "\f0ed";
}

.fa-cloud-upload:before {
  content: "\f0ee";
}

.fa-user-md:before {
  content: "\f0f0";
}

.fa-stethoscope:before {
  content: "\f0f1";
}

.fa-suitcase:before {
  content: "\f0f2";
}

.fa-bell-o:before {
  content: "\f0a2";
}

.fa-coffee:before {
  content: "\f0f4";
}

.fa-cutlery:before {
  content: "\f0f5";
}

.fa-file-text-o:before {
  content: "\f0f6";
}

.fa-building-o:before {
  content: "\f0f7";
}

.fa-hospital-o:before {
  content: "\f0f8";
}

.fa-ambulance:before {
  content: "\f0f9";
}

.fa-medkit:before {
  content: "\f0fa";
}

.fa-fighter-jet:before {
  content: "\f0fb";
}

.fa-beer:before {
  content: "\f0fc";
}

.fa-h-square:before {
  content: "\f0fd";
}

.fa-plus-square:before {
  content: "\f0fe";
}

.fa-angle-double-left:before {
  content: "\f100";
}

.fa-angle-double-right:before {
  content: "\f101";
}

.fa-angle-double-up:before {
  content: "\f102";
}

.fa-angle-double-down:before {
  content: "\f103";
}

.fa-angle-left:before {
  content: "\f104";
}

.fa-angle-right:before {
  content: "\f105";
}

.fa-angle-up:before {
  content: "\f106";
}

.fa-angle-down:before {
  content: "\f107";
}

.fa-desktop:before {
  content: "\f108";
}

.fa-laptop:before {
  content: "\f109";
}

.fa-tablet:before {
  content: "\f10a";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}

.fa-circle-o:before {
  content: "\f10c";
}

.fa-quote-left:before {
  content: "\f10d";
}

.fa-quote-right:before {
  content: "\f10e";
}

.fa-spinner:before {
  content: "\f110";
}

.fa-circle:before {
  content: "\f111";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}

.fa-github-alt:before {
  content: "\f113";
}

.fa-folder-o:before {
  content: "\f114";
}

.fa-folder-open-o:before {
  content: "\f115";
}

.fa-smile-o:before {
  content: "\f118";
}

.fa-frown-o:before {
  content: "\f119";
}

.fa-meh-o:before {
  content: "\f11a";
}

.fa-gamepad:before {
  content: "\f11b";
}

.fa-keyboard-o:before {
  content: "\f11c";
}

.fa-flag-o:before {
  content: "\f11d";
}

.fa-flag-checkered:before {
  content: "\f11e";
}

.fa-terminal:before {
  content: "\f120";
}

.fa-code:before {
  content: "\f121";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}

.fa-location-arrow:before {
  content: "\f124";
}

.fa-crop:before {
  content: "\f125";
}

.fa-code-fork:before {
  content: "\f126";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}

.fa-question:before {
  content: "\f128";
}

.fa-info:before {
  content: "\f129";
}

.fa-exclamation:before {
  content: "\f12a";
}

.fa-superscript:before {
  content: "\f12b";
}

.fa-subscript:before {
  content: "\f12c";
}

.fa-eraser:before {
  content: "\f12d";
}

.fa-puzzle-piece:before {
  content: "\f12e";
}

.fa-microphone:before {
  content: "\f130";
}

.fa-microphone-slash:before {
  content: "\f131";
}

.fa-shield:before {
  content: "\f132";
}

.fa-calendar-o:before {
  content: "\f133";
}

.fa-fire-extinguisher:before {
  content: "\f134";
}

.fa-rocket:before {
  content: "\f135";
}

.fa-maxcdn:before {
  content: "\f136";
}

.fa-chevron-circle-left:before {
  content: "\f137";
}

.fa-chevron-circle-right:before {
  content: "\f138";
}

.fa-chevron-circle-up:before {
  content: "\f139";
}

.fa-chevron-circle-down:before {
  content: "\f13a";
}

.fa-html5:before {
  content: "\f13b";
}

.fa-css3:before {
  content: "\f13c";
}

.fa-anchor:before {
  content: "\f13d";
}

.fa-unlock-alt:before {
  content: "\f13e";
}

.fa-bullseye:before {
  content: "\f140";
}

.fa-ellipsis-h:before {
  content: "\f141";
}

.fa-ellipsis-v:before {
  content: "\f142";
}

.fa-rss-square:before {
  content: "\f143";
}

.fa-play-circle:before {
  content: "\f144";
}

.fa-ticket:before {
  content: "\f145";
}

.fa-minus-square:before {
  content: "\f146";
}

.fa-minus-square-o:before {
  content: "\f147";
}

.fa-level-up:before {
  content: "\f148";
}

.fa-level-down:before {
  content: "\f149";
}

.fa-check-square:before {
  content: "\f14a";
}

.fa-pencil-square:before {
  content: "\f14b";
}

.fa-external-link-square:before {
  content: "\f14c";
}

.fa-share-square:before {
  content: "\f14d";
}

.fa-compass:before {
  content: "\f14e";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}

.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}

.fa-gbp:before {
  content: "\f154";
}

.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}

.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}

.fa-won:before,
.fa-krw:before {
  content: "\f159";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}

.fa-file:before {
  content: "\f15b";
}

.fa-file-text:before {
  content: "\f15c";
}

.fa-sort-alpha-asc:before {
  content: "\f15d";
}

.fa-sort-alpha-desc:before {
  content: "\f15e";
}

.fa-sort-amount-asc:before {
  content: "\f160";
}

.fa-sort-amount-desc:before {
  content: "\f161";
}

.fa-sort-numeric-asc:before {
  content: "\f162";
}

.fa-sort-numeric-desc:before {
  content: "\f163";
}

.fa-thumbs-up:before {
  content: "\f164";
}

.fa-thumbs-down:before {
  content: "\f165";
}

.fa-youtube-square:before {
  content: "\f166";
}

.fa-youtube:before {
  content: "\f167";
}

.fa-xing:before {
  content: "\f168";
}

.fa-xing-square:before {
  content: "\f169";
}

.fa-youtube-play:before {
  content: "\f16a";
}

.fa-dropbox:before {
  content: "\f16b";
}

.fa-stack-overflow:before {
  content: "\f16c";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-flickr:before {
  content: "\f16e";
}

.fa-adn:before {
  content: "\f170";
}

.fa-bitbucket:before {
  content: "\f171";
}

.fa-bitbucket-square:before {
  content: "\f172";
}

.fa-tumblr:before {
  content: "\f173";
}

.fa-tumblr-square:before {
  content: "\f174";
}

.fa-long-arrow-down:before {
  content: "\f175";
}

.fa-long-arrow-up:before {
  content: "\f176";
}

.fa-long-arrow-left:before {
  content: "\f177";
}

.fa-long-arrow-right:before {
  content: "\f178";
}

.fa-apple:before {
  content: "\f179";
}

.fa-windows:before {
  content: "\f17a";
}

.fa-android:before {
  content: "\f17b";
}

.fa-linux:before {
  content: "\f17c";
}

.fa-dribbble:before {
  content: "\f17d";
}

.fa-skype:before {
  content: "\f17e";
}

.fa-foursquare:before {
  content: "\f180";
}

.fa-trello:before {
  content: "\f181";
}

.fa-female:before {
  content: "\f182";
}

.fa-male:before {
  content: "\f183";
}

.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}

.fa-sun-o:before {
  content: "\f185";
}

.fa-moon-o:before {
  content: "\f186";
}

.fa-archive:before {
  content: "\f187";
}

.fa-bug:before {
  content: "\f188";
}

.fa-vk:before {
  content: "\f189";
}

.fa-weibo:before {
  content: "\f18a";
}

.fa-renren:before {
  content: "\f18b";
}

.fa-pagelines:before {
  content: "\f18c";
}

.fa-stack-exchange:before {
  content: "\f18d";
}

.fa-arrow-circle-o-right:before {
  content: "\f18e";
}

.fa-arrow-circle-o-left:before {
  content: "\f190";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}

.fa-dot-circle-o:before {
  content: "\f192";
}

.fa-wheelchair:before {
  content: "\f193";
}

.fa-vimeo-square:before {
  content: "\f194";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}

.fa-plus-square-o:before {
  content: "\f196";
}

.fa-space-shuttle:before {
  content: "\f197";
}

.fa-slack:before {
  content: "\f198";
}

.fa-envelope-square:before {
  content: "\f199";
}

.fa-wordpress:before {
  content: "\f19a";
}

.fa-openid:before {
  content: "\f19b";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}

.fa-yahoo:before {
  content: "\f19e";
}

.fa-google:before {
  content: "\f1a0";
}

.fa-reddit:before {
  content: "\f1a1";
}

.fa-reddit-square:before {
  content: "\f1a2";
}

.fa-stumbleupon-circle:before {
  content: "\f1a3";
}

.fa-stumbleupon:before {
  content: "\f1a4";
}

.fa-delicious:before {
  content: "\f1a5";
}

.fa-digg:before {
  content: "\f1a6";
}

.fa-pied-piper-pp:before {
  content: "\f1a7";
}

.fa-pied-piper-alt:before {
  content: "\f1a8";
}

.fa-drupal:before {
  content: "\f1a9";
}

.fa-joomla:before {
  content: "\f1aa";
}

.fa-language:before {
  content: "\f1ab";
}

.fa-fax:before {
  content: "\f1ac";
}

.fa-building:before {
  content: "\f1ad";
}

.fa-child:before {
  content: "\f1ae";
}

.fa-paw:before {
  content: "\f1b0";
}

.fa-spoon:before {
  content: "\f1b1";
}

.fa-cube:before {
  content: "\f1b2";
}

.fa-cubes:before {
  content: "\f1b3";
}

.fa-behance:before {
  content: "\f1b4";
}

.fa-behance-square:before {
  content: "\f1b5";
}

.fa-steam:before {
  content: "\f1b6";
}

.fa-steam-square:before {
  content: "\f1b7";
}

.fa-recycle:before {
  content: "\f1b8";
}

.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}

.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}

.fa-tree:before {
  content: "\f1bb";
}

.fa-spotify:before {
  content: "\f1bc";
}

.fa-deviantart:before {
  content: "\f1bd";
}

.fa-soundcloud:before {
  content: "\f1be";
}

.fa-database:before {
  content: "\f1c0";
}

.fa-file-pdf-o:before {
  content: "\f1c1";
}

.fa-file-word-o:before {
  content: "\f1c2";
}

.fa-file-excel-o:before {
  content: "\f1c3";
}

.fa-file-powerpoint-o:before {
  content: "\f1c4";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}

.fa-file-code-o:before {
  content: "\f1c9";
}

.fa-vine:before {
  content: "\f1ca";
}

.fa-codepen:before {
  content: "\f1cb";
}

.fa-jsfiddle:before {
  content: "\f1cc";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}

.fa-circle-o-notch:before {
  content: "\f1ce";
}

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "\f1d0";
}

.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}

.fa-git-square:before {
  content: "\f1d2";
}

.fa-git:before {
  content: "\f1d3";
}

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}

.fa-tencent-weibo:before {
  content: "\f1d5";
}

.fa-qq:before {
  content: "\f1d6";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}

.fa-history:before {
  content: "\f1da";
}

.fa-circle-thin:before {
  content: "\f1db";
}

.fa-header:before {
  content: "\f1dc";
}

.fa-paragraph:before {
  content: "\f1dd";
}

.fa-sliders:before {
  content: "\f1de";
}

.fa-share-alt:before {
  content: "\f1e0";
}

.fa-share-alt-square:before {
  content: "\f1e1";
}

.fa-bomb:before {
  content: "\f1e2";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}

.fa-tty:before {
  content: "\f1e4";
}

.fa-binoculars:before {
  content: "\f1e5";
}

.fa-plug:before {
  content: "\f1e6";
}

.fa-slideshare:before {
  content: "\f1e7";
}

.fa-twitch:before {
  content: "\f1e8";
}

.fa-yelp:before {
  content: "\f1e9";
}

.fa-newspaper-o:before {
  content: "\f1ea";
}

.fa-wifi:before {
  content: "\f1eb";
}

.fa-calculator:before {
  content: "\f1ec";
}

.fa-paypal:before {
  content: "\f1ed";
}

.fa-google-wallet:before {
  content: "\f1ee";
}

.fa-cc-visa:before {
  content: "\f1f0";
}

.fa-cc-mastercard:before {
  content: "\f1f1";
}

.fa-cc-discover:before {
  content: "\f1f2";
}

.fa-cc-amex:before {
  content: "\f1f3";
}

.fa-cc-paypal:before {
  content: "\f1f4";
}

.fa-cc-stripe:before {
  content: "\f1f5";
}

.fa-bell-slash:before {
  content: "\f1f6";
}

.fa-bell-slash-o:before {
  content: "\f1f7";
}

.fa-trash:before {
  content: "\f1f8";
}

.fa-copyright:before {
  content: "\f1f9";
}

.fa-at:before {
  content: "\f1fa";
}

.fa-eyedropper:before {
  content: "\f1fb";
}

.fa-paint-brush:before {
  content: "\f1fc";
}

.fa-birthday-cake:before {
  content: "\f1fd";
}

.fa-area-chart:before {
  content: "\f1fe";
}

.fa-pie-chart:before {
  content: "\f200";
}

.fa-line-chart:before {
  content: "\f201";
}

.fa-lastfm:before {
  content: "\f202";
}

.fa-lastfm-square:before {
  content: "\f203";
}

.fa-toggle-off:before {
  content: "\f204";
}

.fa-toggle-on:before {
  content: "\f205";
}

.fa-bicycle:before {
  content: "\f206";
}

.fa-bus:before {
  content: "\f207";
}

.fa-ioxhost:before {
  content: "\f208";
}

.fa-angellist:before {
  content: "\f209";
}

.fa-cc:before {
  content: "\f20a";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}

.fa-meanpath:before {
  content: "\f20c";
}

.fa-buysellads:before {
  content: "\f20d";
}

.fa-connectdevelop:before {
  content: "\f20e";
}

.fa-dashcube:before {
  content: "\f210";
}

.fa-forumbee:before {
  content: "\f211";
}

.fa-leanpub:before {
  content: "\f212";
}

.fa-sellsy:before {
  content: "\f213";
}

.fa-shirtsinbulk:before {
  content: "\f214";
}

.fa-simplybuilt:before {
  content: "\f215";
}

.fa-skyatlas:before {
  content: "\f216";
}

.fa-cart-plus:before {
  content: "\f217";
}

.fa-cart-arrow-down:before {
  content: "\f218";
}

.fa-diamond:before {
  content: "\f219";
}

.fa-ship:before {
  content: "\f21a";
}

.fa-user-secret:before {
  content: "\f21b";
}

.fa-motorcycle:before {
  content: "\f21c";
}

.fa-street-view:before {
  content: "\f21d";
}

.fa-heartbeat:before {
  content: "\f21e";
}

.fa-venus:before {
  content: "\f221";
}

.fa-mars:before {
  content: "\f222";
}

.fa-mercury:before {
  content: "\f223";
}

.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}

.fa-transgender-alt:before {
  content: "\f225";
}

.fa-venus-double:before {
  content: "\f226";
}

.fa-mars-double:before {
  content: "\f227";
}

.fa-venus-mars:before {
  content: "\f228";
}

.fa-mars-stroke:before {
  content: "\f229";
}

.fa-mars-stroke-v:before {
  content: "\f22a";
}

.fa-mars-stroke-h:before {
  content: "\f22b";
}

.fa-neuter:before {
  content: "\f22c";
}

.fa-genderless:before {
  content: "\f22d";
}

.fa-facebook-official:before {
  content: "\f230";
}

.fa-pinterest-p:before {
  content: "\f231";
}

.fa-whatsapp:before {
  content: "\f232";
}

.fa-server:before {
  content: "\f233";
}

.fa-user-plus:before {
  content: "\f234";
}

.fa-user-times:before {
  content: "\f235";
}

.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}

.fa-viacoin:before {
  content: "\f237";
}

.fa-train:before {
  content: "\f238";
}

.fa-subway:before {
  content: "\f239";
}

.fa-medium:before {
  content: "\f23a";
}

.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}

.fa-optin-monster:before {
  content: "\f23c";
}

.fa-opencart:before {
  content: "\f23d";
}

.fa-expeditedssl:before {
  content: "\f23e";
}

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: "\f240";
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}

.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}

.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}

.fa-mouse-pointer:before {
  content: "\f245";
}

.fa-i-cursor:before {
  content: "\f246";
}

.fa-object-group:before {
  content: "\f247";
}

.fa-object-ungroup:before {
  content: "\f248";
}

.fa-sticky-note:before {
  content: "\f249";
}

.fa-sticky-note-o:before {
  content: "\f24a";
}

.fa-cc-jcb:before {
  content: "\f24b";
}

.fa-cc-diners-club:before {
  content: "\f24c";
}

.fa-clone:before {
  content: "\f24d";
}

.fa-balance-scale:before {
  content: "\f24e";
}

.fa-hourglass-o:before {
  content: "\f250";
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}

.fa-hourglass:before {
  content: "\f254";
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}

.fa-hand-scissors-o:before {
  content: "\f257";
}

.fa-hand-lizard-o:before {
  content: "\f258";
}

.fa-hand-spock-o:before {
  content: "\f259";
}

.fa-hand-pointer-o:before {
  content: "\f25a";
}

.fa-hand-peace-o:before {
  content: "\f25b";
}

.fa-trademark:before {
  content: "\f25c";
}

.fa-registered:before {
  content: "\f25d";
}

.fa-creative-commons:before {
  content: "\f25e";
}

.fa-gg:before {
  content: "\f260";
}

.fa-gg-circle:before {
  content: "\f261";
}

.fa-tripadvisor:before {
  content: "\f262";
}

.fa-odnoklassniki:before {
  content: "\f263";
}

.fa-odnoklassniki-square:before {
  content: "\f264";
}

.fa-get-pocket:before {
  content: "\f265";
}

.fa-wikipedia-w:before {
  content: "\f266";
}

.fa-safari:before {
  content: "\f267";
}

.fa-chrome:before {
  content: "\f268";
}

.fa-firefox:before {
  content: "\f269";
}

.fa-opera:before {
  content: "\f26a";
}

.fa-internet-explorer:before {
  content: "\f26b";
}

.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}

.fa-contao:before {
  content: "\f26d";
}

.fa-500px:before {
  content: "\f26e";
}

.fa-amazon:before {
  content: "\f270";
}

.fa-calendar-plus-o:before {
  content: "\f271";
}

.fa-calendar-minus-o:before {
  content: "\f272";
}

.fa-calendar-times-o:before {
  content: "\f273";
}

.fa-calendar-check-o:before {
  content: "\f274";
}

.fa-industry:before {
  content: "\f275";
}

.fa-map-pin:before {
  content: "\f276";
}

.fa-map-signs:before {
  content: "\f277";
}

.fa-map-o:before {
  content: "\f278";
}

.fa-map:before {
  content: "\f279";
}

.fa-commenting:before {
  content: "\f27a";
}

.fa-commenting-o:before {
  content: "\f27b";
}

.fa-houzz:before {
  content: "\f27c";
}

.fa-vimeo:before {
  content: "\f27d";
}

.fa-black-tie:before {
  content: "\f27e";
}

.fa-fonticons:before {
  content: "\f280";
}

.fa-reddit-alien:before {
  content: "\f281";
}

.fa-edge:before {
  content: "\f282";
}

.fa-credit-card-alt:before {
  content: "\f283";
}

.fa-codiepie:before {
  content: "\f284";
}

.fa-modx:before {
  content: "\f285";
}

.fa-fort-awesome:before {
  content: "\f286";
}

.fa-usb:before {
  content: "\f287";
}

.fa-product-hunt:before {
  content: "\f288";
}

.fa-mixcloud:before {
  content: "\f289";
}

.fa-scribd:before {
  content: "\f28a";
}

.fa-pause-circle:before {
  content: "\f28b";
}

.fa-pause-circle-o:before {
  content: "\f28c";
}

.fa-stop-circle:before {
  content: "\f28d";
}

.fa-stop-circle-o:before {
  content: "\f28e";
}

.fa-shopping-bag:before {
  content: "\f290";
}

.fa-shopping-basket:before {
  content: "\f291";
}

.fa-hashtag:before {
  content: "\f292";
}

.fa-bluetooth:before {
  content: "\f293";
}

.fa-bluetooth-b:before {
  content: "\f294";
}

.fa-percent:before {
  content: "\f295";
}

.fa-gitlab:before {
  content: "\f296";
}

.fa-wpbeginner:before {
  content: "\f297";
}

.fa-wpforms:before {
  content: "\f298";
}

.fa-envira:before {
  content: "\f299";
}

.fa-universal-access:before {
  content: "\f29a";
}

.fa-wheelchair-alt:before {
  content: "\f29b";
}

.fa-question-circle-o:before {
  content: "\f29c";
}

.fa-blind:before {
  content: "\f29d";
}

.fa-audio-description:before {
  content: "\f29e";
}

.fa-volume-control-phone:before {
  content: "\f2a0";
}

.fa-braille:before {
  content: "\f2a1";
}

.fa-assistive-listening-systems:before {
  content: "\f2a2";
}

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "\f2a3";
}

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "\f2a4";
}

.fa-glide:before {
  content: "\f2a5";
}

.fa-glide-g:before {
  content: "\f2a6";
}

.fa-signing:before,
.fa-sign-language:before {
  content: "\f2a7";
}

.fa-low-vision:before {
  content: "\f2a8";
}

.fa-viadeo:before {
  content: "\f2a9";
}

.fa-viadeo-square:before {
  content: "\f2aa";
}

.fa-snapchat:before {
  content: "\f2ab";
}

.fa-snapchat-ghost:before {
  content: "\f2ac";
}

.fa-snapchat-square:before {
  content: "\f2ad";
}

.fa-pied-piper:before {
  content: "\f2ae";
}

.fa-first-order:before {
  content: "\f2b0";
}

.fa-yoast:before {
  content: "\f2b1";
}

.fa-themeisle:before {
  content: "\f2b2";
}

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "\f2b3";
}

.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4";
}

.fa-handshake-o:before {
  content: "\f2b5";
}

.fa-envelope-open:before {
  content: "\f2b6";
}

.fa-envelope-open-o:before {
  content: "\f2b7";
}

.fa-linode:before {
  content: "\f2b8";
}

.fa-address-book:before {
  content: "\f2b9";
}

.fa-address-book-o:before {
  content: "\f2ba";
}

.fa-vcard:before,
.fa-address-card:before {
  content: "\f2bb";
}

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: "\f2bc";
}

.fa-user-circle:before {
  content: "\f2bd";
}

.fa-user-circle-o:before {
  content: "\f2be";
}

.fa-user-o:before {
  content: "\f2c0";
}

.fa-id-badge:before {
  content: "\f2c1";
}

.fa-drivers-license:before,
.fa-id-card:before {
  content: "\f2c2";
}

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: "\f2c3";
}

.fa-quora:before {
  content: "\f2c4";
}

.fa-free-code-camp:before {
  content: "\f2c5";
}

.fa-telegram:before {
  content: "\f2c6";
}

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: "\f2c7";
}

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: "\f2c8";
}

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: "\f2c9";
}

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: "\f2ca";
}

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: "\f2cb";
}

.fa-shower:before {
  content: "\f2cc";
}

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: "\f2cd";
}

.fa-podcast:before {
  content: "\f2ce";
}

.fa-window-maximize:before {
  content: "\f2d0";
}

.fa-window-minimize:before {
  content: "\f2d1";
}

.fa-window-restore:before {
  content: "\f2d2";
}

.fa-times-rectangle:before,
.fa-window-close:before {
  content: "\f2d3";
}

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: "\f2d4";
}

.fa-bandcamp:before {
  content: "\f2d5";
}

.fa-grav:before {
  content: "\f2d6";
}

.fa-etsy:before {
  content: "\f2d7";
}

.fa-imdb:before {
  content: "\f2d8";
}

.fa-ravelry:before {
  content: "\f2d9";
}

.fa-eercast:before {
  content: "\f2da";
}

.fa-microchip:before {
  content: "\f2db";
}

.fa-snowflake-o:before {
  content: "\f2dc";
}

.fa-superpowers:before {
  content: "\f2dd";
}

.fa-wpexplorer:before {
  content: "\f2de";
}

.fa-meetup:before {
  content: "\f2e0";
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.nav-box {
  border: 1px solid #8f99a3;
  border-top: 0.5em solid #8C1D40;
  padding: 2em;
  margin-bottom: 2em;
  max-width: 25em;
}

.nav .nav {
  padding-left: 1em;
}

.bg-photo {
  text-shadow: 0 0 0.3em black, 0 0 0.15em black;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1000px inset;
}

.bg-photo a,
.bg-photo mark,
.bg-photo .mark,
.bg-photo .alert {
  text-shadow: none;
}

.bg-photo a {
  text-shadow: 0 0 0.15em gray, 0 0 0.075em black;
}

.bg-white {
  background: #fff;
}

.bg-black {
  background: #000;
}

.bg-secondary {
  background: #FFC627;
}

.bg-white,
.bg-black,
.bg-primary,
.bg-secondary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
  text-shadow: none;
}

.bg-primary,
.bg-black,
.bg-photo {
  color: #fff;
}

.bg-white,
.bg-secondary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
  color: #000;
}

.bd-example .fixed-top,
.bd-example .sticky-top {
  position: static;
  margin: -1.5rem -1.5rem 1rem;
}

.bd-example .fixed-bottom {
  position: static;
  margin: 1rem -1.5rem -1.5rem;
}

.navbar a {
  border-bottom: none;
}

.bd-example.navbar {
  padding: 1.5rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-width: .2rem;
  background: #8C1D40;
}

.bd-example>.btn-group {
  margin-top: .25rem !important;
  margin-bottom: .25rem !important;
}

.cards-header-footer .bd-example {
  padding-bottom: 15px;
}

.cards-bd .bd-example {
  padding-bottom: 15px;
}

.bd-example-popover-static .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 1.25rem;
}

.bd-example>.progress+.btn,
.bd-example>.progress+.progress {
  margin-top: 1rem;
}

.bd-example .scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: .5rem;
  overflow: auto;
}

.bd-callout-danger {
  border-left-color: #d9534f !important;
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.bd-callout+.bd-callout {
  margin-top: -.25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-content>table>thead>tr>th {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #eceeef;
}

.bd-example-tooltip-static .tooltip {
  position: relative;
  display: inline-block;
  margin: 10px 10px;
  opacity: 1;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-warning h4 {
  color: #f0ad4e;
}

.bd-callout-info h4 {
  color: #5bc0de;
}

.bd-callout-danger h4 {
  color: #d9534f;
}

.bd-example [class^=border-] {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  margin: .25rem;
  background-color: #f5f5f5;
  border: 1px solid;
}

.bd-example a {
  border-bottom: none;
}

.bd-example>.bg-danger:not(.navbar),
.bd-example>.bg-faded:not(.navbar),
.bd-example>.bg-info:not(.navbar),
.bd-example>.bg-inverse:not(.navbar),
.bd-example>.bg-primary:not(.navbar),
.bd-example>.bg-success:not(.navbar),
.bd-example>.bg-warning:not(.navbar) {
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.bd-example>.bg-info:not(.navbar) {
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.btn-secondary.split {
  border-color: #000;
}

.bd-example>.dropdown-menu:first-child {
  position: static;
  display: block;
}

.bd-example-row .row>.col,
.bd-example-row .row>[class^=col-] {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.bd-example-row .row+.row {
  margin-top: 1rem;
}

.bd-example-row-flex-cols .row {
  min-height: 10rem;
  background-color: rgba(255, 0, 0, 0.1);
}

.bd-example-row .row+.row {
  margin-top: 1rem;
}

.hidden-on .col-6>.not-visible,
.visible-on .col-6>.not-visible {
  color: #999;
  border: 1px solid #ddd;
}

.responsive-utilities-test span {
  display: block;
  padding: 1rem .5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  border-radius: .25rem;
}

.hidden-on .col-6 .visible,
.visible-on .col-6 .visible {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

.responsive-utilities-test {
  margin-top: .25rem;
}

.responsive-utilities-test .col-6 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

@media (min-width: 1200px) {
  .hidden-xl-only {
    display: none !important;
  }
}

.bd-content>table>tbody>tr>td,
.bd-content>table>tbody>tr>th,
.bd-content>table>tfoot>tr>td,
.bd-content>table>tfoot>tr>th,
.bd-content>table>thead>tr>td,
.bd-content>table>thead>tr>th {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #eceeef;
}

.responsive-utilities tbody th {
  font-weight: 400;
}

.responsive-utilities td {
  text-align: center;
}

.responsive-utilities .is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}

.responsive-utilities .is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important;
}

.bd-table th small,
.responsive-utilities th small {
  display: block;
  font-weight: 400;
  color: #999;
}

.bd-example-modal {
  background-color: #fafafa;
}

.bd-example-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

.bd-example-modal .modal-dialog {
  left: auto;
  margin-right: auto;
  margin-left: auto;
}

#extlink-modal {
  display: none;
  position: fixed;
  z-index: 1052;
  background: #fff;
  text-align: center;
  border: 1px solid #828282;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-70%);
  transform: translateX(-50%) translateY(-70%);
}

#extlink-modal .modal-close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  border: 0;
}

#extlink-modal i {
  color: #8c1d40;
  margin-left: 10px;
}

.bd-content>table>tbody>tr>td,
.bd-content>table>tbody>tr>th,
.bd-content>table>tfoot>tr>td,
.bd-content>table>tfoot>tr>th,
.bd-content>table>thead>tr>td,
.bd-content>table>thead>tr>th {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #eceeef !important;
}

.rfi-submitted .rfi-before {
  display: none;
  visibility: hidden;
}

.rfi-after {
  display: none;
  visibility: hidden;
}

.rfi-submitted .rfi-after {
  display: inherit;
  visibility: inherit;
}

#asu_logo {
  margin: 0;
  float: left;
  width: 200px;
  padding: 32px 0;
}

@media (max-width: 600px) {
  #asu_logo {
    display: none;
  }
}

#asu_logo img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 992px) {
  .overlap {
    position: absolute;
    bottom: -2em;
    z-index: 2;
  }
}

.bg-white {
  background: #fff;
}

.bg-secondary {
  background: #FFC627;
}

.jumbotron .display-2 {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 500px;
  padding: 24px;
}

.jumbotron .display-3 {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 500px;
  padding: 24px;
}

.jumbotron .text-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 500px;
  padding: 24px;
}

@media (max-width: 767px) {
  .jumbotron h1 {
    font-size: 28px;
  }

  .btn-lg,
  .btn-group-lg>.btn,
  .btn-group-lg>.btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  }

  .display-3,
  .display-2 {
    font-size: 28px;
  }

  p.h1 {
    font-size: 24px;
  }

  .display-6 {
    font-size: 20px;
  }

  .small-lead {
    font-size: 16px;
  }

  .display-8 {
    font-size: 14px;
  }

  .list-group-programs p {
    font-size: 14px;
  }
}

#asu_rfi_form,
#cpe_rfi_form {
  /***************custom checkbox***************/
}

#asu_rfi_form .modal-header,
#asu_rfi_form .modal-dependent,
#cpe_rfi_form .modal-header,
#cpe_rfi_form .modal-dependent {
  background-color: #242020;
}

#errormodal .modal-header {
  background-color: #242020;
}

#errormodal .bg-gray {
  background-color: #f1f1f1;
}

#asu_rfi_form .dependent_details .form-group {
  text-align: left;
}

#asu_rfi_form .modal-dependent {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
}

#asu_rfi_form p.display_6,
#cpe_rfi_form p.display_6 {
  font-size: 26px;
  text-align: left;
  font-weight: 900;
  color: #2a2a2a;
  padding-bottom: 10px;
}

#asu_rfi_form .uber_partner,
#cpe_rfi_form .uber_partner {
  font-weight: 500;
  font-size: 14px;
}

#asu_rfi_form .center-align,
#cpe_rfi_form .center-align {
  font-size: 23px;
  font-weight: 900;
  padding-left: 1em;
  padding: 17px 18px !important;
  color: #2a2a2a;
}

#asu_rfi_form h4.modal-title.text-center,
#cpe_rfi_form h4.modal-title.text-center {
  font-size: 24px;
  font-weight: 900;
  color: white;
}

#asu_rfi_form .modal-footer,
#cpe_rfi_form .modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#asu_rfi_form .modal_white .modal-dependent,
#cpe_rfi_form .modal_white .modal-dependent {
  background-color: white;
}

#asu_rfi_form .modal_white .modal-dependent .modal-title,
#cpe_rfi_form .modal_white .modal-dependent .modal-title {
  font-size: 14px;
  color: #2A2A2A;
}

#asu_rfi_form .modal-content,
#cpe_rfi_form .modal-content {
  border: none;
}

#asu_rfi_form .modal-body.bg-gray,
#cpe_rfi_form .modal-body.bg-gray {
  background-color: #f1f1f1;
}

#asu_rfi_form .form-control,
#cpe_rfi_form .form-control {
  line-height: 1.1;
  margin-bottom: 15px;
  font-size: 18px;
  padding: 0.688rem 0.75rem;
}


#asu_rfi_form img.spaceball_img,
#cpe_rfi_form img.spaceball_img {
  padding-top: 14px;
  padding-bottom: 6px;
  margin: auto;
  display: block;
  /* width: 17em; */
}

#asu_rfi_form input[type='checkbox'],
#cpe_rfi_form input[type='checkbox'] {
  width: 37px;
  height: 48px;
  background: #5F95FC;
  background-color: yellow;
  color: #fff;
}

#asu_rfi_form .check_info,
#cpe_rfi_form .check_info {
  padding-left: 3em;
  font-size: 17px;
  font-weight: 900;
  color: #2a2a2a;
  padding-bottom: 1em;
  margin-left: 1em;
  margin-top: -15px;
}

#asu_rfi_form .check_align,
#cpe_rfi_form .check_align {
  display: flex;
  position: absolute;
}

#asu_rfi_form .uber_partner,
#cpe_rfi_form .uber_partner {
  padding-top: 0em;
  padding-bottom: 32px;
}

#asu_rfi_form .btn-yellow,
#cpe_rfi_form .btn-yellow {
  width: 10em;
  font-size: 18px;
  font-weight: 700;
  background-color: #ffc627;
  margin-bottom: 2em;
}

#asu_rfi_form a,
#cpe_rfi_form a {
  border-bottom: none;
}

#asu_rfi_form input[type='checkbox']:checked,
#cpe_rfi_form input[type='checkbox']:checked {
  background: #5F95FC;
  color: #fff;
}

#asu_rfi_form .check_align,
#cpe_rfi_form .check_align {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#asu_rfi_form .check_align input,
#cpe_rfi_form .check_align input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#asu_rfi_form #program_type option::after,
#cpe_rfi_form #program_type option::after {
  content: "i";
  font-size: 13px;
}

#asu_rfi_form .checkmark,
#cpe_rfi_form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: white;
  border: 0.1px solid gray;
  zoom: 1;
  -moz-zoom: 1;
  -webkit-zoom: 1;
  -moz-transform: scale(1, 1);
}

#asu_rfi_form .checkmark_tc,
#cpe_rfi_form .checkmark_tc {
  position: absolute;
  top: 10px;
  /* left: 60px; */
  height: 35px;
  width: 35px;
}

#asu_rfi_form .check_align:hover input~.checkmark,
#cpe_rfi_form .check_align:hover input~.checkmark {
  background-color: white;
}

#asu_rfi_form .check_align input:checked~.checkmark,
#cpe_rfi_form .check_align input:checked~.checkmark {
  background-color: white;
}

#asu_rfi_form .checkmark:after,
#cpe_rfi_form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#asu_rfi_form .check_align input:checked~.checkmark:after,
#cpe_rfi_form .check_align input:checked~.checkmark:after {
  display: block;
}

#asu_rfi_form .check_align .checkmark:after,
#cpe_rfi_form .check_align .checkmark:after {
  left: 11px;
  top: 5px;
  width: 13px;
  height: 22px;
  border: solid #78be20;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#asu_rfi_form .check_align .checkmark.checkmark_tc:after {
  left: 11px;
  top: 4px;
}

#asu_rfi_form .display_6,
#cpe_rfi_form .display_6 {
  padding-top: 45px;
  padding-bottom: 15px;
}

#asu_rfi_form select.form-control,
#cpe_rfi_form select.form-control {
  width: 100%;
  height: 2.5em;
  font-weight: 500;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #2a2a2a;
}

#asu_rfi_form .dependent-select .select2-container,
#asu_rfi_form .course-select .select2-container,
#cpe_rfi_form .dependent-select .select2-container,
#cpe_rfi_form .course-select .select2-container {
  width: 100% !important;
}

#asu_rfi_form .dependent-select .select2-selection.select2-selection--single,
#asu_rfi_form .dependent-select .select2-selection.select2-selection--multiple,
#asu_rfi_form .course-select .select2-selection.select2-selection--single,
#asu_rfi_form .course-select .select2-selection.select2-selection--multiple,
#cpe_rfi_form .dependent-select .select2-selection.select2-selection--single,
#cpe_rfi_form .dependent-select .select2-selection.select2-selection--multiple,
#cpe_rfi_form .course-select .select2-selection.select2-selection--single,
#cpe_rfi_form .course-select .select2-selection.select2-selection--multiple {
  height: 58px;
}

#asu_rfi_form .dependent-select .select2-selection.select2-selection--single .select2-selection__rendered,
#asu_rfi_form .dependent-select .select2-selection.select2-selection--multiple .select2-selection__rendered,
#asu_rfi_form .course-select .select2-selection.select2-selection--single .select2-selection__rendered,
#asu_rfi_form .course-select .select2-selection.select2-selection--multiple .select2-selection__rendered,
#cpe_rfi_form .dependent-select .select2-selection.select2-selection--single .select2-selection__rendered,
#cpe_rfi_form .dependent-select .select2-selection.select2-selection--multiple .select2-selection__rendered,
#cpe_rfi_form .course-select .select2-selection.select2-selection--single .select2-selection__rendered,
#cpe_rfi_form .course-select .select2-selection.select2-selection--multiple .select2-selection__rendered {
  text-align: left;
  padding-top: 0.4em;
  line-height: 2;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
  color: #73809b;
}

#asu_rfi_form .dependent-select .select2-selection.select2-selection--single .select2-selection__arrow,
#asu_rfi_form .dependent-select .select2-selection.select2-selection--multiple .select2-selection__arrow,
#asu_rfi_form .course-select .select2-selection.select2-selection--single .select2-selection__arrow,
#asu_rfi_form .course-select .select2-selection.select2-selection--multiple .select2-selection__arrow,
#cpe_rfi_form .dependent-select .select2-selection.select2-selection--single .select2-selection__arrow,
#cpe_rfi_form .dependent-select .select2-selection.select2-selection--multiple .select2-selection__arrow,
#cpe_rfi_form .course-select .select2-selection.select2-selection--single .select2-selection__arrow,
#cpe_rfi_form .course-select .select2-selection.select2-selection--multiple .select2-selection__arrow {
  padding-top: 3.3em;
}

#asu_rfi_form .dependent-select .select2-selection.select2-selection--single .select2-selection__arrow b,
#asu_rfi_form .dependent-select .select2-selection.select2-selection--multiple .select2-selection__arrow b,
#asu_rfi_form .course-select .select2-selection.select2-selection--single .select2-selection__arrow b,
#asu_rfi_form .course-select .select2-selection.select2-selection--multiple .select2-selection__arrow b,
#cpe_rfi_form .dependent-select .select2-selection.select2-selection--single .select2-selection__arrow b,
#cpe_rfi_form .dependent-select .select2-selection.select2-selection--multiple .select2-selection__arrow b,
#cpe_rfi_form .course-select .select2-selection.select2-selection--single .select2-selection__arrow b,
#cpe_rfi_form .course-select .select2-selection.select2-selection--multiple .select2-selection__arrow b {
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 10px 8px 0 8px;
  border-radius: 3px;
  height: 0;
  left: 50%;
  margin-left: -15px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

#asu_rfi_form .dependent-select .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b,
#asu_rfi_form .course-select .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b,
#cpe_rfi_form .dependent-select .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b,
#cpe_rfi_form .course-select .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #000 transparent;
  border-width: 0 8px 10px 8px;
  border-radius: 3px;
}

@media (min-width: 576px) {

  #asu_rfi_form .modal-dialog,
  #cpe_rfi_form .modal-dialog {
    max-width: 725px !important;
    margin: 30px auto;
  }
}

@media (max-width: 768px) {

  #asu_rfi_form img.spaceball_img,
  #cpe_rfi_form img.spaceball_img {
    width: 245px;
    margin-left: -1em;
    padding-left: 0px !important;
    margin: auto;
    display: block;
  }
}

.select2-dropdown {
  /* top: -1em; */
  border: 1px solid #dcdcdc;
  /* left: -1em !important; */
}

.select2-dropdown li[aria-selected="true"].select2-results__option--highlighted {
  background-color: #5897fb !important;
}

.select2-dropdown li[aria-selected="true"] {
  background-color: #fff !important;
  color: black;
}

.select2-dropdown li[aria-selected="true"]:before {
  content: "\f00c";
  display: inline-block;
  width: 1.3em;
  font-family: FontAwesome;
}

.select2-dropdown li[aria-selected="false"]:before {
  content: "";
  display: inline-block;
  width: 1.3em;
  font-family: FontAwesome;
}

.select2-container--open .select2-dropdown--below {
  border-top: 1px solid #dcdcdc !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.select2-container--open .select2-dropdown--above {
  top: 1em;
  border-bottom: 1px solid #dcdcdc !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: 300px !important;
  overflow-y: auto !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 11px !important;
}

#asu_rfi_form .course-select .select2-selection.select2-selection--multiple {
  height: auto;
}

#asu_rfi_form .course-select .select2-selection.select2-selection--multiple .select2-selection__rendered {
  margin-bottom: 0px;
  padding-top: 1px;
}

body {
  padding-top: 6.3em;
}

header {
  border-bottom: 1px solid #d8d8d8;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background: #fff;
}

header ul.nav-items li {
  list-style: none;
  display: inline-block;
  padding: 1.5em 0.9em;
  font-size: 13px;
  font-weight: bold;
}

header ul.nav-items li .nav-link {
  padding: 0 !important;
  /* border-bottom: 1px dotted #8c1d40; */
  color: black;
}


header ul.nav-items li .nav-link:hover {
  padding: 0;
  border-bottom: 1px dotted #8c1d40;
  color: #8C1D40;
}

header .bg-gold {
  padding: 0px 10px !important;
  color: #2A2A2A;
  border-bottom: transparent;
  border-radius: 3px;
}

p {
  max-width: 100% !important;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
}

a,
a:hover {
  text-decoration: none;
}

.text-gold {
  color: #FFC627;
}

a.link-gold {
  border-bottom: 1px dotted #FFC627;
  color: #FFC627;
}

.btn-gold {
  background-color: #FFC627;
  color: #2A2A2A;
  font-weight: bold;
  font-size: 18px;
}

.display-3 {
  font-size: 2.3rem;
}

b,
strong {
  font-weight: bold;
  font-size: 18px;
}

.container {
  position: relative;
}

.hero-gray {
  background-color: #f1f1f1;
}

.max-width {
  max-width: 800px !important;
}

.sb_hero .hero-bg-img {
  /* height: 600px; */
  color: #2a2a2a;
}

.sb_hero .hero-bg-img .display-1 {
  margin-bottom: 0px;
}

.sb_hero .plr {
  padding: 0 3em;
}

.sb_hero p {
  font-size: 36px;
  font-weight: normal;
}

.sb_hero a {
  color: #2a2a2a !important;
}

.sb_content p {
  max-width: 100%;
  font-size: 2.23rem;
}



.sb_image_content img.twc {
  border-left: 10px solid #ffc627;
}

.sb_image_content img.innovators {
  border-right: 10px solid #ffc627;
}

.sb_image_content p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: normal;
}

.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

.space-bot-md {
  padding-bottom: 24px;
}

.space-top-md {
  padding-top: 50px;
}

.sb_top {
  background-color: #fff;
}

.sb_top .display-3 {
  font-size: 2.1rem;
}

.sb_learn_more p {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
}

.sb_learn_more #learn_more {
  font-size: 22px;
  font-weight: bold;
}

.sb_driver_content {
  padding: 4rem 5rem;
}

.sb_driver_content p {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.7;
}

.sb_driver_degree {
  color: #fff;
  background-color: #1e1e1e;
  border: 1px solid #1e1e1e;
}

.sb_driver_degree .row {
  /* padding: 4rem 0px; */
}

.sb_driver_degree #btn_selection {
  display: none;
}

.circle_gold {
  font-size: 1.25em;
  border-radius: 50%;
  border: 2px solid #ffc627;
  width: 2em;
  height: 2em;
  text-align: center;
  display: inline-block;
  transition: 0.5s;
  vertical-align: middle;
  margin-right: 15px;
}

.horizontal_line {
  border-bottom: 2px solid #a1a1a1;
  width: 100%;
}

.hidden {
  display: none;
}

.bg-black {
  background-color: #1e1e1e !important;
}

.grid_content p {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
  color: #2a2a2a;
}

.grid_content h2 {
  display: flex;
  justify-content: left;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 50px;
}

.grid_content h2 div {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 24px;
  font-weight: bold;
}

.grid_content .col-md-4 {
  margin: 0 15px 20px;
}

.grid_content ul {
  font-weight: normal;
  font-size: 16px;
  padding-left: 15px;
  color: #2a2a2a;
  margin-top: -1rem;
}

.sb_aboutasu {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -1px;
}

.sb_aboutasu span.bg-gold {
  padding: 3px 8px;
  font-weight: bold;
  font-size: 18px;
}

.sb_aboutasu .bg-black {
  padding: 2em;
}

.sb_aboutasu .small {
  letter-spacing: 0.2px;
  font-weight: normal;
}

.py-7 {
  padding: 7rem 15px;
}

.bg-gold {
  background-color: #ffc627;
}

.border-gold {
  border-top: 2px dotted #3e2e01;
  width: 100%;
  padding-bottom: 1.7em;
}

a.program-toggle[aria-expanded="false"] .toggle:after {
  content: "\FF0B";
  font-size: 24px;
  font-weight: bold;
  color: #2A2A2A;
}

a.program-toggle[aria-expanded="true"] .toggle:after {
  content: "\FF0D";
  font-size: 24px;
  font-weight: bold;
  color: #2A2A2A;
}

.btn-link:focus,
.btn-link:hover {
  text-decoration: none;
}

.modal .modal-title {
  margin: auto;
}

.modal .rfi_logo img {
  margin: auto;
  display: block;
}

#view_degree_modal .modal-header,
#view_courses_modal .modal-header {
  border-bottom: transparent;
  padding: 15px 15px 0;
}

#view_degree_modal .modal-header .close,
#view_courses_modal .modal-header .close {
  font-size: 2.5em;
  color: #8c1d40;
  opacity: 1;
}

#view_degree_modal ul.list-group-programs .row,
#view_courses_modal ul.list-group-programs .row {
  align-items: center;
}

#view_degree_modal ul.list-group-programs li,
#view_courses_modal ul.list-group-programs li {
  border: transparent;
}

#view_degree_modal ul.list-group-programs .program-toggle,
#view_courses_modal ul.list-group-programs .program-toggle {
  color: #2a2a2a;
  padding: 0;
}

#view_degree_modal .list-group-item,
#view_courses_modal .list-group-item {
  border-bottom: 1px solid #2A2A2A !important;
  margin-bottom: 0px;
  border-radius: 0 !important;
  padding-left: 0;
  padding-right: 0;
}

.list-group {
  padding-left: 0;
}

#view_degree_modal .list-group-item:first-child,
#view_courses_modal .list-group-item:first-child {
  border-top: 1px solid #2A2A2A !important;
}

#view_degree_modal .modal-body,
#view_courses_modal .modal-body {
  padding: 15px 2.5em;
}

#view_degree_modal .modal-body h2,
#view_courses_modal .modal-body h2 {
  padding-left: 0;
  padding-bottom: 50px;
  margin-bottom: 0px;
}

#view_degree_modal ul.list-group-programs,
#view_courses_modal ul.list-group-programs {
  display: block;
  max-height: 45em;
  overflow-y: auto;
  background: transparent;
}

#view_degree_modal ul.list-group-programs .list-group-item-details,
#view_courses_modal ul.list-group-programs .list-group-item-details {
  text-align: left;
}

#view_degree_modal ul.list-group-programs a.program-toggle,
#view_courses_modal ul.list-group-programs a.program-toggle {
  color: #2A2A2A;
  text-decoration: none;
  white-space: normal;
  text-align: left;
  font-size: 18px !important;
  line-height: 1.5;
  font-weight: 700 !important;
}

#view_degree_modal ul.list-group-programs .row,
#view_courses_modal ul.list-group-programs .row {
  align-items: center;
}

#view_degree_modal div.bg-gold,
#view_courses_modal div.bg-gold {
  margin-top: 1em;
}

#view_degree_modal p.space-top-md,
#view_courses_modal p.space-top-md {
  font-weight: bold;
  max-width: 799px !important;
  padding: 1em;
}

@media (min-width: 576px) {
  #asu_rfi_form .modal-dialog {
    max-width: 64%;
    margin: 30px auto;
  }
}

#asu_rfi_form .asu_rfi_form_body {
  width: 60%;
  margin: auto;
}

#opportunities ul {
  padding-left: 15px;
  list-style: none;
}

#opportunities .col-md-9 ul {
  padding-left: 15px;
  list-style: none;
}

#opportunities .col-md-9 ul li {
  line-height: 1.9;
}

#opportunities .col-md-9 ul li:before {
  content: "\f058";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  font-family: FontAwesome;
  color: #FFC627;
  font-size: 12px;
  position: relative;
  top: -1.3px;
}

#opportunities .btn-gold {
  margin: 1em 2em 1.6em;
}

.menu_opportunity {
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  color: white;
  /* border: 1px solid #7d7d7d;  */
}

.menu_opportunity a {
  border-bottom: transparent;
}

.menu_opportunity ul {
  padding-left: 0px !important;
  margin-bottom: 0px;
}

.menu_opportunity li {
  border-left: 3px solid #1e1e1e;
  padding: 15px 30px 15px 15px;
}

.menu_opportunity li:not(:first-child) {
  border-bottom: 1px solid #7d7d7d;
  border-left: 1px solid #7d7d7d;
  border-right: 1px solid #7d7d7d;
}

.menu_opportunity li:nth-child(2) {
  border-top: 1px solid #7d7d7d;
}

.menu_opportunity li:hover {
  border-left: 3px solid #FFC627;
}

.menu_opportunity li:hover a {
  color: #FFC627;
}

.menu_opportunity li a {
  color: white;
  font-weight: normal;
}

.menu_opportunity li a:hover {
  color: #FFC627;
}

.menu_opportunity li.title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.faq ul {
  list-style: none;
  padding-left: 0px;
  color: #9c9797;
}

.faq a {
  text-decoration: none;
  color: #8c1d40 !important;
  font-weight: normal;
  font-size: 14px;
}

.faq .list-faq li:first-child .card {
  border-top: 1px solid #2A2A2A;
}

.faq .list-faq .card {
  background: transparent;
  border: none;
  border-radius: unset;
  width: 100%;
  padding: 0px;
  margin-left: 15px;
  border-bottom: 1px solid #2A2A2A;
  cursor: pointer;
}

.faq .list-faq .card .card-block {
  padding: 0px;
}

.faq .list-faq .card .card-header {
  background: none;
  border: unset;
  padding: 15px 15px 8px 0;
}

.faq .list-faq .card span {
  font-weight: bold;
  font-size: 18px;
}

.faq .list-faq .card-header>a span {
  color: #9c9797 !important;
}

.faq .list-faq .card-header>.collapsed .icon span.faq-icon:after {
  content: "\f0d9" !important;
  font-family: FontAwesome;
  /* float: right; */
  color: grey;
}

.faq .list-faq .card-header>a .icon span.faq-icon:after {
  content: "\f0d7";
  font-family: FontAwesome;
  /* float: right; */
  color: grey;
}

.faq .list-faq .card-header div .icon span.faq-icon {
  float: right;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: none;
}

.custom-control-label::before,
.custom-control-label::after {
  top: .8rem;
  width: 1.25rem;
  height: 1.25rem;
}

.custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dee2e6;
}

.custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.have_questions p,
.have_questions a {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
}

.sb_driver_degree .hr_white {
  border-bottom: 2px solid #fff;
  padding: 1em;
}

.sb_driver_degree .bg-gold {
  padding: 1em;
  color: #2a2a2a;
  margin-top: 4em;
}

.sb_driver_degree .bg-gold-family {
  margin-top: 2.5em !important;
}

.sb_driver_degree .bg-gold p {
  font-size: 17px;
  font-weight: bold;
  color: #2a2a2a;
  margin-bottom: 0px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 770px;
    margin: 30px auto;
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .sb_hero .hero {
    padding-top: 90px;
  }

  .sb_learn_more .p-8 {
    /* padding: 0 6em; */
    text-align: center;
    margin: 5em 0;
  }

  .sb_learn_more p {
    min-height: 135px;
  }

  .sb_learn_more .b-vertical {
    border-left: 1px solid #d8d8d8;
  }

  .sb_driver_content {
    padding: 4rem 5rem;
  }

  .grid_content {
    margin-left: 0px;
  }

  .grid_content h2 {
    min-height: 100px !important;
  }

  .grid_content .col-md-4 {
    width: calc(33.33333% - 20px);
    margin: 10px 20px 40px 0;
    flex: none;
  }
}

@media (min-width: 992px) {
  .sb_image_content .image_content_text .display-3 {
    /* padding-top: 2rem; */
  }

  #logout_item {
    border-left: 1px solid #2a2a2a;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (min-width: 1200px) {
  .sb_image_content .image_content_text p {
    padding-right: 1.5em;
  }

  .sb_image_content .image_content_text .display-3 {
    font-size: 2.3rem;
    padding-right: 2em;
    padding-top: 0px;
  }

  .sb_top .sb_top_content {
    padding-right: 6em;
  }

  .sb_learn_more .p-8 {
    padding: 0 3em;
    text-align: center;
    margin: 5em 0;
  }

  .sb_learn_more .rfiparagraphs {
    padding: 0 2em;
  }

  .sb_driver_degree .col-md-6 {
    padding-right: 3.2em;
    font-weight: normal;
    line-height: 1.6;
    font-size: 18px;
  }

  .sb_aboutus .pr {
    padding-right: 6em;
  }

  .sb_aboutus .plr {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .financial_aid .col-md-6 {
    padding-right: 2em;
  }
}

@media (max-width: 1199px) {
  .sb_image_content .image_content_text .display-3 {
    font-size: 2rem;
  }

  .display-3 {
    font-size: 2rem !important;
  }
}

@media (max-width: 991px) {
  header ul.nav-items {
    float: left;
    padding-left: 0;
    margin-left: 0;
  }

  header ul.nav-items li {
    padding: 0em 1em 0.5em 0em;
  }

  .sb_driver_degree .col-md-3 {
    padding-right: 0px;
  }
}

@media (min-width: 1200px) {
  header ul.nav-items li {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .sb_learn_more .p-8:first-child {
    padding: 3em 1em;
  }

  .sb_learn_more .p-8:last-child {
    padding: 0 1em 3em 1em;
  }

  .hero-bg-img {
    padding-top: 60px;
  }

  body {
    padding-top: 5.3em;
  }

  .sb_driver_content {
    padding: 2rem 15px;
  }

  .sb_driver_degree {
    /* padding: 0px 0px 4rem; */
  }

  .sb_driver_degree .col-md-3 {
    padding-right: 15px;
  }

  #opportunities .col-md-9 .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 554px) {
  .hero-bg-img .px-5 {
    padding-left: 1.5rem !important;
    padding-right: 1rem !important;
  }

  #view_degree_modal .modal-body,
  #view_courses_modal .modal-body {
    padding: 15px;
  }

  #view_degree_modal #view_courses_modal .modal-body .col-2 {
    max-width: 17.66667%;
  }

  #opportunities .btn-gold {
    margin: 1em 0;
    display: block;
  }

  body {
    padding-top: 4.3rem;
  }
}

header #corp_logo img {
  width: 18em;
}

header .navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px;
  flex-direction: unset;
  display: block;
}

header .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

header .navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

header #menu-btn {
  position: relative;
  float: right;
  /* margin-right: 15px; */
  padding: 9px 0px 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

header #menu-btn .icons {
  margin-top: 4px;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
}

header .collapsing {
  height: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: height .35s ease;
  -o-transition: height .35s ease;
  transition: height .35s ease;
}

header .navbar-nav {
  display: flex;
  flex-direction: unset;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
  display: inline-block;
  padding-top: 19px;
}

@media (max-width: 991px) {
  header #navbar-ws {
    width: 100% !important;
    border-top: 1px solid #f7f7f7;
  }

  header .navbar-right {
    float: left !important;
    margin-left: 0;
  }

  header .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  header ul.nav-items {
    width: 100%;
    padding-top: 0px;
  }

  header ul.nav-items span li {
    padding: 0em 0 1em;
  }

  header ul.nav-items span:first-child li {
    padding: 0em 0 1em;
  }

  header #menu-btn {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  header .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  header .navbar-nav>li {
    float: left;
  }

  header .nav>li,
  header .nav>li>a {
    display: inline-block;
  }

  header #menu-btn {
    display: none;
  }

  header #navbar-ws {
    float: right;
  }
}

@media (max-width: 554px) {
  header #corp_logo img {
    width: 13em;
    height: 60px;
    /* padding-left: 8px; */
  }

  header #menu-btn {
    margin-top: 15px;
  }
}

.img-fluid {
  min-height: 50px;
  min-width: 50px;
}

@media (min-width: 992px) {
  .img-fluid {
    min-height: 68px;
    min-width: 68px;
  }
}

@media (min-width: 992px) {
  .py-5 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
}

body.iosBugFixCaret.modal-open {
  position: fixed;
  width: 100%;
}

body.modal-open {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.rfi-submitted .list-group-programs .btn.btn-secondary {
  display: none;
}

.jumbotron,
.jumbotron-fluid {
  margin-bottom: 0rem;
}

@media (max-width: 991px) {

  .jumbotron,
  .jumbotron-fluid {
    margin-bottom: 1.5rem !important;
  }
}

.small-lead {
  font-weight: 400;
  font-size: 1.2rem;
}

#corp_logo {
  float: left;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-right: 3rem;
}

#corp_logo img {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (max-width: 600px) {
  #corp_logo img {
    height: 30px;
  }
}

.jumbotron {
  border-radius: 0;
}

.jumbotron .text-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 24px;
}

@media (min-width: 992px) {
  .jumbotron .text-overlay {
    max-width: 500px;
  }
}

@media (max-width: 767px) {
  .jumbotron .col-lg-8 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {

  footer .container a,
  footer .container p {
    text-align: center;
    float: none;
    margin: 0em;
  }
}

@media (max-width: 767px) {
  footer .container .row>div {
    text-align: center;
    margin: 1em;
  }
}

.display-highlight {
  letter-spacing: -1px;
  text-transform: none;
  display: inline;
  background-color: #FFC627;
  color: #2A2A2A;
  -ms-box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 4px 15px;
}

.strong-lead {
  font-weight: 400;
}

.margin-centered {
  margin-left: auto;
  margin-right: auto;
}

.max-width-8 {
  max-width: 700px !important;
  line-height: 1.1;
  font-size: 2.3rem;
}

p {
  max-width: 800px;
}

@media (min-width: 992px) {
  .overlap {
    position: absolute;
    bottom: -2em;
  }
}

@media (min-width: 1200px) {
  .push-mlg-8 {
    left: 66.66667%;
  }

  .push-mlg-7 {
    left: 62%;
  }

  .col-mlg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.bg-dkblack {
  background: #1E1E1E;
  color: #fff;
}

.bg-photo {
  box-shadow: none;
}

/* .bg-black {
  background: #333;
} */

#innovation-bar {
  background-color: #FFC627;
}

#innovation-bar,
#innovation-footer .footer-menu ul li a {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#innovation-bar .innovation-top {
  margin: 0 auto;
}

#innovation-bar .innovation-top {
  width: 100%;
}

@media (min-width: 1200px) {

  #innovation-bar .innovation-top,
  #innovation-footer .footer-menu ul {
    width: 1170px;
  }
}

.innovation-top {
  height: 60px;
  margin-top: 34px;
}

#innovation-bar .innovation-status {
  text-align: right;
  width: calc(100% - 155px) !important;
  display: inline-block;
  margin-bottom: .7em;
  padding-right: 5px;
}

@media only screen and (max-width: 768px) {
  #innovation-bar .innovation-status {
    width: calc(100% - 115px) !important;
  }
}

@media only screen and (max-width: 768px) {
  #innovation-bar img {
    margin-top: -37px;
  }
}

@media (min-width: 992px) {
  #innovation-bar .innovation-status {
    padding-right: 20px;
  }
}

#innovation-bar .innovation-top a {
  border-bottom: 0;
  color: #000;
  font-size: x-large;
  font-weight: 700;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  #innovation-bar .innovation-top a {
    font-size: large;
  }
}

#innovation-bar .innovation-top .innovation-hidden {
  float: right;
  width: 150px !important;
  height: 0;
  margin-right: 5px;
}

@media only screen and (max-width: 768px) {
  #innovation-bar .innovation-top .innovation-hidden {
    width: 110px !important;
  }
}

#innovation-bar .innovation-hidden,
.asu_search_button {
  display: block !important;
}

#innovation-bar img {
  margin-top: -48px;
  width: 150px;
  position: relative;
  height: auto;
}

@media only screen and (max-width: 768px) {
  #innovation-bar img {
    margin-top: -28px;
    width: 110px;
    height: auto;
  }
}

footer .little-foot {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e5e5e5;
}

footer .little-foot ul {
  margin: 0;
  list-style: none;
  padding: 20px 0;
}

footer .little-foot ul li {
  display: block;
  margin-right: 20px;
  padding: 2px 0;
}

@media (min-width: 768px) {
  footer .little-foot ul li {
    display: inline;
    padding: 0;
  }
}

footer .little-foot ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border: 0;
  white-space: nowrap;
}

footer .little-foot ul li a:hover {
  color: #666;
}

@media (min-width: 768px) {
  footer .little-foot ul li a {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  footer .little-foot ul li a {
    font-size: 18px;
  }
}

.jumbotron .text-styles.display-2 {
  background-color: #fec938;
  margin-top: 49px;
  text-shadow: none;
  color: black;
  padding-top: 0px;
  font-size: 43px;
  padding-bottom: 0px;
  max-width: 100%;
  float: left;
  clear: left;
}

.jumbotron .text-styles.max-width.display-2 {
  margin-bottom: -43px;
  font-size: 64px;
  font-weight: 900;
  max-width: 100%;
  float: left;
  clear: left;
}

.text-alignment #have-questions {
  color: #fec938;
  font-size: 2.4rem;
  font-weight: 700;
}

.margin-alignment {
  margin-top: 9%;
}

input.btn.btn-warning.btn-block {
  background-color: #fec938;
  font-weight: 500;
}

.display {
  font-size: 19px;
  font-weight: 500;
}

.horizontal-width {
  margin-top: 16px;
  width: 296px;
  height: 4px;
  background-color: #fec938;
  border-color: #fec938;
  margin-bottom: 22px;
}

.horizontal-dashed {
  border-top: 1px dashed gray;
  margin-top: auto;
  margin-bottom: 3em;
  width: 100%;
}

hr.horizontal-width.hr-width {
  width: 144px;
}

.background-img {
  background-position: center;
  padding-top: 11em;
  padding-bottom: 1em;
}

.font-weight {
  font-weight: 500;
}

#asu_logo img {
  width: 234px;
  margin-left: -2em;
  margin-right: auto;
  display: block;
}

.font-display {
  background-color: #fec938;
  margin-right: 8px;
  padding-left: 7px;
}

@media only screen and (max-width: 768px) {
  #innovation-bar img {
    margin-top: -31px;
    width: 110px;
    height: 125px;
  }
}

#corp_logo {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-right: 0px !important;
}

#corp_logo img {
  height: 90px;
  /* margin-left: -1.5em; */
}

#opportunities_btn.btn.btn-gold {
  font-size: 25px;
}

.disabledField {
  pointer-events: none;
}

.nav-active-opp {
  border-left: 3px solid #FFC627 !important;
}

.nav-active-opp a {
  color: #FFC627 !important;
}

#sidebar li:not(:first-child) {
  cursor: pointer;
}

#edu_sec,
#ecee_sec {
  font-size: 18px;
  font-weight: normal;
}

.menu_opportunity li.title:hover {
  border-left: 3px solid #1e1e1e !important;
}

#asu_rfi_form .course-select .select2-container {
  width: 100% !important;
}

/* @media (max-width: 991px) {
  .sb_image_content .callout_image,.sb_image_content .col-md-5{
    display: flex;
    align-items: center;
  }
  .sb_image_content .col-md-6 img,.sb_image_content .col-md-5{
    justify-content: center;
  }
} */

.sb_image_content .image_content_text {
  margin-top: -6px;
}

.sb_image_content .callout_image img,
.sb_image_content .col-lg-5 img {
  margin: auto;
}

/* @media (max-width: 991px) {
  .sb_image_content .callout_image img,.sb_image_content .col-lg-5 img{
    width: 100%;
  }
} */

@media (min-width: 992px) {
  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }
}

@media (max-width: 929px) {
  #innovation-bar .innovation-hidden {
    /* display: none !important; */
  }

  #innovation-bar .innovation-status {
    text-align: right;
    padding: 0 15px;
  }
}

footer .little-foot ul {
  -webkit-font-smoothing: antialiased;
  display: block;
  max-width: 100%;
  list-style: none;
  margin: 0 auto;
  white-space: nowrap;
  padding: 20px 15px;
}

@media (min-width: 931px) {

  #innovation-bar .innovation-top,
  footer .little-foot ul {
    width: 730px;
  }
}

@media (min-width: 992px) {

  #innovation-bar .innovation-top,
  footer .little-foot ul {
    width: 960px;
  }
}

@media (min-width: 1200px) {

  #innovation-bar .innovation-top,
  footer .little-foot ul {
    width: 1170px;
  }
}

@media (min-width: 768px) {
  .sb_hero .hero {
    padding-top: 0px;
  }

  .hero-bg-img .container {
    position: absolute;
    top: 5em;
    color: white;
  }

  .tall-home-hero {
    margin-top: -2px;
  }
}

@media (max-width: 767px) {
  .hero-bg-img {
    padding-top: 0px;
  }

  .hero-bg-img .px-5 {
    padding: 15px 0 0 !important;
  }

  .h1_text {
    font-size: 36px !important;
  }

  .regular_text {
    font-size: 24px !important;
  }

  .body_text {
    font-size: 14px !important;
    line-height: 22.5px;
    letter-spacing: 0.1px;
  }

  .h3_text {
    font-size: 18px !important;
  }

  .sb_image_content .space-top-md {
    padding-top: 20px;
  }

  .sb_learn_more #learn_more {
    font-size: 18px;
    font-weight: bold;
  }

  .space-top-md {
    padding-top: 20px;
  }

  .py-7 {
    padding: 3rem 15px;
  }

  #opportunities .col-md-3.py-5 {
    padding-top: 0 !important;
    padding-bottom: 3rem !important;
    margin-top: -20px;
  }

  #edu_sec,
  #ecee_sec {
    padding-left: 0px;
    padding-right: 0px;
  }

  #view_degree_modal .list-group-item .row,
  #view_courses_modal .list-group-item .row {
    margin: 0px;
  }

  #view_degree_modal .list-group-item .row .col-11,
  #view_degree_modal .list-group-item-details,
  #view_courses_modal .list-group-item .row .col-11,
  #view_courses_modal .list-group-item-details {
    padding: 0px;
  }

  #view_degree_modal .list-group-item-details,
  #view_courses_modal .list-group-item-details {
    margin-right: 50px;
  }
}

@media (max-width: 500px) {

  #view_degree_modal .list-group-item .row .col-1,
  #view_courses_modal .list-group-item .row .col-1 {
    padding-right: 0px;
    padding-left: 0px;
  }

  #view_degree_modal .list-group-item-details,
  #view_courses_modal .list-group-item-details {
    margin-right: 10px;
  }
}

#opportunities .py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

body {
  color: #2A2A2A;
}

@media screen and (max-width: 991px) and (min-width: 768px) {

  .driver .hero-bg-img .container,
  .family .hero-bg-img .container {
    top: 2em !important;
  }
}

#rfi-main-form .close,
#asu_rfi_form .close {
  color: white;
  opacity: 1;
  font-size: 40px;
  font-weight: 100;
  position: absolute;
  right: 20px;
  top: 14px;
  z-index: 10;
}

#rfi-main-form label {
  font-size: 12px;
  font-weight: bold;
  color: #2a2a2a;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border: transparent !important;
  font-size: 12px !important;
  color: #2a2a2a !important;
  padding: 0 7px !important;
}

.select2-selection--multiple .select2-selection__rendered li.select2-search--inline {
  border: transparent !important;
  font-size: 12px !important;
  color: #2a2a2a !important;
  padding: 0 7px !important;
  margin-top: 11px !important;
}

.select2-selection--multiple .select2-selection__rendered li.select2-search--inline input {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0;
}

.select2-selection--multiple li.select2-search--inline input::placeholder {
  font-size: 18px;
  width: auto !important;
  color: #7B7B7B;
  font-weight: lighter;
  opacity: 1;
  /* Firefox */
}

.select2-selection--multiple li.select2-search--inline input::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 18px;
  width: auto !important;
  color: #7B7B7B;
  font-weight: lighter;
}

.select2-selection--multiple li.select2-search--inline input::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 18px;
  color: #7B7B7B;
  font-weight: lighter;
}

.select2-selection--multiple .select2-search--inline .select2-search__field {
  width: 180px !important;
}

#asu_rfi_form .dependent-select .select2-selection.select2-selection--single .select2-selection__rendered {
  text-align: left;
  padding: 4.5px 0.75rem;
  line-height: 2;
  margin-bottom: 0px;
  font-size: 18px;
  color: #7B7B7B;
}

#asu_rfi_form .dependent-select .select2-selection.select2-selection--single {
  height: auto;
}

#asu_rfi_form .dependent-select .select2-selection.select2-selection--single .select2-selection__arrow b {
  margin-top: -8px;
}

.select2-container--default .select2-results__group {
  padding-left: 1.3rem;
}

.select2-container--default .select2-results__option .select2-results__option {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#asu_rfi_form,
#cpe_rfi_form {
  -webkit-overflow-scrolling: touch;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 0 !important;
}

/************************Privacy page styles********************/
.privacy-page header {
  border-bottom: none;
  position: absolute;
}

.privacy-page #bg-black {
  background-color: black;
}

#bg-black .display-2 {
  color: white;
  font-size: 48px;
  padding: 51px 11px;
}

.privacy-page .information {
  margin-top: 43px;
  margin-bottom: 86px;
}

#req-more .display-6 {
  padding: 14px 0px;
}

#info-allign ul {
  font-weight: 500;
  font-size: 18px;
  padding-left: 1em;
}

.privacy-page a {
  /* border-bottom: none; */
}

body.privacy-page {
  font-size: 18px !important;
}

div#all-set {
  background-color: black;
  color: white;
  padding: 48px 0px;
}

#pleaseNote-info {
  padding: 23px 0px;
  font-size: 12px;
}

@media (max-width: 756px) {
  #info-allign p {
    max-width: 100% !important;
  }

  #pleaseNote-info {
    padding: 34px 0px !important;
    font-size: 16px !important;
    margin-bottom: 14em !important;
  }
}

#all-set .display-2 {
  font-size: 55px;
  margin-left: 10px;
}

p#set-page {
  font-size: 31px;
  font-weight: 900;
  margin-top: 1em;
  line-height: 1.3;
}

div#benificiary {
  background-color: black;
  color: white;
  padding: 48px 0px;
}

#benificiary .display-2 {
  font-size: 56px;
  margin-left: 6px;
}

.benificiary-check .checkmark {
  position: absolute;
  top: -1px;
  left: 1px;
  height: 21px;
  width: 21px;
  background-color: white;
  border: 0.1px solid gray;
  zoom: 1;
  -webkit-zoom: 1;
  -moz-transform: scale(1, 1);
}

/* On mouse-over, add a grey background color */
.benificiary-check .check_align:hover input~.checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.benificiary-check.check_align input:checked~.checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.benificiary-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.benificiary-check .check_align input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.benificiary-check .check_align .checkmark:after {
  left: 7px;
  top: 2px;
  width: 7px;
  height: 13px;
  border: solid rgb(120, 190, 32);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.benificiary-check .check_info {
  display: inline;
  position: absolute;
  padding-left: 1em;
  font-size: 14px;
  font-weight: 600;
}

button#benificiary-btn {
  background-color: #ffc627;
  padding: 12px 39px;
  margin-top: 2em;
  font-size: 22px;
  margin-bottom: 4em;

}

.benificiary-check .form-group {
  margin-top: 3em;
}

.thankyou-page header {
  border-bottom: none;
  position: absolute;
}

@media (max-width: 576px) {
  #benificiary .display-2 {
    font-size: 33px;
    margin-left: 7px;
  }

  #all-set .display-2 {
    font-size: 33px;
  }

  #bg-black .display-2 {
    font-size: 30px;
  }
}

body.thankyou-page::after {
  content: '';
  display: block;
  height: 100px;
}



html {
  height: 100%;
}

body.thankyou-page {
  min-height: 100%;
  margin: 0;
  position: relative;
}

body.thankyou-page::after {
  content: '';
  display: block;
  height: 100px;
}

.thankyou-page footer {
  position: absolute;
  bottom: 0;
  width: 100%;

}

@media (min-width: 992px) {
  #pleaseNote-info {
    padding-bottom: 30em;
  }

  #verify-info {
    padding-bottom: 5em;
  }
}

@media (max-width: 576px) {
  .privacy-page .information {
    margin-bottom: 7em;
  }
}

/* @media screen and (width: 1024) {
  .thankyou-page {
  bottom: 0px !important;
  position: absolute !important;
  width: 100% !important;
  
}
} */

.privacy-page p {
  font-size: 18px;
}

.course_modal a {
  color: #8c1d40 !important;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.faq .card-block ul li {
  list-style: disc;
}

.faq .card-block ul,
.faq .card-block ol {
  padding-left: 15px;
}

.faq b {
  font-size: 14px !important;
}

.select2-selection--multiple .select2-selection__rendered li.select2-search--inline input:not(:root:root) {
  font-size: 16px;
}

.link-color {
  color: #8b1d40;
  font-size: 20px;
  padding-left: 33px;
  border-bottom: none;
  font-weight: 900;
  display: block;
  padding-bottom: 1em;
}

.sb_learn_more .display-5.display-position {
  padding-top: 3em;
  padding-bottom: 1em;
  /* margin-left: 4em; */
  color: black;
  /* margin-right: 4em; */
  line-height: 34px;
}

.sb_learn_more .degrees_public p {
  min-height: auto !important;
}

.sb_learn_more .coursePublic_display p {
  min-height: auto !important;
}

.driver_background {
  background-color: white;
  padding: 30px;
}

a:focus,
a:hover {
  text-decoration: none;
}

@media (min-width: 992px) {
  .sb_learn_more .display-5.display-position {
    margin-left: 4em;
    margin-right: 4em;
  }
}

@media (max-width: 1024px) {
  .link-color {
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  .sb_learn_more .display-5.display-position {
    font-size: 23px;
  }

  .degrees_public {
    margin-bottom: 4em;
  }

  .link-display {
    width: 15%;
  }
}

.link-display {
  width: 15% !important;
}

@media (max-width: 1200px) {
  .link-display {
    width: 20% !important;
  }
}

@media (max-width: 767px) {
  .link-display {
    width: 26% !important;
  }
}

@media (max-width: 498px) {
  .link-display {
    width: 42% !important;
  }
}

.sb_learn_more .note_content p {
  min-height: auto !important;
}

#learn_more a {
  border-bottom: none !important;
}

#errormodal .modal-header {
  background-color: rgb(241, 241, 241);
  border-bottom: transparent;
  padding: 30px 15px 15px;
}

@media (min-width: 576px) {
  #errormodal .modal-dialog {
    max-width: 650px;
  }
}

#errormodal .modal-body {
  padding: 15px 15px 20px;
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  header #corp_logo img {
    width: 12em;
  }

  header ul.nav-items li {
    padding: 1.5em 0.5em;
    font-size: 12px !important;
  }
}


@media only screen and (min-width: 768px) {
  .driver_background {
    min-height: 26em;
  }

  .driver_background #learn_more {
    position: absolute;
    bottom: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

@media only screen and (min-width: 991px) {
  .driver_background {
    min-height: 21.8em;
  }
}

.modal-open {
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 991px) {
  .UberEats-fixes .driver_background {
    min-height: auto;
  }
}