<template>
  <div class="privacy-page">
    <header>
      <div class="container navbar navbar-expand-lg">
        <div class="margin-1" id="corp_logo">
          <img
            alt="ubereats asuo logo"
            v-if="$store.state.isUberEats"
            title
            src="../assets/images/ubereats_asu_logo.svg"
            class="ae-img"
          />
          <img
            alt="uber asuo logo"
            v-else
            title
            src="../assets/images/uber_and_asu_logo.svg"
            class="ae-img"
          />
        </div>
      </div>
    </header>
    <div id="benificiary">
      <div class="container">
        <div class="display-2">Terms and conditions</div>
      </div>
    </div>

    <div class="container">
      <div class="modal" id="asu_rfi_form">
        <div class="modal-dialog modal-lg" v-show="flags.showmodal == true">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title text-center" id="rfiFormModalTitle">
                Thank you for your interest in ASU Online
              </h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body bg-gray">
              <div class="col-md-11 mx-auto">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 rfiForm">
                      <div class="margin-centered">
                        <img
                          alt="uber asuo logo"
                          title
                          src="../assets/images/uber_and_asu_logo.png"
                          class="spaceball_img"
                        />
                        <div style="display: flex">
                          <img
                            style="margin: 0 auto"
                            alt="loading"
                            title
                            src="../assets/images/loading.gif"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <h1 class="center-align" style="text-align: center">
                      {{ message }}
                    </h1>
                  </div>

                  <p style="text-align: center">
                    If you haven't been redirected in 30 seconds, please click
                    this
                    <a
                      data-region="uber-landing-page"
                      id="external-link"
                      v-bind:href="DXlink"
                      >link</a
                    >
                    to continue
                  </p>
                  <div class="row">&nbsp;</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="information col-lg-9 col-12">
        <p>{{ pageContent.terms }}</p>
        <div class="container benificiary-check">
          <div class="form-group">
            <label class="check_align">
              <input
                type="checkbox"
                id="check_box"
                name="check"
                style="margin-left: -7px"
              />
              <span class="checkmark" @click="checked()"></span>
            </label>
            <div class="check_info">{{ pageContent.checkBox }}</div>
          </div>
        </div>
        <button
          class="btn btn-lg btn-warning btn-gold"
          id="benificiary-btn"
          data-target="#asu_rfi_form"
          data-toggle="modal"
          @click="getSelectedStream()"
          disabled
        >
          Submit
        </button>
      </div>
    </div>
    <!--Footer -->
    <footer>
      <div id="innovation-footer">
        <div id="innovation-bar">
          <div class="innovation-top">
            <div class="innovation-status">
              <a
                data-region="uber-landing-page"
                href="https://www.asu.edu/rankings"
                id="external-link"
                target="_blank"
                data-aesra-score="linkNewWindowWarning:1;"
              >
                <span> ASU is No.1 in the U.S. for innovation </span>
                <span
                  style="display: none"
                  class="ae-compliance-indent ae-new-window"
                  >Opens a New Window.</span
                >
              </a>
            </div>
            <div class="innovation-hidden">
              <a
                data-region="uber-landing-page"
                href="https://www.asu.edu/rankings"
                id="external-link"
                target="_blank"
                data-aesra-score="linkNewWindowWarning:1;"
              >
                <img
                  src="../assets/images/2020_badge.png"
                  alt="Best Colleges U.S. News Most Innovative 2018"
                  class="ae-img"
                />
                <span
                  style="display: none"
                  class="ae-compliance-indent ae-new-window"
                  >Opens a New Window.</span
                >
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="little-foot hidden-print" role="contentinfo">
        <div class="region region-asu-footer">
          <ul>
            <li>
              <a
                data-region="uber-landing-page"
                href="http://www.asu.edu/privacy/"
                id="external-link"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a
                data-region="uber-landing-page"
                href="http://www.asu.edu/copyright/"
                id="external-link"
                >Copyright &amp; Trademark</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
  </div>
</template>

<script>
import util from "../util";
export default {
  name: "Beneficiaryterms",
  data() {
    return {
      DXlink: "",
      pageContent: "",
      flags: {
        showmodal: false,
      },
    };
  },
  methods: {
    checked() {
      if (document.getElementById("check_box").checked) {
        $("#benificiary-btn").attr("disabled", "disabled");
      } else {
        $("#benificiary-btn").removeAttr("disabled");
      }
    },
    returnDXLink() {
      console.log("LOG :: Redirect working");
    },
    getSelectedStream(e) {
      let queryObject = {},
        self = this;

      if (window.location.search.slice(1)) {
        window.location.search
          .slice(1)
          .split("&")
          .forEach((e) => (queryObject[e.split("=")[0]] = e.split("=")[1]));

        let requestBody = {
          rfi_id: queryObject.id,
          cp_employee_beneficiary_terms_and_conditions: "Y",
          origin_uri: window.location.protocol + "//" + window.location.host,
          sourceid: util.getUberCategory().source_id,
          test: util.getTestEnv ? 1 : 0,
        };
        requestBody.enterpriseclientid = cidA;
        requestBody.clientid = cidE;

        this.$http({
          method: "patch",
          url: util
            .getLeadAPIUrl()
            .replace("rfiJourney", queryObject.benefit.toLowerCase()),
          data: require("qs").stringify(requestBody),
          headers: {
            Accept: "application/javascript",
            "Content-Type": "application/x-www-form-urlencoded",
          },
        })
          .then(function (response) {
            if (
              response.data.cp_employee_relationship &&
              queryObject.benefit.toLowerCase() === "asuo"
            ) {
              self.message =
                "You are now being redirected to an interactive guide that will help you explore your tuition coverage and apply to ASU.";
              self.flags.showmodal = false;
              window.location.href = util.getDXLink(response.data.rfi_id);
              return;
            } else {
              self.message =
                "You are now being redirected to the Course Enrollment Portal where you will choose your courses and complete your enrollment.";
              self.DXlink = util
                .getCPEPortalLink()
                .replace("%rfi_id%", queryObject.id);
              self.flags.showmodal = true;
              self.sendMailer(queryObject.id, response.data);
              setTimeout(() => {
                return (window.location.href = self.DXlink);
              }, 2000);
            }
            console.log("REESPONSE====++++ " + response);
          })
          .catch(function (response) {
            console.log("REESPONSE====++++ " + response);
          });
      }
    },
    sendMailer(responseId, response) {
      let requestBody = {
        RFIClient:
          window.location.host.indexOf("eats") >= 0 ? "UberEats" : "UberPro",
        bennyFirstName: response.first_name,
        emailAddress: response.email_address,
        driverFname: response.cp_employee_first_name,
        rfiJourney: "cpe_false",
        baseURL: util.getEPP(),
        test: util.getTestEnv ? 1 : 0,
        RFIid: responseId,
      };
      this.$http({
        method: "post",
        url: util.getAPIUrl() + "/mail",
        data: require("qs").stringify(requestBody),
        headers: {
          Authorization: "12345678",
          "Content-Type": "application/x-www-form-urlencoded",
        },
      })
        .then()
        .catch((response) => {
          console.log("REESPONSEee====++++ " + response);
        });
    },
  },
  created() {
    if (this.$store.state.isUberEats) {
      this.$i18n.locale = "uberEats";
    } else {
      this.$i18n.locale = "uberPro";
    }
    this.pageContent = this.$i18n.messages[this.$i18n.locale].terms.content;
  },
};
</script>