<style scoped>
body {
  max-width: 100% !important;
  overflow-x: hidden;
}
.uber-rfiForm
  .select2-selection--multiple
  .select2-selection__rendered
  li.select2-search--inline
  input::placeholder {
  font-size: 16px;
  font-family: roboto !important;
  font-weight: 200;
}
.select2-selection--multiple
  .select2-selection__rendered
  li.select2-search--inline
  input {
  font-size: 16px;
  font-weight: 200;
  font-family: roboto !important;
  margin-top: 0 !important;
}
.bg-display {
  background-repeat: no-repeat;
  background-image: url("../assets/images/uberrfi.jpg");
  width: 100% !important;
  background-size: cover;
  border-left: 11px solid #ffc627;
  background-position: center;
}
.rfi-register {
  margin: auto;
  display: table;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered {
  padding-right: 10px !important;
}
body.uber-rfiForm {
  background-color: black;
  font-family: "Roboto";
  margin-top: -6.8rem;
  margin-bottom: 2rem;
}
body.uber-rfiForm label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold !important;
  font-size: 14px;
  color: #707070;
}
@media (max-width: 768px) {
  .uber-rfiForm .container {
    width: 750px;
    max-width: 100%;
  }
}
.uber-rfiForm
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__clear {
  display: none;
}
.uber-rfiForm .select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  min-height: 44px;
  cursor: text;
}
.uber-rfiForm .form-control {
  height: 44px;
  border-radius: 0 !important;
}
.uber-rfiForm
  .select2-selection--multiple
  .select2-selection__rendered
  li.select2-search--inline
  input {
  margin-top: 5px;
}
.bg-white {
  background-color: white;
}

.card-body {
  position: absolute;
  margin-left: -15px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  color: white;
}
.rfi-register .btn-warning {
  font-weight: 700;
}
.uberRFI .form-control {
  border-radius: 0 !important;
}
.register-course {
  font-size: 32px;
}
.bg-display .course-desc {
  font-size: 18px;
  font-weight: 600;
}
.select2-selection--multiple:after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  color: #7b7b7b;
  padding: 12px 8px;
  position: absolute;
  right: 10px;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
  font-weight: bold;
}
.ipad-phone {
  color: #ffc627 !important;
  text-decoration: underline !important;
}
select {
  -webkit-appearance: none;
}
.select2-container {
  min-width: 100% !important;
  max-width: 100% !important;
}
@media only screen and (max-width: 991px) {
  .bg-display {
    height: 500px;
  }
  .course_info {
    font-size: 16px;
  }
  .register-course {
    font-size: 32px;
  }
  .mobile-reg-display {
    padding-left: 2em !important;
  }
  .background-white {
    background-color: white;
  }
  .mobile-bg-display {
    background-color: black;
    color: white;
    padding-top: 4em;
  }
  .card-body {
    display: none;
  }
  .mobile-reg-display {
    display: block;
    background-color: white;
    position: absolute;
    bottom: -52px;
    z-index: 9999999999;
    padding: 1em 2em 1em 1em;
    width: 80%;
    margin: 0 auto;
    right: 0;
    left: 0;
  }
  .rfi-register {
    margin-bottom: -2em;
  }
  .uber_logo .uberlogo-img {
    width: 58%;
  }
  .uberlogo-img {
    width: 65%;
    display: block;
    margin: auto;
    padding-bottom: 2em;
  }
}
@media only screen and (min-width: 991px) {
  #uber_logo .uberlogo-img {
    display: none;
  }
  .mobile-bg-display {
    display: none;
  }
  .mobile-reg-display {
    display: none;
  }
  .uberlogo-img {
    width: 82%;
    display: block;
    margin: auto;
    padding-bottom: 2em;
  }
}
@media only screen and (max-width: 991px) {
  .font-gold {
    color: #ffc627;
    text-decoration: underline;
    border-bottom: none;
  }
  .font-gold:hover,
  .font-gold:focus,
  .font-gold:active {
    color: #fac944;
    text-decoration: underline;
    border-bottom: none;
  }
  #phone-display {
    display: none;
  }
}
@media only screen and (min-width: 991px) {
  .ipad-phone {
    display: none !important;
  }
}
</style>

<template>
  <div class="container background-white" style="padding: 4em 15px">
    <div id="uber_logo" class="margin-1">
      <img
        alt="uber asuo logo"
        title
        src="../assets/images/uber_and_asu_logo.svg"
        class="uberlogo-img"
      />
    </div>
    <div class="row">
      <div class="col-lg-6 bg-display">
        <div class="mobile-reg-display">
          <h4 class="course-title">
            <strong class="register-course"
              >Register for your next course</strong
            >
          </h4>
        </div>
        <div class="card-body py-4 px-5">
          <div class="course_info">
            <h4 class="course-title">
              <strong class="register-course"
                >Register for your next course</strong
              >
            </h4>
            <p class="course-desc">
              Congrats on completing your most recent course! Fill out your
              information to register for your next course in Entrepreneurship
              or English.
            </p>
            <div>
              <p>
                <strong>Questions?</strong> Call
                <a
                  data-region="uber-landing-page"
                  href="#"
                  class="ipad-phone text-tel"
                  id="text-tel"
                  >844-369-6587</a
                >
                <span id="phone-display">844-369-6587</span> to speak with
                enrollment coach.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="mobile-bg-display px-4">
        <div class="course_info py-5">
          <p class="course-desc">
            Congrats on completing your most recent course! Fill out your
            information to register for your next course in Entrepreneurship or
            English.
          </p>
          <div>
            <p>
              <strong>Questions?</strong> Call
              <a
                data-region="uber-landing-page"
                class="font-gold"
                href="tel:8443696587"
                >844-369-6587</a
              >
              to speak with an enrollment coach.
            </p>
          </div>
        </div>
      </div>

      <div id="asu_rfi_form_1" class="col-lg-6 bg-white py-4">
        <div class="container">
          <div class="offset-lg-1 col-lg-10 offset-lg-1 col-sm-12 px-4">
            <form class="uber-rfiForm" @submit.prevent="handleSubmit">
              <div id="corp_logo" class="margin-1" style="float: none">
                <img
                  alt="uber asuo logo"
                  title
                  src="../assets/images/uber_and_asu_logo.svg"
                  class="uberlogo-img"
                />
              </div>
              <div class="row">
                <div class="col-sm-12 form-group">
                  <label>First Name*</label>
                  <input
                    class="form-control"
                    id="fname"
                    v-model="profileData.first_name"
                    v-validate="'required'"
                    data-parsley-pattern="[^!@#$%^&amp;*()]+$"
                    maxlength="30"
                    name="first_name"
                  />
                  <div
                    style="
                      color: red;
                      text-align: left;
                      font-weight: bold;
                      font-size: 12px;
                    "
                    v-if="submitted && errors.has('first_name')"
                    class="invalid-feedback"
                  >
                    {{ errors.first("first_name") }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group">
                  <label>Last Name*</label>
                  <input
                    class="form-control"
                    id="lname"
                    v-model="profileData.last_name"
                    v-validate="'required'"
                    data-parsley-pattern="[^!@#$%^&amp;*()]+$"
                    maxlength="30"
                    name="last_name"
                  />
                  <div
                    style="
                      color: red;
                      text-align: left;
                      font-weight: bold;
                      font-size: 12px;
                    "
                    v-if="submitted && errors.has('last_name')"
                    class="invalid-feedback"
                  >
                    {{ errors.first("last_name") }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 form-group">
                  <label for="Email">Email*</label>
                  <input
                    type="text"
                    class="form-control"
                    maxlength="128"
                    id="mail"
                    v-model="profileData.email"
                    v-validate="'required|email'"
                    name="Email"
                  />
                  <div
                    style="
                      color: red;
                      text-align: left;
                      font-weight: bold;
                      font-size: 12px;
                    "
                    v-if="submitted && errors.has('Email')"
                    class="invalid-feedback"
                  >
                    {{ errors.first("Email") }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group">
                  <label for="phone_number">Phone*</label>
                  <input
                    class="form-control"
                    id="phone"
                    v-model="profileData.phone_number"
                    v-validate="'required|digits:10'"
                    data-parsley-tel
                    maxlength="30"
                    name="phone_number"
                    placeholder
                    type="tel"
                  />
                  <div
                    style="
                      color: red;
                      text-align: left;
                      font-weight: bold;
                      font-size: 12px;
                    "
                    v-if="submitted && errors.has('phone_number')"
                    class="invalid-feedback"
                  >
                    {{ errors.first("phone_number") }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 form-group" style="margin-bottom: -2em">
                  <label for="course_list_cpe">Choose course*</label>

                  <div class="select mb-5">
                    <select
                      v-validate.immediate="'required'"
                      name="course_list_cpe"
                      id="course_list_cpe"
                      class="form-control"
                      style="height: 56px"
                      multiple="multiple"
                    >
                      <option value="select your courses" disabled>
                        Select your courses
                      </option>
                      <optgroup
                        v-for="(item, index) in $store.state.courses
                          .CPE_Courses"
                        :key="index"
                        v-bind:label="item.shortName"
                      >
                        <option
                          v-for="(inneritem, index) in item.courses"
                          :key="index"
                          v-bind:value="inneritem.id"
                        >
                          {{ inneritem.title }}
                        </option>
                      </optgroup>
                    </select>
                    <div
                      style="
                        color: red;
                        text-align: left;
                        font-weight: bold;
                        font-size: 12px;
                      "
                      v-if="
                        submitted &&
                        errors.has('course_list_cpe') &&
                        !flags.selectedCourses
                      "
                      class="invalid-feedback"
                    >
                      {{ errors.first("course_list_cpe") }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="rfi-register py-4">
                <button
                  id="register-cpe"
                  type="submit"
                  class="btn btn-gold px-4"
                >
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="asu_rfi_form">
      <!-- The Modal -->
      <div class="modal-dialog modal-lg" v-if="flags.rfiFormSuccess">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <div class="test"></div>

            <h4 class="modal-title text-center" id="rfiFormModalTitle">
              {{ rfiSubmissionMsg.rfiSubmitTitle }}
            </h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body bg-gray">
            <div class="col-md-11 mx-auto">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 rfiForm">
                    <div class="margin-centered">
                      <img
                        alt="uber asuo logo"
                        title
                        src="../assets/images/uber_and_asu_logo.png"
                        class="spaceball_img"
                      />
                      <div
                        style="display: flex"
                        v-show="rfiSubmissionMsg.isredirectDX"
                      >
                        <img
                          style="margin: 0 auto"
                          alt="loading"
                          title
                          src="../assets/images/loading.gif"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h1 class="center-align" style="text-align: center">
                    <span v-html="rfiSubmissionMsg.rfiSubmitMessage"></span>
                  </h1>
                </div>

                <p style="text-align: center">
                  <span v-html="rfiSubmissionMsg.rfiFooterMessage"></span>
                </p>
                <div class="row">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import util from "../util";

export default {
  name: "CPESignup",
  data() {
    return {
      profileData: {},
      flags: {
        selectedCourses: false,
        rfiForm: true,
        rfiFormSuccess: false,
      },
      submitted: false,
      rfiSubmissionMsg: {
        driver_course: {
          rfiSubmitTitle: "Thank you",
          rfiSubmitMessage:
            "Thank you for choosing Entrepreneurship or English courses online.",
          rfiFooterMessage:
            "Keep an eye on your inbox for a course invitation to access your courses.",
        },
      },
    };
  },
  created() {
    $("body").addClass("uber-rfiForm");
  },
  beforeUpdate() {
    var self = this,
      array;
    $(document).ready(function () {
      $("#course_list_cpe").change(function () {
        //  V-validate doesn't work well with select2. Even after a value is selected the error message doesn't disappear
        array = $("#course_list_cpe").select2("val"); //  This is a JQuery function to explicitly
        self.flags.selectedCourses = !!array; //  remove the error message upon selection of an option
      });
    });
  },
  beforeMount() {
    const dict = {
      custom: {
        first_name: {
          required: "Please fill in your first name",
        },
        last_name: {
          required: "Please fill in your last name",
        },
        Email: {
          required: "Please fill in your email address",
        },
        Email: {
          email: "Please fill in a valid email address",
        },
        phone_number: {
          required: "Please fill in your phone number",
          digits: "Please enter valid phone number",
        },
        course_list_cpe: {
          required: () => "Please select a course to continue",
        },
      },
    };
    this.$validator.localize("en", dict);
  },
  mounted() {
    $("select").select2({
      placeholder: "Select your courses",
      allowClear: true,
    });
  },
  methods: {
    handleSubmit(e) {
      this.submitted = true;
      this.$validator.validate().then((valid) => {
        if (valid) this.rfi_form_submit();
      });
    },
    getCourseIds(array) {
      if (!array) return "";

      return array.sort((a, b) => parseInt(a) - parseInt(b)).join("|");
    },
    rfi_form_submit() {
      let self = this;

      let requestBody = {
        test: util.getTestEnv(),
        Timestamp: new Date().toISOString(),
        first_name: this.profileData.first_name,
        last_name: this.profileData.last_name,
        email_address: this.profileData.email,
        phone: this.profileData.phone_number,
        dob: "",
        sub_class: "",
        lead_class: "CORP",
        "cp_employee_ relationship": "",
        sourceid: "uber_authenticated_lp-Bsaef0JxosOKGFzW",
        origin_uri: window.location.href,
        "Enrollment Status": "",
        cp_employee_id: "",
        cp_benefits_eligible: "",
        cp_benefits_eligible_end_date: "",
        cp_employee_first_name: "",
        cp_employee_last_name: "",
        cp_employee_dob: "",
        cp_employee_email_address: "",
        cp_employee_phone: "",
        utm_medium: "",
        utm_campaign: "",
        utm_source: "",
        utm_term: "",
        utm_content: "",
        "AWS GUID": "",
        cp_employee_terms_and_conditions: "",
        cp_employee__beneficiary_terms_and_conditions: "",
        Notes: "",
      };

      requestBody.course_id = this.getCourseIds(
        $("#course_list_cpe").select2("val")
      );

      requestBody.enterpriseclientid = cidA;
      requestBody.clientid = cidE;

      window.location.search
        .slice(1)
        .split("&")
        .forEach((e) => {
          if (e.split("=")[0] !== "params" && e.split("=")[0] !== "state")
            requestBody[e.split("=")[0]] = e.split("=")[1];
        });

      this.$http({
        method: "post",
        url:
          "https://script.google.com/macros/s/AKfycbxfIC5iViczU2xqxHw9CUqbP06ocDmJgky-aozltIk4p3wT9Og/exec",
        data: require("qs").stringify(requestBody),
        headers: {
          Accept: "application/javascript",
          // "x-partner-token": this.$store.state.token.refresh_token,
          "Content-Type": "application/x-www-form-urlencoded",
        },
      })
        .then(function (response) {
          dataLayer.push({
            event: "RFI Submit CPE Driver",
            asuoid: response.data.id,
          });

          $("#register-cpe").attr("disabled", "disabled");
          $("#asu_rfi_form").modal("show");

          self.rfiFormSubmissionMessage();
          self.flags.rfiFormSuccess = true;
          self.flags.rfiForm = false;
          self.profileData.first_name = "";
          self.profileData.last_name = "";
          self.profileData.email = "";
          self.profileData.phone_number = "";
          $("select").val(null).trigger("change");
        })
        .catch(function (response) {
          console.log("REESPONSE====++++ " + response);
        });
    },
    rfiFormSubmissionMessage: function () {
      let msgLink = this.rfiSubmissionMsg.driver_course;

      if (msgLink) {
        this.rfiSubmissionMsg.rfiSubmitTitle = msgLink.rfiSubmitTitle;
        this.rfiSubmissionMsg.rfiSubmitMessage = msgLink.rfiSubmitMessage;
        this.rfiSubmissionMsg.isredirectDX = msgLink.isredirectDX;
      }
    },
  },
};
</script>