<template>
  <div class="eligibility-page" v-if="authCode">

    <header>
      <div class="container navbar navbar-expand-md">
        <div class="margin-1" id="corp_logo">
          <img alt="" title="" src="../assets/images/uber_and_asu_logo.svg" class="ae-img">
        </div>

        <button id="menu-btn" class="new collapsed" data-toggle="collapse" data-target="#navbar-ws">
          <span class="icons"></span>
          <span class="icons"></span>
          <span class="icons"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-ws">
          <ul class="nav-items nav navbar-nav navbar-right">
            <span>
              <li class="nav-item" id="logout_item">
                <a class="nav-link" href="#" v-on:click="takeHimOut">LOG OUT</a>
              </li>
            </span>
          </ul>
        </div>
      </div>
    </header>
    <div id="all-set">
      <div class="container">
        <div class="display-2">Verify your eligibility for tuition coverage</div>
      </div>
    </div>
    <div class="container">
      <div class="information col-12">
        <div id="info-allign" v-if="rewards === 'V'">
          <p id="set-page">
            Arizona State University is required to reverify your eligibility 
            for the ASU and Uber Education Partnership annually. Whether you're an 
            Uber driver partner who is using the tuition reward, 
            or you passed the tuition reward to a family member, you must reverify 
            eligibility to continue to receive the tuition coverage.
          </p>
          <p>
            Once you reauthenticate your driver account, we can update the eligibility status 
            for you or a family member and prevent the loss of your tuition scholarship or any unnecessary billing.
          </p>
          <p class="text-center">
            <a id="verify-button" class="btn btn-gold" 
            style="font-size:18px;"
            v-on:click="verify(), gtmPush()"
            >Verify eligibility</a>
            </p>
        </div>
        <div id="info-allign" v-else-if="rewards === 'E'">
          <p id="set-page">
            Thank you for verifying your driver account. 
            You or your family member are still eligible for tuition 
            coverage through the ASU and Uber Education Partnership. 
            No further action is required.
          </p>
        </div>
        <div id="info-allign" v-else-if="rewards === 'I'">
          <p id="set-page">
            Thank you for verifying your driver account. 
            Unfortunately, you or your family member are no longer 
            eligible for tuition coverage through the ASU and Uber 
            Education Partnership.
          </p>
          <p>
            Please contact Uber support through the driver app if you believe 
            this is an error. If you or your family member are currently enrolled 
            in courses and plan to continue without Uber tuition coverage, contact 
            your success coach and the ASU financial aid team at <a href="tel:855-278-5080">855-278-5080</a> to 
            identify the best path forward.
          </p>
        </div>
        <div id="info-allign" v-else-if="rewards === 'RFI'">
          <p id="set-page">
            Thank you for verifying your driver account. 
            You or your family member are eligible for 100% tuition coverage 
            through the ASU and Uber Education Partnership.
          </p>
          <p>
            The partnership enables drivers and delivery partners, 
            or qualifying family members, the opportunity to explore 
            their ambitions with access to 80+ online undergraduate degrees 
            and certificates in entrepreneurship or English language learning.
          </p>
          <p>
            Please visit <a href="https://uber.asu.edu">uber.asu.edu</a> or 
            <a href="https://ubereats.asu.edu">ubereats.asu.edu</a> to 
            learn more about the education reward.
          </p>        
        </div>
        <div id="info-allign" v-else-if="rewards === 'GError'">
          <p id="set-page">
            There was an error verifying your eligibility. Please try again.
          </p>
          <p class="text-center">
            <a id="verify-button" class="btn btn-gold" 
            style="font-size:18px;"
            v-on:click="verify(), gtmPush()"
            >Verify eligibility</a>
          </p>    
        </div>
        <div id="info-allign" v-else-if="rewards === 'Error'">
          <p id="set-page">
            There was an error with your Uber authentication.
          </p>  
        </div>
        <div id="info-allign" v-else-if="rewards === 'Loading'">
          <p id="set-page">
            <vue-typed-js data-message="Loading" :strings="['Loading...']">
              <span class="typing"></span>
            </vue-typed-js>
          </p>     
        </div>
        <div id="info-allign" v-else>
          <p id="set-page">
            <vue-typed-js data-message="Checking tuition eligibility" :strings="['Checking tuition eligibility...']">
              <span class="typing"></span>
            </vue-typed-js>
          </p>     
        </div>
        <p id="pleaseNote-info"></p>
      </div>
    </div>
    <!--Footer -->
    <footer>
      <div id="innovation-footer">
        <div id="innovation-bar">
          <div class="innovation-top">
            <div class="innovation-status">
              <a href="https://www.asu.edu/rankings" target="_blank" data-aesra-score="linkNewWindowWarning:1;"><span>ASU
                  is #1 in the U.S. for Innovation</span><span style="display: none;" class="ae-compliance-indent ae-new-window">
                  Opens a New Window. </span></a>
            </div>
            <div class="innovation-hidden">
              <a href="https://www.asu.edu/rankings" target="_blank" data-aesra-score="linkNewWindowWarning:1;"><img src="../assets/images/2019_badge.png" alt="Best Colleges U.S. News Most Innovative 2018"
                  class="ae-img"><span style="display: none;" class="ae-compliance-indent ae-new-window">
                  Opens a New Window. </span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="little-foot hidden-print" role="contentinfo">
        <div class="region region-asu-footer">
          <ul>
            <li><a href="http://www.asu.edu/privacy/">Privacy Policy</a></li>
            <li><a href="http://www.asu.edu/copyright/">Copyright &amp; Trademark</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
    </div>
</template>

<style scoped>

#verify-button {
cursor: pointer;
}

</style>

<script>

/*

1. Auth user
2. Check benefit
      - Show if ineligible
      - Then check CP tables if user exists
        - If user exists Create CP SNS object
        - Update SFMC
3. If eligible Check CP table
      - If user exists show eligible
        - Create CP SNS object
        - Update SFMC
      - If user does not exist show need RFI
        - Update SFMC

*/

  import util from "../util";
  export default {
    name: "Eligibility",
    created() {
      $('body').addClass('eligibility-page');
    },
    data: () => {
        return {
            baseUrl: "",
            oauth2Url: "/oauth/v2/token",
            profileUrl: "/v1/partners/me",
            eligibilityUrl: "/v1/partners/me/rewards/eligibility",
            authCode: "",
            profileData: {},
            verifyUrl: util.getVerifyUrl(),
            rfiUrl: util.checkRFIUrl(),
            rewards: "V"
        };
    },
    methods: {
      takeHimOut: function() {
        sessionStorage.removeItem("appState"); // removing authorization code stored in session storage when the user clicks on log out
        window.open('https://partners.uber.com/logout', '_self');

        // return this.$router.push({ path: '/' })
      },
      getAuthCode: function (callback) {
        let authorizationCode = "";
        if (window.location.search) {
          window.location.search
            .slice(1)
            .split("&")
            .forEach(element => {
              if (!authorizationCode) {
                if (element.split("=")[0] === "code") {
                  authorizationCode = element.split("=")[1];
                  sessionStorage.setItem("appState", authorizationCode);   // storing authorization code so that we know if the user is logged in or not
                }
              }
            });
        }
        callback(authorizationCode);
      },
      gtmPush: function(){
        dataLayer.push({
        event: "link",
        name: "click",
        type: "internal link",
        region: "main content",
        section: "verify uber rewards eligibility",
        text: "verify eligibility"
      });
      },
      verify: async function () {

        try {
          this.rewards = '';
          let self = this;
          let token = this.$store.state.token.access_token;
          let driverId = this.$store.state.driverid;
          let eligibilityCheck = this.checkEligibility(token);
          let rfiCheck = this.checkRfi(driverId, token, this.$store.state.token.refresh_token);

          let eligible = false;

          try {
            eligible = await eligibilityCheck;
          }
          catch (error){
            this.rewards = 'GError';
          }

          let rfi = await rfiCheck;

          this.eligibility(eligible.eligible, rfi.Message);
          
        } catch (error) {
          this.rewards = 'Error';
        }
      },
      eligibility: function (eligible, rfi) {
          if(eligible && rfi) {
            this.rewards = 'E'
          }
          else if(eligible && !rfi) {
            this.rewards = 'RFI'
          }
          else {
            this.rewards = 'I'
          }
      },
      checkEligibility: async function (accessToken) {
        try {
            let response = await this.$http({
                method: "get",
                url: this.baseUrl + this.eligibilityUrl,
                headers: {
                  Authorization: accessToken
                }
              })
            return response.data;
        }
        catch(error) {
            return error
        }  
      },
      checkRfi: async function (driverId, accessToken, refreshToken) {
          try {
            let response = await this.$http.post(
              this.rfiUrl, 
              {
                DriverId: driverId,
                AccessToken: accessToken,
                RefreshToken: refreshToken
              });
            return response.data;
          }
          catch(error) {
            return error;
          }
      },
    },
    created() {
      this.rewards = 'Loading';
    },
    mounted() {
      let self = this;
      this.baseUrl = util.getVerifyOAuthAPIUrl();

      this.getAuthCode(code => {
        if (!code) return (window.location.href = util.getVerifyUrl());

        this.$http({
          method: "get",
          url: this.baseUrl + this.oauth2Url,
          headers: {
            Authorization: code
          }
        }).then(response => {
          this.$store.state.token = response.data;
          this.$http({
            method: "get",
            url: this.baseUrl + this.profileUrl,
            headers: {
              Authorization: response.data.access_token
            }
          }).then(response => {
            this.authCode = code;

            this.profileData = response.data;
            this.$store.state.driverid = response.data.driver_id;

            this.rewards = 'V';

          }).catch(err => {
            self.$store.state.notUberDriver = true;

            this.rewards = 'Error';
          });
        }).catch(err => {
          this.rewards = 'Error';
        });
      });
      this.$router.replace({ query: removeAuthCode() });

      function removeAuthCode() {
        let reframeSearch = {};
        window.location.search.slice(1).split("&").forEach(element => {
          if (element && element.split("=")[0] !== "code" && element.split("=")[0] !== "status") {
            reframeSearch[element.split("=")[0]] = element.split("=")[1];
          }
        })
        if (Object.keys(reframeSearch).length > 0) {
          return reframeSearch;
        } else {
          reframeSearch.params = null;

          return reframeSearch;
        };
      }
    }
  };
</script>