<style>
.sb_hero.sb_hero_driver .hero.hero-bg-img {
  object-fit: cover;
}

.sb_aboutasu {
  background-image: url("../assets/images/about_asu.png");
}

@media (max-width: 767px) {
  .uber-pro #homehero .container {
    bottom: 13rem !important;
  }
}
</style>

<template>
  <div id="app" class="driver">
    <section class="test">
      <nav-component
        @open-modal="checkEligibility"
        :titles="navItems"
        v-if="this.$store.state.desktop"
        page="driver"
      >
      </nav-component>
      <floating-nav-bar
        @open-modal="checkEligibility"
        :MobileTitle="navMobile"
        :mobileSectionStatus="section"
        page="driver"
        v-else
      ></floating-nav-bar>
      <homehero :hero="hero_value"></homehero>
      <homediscover :homeDiscover="discoverPage"></homediscover>
      <section
        v-scroll-spy="{ data: 'section', offset: 70 }"
        v-if="this.$store.state.desktop"
      >
        <homeeligible :AreYouEligible="homeAreYouEligible"></homeeligible>
        <homeopportunity :opportunities="opportunities"></homeopportunity>
        <homehowitworks :homeHowItWorks="Homehowitworks"></homehowitworks>
        <div>
          <doughnut-desktop
            :labels="doughnut.labels"
            :range="doughnut.range"
            :more="doughnut.more"
            :values="doughnut.values"
            :summary="doughnut.summary"
            v-if="$store.state.desktop && !$store.state.tab"
          >
          </doughnut-desktop>
          <home-financialaid :financialAid="financialAid"></home-financialaid>
        </div>
        <video-sec :VidData="viddata" />
        <!-- take your seat -->
        <f-a-q></f-a-q>
      </section>
      <section v-scroll-spy="{ data: 'section', offset: 80 }" v-else>
        <homeeligible :AreYouEligible="homeAreYouEligible"></homeeligible>
        <homeopportunity :opportunities="opportunities"></homeopportunity>
        <homehowitworks :homeHowItWorks="Homehowitworks"></homehowitworks>
        <div class="">
          <MobileDoughnut
            :labels="doughnut.labels"
            :range="doughnut.range"
            :more="doughnut.more"
            :summary="doughnut.summary"
            :values="doughnut.values"
            v-if="$store.state.tab || $store.state.mobile"
            :chart="doughnut.chart"
          ></MobileDoughnut>
          <home-financialaid :financialAid="financialAid"></home-financialaid>
        </div>
        <!-- <video-sec :VidData="viddata" /> -->
        <f-a-q></f-a-q>
        <div></div>
      </section>
      <need-help
        v-if="$store.state.tab || $store.state.mobile"
        class="mb-4"
      ></need-help>
      <footer-componet></footer-componet>
    </section>
  </div>
</template>

<script>
import util from "../util";
import MobileDoughnut from "../components/homeDoughnut";
import VideoSec from "../components/videoSec";
import { ModalMixins } from "../mixins/ModalMixins.js";
import NeedHelp from "../components/needHelpComponent.vue";
import "@/assets/scss/main.scss";
import doughnutMobile from "../components/doughNutComponentMobile.vue";
import doughnutDesktop from "../components/doughNutComponentDesktop.vue";
import FloatingNavBar from "../components/FloatingNavBarComponent.vue";
import NavComponent from "../components/navBarComponent.vue";
import Homehero from "../components/homehero.vue";
import Homediscover from "../components/homediscover.vue";
import Homehowitworks from "../components/homehowitworks.vue";
import Homeeligible from "../components/homeeligible.vue";
import Homeopportunity from "../components/homeopportunity.vue";
import HomeFinancialaid from "../components/homefinancialaid.vue";
import LoadDoughnut from "../components/loadDoughnut.vue";
import FooterComponet from "../components/footerComponent.vue";
import FAQ from "../components/FAQ.vue";
export default {
  name: "driver",
  mixins: [ModalMixins],
  data() {
    return {
      viddata: {
        heading:
          "Take your seat.<br>The road is <span class='underline'>yours.</span>",
        img: "darryn.png",
        video: "jQKZhvuVxPo",
        Name: "Darryn, driver, Phoenix",
        driverName: "darryn",
        Testimonial:
          "When I found out I could give a college education to my wife, I couldn’t believe it.",
        about:
          "Shannon never had the chance to finish college. When her husband Darryn, a driver, qualified for tuition coverage, he immediately transferred it to her. Now, Shannon has graduated from ASU through the program.",
      },
      baseUrl: "",
      mixins: [ModalMixins],
      oauth2Url: "/oauth/v2/token",
      profileUrl: "/v1/partners/me",
      authCode: "",
      hero_value: {},
      navItems: [],
      navMobile: [],
      pageContent: {},
      discoverPage: {},
      Homehowitworks: {},
      AreYouEligible: {},
      doughnut: {},
      homeAreYouEligible: {},
      financialAid: {},
      faq: "",
      opportunities: {},
      section: 0,
      mobStatus: 0,
    };
  },
   mounted() {
    document.querySelectorAll(".triggerclass").forEach(el =>
      el.addEventListener("click", event => {
        console.log(event)
        dataLayer.push({
          event: "link",
          action: "type",
          name: "onenter",
          type: "search faqs",
          region: "main content",
          section: "frequently asked questions",
          text: event.target.text,
        });
     

       
      })
    );
  },
  components: {
    NavComponent,
    NeedHelp,
    Homehero,
    FloatingNavBar,
    Homediscover,
    Homehowitworks,
    Homeeligible,
    Homeopportunity,
    HomeFinancialaid,
    FAQ,
    VideoSec,
    MobileDoughnut,
    doughnutDesktop,
    FooterComponet,
    doughnutMobile,
  },
  created() {
    this.$store.state.isAuth = false;
    if (this.$store.state.isUberEats) {
      this.$i18n.locale = "uberEats";
    } else {
      this.$i18n.locale = "uberPro";
    }
    this.pageContent = this.$i18n.messages[this.$i18n.locale].family.content;
    this.hero_value = this.pageContent.hero_value;
    (this.navItems = this.pageContent.navItems),
      (this.navMobile = this.pageContent.navMobile),
      (this.discoverPage = this.pageContent.discover),
      (this.Homehowitworks = this.pageContent.howItWorks),
      (this.AreYouEligible = this.pageContent.areYouEligible),
      (this.opportunities = this.pageContent.opportunities),
      (this.doughnut = this.pageContent.doughnut);
    this.financialAid = this.pageContent.financialAid;
    this.homeAreYouEligible = this.pageContent.areYouEligible;
    let self = this;
    this.baseUrl = util.getAPIUrl();
  },
  beforeMount() {
    if (
      sessionStorage.getItem("profileData") === null &&
      sessionStorage.getItem("appState") === null &&
      sessionStorage.getItem("token") === null
    ) {
      this.$store.state.family_isAuth = false;
    }
  },
};
</script>
