<template>
  <div id="app">
    <section>
      <nav-component :titles="navItems" v-if="this.$store.state.desktop"></nav-component>
      <floating-nav-bar :MobileTitle="navMobile" :mobileSectionStatus="section" v-else></floating-nav-bar>
      <homehero :hero="hero_value"></homehero>
      <homediscover></homediscover>
      <section v-scroll-spy="{data: 'section', offset: 80}">
        <homehowitworks></homehowitworks>
        <homeeligible></homeeligible>
        <div>
          <homeopportunity></homeopportunity>
          <home-financialaid></home-financialaid>
        </div>
        <f-a-q></f-a-q>
      </section>
      <footer-componet></footer-componet>
    </section>
  </div>
</template>

<script>
import "@/assets/scss/main.scss";
import doughnutMobile from "../components/doughNutComponentMobile.vue";
import doughnutDesktop from "../components/doughNutComponentDesktop.vue";
import FloatingNavBar from "../components/FloatingNavBarComponent.vue";
import NavComponent from "../components/navBarComponent.vue";
import Homehero from "../components/homehero.vue";
import Homediscover from "../components/homediscover.vue";
import Homehowitworks from "../components/homehowitworks.vue";
import Homeeligible from "../components/homeeligible.vue";
import Homeopportunity from "../components/homeopportunity.vue";
import HomeFinancialaid from "../components/homefinancialaid.vue";
import LoadDoughnut from "../components/loadDoughnut.vue";
import FooterComponet from "../components/footerComponent.vue";
import FAQ from "../components/FAQ.vue";
export default {
  name: "home",
  data() {
    return {
      hero_value: {
        bgImage: "HomePageHeroImage.jpg",
        heading: "Get more from<br> the road ahead",
        subheading: "Your tuition, covered"
      },
      navItems: [
        "How it works",
        "Eligibility",
        "Opportunities",
        "FAQ",
        "Tuition",
      ],
      navMobile: [
        "How it works",
        "Eligibility",
        "Opportunities",
        "Tuition",
        "FAQ",
      ],
      section: 0,
      mobStatus: 0,
      doughnut: {
        labels: ["Grants & Scholarships", "Uber Coverage", "Books & Supplies"],
        range: ["#5C00F0", "#FACC2A", "#33343A"],
        more: [
          "gift aid that does not require repayment",
          "covers whats left of your tuition",
          "not covered approx. $650 per semester"
        ],
        summary: [
          "Any grants and scholarships you receive by applying for financial aid are applied.",
          "Uber covers the rest of your tuition after financial aid, no matter the cost. You receive 100% tuition coverage.",
          "What’s left that is not covered is approximately $650 for books and supplies, which financial aid may also cover."
        ],
        values: [4, 12, 1]
      }
    };
  },
  components: {
    NavComponent,
    Homehero,
    FloatingNavBar,
    Homediscover,
    Homehowitworks,
    Homeeligible,
    Homeopportunity,
    HomeFinancialaid,
    FAQ,
    doughnutDesktop,
    FooterComponet
  }
};
</script>