<template>
  <div class="privacy-page">
    <header>

      <div class="container navbar navbar-expand-lg">
        <div class="margin-1" id="corp_logo">
          <img alt="uber asuo logo" title="" src="../assets/images/uber_and_asu_logo.svg" class="ae-img">
        </div>
      </div>
    </header>
    <div id="bg-black">
      <div class="container">
        <div class="display-2">ASU Online Web Analytics Privacy Statement</div>
      </div>
    </div>
      <div class="container">
        <div class="information col-md-9 col-sm-12">
          <div id="info-allign">
            <p id="privacy-data">This website collects anonymous visitor data using Google Analytics which uses 1st
              party and 3rd party cookies to measure website and compaign effectiveness. Google advertising features we
              use may include: </p>
            <ul>
              <li>Remarketing with Google Analytics</li>
              <li>Google Display Network Impression Reporting</li>
              <li>Doubleclick Platform integrations</li>
              <li>Google Analytics Demographics and Interest Reporting</li>
            </ul>
          </div>
        
          <div id="alignmnetOne">
            <p>To learn about Google's policy for securing Google Analytics user data <a data-region="uber-landing-page" href="https://support.google.com/analytics/answer/6004245?hl=en" target="_blank">please visit the
                following</a> Google Analytics knowledge article.</p>
          </div>
          
          <div id="alignmentTwo">
            <p>You may opt out of Google Analytics tracking anytime <a data-region="uber-landing-page" href="https://tools.google.com/dlpage/gaoptout/" target="_blank">by installing this browser extension.</a></p>
          </div>
         
          <div id="alignmentThree">
            <p>Please visit Arizona State University's <a data-region="uber-landing-page" href="https://www.asu.edu/privacy/" target="_blank">privacy page </a>for additional information.</p>
          </div>
          <div id="req-more">
            <div class="display-6">Privacy Policy - Request More Information</div>
            <div class="info-display">
              <p>By providing my information and clicking the Request Information button, I consent to be contacted via
                telephone (including a cell phone, if provided), email, text message and/or pre-recorded message by ASU
                Online and its marketing affiliates. By providing your phone number, you consent and agree to
                receive ads or telemarketing messages via autodialed calls or robocalls/robotexts. However, you are not
                required to consent as a condition of purchasing any goods or services.</p>
            </div>
            <br>
            <div id="req-info">
              <p>Submissions during regular business hours(9.00 a.m - 5.00 p.m, MST) will be followed immediately by an
                email and phone calls from an ASU Enrollment coach.</p>
            </div>
          </div>
        </div>
      
</div>
      <!--Footer -->
      <footer>
        <div id="innovation-footer">
          <div id="innovation-bar">
            <div class="innovation-top">
              <div class="innovation-status">
                <a data-region="uber-landing-page" href="https://www.asu.edu/rankings" target="_blank" data-aesra-score="linkNewWindowWarning:1;"><span>ASU
                    is No.1 in the U.S. for innovation</span><span style="display: none;" class="ae-compliance-indent ae-new-window">
                    Opens a New Window. </span></a>
              </div>
              <div class="innovation-hidden">
                <a data-region="uber-landing-page" href="https://www.asu.edu/rankings" target="_blank" data-aesra-score="linkNewWindowWarning:1;"><img
                    src="../assets/images/2020_badge.png" alt="Best Colleges U.S. News Most Innovative 2018" class="ae-img"><span
                    style="display: none;" class="ae-compliance-indent ae-new-window">
                    Opens a New Window. </span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="little-foot hidden-print" role="contentinfo">
          <div class="region region-asu-footer">
            <ul>
              <li><a data-region="uber-landing-page" href="http://www.asu.edu/privacy/">Privacy Policy</a></li>
              <li><a data-region="uber-landing-page" href="http://www.asu.edu/copyright/">Copyright &amp; Trademark</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <!-- Footer End -->
    </div>
  
</template>

<script>
  export default {
    name: "Privacypage"
  };
</script>