<style>
.sb_hero .hero.hero-bg-img {
  object-fit: cover;
}
</style>
<template>
  <div class="public">
    <PublicHeader :navItems="navItems" />
    <hero :compData="heroContent"> </hero>
    <SectionSecondaryText :SecondaryText="SecondaryText" />
    <component :is="comp" />
    <sectionDegrees :degreeInfo="degreeInfo" />
    <sectionCataloge :compData="catalogue" />
    <div class="container">
      <p class="small pb-30 mt-lg-90 mb-lg-56" v-html="disclaimer"></p>
    </div>
    <PublicFooter />
  </div>
</template>

<script>
import Hero from "../components/home/HeroVideo";
import SectionSecondaryText from "../components/home/SectionSecondaryText";
import sectionAtlasApoloDriver from "../components/home/sectionAtlasApoloDriver";
import sectionAtlasApoloEats from "../components/home/sectionAtlasApoloEats";
import sectionDegrees from "../components/home/sectionDegrees";
import sectionCataloge from "../components/home/sectionCataloge";
import PublicHeader from "../components/home/publicHeader";
import PublicFooter from "../components/home/publicFooter";
import util from "../util";
export default {
  name: "public",
  data() {
    return {
      homeHowItWorks: {},
      comp: "",
      authorizeUrl: util.getAuthorizeUrl(),
      flags: {
        showErrorModal: false,
        loggedin: false,
      },

      heroContent: {},
      navItems: {},
      SecondaryText: "",
      UberEats: false,
      UberPro: true,
      degreeInfo: {},
      catalogue: {},
    };
  },
  components: {
    Hero,
    SectionSecondaryText,
    PublicHeader,
    sectionAtlasApoloDriver,
    sectionAtlasApoloEats,
    PublicFooter,
    sectionDegrees,
    sectionCataloge,
  },

  methods: {
    attachComponents() {
      if (this.$store.state.isUberEats) {
        this.comp = sectionAtlasApoloEats;
      } else {
        this.comp = sectionAtlasApoloDriver;
      }
    },
  },
  mounted() {
    if (this.$store.state.notUberDriver == true) {
      $("#errormodal").modal("toggle");
      this.$store.state.notUberDriver = false;
    }
    this.attachComponents();
  },
  created() {
    if (sessionStorage.getItem("appState")) {
      this.flags.loggedin = true;
    }
    if (this.$store.state.isUberEats) {
      this.$i18n.locale = "uberEats";
      this.UberEats = true;
      this.UberPro = false;
    } else {
      this.$i18n.locale = "uberPro";
      this.UberEats = false;
      this.UberPro = true;
    }
    this.pageContent = this.$i18n.messages[
      this.$i18n.locale
    ].publicPage.content;
    this.heroContent = this.pageContent.hero;
    this.SecondaryText = this.pageContent.secondaryHeading;
    this.navItems = this.pageContent.navItems;
    this.degreeInfo = this.pageContent.degreeInfo;
    this.catalogue = this.pageContent.catalogue;
    this.disclaimer = this.pageContent.disclaimer;
  },
};
</script>