<template>
  <div class="thankyou-page">

    <header>
      <div class="container navbar navbar-expand-lg">
        <div class="margin-1" id="corp_logo">
          <img alt="uber asuo logo" title="" src="../assets/images/uber_and_asu_logo.svg" class="ae-img">
        </div>
      </div>
    </header>

    <div id="all-set">
      <div class="container">
        <div class="display-2">You're all set!</div>
      </div>
    </div>
    <div class="container">
      <div class="information col-lg-8 col-12">
        <div id="info-allign">
          <p id="set-page">We're beginning the process of enrolling you in your course(s). Be on the lookout for an email to finish setting up your Canvas
            account.</p>
        </div>
        <!-- <p id="pleaseNote-info">*Please note, if you selected entrepreneurship you will receive an email on Dec.1, 2018 with access to your course.</p> -->
        <p id="pleaseNote-info"></p>

      </div>
    </div>
    <!--Footer -->
    <footer id="thankyou-footer">
      <div id="innovation-footer">
        <div id="innovation-bar">
          <div class="innovation-top">
            <div class="innovation-status">
              <a data-region="uber-landing-page" href="https://www.asu.edu/rankings" id="external-link" target="_blank" data-aesra-score="linkNewWindowWarning:1;"><span>ASU
                  is No.1 in the U.S. for innovation</span><span style="display: none;" class="ae-compliance-indent ae-new-window">
                  Opens a New Window. </span></a>
            </div>
            <div class="innovation-hidden">
              <a data-region="uber-landing-page" href="https://www.asu.edu/rankings" id="external-link" target="_blank" data-aesra-score="linkNewWindowWarning:1;"><img src="../assets/images/2020_badge.png" alt="Best Colleges U.S. News Most Innovative 2018"
                  class="ae-img"><span style="display: none;" class="ae-compliance-indent ae-new-window">
                  Opens a New Window. </span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="little-foot hidden-print" role="contentinfo">
        <div class="region region-asu-footer">
          <ul>
            <li><a data-region="uber-landing-page" href="http://www.asu.edu/privacy/" id="external-link">Privacy Policy</a></li>
            <li><a data-region="uber-landing-page" href="http://www.asu.edu/copyright/" id="external-link">Copyright &amp; Trademark</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
  </div>
</template>

<script>
  export default {
    name: "Thankyou",
    created() {
      $('body').addClass('thankyou-page');
    }
  }
</script>