<template>
  <div class="verify-page">
    <header>
      <div class="container navbar navbar-expand-lg">
        <div class="margin-1" id="corp_logo">
          <img alt="uber asuo logo" title="" src="../assets/images/uber_and_asu_logo.svg" class="ae-img">
        </div>
      </div>
    </header>

    <div id="all-set">
      <div class="container">
        <div class="display-2">Steps to verify eligibility</div>
      </div>
    </div>
    <div class="container">
      <div class="information col-12">
        <div id="info-allign">
          <p class="verify-steps">        
            <ol>
              <li class="verify-step font-weight-bold">Sign in with Uber.</li>
              <li class="verify-step font-weight-bold">Click on "Verify eligibility."</li>
              <li class="verify-step font-weight-bold">We'll confirm your status to receive tuition coverage.</li>
            </ol>
          </p>
          <p>
            <router-link to="/eligibility"
            v-on:click.native="gtmPush" 
            class="btn btn-gold log-in" 
            >Sign in with Uber
            </router-link>
          </p>       
        </div>
        <!-- <p id="pleaseNote-info">*Please note, if you selected entrepreneurship you will receive an email on Dec.1, 2018 with access to your course.</p> -->
        <p id="pleaseNote-info"></p>

      </div>
    </div>
    <!--Footer -->
    <footer>
      <div id="innovation-footer">
        <div id="innovation-bar">
          <div class="innovation-top">
            <div class="innovation-status">
              <a data-region="uber-landing-page" href="https://www.asu.edu/rankings" id="external-link" target="_blank" data-aesra-score="linkNewWindowWarning:1;"><span>ASU
                  is No.1 in the U.S. for innovation</span><span style="display: none;" class="ae-compliance-indent ae-new-window">
                  Opens a New Window. </span></a>
            </div>
            <div class="innovation-hidden">
              <a data-region="uber-landing-page" href="https://www.asu.edu/rankings" id="external-link" target="_blank" data-aesra-score="linkNewWindowWarning:1;"><img src=" https://www.asu.edu/asuthemes/4.8/assets/ASU-number-1-innovation-best-colleges.png" alt="Best Colleges U.S. News Most Innovative 2020"
                  class="ae-img"><span style="display: none;" class="ae-compliance-indent ae-new-window">
                  Opens a New Window. </span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="little-foot hidden-print" role="contentinfo">
        <div class="region region-asu-footer">
          <ul>
            <li><a data-region="uber-landing-page" href="http://www.asu.edu/privacy/" id="external-link">Privacy Policy</a></li>
            <li><a data-region="uber-landing-page" href="http://www.asu.edu/copyright/" id="external-link">Copyright &amp; Trademark</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
  </div>
</template>

<style scoped>
.verify-steps {
  padding: 40px 0px 20px 0px;
  font-size: 24px;
}
.verify-step {
  padding: 5px 0px 0px 0px;
}
</style>

<script>
  export default {
    name: "Verify",
    created() {
      $('body').addClass('verify-page');
    },
    methods: {
      gtmPush: function(){
        dataLayer.push({
        event: "link",
        name: "click",
        type: "internal link",
        region: "main content",
        section: "steps to verify eligibility",
        text: "sign in with uber"
      });
    }
  }
  }
</script>