.font-white {
  color: white;
}

.font-black {
  color: black;
}
.bg-grey {
  background-color: #e5e5e5;
}

.text-black {
  color: #000 !important;
}

$green: #06c167;
$font-color: #000000;
$gray-color: #f5f5f5;
