html,body{
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
.space-bot-md{
    padding-bottom: 20px;
}
.container {
    position: relative;
}
.extra_space{
    padding: 5em 0;
    @media (max-width: 1199px) {
        padding: 4em 0 !important;
    }
    @media (max-width: 767px) {
        padding: 3em 0 !important;
    }
    @media (max-width: 554px) {
        padding: 0em 0;
    }
}
.ais-ClearRefinements-button.ais-ClearRefinements-button--disabled{
    display: none;
}
.algolia-menu .ais-RefinementList-list {
    height: 200px;
    overflow-y: scroll;
}
.bg-bgray{
    background-color: #2e2e2e;
}