$spaceamounts: (16, 18, 32, 24, 20, 54, 56, 48, 64, 30, 90, 96, 126, 128);
$sides: (t, b, l, r);

@each $breakpoint in map-keys($grid-breakpoints) {
  @each $size in $spaceamounts {
    @each $side in $sides {
      @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        @if $side == "t" {
          .m#{$side}#{$infix}-#{$size} {
            margin-top: #{$size}px !important;
          }
          .p#{$side}#{$infix}-#{$size} {
            padding-top: #{$size}px !important;
          }
        } @else if $side == "b" {
          .m#{$side}#{$infix}-#{$size} {
            margin-bottom: #{$size}px !important;
          }
          .p#{$side}#{$infix}-#{$size} {
            padding-bottom: #{$size}px !important;
          }
        } @else if $side == "r" {
          .m#{$side}#{$infix}-#{$size} {
            margin-right: #{$size}px !important;
          }
          .p#{$side}#{$infix}-#{$size} {
            padding-right: #{$size}px !important;
          }
        } @else if $side == "l" {
          .m#{$side}#{$infix}-#{$size} {
            margin-left: #{$size}px !important;
          }
          .p#{$side}#{$infix}-#{$size} {
            padding-left: #{$size}px !important;
          }
        }
      }
    }
  }
}
