.uber-Eats {
  #home-howitworks {
    background-color: white !important;
  }
  .rightforyou-div {
    ul {
      li:before {
        color: $green !important;
      }
    }
  }
  #home-financialaid > div > div {
    background-clip: #f5f5f5 !important;
  }
  #home-opportunity {
    img {
      height: 102px;
      margin-right: -8px;
    }
    .desktop_hide {
      div {
        background-color: white !important;
        .text-white {
          color: $black !important;
        }
        li {
          &::before {
            color: $green !important;
          }
        }
        ol {
          border-color: $green;
        }
      }
    }
  }
  .btn-yellow {
    background-color: $green !important;
    border-color: $green !important;
    color: $white;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $green !important;
  }

  #rightforyou {
    background-color: #f5f5f5 !important;
  }
  @media (max-width: 991px) {
    #rightforyou .not-for-you h2 {
      padding-top: 1rem;
      color: $green !important;
    }
  }
  #home-financialaid {
    .text-white {
      color: $black !important;
    }
    .mobile_financialaid {
      background-color: #f5f5f5 !important;
    }
  }
  .connecting-line {
    background-color: $green !important;
  }
  #rightforyou
    > div
    > div
    > div.col-lg-5.text-black.offset-lg-1.not-for-you
    > div
    > p {
    color: $black;
  }
  #rightforyou .list-content ol {
    border-color: $green;
  }
  .border-secondary {
    border-color: $green;
  }
  #home-howitworks {
    .text-white {
      color: $black !important;
    }
  }
  #home-eligible {
    .text-white {
      color: $black !important;
    }
  }
  .text-gold {
    color: $green !important;
  }
  .opp_content_right span,
  .opp_content_left span {
    border-color: $green !important;
  }
  .btn-gold,
  .btn-secondary {
    background-color: $green !important;
    color: $white !important;
    transition: 0.3s;
    border-color: $green;
    &:hover {
      background-color: darken($green, 5%) !important;
    }
  }
  .background-border-header,
  .connecting-line {
    border-color: $green !important;
  }
  .underline-titles {
    border-color: #06c167;
  }
  .underline-header,
  .border-secondary {
    border-color: #06c167 !important;
  }
  .underline-normal {
    border-color: #06c167;
  }
  .underline-light {
    border-color: #06c167 !important;
  }
  .underline {
    background-image: linear-gradient(
      transparent calc(95% - 10px),
      #06c167 10px
    ) !important;
  }
  .contentDESC .text-white {
    color: $black !important;
  }
  #rightforyou .list-content ol li:before {
    color: $green;
  }
  #rightforyou .text-white {
    color: $black !important;
  }
  #home-eligible .bg-black-gray {
    background-color: $gray-color;
  }
  .display-1.h1_text.text-white {
    color: $white !important;
  }
  #rightforyou .not-for-you {
    border-color: $green;
  }
  #home-financialaid .faid-content {
    border-color: $green;
  }
  #vido-sec .faid-content,
  .active-driver {
    border-color: $green;
  }
  .btn-view-city,
  .btn-border-gold {
    background: $white !important;
    border-color: $green !important;
    color: $black !important;
  }
  .btn-view-city {
    &:hover {
      color: $white;
    }
  }
  #rightforyou .left-content hr {
    border-color: black;
  }
  .custom-bullet {
    li {
      font-weight: 300 !important;
      &:before {
        border-color: $green !important;
        color: $black !important;
        background-color: white !important;
      }
      &:after {
        border-color: $green !important;
      }
    }
  }
  .timeline-num::before {
    border-color: $green !important;
  }
  .timeline-connect::after {
    border-color: $green !important;
  }
  .card-container {
    border-bottom: 8px solid $green !important;
  }
  .font-24.underline {
    background-image: linear-gradient(
      transparent calc(95% - 6px),
      $green 10px
    ) !important;
  }
}
