.heading-1 {
  font-size: $display1-size;
}
.heading-2 {
  font-size: 46px;
}
.heading-3 {
  font-size: $display3-size;
}
.heading-4 {
  font-size: $display4-size;
}
.font-weight-normal {
  font-weight: 200;
}

.font-weight-bold {
  font-weight: 700;
}
.font-weight-mild {
  font-weight: 500;
}
.heading-5 {
  font-size: $display5-size;
}
.heading-6 {
  font-size: $display6-size;
}
.heading-7 {
  font-size: $display7-size;
}
.heading-8 {
  font-size: 1.4rem;
}
.para-lead {
  font-size: 18px;
}
.display-1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1em;
}
.border-dotted {
  border-bottom: 1px dotted;
}
.font-18 {
  font-size: 18px;
}
.font-link {
  font-size: 14px;
}
.font48 {
  font-size: 48px !important;
}
.font-24 {
  font-size: 24px !important;
}
.font-36 {
  font-size: 36px !important;
}
.font-32 {
  font-size: 32px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-weight-bold {
  font-weight: bold !important;
}
@media (max-width: 991px) {
  .font-36 {
    font-size: 24px !important;
  }
}
@media (max-width: 768px) {
  .font-18 {
    font-size: 16px;
  }
  p {
    font-size: 16px !important;
  }
  .font48 {
    font-size: 32px !important;
  }
  .font-20 {
    font-size: 18px !important;
  }
}
.font-small {
  font-size: 14px;
}
.small {
  font-size: 12px !important;
}
.text-heading {
  font-size: 30px;
}
.border-heading {
  border-bottom: 5px solid $secondary;
  margin-top: -2px;
}
.underline-titles {
}
.underline-header {
  border-bottom: 7px solid #ffc627;
  display: inline-block;
  line-height: 0.5;
}
.underline-normal {
  border-bottom: 9px solid #ffc627;
  display: inline-block;
  line-height: 0.5;
  @include media-breakpoint-down(sm) {
    border-bottom: 9px solid #ffc627;
  }
}
.miniParagraph {
  font-size: 16px;
}
.font-weight-bolder {
  font-weight: 900 !important;
}
.terms-sec {
  padding: 0em 3rem 3rem;
  @media only screen and (max-width: 575px) {
    padding: 0em 1rem 3rem;
  }
}
.CPE {
  .terms-sec {
    padding: 6em 3rem 3rem;
    @media only screen and (max-width: 575px) {
      padding: 2em 1rem 3rem;
    }
  }
}
.innovation-status {
  padding-top: 10px;
  @media only screen and (max-width: 992px) {
    padding-top: 15px !important;
  }
  @media only screen and (max-width: 428px) {
    padding-top: 5px !important;
  }
}
.footer-component {
  #innovation-footer {
    #innovation-bar img {
      @media only screen and (max-width: 991px) {
        margin-top: -58px;
      }
    }
    @media only screen and (max-width: 768px) {
      #innovation-bar img {
        margin-top: -70px;
      }
    }
    .innovation-status {
      padding-top: 0px;
      margin-top: 10px;
      @media only screen and (max-width: 992px) {
        margin-top: 0px;
        margin-bottom: 1em;
        span {
          display: flex;
          float: right;
        }
      }
      @media only screen and (max-width: 929px) {
        margin-top: 0px;
        margin-bottom: 1em;
      }
      @media only screen and (max-width: 428px) {
        margin-top: 0px;
        margin-bottom: 1em;
      }
    }
  }
}

.display4-size {
  .underline {
    @extend .underline-titles;
  }
}

.font48 {
  .underline {
    width: calc(100%);
    background-image: linear-gradient(
      transparent calc(95% - 10px),
      #ffc627 10px
    );
    background-repeat: no-repeat;
    background-size: 100% 89%;
    display: inline;
  }
}
.underline {
  background-image: linear-gradient(transparent calc(95% - 10px), #ffc627 10px);
  background-repeat: no-repeat;
  background-size: 100% 89%;
  display: inline;
  @include media-breakpoint-down(md) {
    background-image: linear-gradient(
      transparent calc(90% - 5px),
      #ffc627 10px
    );
  }
}
#home_discover {
  @include media-breakpoint-between(md, xl) {
    .display4-size {
      font-size: 35px;
    }
  }
}

$font-sizes: (14, 16, 18, 24, 32, 36, 48, 56);

@each $breakpoint in map-keys($grid-breakpoints) {
  @each $size in $font-sizes {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      .text#{$infix}-#{$size} {
        font-size: #{$size}px !important;
      }
    }
  }
}

.font-24.underline {
  background-image: linear-gradient(
    transparent calc(95% - 6px),
    #ffc627 10px
  ) !important;
}
