<template>
  <section class="container-xl">
    <img
      :src="`${require('../../assets/images/home-public/' +
        compData.media['bgImage-mobile'])}`"
      alt=""
      @click="displayModal"
               v-dataLayerButtonTag tagEvent="modal" tagAction="open" tagType="click" tagSection="uber and asu" tagRegion="main content" tagText="play button"

      class="d-lg-none img-fluid mb-16 w-100 mt-4"
    />
    <div
      class="video-hero d-lg-flex after-shadow align-items-center justify-content-center"
      @click="displayModal"
               v-dataLayerButtonTag tagEvent="modal" tagAction="open" tagType="click" tagSection="uber and asu" tagRegion="main content" tagText="play button"

      :class="compData.media.className"
      :style="`background-image: url(${require('../../assets/images/home-public/' +
        compData.media.bgImage)})`"
    >
      <div
        class="position-absolute d-none d-lg-block"
        style="z-index: 10"
        v-if="compData.media.className === 'UberPro'"
      >
        <img src="@/assets/images/home-public/play-button.svg" alt="" />
      </div>
      <div
        class="hero-content position-lg-absolute container-xl px-0 pl-lg-48 pb-lg-48 pb-"
        :class="compData.media.className"
        style="bottom: 0"
      >
        <h1 class="text-lg-56 text-36 font-weight-bolder mb-0">
          {{ compData.heading }}
        </h1>
        <p class="text-lg-36 text-24 m-0">{{ compData.subHeading }}</p>
      </div>
    </div>
    <modal name="how-to-video" width="80%" height="50%" @opened="opened">
      <div class="iframe-yt-parent">
        <iframe
          class="modal-yt-iframe"
          width="100%"
          src="https://www.youtube.com/embed/qxgTwhq6ugU?enablejsapi=1"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        />
        <div
          class="embed-yt-close"

          @click="$modal.hide('how-to-video'), hideModal()"
        
        >
            <span   v-dataLayerButtonTag tagEvent="modal" tagAction="close" tagType="click" tagSection="take your seat. the road is yours | uber + asu online | uber" tagRegion="main content" tagText="close button"
 >
          ❌
        </span>
        </div>
      </div>
    </modal>
  </section>
</template>

<script>
import { dataLayerAnchorTag, dataLayerButtonTag, dataLayerSelectTag, dataLayerInputTag} from 'data-layer-test-oo-gtm';

export default {
  props: {
    compData: Object,
  },
  directives:{
    dataLayerAnchorTag,
   dataLayerButtonTag,
    dataLayerButtonTag,
    dataLayerSelectTag
  },
  methods: {
    displayModal() {
      if (this.compData.media.video) {
        this.$modal.show("how-to-video");
        // dataLayer.push({
        //   event: "modal",
        //   name: "onclick",
        //   action: "open",
        //   type: "click",
        //   region: "main content",
        //   section: "take your seat",
        //   text:
        //     window.location.pathname.indexOf("family") > 0
        //       ? "family"
        //       : "driver",
        // });
      }
    },
    opened(event) {
      setTimeout(function () {
        document.querySelector(".embed-yt-close").style.opacity = 1;
      }, 1000);
    },
  },
};
</script>

<style lang="scss" scoped>
.video-hero {
  height: 557px;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  background-position: top;
  @media only screen and (max-width: 992px) {
    height: auto;
    background-image: none !important;
  }
}
.button-bg{
  background: none;
}
.hero-content {
  position: relative;
  z-index: 1;
}
.UberEats {
  @media only screen and (min-width: 992px) {
    h1 {
      color: white !important;
    }
  }
  p {
    color: #06c167 !important;
  }
}
.UberPro {
  @media only screen and (min-width: 992px) {
    h1,
    p {
      color: white !important;
    }
  }
}
.after-shadow {
  @media only screen and (min-width: 769px) {
    position: relative;
    &:after {
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 0;
      left: 0;
      position: absolute;
      background: linear-gradient(180deg, transparent 0, transparent 60%, #000);
    }
  }
}
.position-lg-absolute {
  @media only screen and (min-width: 992px) {
    position: absolute;
  }
}
</style>