<template>
  <header>
    <div class="container navbar navbar-expand-lg">
      <div class="margin-1" id="corp_logo">
        <a
          data-region="uber-landing-page"
          href="/"
          v-if="$store.state.isUberEats"
        >
          <img
            alt="ubereats asuo logo"
            title
            src="../../assets/images/ubereats_asu_logo.svg"
            class="ae-img m-sm-0"
        /></a>
        <a data-region="uber-landing-page" href="/" v-else>
          <img
            alt="uber asuo logo"
            title
            src="../../assets/images/uber_and_asu_logo.svg"
            class="ae-img m-sm-0"
        /></a>
      </div>

      <button
        id="menu-btn"
        class="new collapsed"
        data-toggle="collapse"
        data-target="#navbar-ws" 
    v-dataLayerButtonTag tagEvent="collapse" tagSection="main navbar" tagText="menu button mobile" tagRegion="navbar" tagAction="open" tagType="click"

      >
        <span class="icons"></span>
        <span class="icons"></span>
        <span class="icons"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-ws">
        <ul class="nav-items nav navbar-nav navbar-right">
          <span v-for="(navitem, i) in navItems" :key="i">
            <li class="nav-item">
              <a
                data-region="uber-landing-page"
                class="nav-link"
                :href="navitem.link"
                v-dataLayerAnchorTag tagSection="main navbar" tagRegion="navbar" 

                >{{ navitem.name }}</a
              >
            </li>
          </span>
          <span v-if="flags.loggedin">
            <li class="nav-item" id="logout_item">
              <a
                data-region="uber-landing-page"
                class="nav-link"
                href="#"
                v-on:click="takeHimOut"
                v-dataLayerAnchorTag tagSection="main navbar" tagRegion="navbar" 

                >LOG OUT</a
              >
            </li>
          </span>
        </ul>
      </div>
    </div>
  </header>
</template>
<script>
import { dataLayerAnchorTag, dataLayerButtonTag, dataLayerSelectTag, dataLayerInputTag} from 'data-layer-test-oo-gtm';

import util from "../../util";
export default {
  data: () => {
    return {
      authorizeUrl: util.getAuthorizeUrl(),
      flags: {
        showErrorModal: false,
        loggedin: false,
      },
    };
  },
  directives:{
    dataLayerAnchorTag,
   dataLayerButtonTag,
    dataLayerButtonTag,
    dataLayerSelectTag
  },
  props: {
    navItems: Array,
  },
  created() {
    if (sessionStorage.getItem("appState")) {
      this.flags.loggedin = true;
    }
  },
  methods: {
    takeHimOut() {
      sessionStorage.removeItem("appState"); // removing authorization code stored in session storage when the user clicks on log out
      window.open("https://partners.uber.com/logout", "_self");
      sessionStorage.removeItem("profileData");
      sessionStorage.removeItem("token");
    },
  },
};
</script>
