<template>
    <footer>
      <div id="innovation-footer">
        <div id="innovation-bar">
          <div class="innovation-top">
            <div class="innovation-status">
              <a data-region='uber-landing-page'
                href="https://www.asu.edu/rankings"
                id="external-link"
                target="_blank"
                data-aesra-score="linkNewWindowWarning:1;"
              >
                <span>
                  ASU
                  is No.1 in the U.S. for innovation
                </span>
                <span
                  style="display: none;"
                  class="ae-compliance-indent ae-new-window"
                >Opens a New Window.</span>
              </a>
            </div>
            <div class="innovation-hidden">
              <a data-region='uber-landing-page'
                href="https://www.asu.edu/rankings"
                id="external-link"
                target="_blank"
                data-aesra-score="linkNewWindowWarning:1;"
              >
                <img
                  src=" https://www.asu.edu/asuthemes/4.8/assets/ASU-number-1-innovation-best-colleges.png "
                  alt="Best Colleges U.S. News Most Innovative 2021"
                  class="ae-img"
                >
                <span
                  style="display: none;"
                  class="ae-compliance-indent ae-new-window"
                >Opens a New Window.</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="little-foot hidden-print" role="contentinfo">
        <!--<div class="container">
                    <div class="row">
        <div class="col-md-12">-->
        <div class="region region-asu-footer">
          <ul>
            <li>
             <span class="font-weight-bold">Copyright 2019 ASU Online</span>
            </li>
            <!-- <li><strong>Copyright 2018 ASU Online</li> -->
            <li>
              <a data-region="uber-landing-page" href="http://www.asu.edu/privacy/" id="external-link">Privacy Policy</a>
            </li>
            <li>
              <a data-region="uber-landing-page" href="http://www.asu.edu/copyright/" id="external-link">Copyright &amp; Trademark</a>
            </li>
          </ul>
        </div>
        <!--</div>
                    </div>
        </div>-->
      </div>
    </footer>
</template>
