<template>
  <div class="container">
    <div class="row">
      <div
        class="mx-auto text-center pb-lg-30 pt-64"
        :class="[$store.state.isUberEats ? 'col-lg-6' : 'col-lg-10']"
      >
        <h2 class="text-lg-36 text-24 font-weight-bold">
          {{ compData.heading }}
        </h2>
      </div>
    </div>
    <div class="degrees_public mb-0">
      <p class="rfiparagraphs"       
>
        {{ compData.asuo }}
      </p>
      <Degreesmodal         v-dataLayerAnchorTag  tagEvent="modal" tagAction="open" tagType="click" :tagSection='compData.heading'
 />
      <p class="rfiparagraphs">
        {{ compData.cpe }}
      </p>
      <coursesmodal                       v-dataLayerAnchorTag  tagEvent="modal" tagAction="open" tagType="click" :tagSection="compData.heading"
 />
    </div>
  </div>
</template>

<script>
import { dataLayerAnchorTag, dataLayerButtonTag, dataLayerSelectTag, dataLayerInputTag} from 'data-layer-test-oo-gtm';

import Coursesmodal from "../../components/Coursesmodal.vue";
import Degreesmodal from "../../components/Degreesmodal.vue";
export default {
  directives:{
    dataLayerAnchorTag,
   dataLayerButtonTag,
    dataLayerButtonTag,
    dataLayerSelectTag
  },
  props: {
    compData: Object,
  },
  components: {
    Coursesmodal,
    Degreesmodal,
  },
};
</script>
