<template>
  <section class="hero sb_image_content py-5">
    <div class="container space-bot-md">
      <div class="row">
        <div class="col-lg-6 callout_image col-lg-push-6 space-bot-md">
          <img
            class="img-responsive twc"
            src="../../assets/images/togetherweconnect.jpg"
            alt="Student studying"
          />
        </div>
        <div class="col-lg-6 image_content_text col-lg-pull-6">
          <h2 class="display-3 h3_text">
            Together, we’re expanding access to flexible work and flexible
            education
          </h2>
          <p class="body_text">
            Technology has enabled Uber and ASU to connect millions of people to
            employment and education opportunities. Through our partnership,
            we’re increasing access to education by offering qualifying drivers
            or an eligible family member full tuition coverage at ASU. This
            education reward can be used to pursue an undergraduate degree
            online at ASU or take upskilling courses in entrepreneurship or
            English language learning. Together, Uber and ASU believe higher
            education should never be out of reach to those who are reaching.
          </p>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="container space-top-md">
      <div class="row">
        <div class="col-lg-6 space-bot-md callout_image">
          <img
            class="img-responsive innovators"
            src="../../assets/images/wereinnovators.jpg"
            alt="Student studying"
          />
        </div>
        <div class="col-lg-6 image_content_text">
          <h2 class="display-3 h3_text">
            Supporting the ambitions of drivers and their families
          </h2>
          <p class="body_text">
            Being able to work and learn flexibly is an essential part of
            unlocking economic opportunity. We’re opening the doors of
            opportunity for drivers to reach their goals by removing barriers to
            access a high-quality education that fits around their lives. We
            acknowledge it’s essential for family members to have the same
            chance to get ahead in life, which is why drivers can transfer their
            full tuition coverage to an eligible family member. Our partnership
            aims to expand access to lifelong learning while offering a path
            forward for personal and professional advancement.
          </p>
          <!-- <p>Learn more about the Uber and ASU partnership</p> -->
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
</template>
