<style>
@media (min-width: 991px) {
  #getting-started .bg-img1 {
    background-image: url("../../assets/images/preambleRHS.png");
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
  }
}
@media (min-width: 991px) {
  #getting-started .bg-img2 {
    background-position: left;
    background-image: url("../../assets/images/preambleLHS.png");
    background-size: contain;
    width: 90%;
    background-repeat: no-repeat;
  }
}
.border-state {
  border-left: 8px solid #06c167;
  padding-left: 15px;
}
</style>
<template>
  <section id="getting-started" class="addMoreMargin container-xl">
    <div class="pb-lg-56 pb-64">
      <div class="row bg-img1" style="background-position: right !important">
        <div
          class="mobile_image"
          style="margin-left: -15px; margin-right: -15px"
        >
          <img
            alt="getting started"
            src="../../assets/images/preambleRHS.png"
            style="height: 350px; width: 100%; object-fit: cover"
          />
        </div>
        <div class="col-lg-7 location_content text-black">
          <div class="getting_started_li mobile_li">
            <h2
              class="heading-text font-weight-bold mx-3"
              style="margin-bottom: 2rem"
            >
              The future is bright
            </h2>
            <div class="border-state">
              <h4 class="subheading-text font-20 font-weight-bolder">
                Opportunity for everyone
              </h4>
              <p>
                Uber Eats and ASU are giving delivery people and their families
                the opportunity to explore their ambitions and reach their
                goals. Qualifying delivery people or an eligible family member
                can receive full tuition coverage to online degree programs and
                courses at ASU, the nation’s most innovative university. This
                opportunity can be used to pursue an online undergraduate degree
                or to take online skills-building courses in English language
                learning or entrepreneurship.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-lg-56 pb-64">
      <div class="row bg-img2">
        <div class="mobile_image">
          <img
            alt="getting started"
            src="../../assets/images/preambleLHS.png"
            style="height: 350px; width: 100%; object-fit: cover"
          />
        </div>
        <div class="col-lg-7 offset-lg-6 location_content text-black">
          <div class="getting_started_li mobile_li">
            <div class="border-state px-3">
              <h4 class="subheading-text font-20 font-weight-bolder">
                Flexibility is essential to success
              </h4>
              <p class="pb-3">
                Being able to continue working while pursuing an ambition is
                essential for delivery people and the families they support.
                Now, delivery people don’t have to choose. They can work their
                way toward a degree or take courses to upskill themselves to
                meet today’s demands, all while working with Uber Eats. Delivery
                people can also choose to transfer their full tuition coverage
                to an eligible family member so they too can have the
                opportunity to reach their goals.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "gettingStarted",
};
</script>

<style scoped>
@media screen and (max-width: 900px) {
  .mobile_image {
    margin-left: -65px !important;
  }
}
</style>
