<template>
  <section
    class="sb_content container"
    :class="[$store.state.isUberEats ? 'uber-eats-secondary' : 'py-5']"
  >
    <h2 class="display-4 regular_text m-0 text-center">{{ SecondaryText }}</h2>
  </section>
</template>
<script>
export default {
  props: {
    SecondaryText: String,
  },
};
</script>

<style>
@media only screen and (max-width: 767px) {
  .uber-eats-secondary {
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 767px) {
  .uber-eats-secondary {
    margin-top: 5rem;
  }
  .sb_content p {
    max-width: 980px !important;
    margin: auto;
    text-align: center;
    font-size: 30px !important;
  }
}
.uber-eats-secondary {
}
</style>

