<template>
  <div class="bg-grey-style">
    <div class="col-lg-11 mx-auto pt-64 pb-64 mb-lg-64 bg-grey-style">
      <div
        class="row justify-content-center"
        :class="{ 'UberEats-fixes': $store.state.isUberEats }"
      >
        <div
          class="col-lg-5 card-deck mb-5 mb-lg-0"
          v-for="(degree, i) in degreeInfo"
          :key="i"      >
          <div class="card text-lg-center">
            <div class="card-header bg-white border-bottom-0 pt-0">
              <h2 class="font-weight-bold text-lg-36 text-24 m-0 pt-54">
                {{ degree.heading }}
              </h2>
            </div>
            <div
              class="card-body position-relative text-black mx-0 pt-0 pt-lg-30 pb-0 pb-lg-30 pl-lg-30 pr-30 bg-white border-bottom-0"
            >
              {{ degree.body }}
            </div>
            <div class="card-footer bg-white border-top-0 pt-lg-64 pb-30">
              <a
                :href="i == 0 ? authorizeUrl : '/family'"
                class="font-weight-bold text-24"
                v-dataLayerAnchorTag   :tagSection="degree.heading"
                >Learn more</a
              >
            </div>
            <div class="col-lg-1 d-none" v-if="i == 0">
              <div class="border-right h-100 w-50"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { dataLayerAnchorTag, dataLayerButtonTag, dataLayerSelectTag} from 'data-layer-test-oo-gtm';

import util from "../../util";
export default {
  directives:{
    dataLayerAnchorTag,
   dataLayerButtonTag,
   dataLayerSelectTag
  },
  props: {
    degreeInfo: Array,
  },
  data() {
    return {
      authorizeUrl: util.getAuthorizeUrl(),
    };
  },
};
</script>
<style>
@media (max-width: 991px) {
  .UberEats-fixes .sb_learn_more .p-8 {
    margin: 0 !important;
  }

  .UberEats-fixes .sb_learn_more .p-8:first-child {
    padding: 0 !important;
  }
  .UberEats-fixes .driver_background {
    padding: 0;
  }
  .UberEats-fixes {
    margin-top: 0 !important;
  }
}
@media (max-width: 768px) {
  .public .terms-sec {
    margin-top: 3rem;
  }
}
@media (min-width: 1200px) {
  .UberEats-fixes .sb_learn_more .p-8 {
    margin: 10em 0 4rem !important;
    margin-bottom: 15px !important;
  }
}

.bg-grey-style {
  background-color: #f1f1f1;
}
</style>
