<template>
  <div class="col-12 benefits">
    <div class="py-5">
      <div class="container">
        <h2 class="display4-size text-white">Benefits of ASU</h2>
      </div>
      <div class="slider" style="border-left: 5px solid #ffc627;">
        <div class="container">
          <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li id="course-owl-dot" data-target="#demo" data-slide-to="0" class="active "></li>
              <li id="course-owl-dot" data-target="#demo" data-slide-to="1"></li>
              <li id="course-owl-dot" data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="benefits-content">
                  <h3 class="font24 font-weight-bold">Flexible</h3>
                  <p class="small">
                    The flexibility of online learning allows students to
                    work
                    at their own pace.
                    <strong class="small">
                      There are 6 start dates a
                      year
                    </strong>
                  </p>
                </div>
                <div class="benefits-content">
                  <h3 class="font24 font-weight-bold">Flexible</h3>
                  <p class="small">
                    The flexibility of online learning allows students to
                    work
                    at their own pace.
                    <strong class="small">
                      There are 6 start dates a
                      year
                    </strong>
                  </p>
                </div>
                <div class="benefits-content">
                  <h3 class="font24 font-weight-bold">Flexible</h3>
                  <p class="small">
                    The flexibility of online learning allows students to
                    work
                    at their own pace.
                    <strong class="small">
                      There are 6 start dates a
                      year
                    </strong>
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="benefits-content">
                  <h3 class="font24 font-weight-bold">Flexible</h3>
                  <p class="small">
                    The flexibility of online learning allows students to
                    work
                    at their own pace.
                    <strong class="small">
                      There are 6 start dates a
                      year
                    </strong>
                  </p>
                </div>
                <div class="benefits-content">
                  <h3 class="font24 font-weight-bold">Flexible</h3>
                  <p class="small">
                    The flexibility of online learning allows students to
                    work
                    at their own pace.
                    <strong class="small">
                      There are 6 start dates a
                      year
                    </strong>
                  </p>
                </div>
                <div class="benefits-content">
                  <h3 class="font24 font-weight-bold">Flexible</h3>
                  <p class="small">
                    The flexibility of online learning allows students to
                    work
                    at their own pace.
                    <strong class="small">
                      There are 6 start dates a
                      year
                    </strong>
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../assets/images/GradImage.jpg" class="img-responsive testi-img" alt="gradimage">
                <div class="testi-content">
                  <i class="fa fa-3x fa-quote-left" aria-hidden="true"></i>
                  <p
                    class="font-weight-mild"
                  >It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  <i class="fa fa-3x fa-quote-right" aria-hidden="true"></i>
                  <p class="small font-weight-bold">-Bethany</p>
                  <p class="small font-weight-bold">UBER initiative participant</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "BenifitsOfASU"
};
</script>
