<template>
  <div class="d-table" id="view_courses_modal--component">
    <a
      data-region="uber-landing-page"
      class="link-color pl-0"
      href="#"
      v-b-modal.view-courses-modal
      data-toggle="modal"

      >View courses</a
    >

    <b-modal id="view-courses-modal" scrollable hide-footer>
      <template v-slot:modal-header="{ close }">
        <!-- Emulate built in modal header close button action -->
        <div class="container">
          <div class="col-lg-11 mx-auto">
            <h2 class="text-lg-36 font-weight-bolder mt-lg-56">
              Browse continuing education courses
            </h2>
          </div>
        </div>
        <a
          href="javascript:void(0)"
          class="close-apply text-dark font-36 ml-auto border-none"
          @click="close"  v-dataLayerAnchorTag
          tagEvent="modal"
          tagAction="close"
          tagType="click"
          tagSection="browse continuing education courses"
          tagText="close cross"
        >
          <img
            src="../assets/images/Icon-times-solid.svg"
            alt="Icon-times-solid"
            class="mr-3 mt-3 mt-lg-2"
          />
        </a>
      </template>

      <div class="container">
        <div class="col-lg-11 mx-auto">
          <!-- Accordian -->
          <div class="listing-all-degrees mt-lg-32" ref="lastelem">
            <template v-for="(r, i) in $store.state.courses.CPE_Courses">
              <BaseAccordianCourses :key="i" :item="r" :iterate="i"  v-dataLayerAnchorTag
                :tagText="r.category"
                tagEvent="collapse"
                tagAction="open"
                tagRegion="main content"
                tagSection="browse all asu online undergraduate degrees" />
            </template>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>
 
  <script>
  import { dataLayerAnchorTag, dataLayerButtonTag, dataLayerSelectTag, dataLayerInputTag} from 'data-layer-test-oo-gtm';

export default {
  directives:{
    dataLayerAnchorTag,
   dataLayerButtonTag,
    dataLayerButtonTag,
    dataLayerSelectTag
  },
  name: "CoursesModal",
};
</script>

<style lang="scss" scoped>
#interestAreaDrop {
  height: 50px;
  font-size: 17px !important;
  padding: 0 !important;
  font-weight: 400 !important;
  &:after {
    margin-left: 0 !important;
  }
}
.dropdown-menu.show {
  height: 40vh;
  overflow-y: scroll;
}
.active-index {
  background-color: #f3b300;
}
.modal-header {
  padding: 0 !important;
}
.dropdown-menu.show {
  height: 45vh;
  overflow-y: scroll;
}
.gradient-added {
  position: relative;
  &:after {
    content: "";
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 98%
    );
  }
}
</style>