<template>
  <div class="container mb-lg-128">
    <h2 class="font-weight-bolder underline text-lg-48 text-36">Course info</h2>
    <div class="row mt-lg-48 mt-32 justify-content-center">
      <div
        class="col-lg-3 card-deck mx-0 mb-24 mb-lg-0"
        v-for="(list, i) in courseLists"
        :key="i"
      >
        <div class="card mx-0 card-container mb-0">
          <div class="card-header bg-white border-0 pt-24 pb-0 mb-24">
            <h3 class="font-weight-bold text-24 m-0">
              {{ list.heading }}
            </h3>
          </div>
          <div
            class="card-body d-block pt-24 position-relative m-0 bg-white text-black"
          >
            <p class="text-14" v-html="list.text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "courseInfo",
  data() {
    return {
      courseLists: [
        {
          heading: "Starting an upskilling course",
          text:
            "You may start a course at any time. All courses are entirely online. Each entrepreneurship course takes approximately 8 hours to complete, and each English language learning course takes approximately 8 weeks to complete.",
        },
        {
          heading: "Study time",
          text:
            "You can anticipate spending 1.5 hours per module on coursework for each entrepreneurship course and 8 hours per week on coursework for each English language learning course. There are no required hours, so you can take courses and study when it fits into your schedule. We recommend blocking time in your schedule each week to complete your coursework.",
        },
        {
          heading: "Completing a course",
          text:
            "We recommend you take the courses in chronological order, as each course builds upon the next. Once you complete a course, simply move on to the next course.",
        },
        {
          heading: "Course drop policy",
          text:
            "If you wish to be dropped from a course, you must do so within seven days of enrollment. Please notify <a href='mailto:'cpe-help@asu.edu' class='font-weight-bold text-underline linktriggerforcpe'>cpe-help@asu.edu</a> if you would like to withdraw from a course.",
        },
      ],
    };
  },
   mounted() {
    document.querySelectorAll(".linktriggerforcpe").forEach((el) =>
      el.addEventListener("click", (event) => {
        console.log(event);
        dataLayer.push({
          event: "link",
          action: "click",
          name: "onclick",
          type: "internal link",
          region: "main content",
          section: "course drop policy",
          text: event.target.text.toLowerCase(),
          component:"course info"
        });
      })
    );
  },
};
</script>

<style lang="scss" scoped>
.card-container {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom: 8px solid #ffc627;
  .card-deck {
    @media only screen and (min-width: 991px) {
      margin-bottom: 24px;
    }
  }
}
</style>