<template>
  <section id="courses">
    <div v-if="!$store.state.showCourse">
      <div
        style="border-bottom: 10px solid black"
        :style="{
          'background-image': 'url(' + getImgUrl(program.bgImage) + ')',
        }"
        class="cpe-desktop-header bg-with-shadow"
      >
        <a
          data-region="uber-landing-page"
          @click="$store.state.showCoursesList = false"
          class="bg-black text-white px-3 py-2 back-button"
        >
          <i class="fas fa-arrow-left pr-2"></i> Back</a
        >
        <div
          class="courses-desc container"
          style="padding-top: 60px; margin-left: 1.8em"
        >
          <h2 class="heading-5 mb-0 pb-0 text-white">
            Online upskilling courses
          </h2>
          <h3 class="heading-3 text-white font-weight-bold">
            {{ program.shortName.split(" ")[0] }}
          </h3>
        </div>
      </div>
      <article class="my-3">
        <div class="row">
          <div
            v-for="courses in program.courses"
            class="col-lg-4 col-md-6 mb-4"
            @click="showSigleCourse(courses)"
            :key="courses.id"
          >
            <a data-region="uber-landing-page" class="card cpe-desktop-cards">
              <span class="d-none">{{ courses.title }}</span>
              <div class="program-container text-white">
                <div
                  class="card-image"
                  :style="{
                    'background-image':
                      'url(' + getImgUrl(courses.bgImage) + ')',
                  }"
                >
                  <span class="d-none">{{ courses.title }}</span>
                  <div class="card-date">
                    <span class="date font-weight-mild">{{
                      courses.start_date
                    }}</span>
                    <span class="nextdate">{{ courses.duration }}</span>
                    <span class="icon">
                      <img
                        :src="
                          require('../assets/images/degreeIcons/business.svg')
                        "
                        alt="business"
                        sizes
                        srcset
                        style="width: 20px; height: 20px"
                      />
                    </span>
                  </div>
                  <div class="card-title">
                    <p class="font24 font-weight-bold">{{ courses.title }}</p>
                  </div>
                </div>
              </div>
              <!-- {% endfor %} -->
            </a>
          </div>
        </div>
      </article>
    </div>
    <div v-else>
      <single-course
        :oneCourse="singleCourse"
        :warning="program.warning"
      ></single-course>
    </div>
  </section>
</template>

<script>
import singleCourse from "../components/singleCourseComponent.vue";
export default {
  data() {
    return {};
  },
  components: {
    singleCourse,
  },
  props: {
    program: Object,
  },
  methods: {
    showSigleCourse(course) {
      this.$store.state.showCourse = true;
      this.singleCourse = course;
    },
    getImgUrl(image) {
      return require("../assets/images/" + image);
    },
  },
};
</script>