<template>
  <section id="CPE-courses">
    <main
      class="CPE-desktop pt-lg-90"
      v-if="$store.state.tab || $store.state.desktop"
    >
      <article class="container p-0">
        <h2
          class="display4-size font-weight-bold mb-4 underline"
          style="margin-top: 20px"
        >
          Explore upskilling courses
        </h2>
        <p class="font-weight-bold my-4 font24">
          Browse all entrepreneurship or English language learning courses
        </p>
        <div class="row" v-if="!$store.state.showCoursesList">
          <a
            data-region="uber-landing-page"
            v-for="program in $store.state.courses.CPE_Courses"
            :key="program.id"
            @click="showdesc(program),showData(program.shortName )"
            @mouseover="showdesc(program)"
            :rel="program.id"
            v-dataLayerAnchorTag
            class="col program-card mx-2 position-relative p-0 bg-image-shadow"
            :style="{
              'background-image': 'url(' + getImgUrl(program.bgImage) + ')',
            }"
          >
            <span class="d-none">{{ program.shortName.split(" ")[0] }}</span>
            <div
              :id="`program-header-${program.id}`"
              class="program-header container d-flex flex-coloumn"
            >
              <div class="content">
                <h3 class="heading-7 font-weight-bold text-white m-0">
                  Online upskilling courses
                </h3>
                <h2 class="text-white display4-size" v-dataLayerAnchorTag>
                  {{ program.shortName.split(" ")[0] }}
                </h2>
              </div>
              <i
                :id="`program-icon-${program.id}`"
                v-dataLayerAnchorTag
                class="chevron right program-trigger-arrow position-absolute"
              ></i>
            </div>
            <div
              :id="`program-desc-${program.id}`"
              v-dataLayerAnchorTag
              class="p-4 program-desc"
              style="display: none"
              @click="progrmList(program)"
            >
              <div class="d-flex justify-content-between align-items-center">
                <p class="program-shortdesc text-white">
                  {{ program.shortDesc }}
                </p>
                <i
                  class="chevron right program-trigger text-white"
                  @click="triggerNextSection()"
                ></i>
              </div>
            </div>
          </a>
        </div>
        <div class v-else>
          <courses :program="program"></courses>
        </div>
      </article>
    </main>
    <main class="cpe-mobile mb-4 mt-5" v-if="$store.state.mobile">
      <div class="container">
        <h2 class="display4-size font-weight-bold mb-4 underline">
          Explore upskilling courses
        </h2>
        <p class="font-weight-bold mb-2">
          Browse all entrepreneurship or English language learning courses
        </p>
        <div
          class="w-100 text-center heading-5 mt-2 mobile-show"
          style="margin-left: -1rem"
        >
          <i
            class="chevron bottom program-trigger text-black"
            @click="showNextSection()"
          ></i>
        </div>
      </div>
      <a
        data-region="uber-landing-page"
        class="d-flex align-items-center mt-3 flex-nowrap text-black"
        :id="`program-${program.id}`"
        v-for="(program, item) in $store.state.courses.CPE_Courses"
        :key="item"
        style="background-color: #f5f5f5"
        @click="openMobileProgram(program)"
      >
        <span class="d-none">{{ program.shortName.split(" ")[0] }}</span>
        <div
          class="cpe-mob-image"
          :style="{
            'background-image': 'url(' + getImgUrl(program.bgImage) + ')',
          }"
        ></div>
        <div class="cpe-mob-content">
          <h3 class="heading-8 font-weight-bold mb-1 p-0 wrap-text">
            {{ program.shortName.split(" ")[0] }}
          </h3>
          <p>{{ program.shortDesc }}</p>
        </div>
        <div class="cpe-mob-nav chevron right"></div>
      </a>
    </main>
  </section>
</template>
<script>
$(document).ready(function () {
  if ($("#explore-programs").length > 0) {
    let offset = $("#explore-programs").offset().top;
    $(function () {
      $(".program-trigger").on("click", function () {
        $("HTML, BODY").animate({ scrollTop: offset }, 1000);
      });
    });
  }
});
import courses from "../components/cpeCoursesComponent.vue";
import {
  dataLayerAnchorTag,
  dataLayerButtonTag,
  dataLayerSelectTag,
  dataLayerInputTag,
} from "data-layer-test-oo-gtm";
export default {
  data() {
    return {
      courses: [],
      MobilePrograms: "",
      bgImage: "HomePageHeroImage.jpg",
      programCliked: false,
    };
  },
  directives: {
    dataLayerAnchorTag,
    dataLayerButtonTag,
    dataLayerButtonTag,
    dataLayerSelectTag,
  },

  components: {
    courses,
  },
  mounted() {
    // window.addEventListener("resize", this.resizeWindow);
  },
  methods: {
    showData(test){
      dataLayer.push({
        event: "link",
        action: "click",
        name: "onclick",
        type: "internal link",
        region: "main content",
        section: "explore upskilling courses",
        text: test.toLowerCase(),
      });
    },
    resizeWindow() {
      this.$store.state.showCoursesList = false;
      this.$store.state.showCourse = true;
    },
    showNextSection() {
      $("html, body").animate({
        scrollTop: $("#program-1").position().top - 80,
      });
    },
    progrmList(program) {
      this.program = program;
      this.$store.state.showCoursesList = true;
      this.$store.state.showCourse = false;
    },
    openMobileProgram(program) {
      this.$store.state.MobileCpe = program;
      this.$store.state.showCPEMobilePrograms = true;
    },
    getImgUrl(image) {
      return require("../assets/images/" + image);
    },
    showdesc: function (program) {
      $(".program-header").css("top", "280px");
      $(".program-trigger-arrow").show();
      $("#program-header-" + program.id).css("top", "180px");
      $("#program-icon-" + program.id).hide();
      $(".program-desc").css("display", "none");
      $("#program-desc-" + program.id).css("display", "block");
      
    },
    
  },

};
</script>