<template>
  <section id="CPE-programs-mobile">
    <header class="main-header-program">
      <div class="container navbar navbar-expand-lg">
        <div
          class="margin-1 d-flex w-sm-100 align-items-center justify-content-between"
          id="corp_logo_III"
        >
          <p v-if="!$store.state.clickedCourseCPEMobile" @click="$store.state.showCPEMobilePrograms = false">
            <a data-region='uber-landing-page' class="back">
              <span class="d-none"> Back </span>
              <!-- make this container false -->
              <i
                class="fas fa-arrow-left"
              ></i>
            </a> |
            <span class="back font-weight-bold">All courses</span>
          </p>

          <p v-else>
            <a data-region='uber-landing-page'>
              <i
                class="fas fa-arrow-left"
                @click="$store.state.clickedCourseCPEMobile = false"
              ></i>
            </a> |
            <span class="back font-weight-bold">{{$store.state.mobileSelectedCpeCourse}}</span>
          </p>

          <div class="searchContainer" v-if="!$store.state.clickedCourseCPEMobile">
              <!-- <a data-region='uber-landing-page' class="btn btn-secondary font-weight-bold" @click="$emit('open-modal', 'CPE')">Sign up</a> -->
          </div>
        </div>
      </div>
    </header>
  </section>
</template>

<script>
export default {};
</script>

