<template>
  <div class="d-table" id="view_degree_modal--component">
    <a
      data-region="uber-landing-page"
      class="link-color pl-0"
      href="#"
      v-b-modal.view-degree-modal
      data-toggle="modal"
      data-target="#view_degree_modal"
      >View degrees</a
    >

    <b-modal id="view-degree-modal" hide-footer>
      <template v-slot:modal-header="{ close }">
        <!-- Emulate built in modal header close button action -->
        <a
          href="javascript:void(0)"
          class="close-apply text-dark font-36 ml-auto border-none"
          @click="close"
          v-dataLayerAnchorTag
          tagEvent="modal"
          tagAction="close"
          tagType="click"
          tagSection="browse all asu online undergraduate degrees"
          tagText="close cross"
        >
          <img
            src="../assets/images/Icon-times-solid.svg"
            alt="Icon-times-solid"
            class="mr-3 mt-3 mt-lg-2"
          />
        </a>
      </template>

      <div class="container">
        <div class="col-lg-11 mx-auto px-0 px-lg-3">
          <h2 class="text-lg-36 font-weight-bolder mb-lg-56">
            Browse all ASU Online undergraduate degrees
          </h2>
          <div class="row">
            <div class="col-lg-7">
              <input
                type="text"
                v-model="searchQuery"
                class="form-control search-degrees position-relative"
                style="padding-left: 36px"
                @change="signalChange()"
                placeholder="Select program by title"
              />
              <i class="position-absolute" style="top: 13px; left: 25px"
                ><img
                  src="../assets/images/Icon-search-solid.svg"
                  alt="icon-sort-solid"
                  class="mr-3"
              /></i>
            </div>
            <div class="col-lg-5 pl-lg-0 my-lg-0 my-3">
              <div class="dropdown">
                <b-dropdown
                  no-flip
                  variant="secondary"
                  block
                  class="px-0"
                  @show="dropdownState(true)"
                  @toggle="dropdownTrigger()"
                  @hidden="dropdownState(false)"
                >
                  <template #button-content>
                    <div class="d-flex">
                      <p
                        class="col-12 m-0 font-weight-normal text-16 text-truncate"
                      >
                        {{ currentIndex }}
                      </p>
                      <i
                        ><img
                          src="../assets/images/icon-sort-solid.svg"
                          alt="icon-sort-solid"
                          class="mr-3"
                      /></i>
                    </div>
                  </template>
                  <template v-for="(intrest, i) in areaOfInterest">
                    <b-dropdown-item
                      href="#"
                      @click="selectedIndexChange(intrest, i)"
                      :active="intrest === currentIndex"
                      :key="intrest"
                      >{{ intrest }}</b-dropdown-item
                    >
                  </template>
                </b-dropdown>
              </div>
            </div>
          </div>
          <!-- Accordian -->
          <div class="listing-all-degrees mt-lg-32" ref="lastelem">
            <template v-for="(r, i) in result.slice(0, maxLength)">
              <BaseAccordian
                :key="i"
                :item="r"
                :iterate="i"
                :class="{ 'gradient-added': i == 5 && !viewAll }"
                v-dataLayerAnchorTag
                :tagText="r.title"
                tagEvent="collapse"
                tagAction="open"
                tagRegion="main content"
                tagSection="browse all asu online undergraduate degrees"
              />
            </template>
          </div>
        </div>
        <a
          href="javascript:void(0)"
          class="font-weight-bold text-24"
          @click="toggleShow()"
         
          >View {{ viewAll ? "less" : "all" }}
        </a>
      </div>
    </b-modal>
  </div>
</template>
  <style>
#dropdownMenuButton {
  height: 50px;
}
.search-degrees {
  height: 50px !important;
}
</style>
  <script>
const options = {
  includeScore: true,
  // Search in `author` and in `tags` array
  keys: ["code", "title", "shortdesc", "interestareas"],
};

const interestareas = {
  keys: ["interestareas"],
};
import {
  dataLayerAnchorTag,
  dataLayerButtonTag,
  dataLayerSelectTag,
  dataLayerInputTag,
} from "data-layer-test-oo-gtm";

import Fuse from "fuse.js";
import _ from "lodash";
export default {
  props: {
    compData: Object,
  },
  name: "Degreesmodal",
  directives: {
    dataLayerAnchorTag,
    dataLayerButtonTag,
    dataLayerInputTag,
    dataLayerSelectTag,
  },
  data() {
    return {
      filterdropdown: false,
      searchQuery: "",
      result: this.$store.state.degrees,
      areaOfInterest: [],
      currentIndex: "Select area of interest",
      viewAll: false,
      maxLength: 6,
    };
  },

  // watch: {
  //   searchQuery: _.debounce(function (val) {
  //     if (val.length > 0) {
  //       const fuse = new Fuse(this.$store.state.degrees, options);
  //       this.result = fuse.search(val);
  //       this.result = this.result.map((res, i) => {
  //         return res.item;
  //       });

  //       console.log(this.result.length);
  //         console.log(this.searchQuery)

  //       this.getAreaOfInterest(this.result);
  //     } else {
  //       this.result = this.$store.state.degrees;
  //       this.getAreaOfInterest(this.result);
  //       console.log(this.result.length);
  //       console.log(this.result)
  //     }
  //   }, 1000),
  // },
  methods: {
    dropdownState(state) {
      this.filterdropdown = state;
      console.log(state);
    },
    dropdownTrigger() {
      dataLayer.push({
        event: "select",
        action: this.filterdropdown ? "close" : "open",
        name: "onclick",
        type: "click",
        region: "main content",
        section: "our programs",
        text: this.currentIndex,
      });
      console.log("collapse");
    },
    signalChange() {
      console.log("test");
      this.searchQuery
        ? dataLayer.push({
            event: "search",
            action: "type",
            name: "onenter",
            type: "degree search",
            region: "main content",
            section: "browse all asu online undergraduate degrees",
            text: this.searchQuery.toLowerCase(),
          })
        : "";
    },

    addGeadientToLastElem() {
      this.$refs.lastelem[5].classList.add("gradient-added");
    },
    getAreaOfInterest(result) {
      this.areaOfInterest = result.reduce(
        (arr, intrests) => [...arr, ...intrests.interestareas],
        []
      );
      this.areaOfInterest = [...new Set(this.areaOfInterest)];
      this.areaOfInterest.unshift("All interest area");
    },
    toggleShow() {
      this.viewAll = !this.viewAll;
      if (this.viewAll) {
        this.maxLength = this.$store.state.degrees.length - 1;
      } else {
        this.maxLength = 6;
        console.log("showless");
        dataLayer.push({
          event: "collapse",
          action: "close",
          name: "onclick",
          type: "click",
          region: "main content",
          section: "browse all asu online undergraduate degrees",
          text: "hide",
        });
      }
    },
    selectedIndexChange(val, index) {
      this.currentIndex = val;
      if (val === "All interest area") {
        this.result = this.$store.state.degrees;
        this.currentIndex = "All interest area";
      } else {
        const fuse = new Fuse(this.$store.state.degrees, interestareas);
        this.result = fuse.search(val);
        this.result = this.result.map((res, i) => {
          return res.item;
        });
      }
      this.previousSelectedIndex = val;
    },
  },
  mounted() {
    this.$http({
      method: "get",
      url:
        "https://asuonline.asu.edu/lead-submissions-v3.3/programs?category=undergraduate",
      headers: {
        Accept: "application/javascript",
      },
    }).then((response) => {
      this.$store.state.degrees = response.data;
      this.$store.state.filteredDegrees = response.data;
      this.result = response.data;
      this.getAreaOfInterest(this.result);
    });
  },
};
</script>

<style lang="scss" scoped>
#interestAreaDrop {
  height: 50px;
  font-size: 17px !important;
  padding: 0 !important;
  font-weight: 400 !important;
  &:after {
    margin-left: 0 !important;
  }
}
.dropdown-menu.show {
  height: 40vh;
  overflow-y: scroll;
}
.active-index {
  background-color: #f3b300;
}
.modal-header {
  padding: 0 !important;
}
.dropdown-menu.show {
  height: 45vh;
  overflow-y: scroll;
}
.gradient-added {
  position: relative;
  &:after {
    content: "";
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 98%
    );
  }
}
</style>