<style>
@media (max-width: 787px) {
  #discover {
    margin-top: 10rem;
  }
}
@media (min-width: 1200px) {
  #discover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 600px; */
    position: relative;
  }
  #discover.UberPro {
    background-image: url("../assets/images/car-certificate.svg");
  }
  #discover.UberEats {
    background-image: url("../assets/images/UE_car-certificate.svg");
  }
}
/* @media(max-width: 767px){
  #discover{
  margin-top: 165px;
  }
} */
@media (max-width: 1200px) {
  #discover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 600px; */
    position: relative;
  }
  #discover.UberPro {
    background-image: url("../assets/images/car-certificate.svg");
  }
  #discover.UberEats {
    background-image: url("../assets/images/UE_car-certificate.svg");
  }
}
.UberPro .bgColor {
  background-color: black;
}
.UberEats .bgColor {
  background-color: #f5f5f5;
}
.tabCarSvg {
  background-position: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 3rem;
}
.UberPro .tabCarSvg {
  background-image: url("../assets/images/Cert_and_Car_Graphic.svg");
}
.UberEats .tabCarSvg {
  background-position: 60% !important;
  background-image: url("../assets/images/UE_Cert_and_Car_Graphic.svg");
}
.UberEats .ready-to-signup {
  color: #000000;
  font-size: 24px !important;
  font-weight: 600;
}
.UberPro .ready-to-signup {
  color: #ffc627;
  font-size: 24px !important;
  font-weight: 600;
}
.mob-title-heading {
  font-size: 48px;
}
.UberPro .square {
  height: 25%;
  position: absolute;
  width: 16px;
  background-color: #ffc627;
  left: 0;
}

.UberEats .square {
  height: 25%;
  position: absolute;
  width: 16px;
  background-color: #06c167;
  left: 0;
}

.contentDESC {
  padding: 1rem;
}

.initiate-subtitle {
  font-weight: 500;
}

.initiate-subtitle {
  font-weight: 300;
}
</style>
<template>
  <section id="discover" :class="course.media.className">
    <div class="container mobile-hide" v-if="$store.state.desktop">
      <div class="row">
        <div class="col-lg-6">
          <div class="contentDESC" style="display: block !important">
            <div class="connecting-line"></div>
            <h2
              class="display4-size text-white font-weight-bolder"
              v-html="course[isAuthPrefix($store.state.isAuth) + 'title']"
            ></h2>
            <p v-if="!$store.state.isAuth" class="ready-to-signup">
              Ready to sign up?
            </p>
            <p
              class="text-white font-weight-bold text-18"
              style="margin-bottom: 34px"
              v-html="course[isAuthPrefix($store.state.isAuth) + 'subtitle']"
            ></p>
            <button
              v-if="$store.state.isAuth"
              data-toggle="modal"
              data-target="#asu_rfi_form"
              @click="$emit('open-modal', page)"
              class="btn btn-gold btn-block col-lg-6 mb-5"
            >
              Sign up
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="mobile-show bgColor"
      :class="course.media.className"
      v-if="$store.state.mobile"
    >
      <div class="row1">
        <div class="col-12">
          <div class="contentDESC container">
            <!-- <div class="connecting-line"></div> -->
            <h2
              class="display4-size text-white font-weight-bolder mob-title-heading"
              v-html="course[isAuthPrefix($store.state.isAuth) + 'title_mob']"
            ></h2>
            <!-- <div class="connecting-line"></div> -->
            <img :src="getImgUrl(course.media.image_1)" alt="discover" />
            <p v-if="!$store.state.isAuth" class="ready-to-signup">
              Ready to sign up?
            </p>

            <div v-if="!$store.state.isAuth" class="square"></div>
            <p
              class="text-white font-weight-bold text-18"
              style="margin-bottom: 34px"
              v-html="course[isAuthPrefix($store.state.isAuth) + 'subtitle']"
            ></p>

            <button
              v-if="$store.state.isAuth"
              data-toggle="modal"
              data-target="#asu_rfi_form"
              @click="$emit('open-modal', page)"
              class="btn btn-gold btn-block col-lg-6"
              style="margin-bottom: 2em"
            >
              Sign up
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-show bgColor" v-if="$store.state.tab">
      <div class="row">
        <div class="col-sm-6">
          <div class="contentDESC container pt-5">
            <div class="connecting-line"></div>
            <h2 class="heading-5 text-white py-4 font-weight-bolder">
              Discover your
              <br />potential
            </h2>
            <p v-if="!$store.state.isAuth" class="ready-to-signup">
              Ready to sign up?
            </p>
            <p
              class="text-white"
              style="margin-bottom: 34px"
              v-html="course[isAuthPrefix($store.state.isAuth) + 'subtitle']"
            ></p>
            <button
              v-if="$store.state.isAuth"
              data-toggle="modal"
              data-target="#asu_rfi_form"
              @click="$emit('open-modal', page)"
              class="btn btn-gold btn-block col-lg-6"
              style="margin-bottom: 3em"
            >
              Sign up
            </button>
          </div>
        </div>
        <!-- <img src="../assets/images/Cert_and_Car_Graphic.svg" class="position-absolute tabCarSvg"> -->

        <div class="col-sm-6 tabCarSvg"></div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: "Discover",
  props: {
    course: Object,
    page: String,
  },
  methods: {
    getImgUrl(image) {
      return require("../assets/images/" + image);
    },
    isAuthPrefix(val) {
      if (val) return "";
      else return "isAuth_";
    },
  },
};
</script>