<template>
  <section id="tuition" class="bg-white my-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2
            class="display4-size font-weight-bold my-4 underline mb-4"
            :class="{'underline-light':$store.state.UberEats}"
          >Your tuition, covered</h2>
          <div class="donut-chart-mobile"></div>
        </div>
        <div class="col-lg-4">
          <div class="border-left border-secondary p-4">
            <h2
              class="display4-size details-heading"
              v-html="getDetails(details.heading,'text-black underline underline-light')"
            ></h2>
            <div class="details-paragraph">{{details.text}}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
// import * as d3 from "d3";
export default {
  name: "doughnutMobile",
  data() {
    return {
      details: {
        heading: "",
        text: ""
      }
    };
  },
  methods: {
    getDetails(str, classes) {
      let s = str.split(" ");
      let arr = s.map(function(i) {
        return "<span class='" + classes + "'>" + i + "</span>";
      });
      return arr.join(" ");
    }
  },
  props: ["labels", "range", "more", "summary", "values"],
};
</script>
<style>
.donut-chart-mobile svg {
  width: 100%;
  height: 310px;
}

.donut-chart-mobile path.slice {
  stroke-width: 2px;
}

.donut-chart-mobile polyline {
  opacity: 1;
  fill: none;
}
.donut-chart-mobile .label {
  font-size: 15px;
  font-weight: 500;
}

.donut-chart-mobile {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}
.details-parent {
  background-color: #f9f9f9;
  height: 100%;
  border-left: 3px solid #dee2e6;
}
.details-heading {
  font-size: 24px;
}
.details-paragraph {
  font-size: 14px;
}
</style>
