<template>
  <section id="tuition" class="bg-white mb-5 pb-5 mb-lg-0 pb-lg-0 mt-lg-126">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2 class="display4-size text-black underline mb-4 mt-5">
            Your tuition, covered
          </h2>
          <!-- <div class="donut-chart-desktop"></div> -->
          <div class="pt-5">
            <img
              v-if="!$store.state.isUberEats"
              :src="getImgUrl('Uber_Tuition_Graphic-Desktopp.png')"
              alt="graphic image tution"
              style="width: 90%; margin: 0 auto; display: table"
            />
            <img
              v-else
              :src="getImgUrl('Uber_Eats_Tuition_Graphic-Desktop.png')"
              alt="graphic image tution"
              style="width: 90%"
            />
          </div>
        </div>
        <!-- <div class="col-lg-4">
          <div class="border-secondary p-5 details-parent">
            <h2 class="font-32 font-weight-bolder" v-html="getDetails(details.heading)"></h2>
            <p class="miniParagraph">{{details.text}}</p>
          </div>
        </div> -->
        <div class="col-lg-4" style="background: #f1f1f1">
          <div class="p-4 m-1">
            <h2 class="font-24 col-lg-12 p-0 font-weight-bolder">
              How does tuition coverage work?
            </h2>
            <div
              v-if="!$store.state.isUberEats"
              class="line"
              style="background-color: black"
            ></div>
            <div v-else class="line" style="background-color: #2a2a2a"></div>
            <div style="display: flex" v-for="text in summary">
              <img
                class="m-6"
                :src="getImgUrl(text.Icon)"
                alt="icon"
                width="10"
                height="10"
              />
              <p class="miniParagraph">{{ text.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
// import * as d3 from "d3";
export default {
  name: "doughnutDesktop",
  data() {
    return {
      details: {
        heading: "",
        text: "",
      },
    };
  },
  methods: {
    getImgUrl(image) {
      return require(`../assets/images/${image}`);
    },
    getDetails(str) {
      let s = str.split(" ");
      let arr = s.map(function (i) {
        return (
          "<span class='text-black underline underline-light'>" + i + "</span>"
        );
      });
      return arr.join(" ");
    },
  },
  props: ["labels", "range", "more", "summary", "values"],
};
</script>
<style>
.donut-chart-desktop svg {
  width: 100%;
  height: 310px;
}

.donut-chart-desktop path.slice {
  stroke-width: 2px;
}

.donut-chart-desktop polyline {
  opacity: 1;
  fill: none;
}

.donut-chart-desktop .label {
  font-size: 24px;
  font-weight: 700;
}

.donut-chart-desktop {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

.details-parent {
  background-color: #f9f9f9;
  height: 100%;
  border-left: 3px solid #dee2e6;
}
.m-6 {
  margin: 0.4rem 0.8rem 0rem 0rem;
}
.line {
  width: 100px;
  height: 6px;
  margin: -10px 0px 10px 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .mt-8 {
    margin-top: 8rem;
    margin-bottom: 3rem;
  }
}
</style>
