<style>
#faq-search {
  height: 53px;
  padding-left: 2.5rem !important;
  font-size: 16px;
  background-color: #ffffff;
  line-height: 19px;
  /* background-image: url(/img/searchIcon.3c9b5c3f.png); */
  /* background-position: 13px 16px; */
  /* background-size: 20px; */
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  /* background-repeat: no-repeat; */
}
.searchFaq {
  width: 20px;
  height: 20px;
  left: 12px;
  top: 1px;
}
.searchCloseBtn {
  right: 6px;
}
@media (min-width: 781px) {
  #textarea-default {
    height: 129px !important;
  }
}
@media (max-width: 780px) {
  #textarea-default {
    height: 114px !important;
  }
  .modal-footer {
    top: 0 !important;
  }
}
</style>
<template>
  <section class="faq" id="faq_sec">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-6">
          <h2
            class="display-3 space-bot-md regular_text font-weight-bolder mb-4 pb-0"
          >
            Frequently asked questions
          </h2>
          <p class="font-weight-mild mb-4 pb-0 font-16">
            Have a question we don’t cover? Submit it
            <span style="color: #8c1d40" v-b-modal.faq-modal  v-dataLayerButtonTag tagEvent="modal" tagAction="open" tagType="click" tagSection="frequently asked questions" tagRegion="main content" tagText="here"
 >here.</span>
          </p>

          <b-modal
            id="faq-modal"
            centered
            ref="modal"
            @show="resetModal"
            @hidden="resetModal"
            @ok="handleOk"
          >
            <template v-slot:modal-header="{ close }">
              <!-- Emulate built in modal header close button action -->
              <div class="container">
                <div class="col-lg-12">
                  <h2 class="text-lg-36 font-weight-bolder mt-lg-32 mt-30">
                    Submit your question to ASU Online
                  </h2>
                </div>
              </div>
              <a
                href="javascript:void(0)"
                class="close-apply mt-lg-2 ml-auto border-none"
                @click="close"   v-dataLayerButtonTag tagEvent="modal" tagAction="close" tagType="click" tagSection="submit your question to asu online" tagRegion="main content" tagText="close cross"
               >
                <img
                  src="../assets/images/Icon - times.svg"
                  alt="Icon-times-solid"
                  class="mr-3 mt-3 mt-lg-2"
                />
              </a>
            </template>
            <div class="container">
              <div class="col-lg-12">
                <form
                  name="submit-to-google-sheet"
                  ref="form"
                  id="myForm"
                  @submit.stop.prevent="handleSubmit"
                >
                  <label
                    label-for="name-input"
                    :state="nameState"
                    class="font-18 font-weight-bold"  
                  >
                  
                    Enter your question in the text area below (required field)
                  </label>
                  <b-form-textarea
                    id="textarea-default"
                    placeholder=""
                    v-model="question"
                    :state="nameState"
                    name="question" 
                    required v-dataLayerInputTag tagEvent="form" tagSection="submit your question to asu online" tagText="Enter your question in the text area below (required field)"
                  ></b-form-textarea>

                  <label
                    label-for="name-input"
                    :state="nameState"
                    class="font-18 font-weight-bold mt-3" 
                  >
                    Enter your email to receive a response (required field)
                  </label>
                  <b-form-input
                    id="name-input"
                    v-model="email"
                    name="email"
                    :state="nameState"
                    required
                    class="form-control" v-dataLayerInputTag tagEvent="form" tagSection="submit your question to asu online" tagText=" Enter your email to receive a response (required field)"
                 
                  >
                  </b-form-input>
                </form>
              </div>
            </div>
            <template v-slot:modal-footer="{ ok }">
              <b-button
                v-model="button"
                class="btn btn-secondary font-weight-bold font-24 btn-gold mb-lg-4 mb-32 mx-lg-3 mx-3"
                type="submit"
                @click="ok()"
                >Submit</b-button
              >
            </template>
          </b-modal>
        </div>
        <div></div>
        <div class="col-lg-6 mb-4 pb-2 mb-lg-0 pb-lg-0">
          <div class="position-relative">
            <img
              :src="require('../assets/images/searchIcon.png')"
              alt="search icon"
              class="searchFaq position-absolute my-3"
            />
            <input
              type="text"
              name="faqSearch"
              id="faq-search"
              class="p-3 w-100"
              v-model="searchedFaq"
              placeholder="Search FAQs"
              @input="searchFaq"
              @blur="handleTag()"
               />
            <button
              class="btn position-absolute searchCloseBtn py-2 mt-1"
              v-if="searchedFaq != ''"
              @click="clearSearch()"
            >
              <img
                :src="require('../assets/images/times-solid.svg')"
                alt="times Icon"
              />
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          aria-multiselectable="true"
          id="accordionTranscripts"
          role="tablist"
          class="col-md-12"
          style="padding-left: 0px; margin-right: 15px" 
        >
          <ul class="list-faq h3_text" id="" >
            <li 
              v-for="(itemfaq, indexfaq) in faqs"
              :key="indexfaq" 
              v-bind:class="indexfaq > 4 ? 'hidden' : ''" v-data
            >
              <div class="card" >
                <div class="card-header" role="tab"  v-dataLayerAnchorTag tagType="click" tagEvent="collapse" tagSection="frequently asked questions" tagAction="open">
                  <a
                    v-if="indexfaq == 4 && states"
                    aria-controls="TcollapseTwo"
                    aria-expanded="false"
                    class="collapsed row toggle-open"
                    data-toggle="collapse"   
                  >
                    <div class="question col-10 col-sm-11 toggle-open">
                      <span class="toggle-open" >{{ itemfaq.question }}</span>
                    </div>
                    <div class="icon col-2 col-sm-1 toggle-open"  >
                      <span class="toggle-open faq-icon" 
                        ><span style="display: none">{{
                          itemfaq.question
                        }}</span></span
                      >
                    </div>
                  </a>
                  <a
                    v-if="indexfaq == 4 && !states"
                    aria-controls="TcollapseTwo"
                    aria-expanded="false"
                    class="collapsed row toggle-open"
                    data-toggle="collapse" 
                    v-bind:href="faqhrefValue(indexfaq)" 
                  >
                    <div class="question col-10 col-sm-11 toggle-open">
                      <span class="toggle-open">{{ itemfaq.question }}</span>
                    </div>
                    <div class="icon col-2 col-sm-1 toggle-open">
                      <span class="toggle-open faq-icon"  
                        ><span style="display: none" >{{
                          itemfaq.question
                        }}</span></span
                      >
                    </div>
                  </a>
                  <a
                    v-if="indexfaq != 4"
                    aria-controls="TcollapseTwo"
                    aria-expanded="false"
                    class="collapsed row toggle-open"
                    data-toggle="collapse"
                    v-bind:href="faqhrefValue(indexfaq)" 
                
                  >
                    <div class="question col-10 col-sm-11 toggle-open">
                      <span class="toggle-open">{{ itemfaq.question }}</span>
                    </div>
                    <div class="icon col-2 col-sm-1 toggle-open"  >
                      <span class="toggle-open faq-icon" 
                        ><span style="display: none">{{
                          itemfaq.question
                        }}</span></span
                      >
                    </div>
                  </a>
                </div>
                <div
                  class="collapse"
                  v-bind:id="faqidValue(indexfaq)"
                  role="tabpanel"
                  data-parent="#accordionTranscripts"
                  aria-expanded="false"
                  style=""
                
                >
                  <div class="card-block col-11">
                    <div v-if="typeof itemfaq.answer === 'string'">
                      <p v-html="itemfaq.answer" style="font-size: 14px"></p>
                    </div>
                    <div
                      v-else
                      v-for="(item, index) in itemfaq.answer"
                      :key="index"
                    >
                      <p v-html="item" style="font-size: 14px"></p>
                    </div>
                  </div>
                </div>
                <div
                  v-if="indexfaq === 4"
                  class="hidden-overlay"
                  style="
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(255, 255, 255, 0.7);
                    height: 150px;
                  "
                ></div>
              </div>
            </li>
          </ul>
          <div class="col-md-12 space-bot-md" v-if="faqs.length > 4">
            <a
              data-region="uber-landing-page"
              href="#show"
              id="show"
              style="cursor: pointer"
              v-on:click="showMoreFaqs($event)"
              >{{ buttons.labels[buttons.state] }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { dataLayerAnchorTag, dataLayerButtonTag, dataLayerSelectTag, dataLayerInputTag} from 'data-layer-test-oo-gtm';

export default {
  name: "FAQ",
   
  data() {
    return {
      question: "",
      email: "",
      nameState: null,
      submittedNames: [],
      submitted: false,
      button: "",
      states: true,
      faqs: [],
      allFaq: [],
      searchedFaq: "",
      buttons: {
        labels: ["Show more", "Show less"],
        state: 0,
      },
    };
  },
   directives:{
    dataLayerAnchorTag,
   dataLayerButtonTag,
    dataLayerInputTag,
    dataLayerSelectTag
  },
  created() {
    if (window.location.host.indexOf("eats") >= 0) {
      this.$i18n.locale = "uberEats";
    } else {
      this.$i18n.locale = "uberPro";
    }
    this.allFaq = this.$i18n.messages[this.$i18n.locale].faqs.content;
    this.faqs = this.allFaq;
  },
  methods: {
    faqhrefValue(indexfaq) {
      return "#Tcollapsethreet" + indexfaq;
    },

    faqidValue(indexfaq) {
      return "Tcollapsethreet" + indexfaq;
    },
    
    handleTag() {
      if (this.searchedFaq != "") {
        dataLayer.push({
          event: "search",
          action: "type",
          name: "onenter",
          type: "search faqs",
          region: "main content",
          section: "frequently asked questions",
          text: this.searchedFaq.toLowerCase(),
        });
        console.log('helo')
      }
    },
    clearSearch() {
      this.searchedFaq = "";
      document.getElementById("faq-search").focus();
      this.searchFaq();
    },
    searchFaq() {
      try {
        // this.searchedFaq = evt.target.value; // taking what user typing
        // console.log(this.searchedFaq)
        if (this.searchedFaq != "" || this.searchedFaq) {
          this.faqs = this.allFaq.filter((faq) => {
            return faq.question
              .toLowerCase()
              .match(this.searchedFaq.toLowerCase());
          });
        } //else if textbox has null value
        else {
          this.faqs = this.allFaq;
        }
      } catch (error) {
        //for initial stage
        this.faq = this.allFaq;
      }
    },
    showMoreFaqs(e) {
      this.buttons.state = !this.buttons.state ? 1 : 0;
      if (this.buttons.state == 1) {
        $(".hidden-overlay").hide("fast");
        $("ul.list-faq li").show("slow").css("display", "flex");
        $("ul.list-faq li ol li, ul.list-faq li ul li").removeAttr("style");
        this.states = false; 
         dataLayer.push({
         event: 'collapse',
action: 'open',
name: 'onclick',
type: 'click',
region: 'main content',
section: 'frequently asked questions',
text: 'show more'
        });
      } else {
        this.states = true;
        $(".hidden-overlay").show("fast");
        $("ul.list-faq li:nth-child(n+6)").hide("slow");
       
      }
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();

      this.nameState = valid;

      return valid;
    },

    resetModal() {
      this.question = "";
      this.email = "";
      this.nameState = null;
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      
      bvModalEvt.preventDefault();
      // Trigger submit handler

      this.handleSubmit();
    },
    checkform() {
      console.log("notvalid");
    },
    handleSubmit() {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        dataLayer.push({
         event: 'form',
action: 'click',
name: 'onclick',
type: 'click',
region: 'main content',
section: 'submit your question to asu online',
text: 'submit'
        });
        this.checkform();
        return;
      } else {
        if (this.checkFormValidity()) {
          $.ajax({
            url:
              "https://script.google.com/macros/s/AKfycbyz-Q6nGtVL1qV_kejumYfQzJ7aFv5tj3erI3PJcJ846cUcXCU/exec",
            type: "post",
            data: $("#myForm").serializeArray(),
            success: function () {
              console.log("data added");
            },
          });
          dataLayer.push({
            
            event: "form",
              action: " rfi submit",
              name: "onsubmit",
              type: "submit",
              region: "main content",
              section: "request information",
              text: "rfi form submitted",
             "enter your question in the text area below (required field): ":this.question,
             "enter your email to receive a response (required field):":this.email

          })
        }

        // Push the name to submitted names
        this.submittedNames.push(this.question);
        // Hide the modal manually
        this.$nextTick(() => {
          this.$bvModal.hide("faq-modal");
        });
      }
    },
    toggledata(answer) {
      dataLayer.push({
          event: "collapse",
          action: "type",
          name: "onenter",
          type: "search faqs",
          region: "main content",
          section: "frequently asked questions",
          text: answer.toLowerCase(),
        });
  // do something...
  }
  },
  mounted(){
    $('#collaseevent').on('show.bs.collapse	', function () {
      dataLayer.push({
          event: "collapse",
          action: "type",
          name: "onenter",
          type: "search faqs",
          region: "main content",
          section: "frequently asked questions",
          text: "",
        });
  // do something...
})
  }
};
</script>
