<template>
  <div>
    <section>
      <header class="positionAttribute">
        <div class="container navbar navbar-expand-lg">
          <div id="corp_logo">
            <div
              src="../assets/images/asu_logo.png"
              v-if="desktop"
              class="logo_img"
            >
              <a
                data-region="uber-landing-page"
                v-bind:href="getTheLocation()"
                v-if="$store.state.isUberEats"
              >
                <img
                  alt
                  title
                  src="../assets/images/ubereats_asu_logo.svg"
                  class="ae-img m-sm-0"
                />
              </a>
              <a
                data-region="uber-landing-page"
                :href="getTheLocation()"
                v-else
              >
                <img
                  alt="uber asu logo"
                  title
                  src="../assets/images/uber_and_asu_logo.svg"
                  class="ae-img m-sm-0"
                />
              </a>
            </div>
            <h1 v-else class="logo logo-wrapper">
              <button
                v-show="!desktop"
                id="menu-btn"
                class="new collapsed m-0 p-0 pl-2 font-weight-bold"
                data-toggle="collapse"
                data-target="#navbar-ws"
              >
                {{ MobileTitle[mobileSectionStatus].name }}
                <i id="toggle" class="pl-2 fas fa-caret-down"></i>
              </button>
            </h1>
          </div>

          <button
            v-show="desktop"
            id="menu-btn"
            class="new collapsed"
            data-toggle="collapse"
            data-target="#navbar-ws"     v-dataLayerButtonTag tagEvent="collapse" tagSection="main navbar" tagText="menu button mobile" tagRegion="navbar" tagAction="open" tagType="click"

          >
            <span class="icons"></span>
            <span class="icons"></span>
            <span class="icons"></span>
          </button>
          <a
            class="btn btn-gold float-right mt-2"
            data-toggle="modal"
            data-region="uber-landing-page"
            v-if="$store.state.isAuth && !desktop"
            data-target="#asu_rfi_form"
            @click="$emit('open-modal', page)"
            >Sign up</a
          >
          <div class="collapse navbar-collapse" id="navbar-ws">
            <ul
              class="nav-items nav navbar-nav navbar-right"
              v-scroll-spy-active="{ class: 'customActive' }"
              v-scroll-spy-link="{ selector: 'a.menu-link' }"
            >
              <li
                :key="item.name"
                v-for="item in MobileTitle"
                class="menu-item"
              >
                <a
                  data-region="uber-landing-page"
                  :href="`#${item.id}`"
                  @click="activateScrollSpy(item)"
                  class="nav-link"
                  >{{ item.name }}</a
                >
              </li>
              <!-- {{value}} -->
            </ul>
          </div>
        </div>
      </header>
    </section>
  </div>
</template>

<script>
import util from "../util";
import { dataLayerAnchorTag, dataLayerButtonTag, dataLayerSelectTag, dataLayerInputTag} from 'data-layer-test-oo-gtm';

export default {
  name: "NavComponent",
  props: {
    sectionValue: Number,
    mobileSectionStatus: Number,
    MobileTitle: Array,
    page: String,
  },
    directives:{
    dataLayerAnchorTag,
   dataLayerButtonTag,
    dataLayerButtonTag,
    dataLayerSelectTag
  },
  data() {
    return {
      desktop: true,
      clickedItem: "",
    };
  },
  methods: {
    activateScrollSpy(item) {
      var addressValue = $(`#${item.id}`).offset().top - 60;
      $("html, body").animate(
        {
          scrollTop: addressValue,
        },
        200
      );
      this.clickedItem = item.name;
    },
    openInMobile() {
      $("#menu-btn-program").click();
    },
    getWindowWidth(event) {
      this.clickedItem = $(".menu-item a").hasClass("active")
        ? $(".menu-item a.active").text()
        : this.MobileTitle[0].name;
      this.windowWidth = document.documentElement.clientWidth;
      var sticky = $(".sb_hero").height();
      if (this.windowWidth > 991) {
        this.desktop = true;
        $(".positionAttribute").removeClass("header-pos-mobile-hidden");
      }
      if (this.windowWidth < 991 && window.pageYOffset + 90 > sticky) {
        this.desktop = false;
        $(".positionAttribute").removeClass("header-pos-mobile-hidden");
        $(".positionAttribute").addClass("header-pos-mobile-show");
        $(".positionAttribute").removeClass("fixed-top");
      } else if (this.windowWidth < 991 && window.pageYOffset + 90 < sticky) {
        this.desktop = true;
        $(".positionAttribute").removeClass("header-pos-mobile-show");
        $(".positionAttribute").addClass("header-pos-mobile-hidden");
        $(".positionAttribute").removeClass("fixed-top");
      } else {
        $(".positionAttribute").removeClass("header-pos-mobile-show");
        $(".positionAttribute").removeClass("header-pos-mobile-hidden");
        $(".positionAttribute").addClass("fixed-top");
      }
    },
    getTheLocation() {
      return window.location.host.indexOf("eats") >= 0 ? true : false;
    },
    getUserType() {
      let page_path = window.location.pathname;
      if (this.$store.state.isAuth) {
        if (page_path.indexOf("asuo", "cpe") >= 0) {
          return "/driver";
        } else {
          return "/";
        }
      } else {
        if (page_path.indexOf("asuo", "cpe") >= 0) {
          return "/family";
        } else {
          return "/";
        }
      }
    },
  },
  mounted() {
    this.clickedItem = $(".menu-item a.active").text();
    this.$nextTick(function () {
      window.addEventListener("resize", this.getWindowWidth);
      window.addEventListener("scroll", this.getWindowWidth);
      this.getWindowWidth();
    });
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.getWindowWidth);
  },
};
</script>

<style>
.toggle-active {
  -webkit-animation: rotation 0.5s linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
  }
}
</style>
