<template>
  <p class="font-12 lh-1 col-lg-10 mx-auto">
    By submitting my information, I consent to ASU contacting me about
    educational services using automated calls, prerecorded voice messages,
    SMS/text messages or email at the information provided above. Message and
    data rates may apply. To opt out of messages, text STOP to 46278. Consent is
    not required to receive services, and I may call ASU directly at
    <a
      href="tel:866-277-6589"
      target="_blank"
      class="text-primary text-underline"
      >866-277-6589.</a
    >
    I consent to ASU’s
    <a
      href="https://go.asuonline.asu.edu/text-message-terms/"
      target="_blank"
      class="text-primary text-underline"
    >
      mobile terms and conditions,</a
    >
    and
    <a
      tag="a"
      href="https://www.asu.edu/privacy/"
      target="_blank"
      class="text-primary text-underline"
    >
      Privacy Statement,</a
    >
    including the European Supplement
  </p>
</template>
<script>
export default {
  name: "footer",
};
</script>
<style lang="scss" scoped>
.lh-1 {
  line-height: 1.3;
  padding-top: 9px;
  padding-bottom: 8px;
}
.font-12 {
  font-size: 12px !important;
}
</style>
