<template>
  <section class="footer position-relative footer-component">
    <div v-if="$store.state.isUberEats" class="container terms-sec mb-48">
      <p style="font-size: 9px !important">
        <i v-if="currentpage == 'family'">
          * Delivery people must have completed 1,000 lifetime trips and have
          Gold, Platinum or Diamond status in a U.S. city where Uber Eats Pro is
          in operation to be eligible for 100% tuition coverage. Eligible family
          members are a spouse or domestic partner, child, sibling, parent or
          legal guardian, or dependent. Students are required to pay applicable
          income taxes on the tuition coverage, as well as the costs of books
          and computer or technology services. Tuition coverage is provided
          after scholarships or other grants and is only valid for certain
          online classes, up to a maximum 135 credits for ASU Online (i.e.
          degree programs) and $3,000 for Continuing Professional Education, ELL
          and Earned Admission. Maximums do not reset if a delivery person
          transfers coverage to an eligible family member or if a student
          switches between programs. Enrollment in ASU Online depends on
          enrollee gaining admission and admission decisions are made at ASU’s
          sole discretion. Delivery people remain eligible for this reward for
          as long as they maintain Uber Eats Pro Gold, Platinum or Diamond
          status, and for an additional 3 month grace period if their Uber Eats
          Pro status falls to Partner level. Additional limitations apply. For
          complete terms and conditions, visit
          <a
            data-region="uber-landing-page"
            target="_blank"
            href="https://www.uber.com/legal/rewards-program/ubereats-pro/us-en/"
            class="external-link"
            >uber.com/legal/rewards-program/ubereats-pro/us-en/</a
          >.
        </i>
        <i v-else-if="currentpage == 'driver'">
          * Delivery people must have completed 1,000 lifetime trips and have
          Gold, Platinum or Diamond status in a U.S. city where Uber Eats Pro is
          in operation to be eligible for 100% tuition coverage. Eligible family
          members are a spouse or domestic partner, child, sibling, parent or
          legal guardian, or dependent. Students are required to pay applicable
          income taxes on the tuition coverage, as well as the costs of books
          and computer or technology services. Tuition coverage is provided
          after scholarships or other grants and is only valid for certain
          online classes, up to a maximum 135 credits for ASU Online (i.e.
          degree programs) and $3,000 for Continuing Professional Education, ELL
          and Earned Admission. Maximums do not reset if a delivery person
          transfers coverage to an eligible family member or if a student
          switches between programs. Enrollment in ASU Online depends on
          enrollee gaining admission and admission decisions are made at ASU’s
          sole discretion. Delivery people remain eligible for this reward for
          as long as they maintain Uber Eats Pro Gold, Platinum or Diamond
          status, and for an additional 3 month grace period if their Uber Eats
          Pro status falls to Partner level. Additional limitations apply. For
          complete terms and conditions, visit
          <a
            data-region="uber-landing-page"
            target="_blank"
            href="https://www.uber.com/legal/rewards-program/ubereats-pro/us-en/"
            class="external-link"
            >uber.com/legal/rewards-program/ubereats-pro/us-en/</a
          >.
        </i>
        <i v-else>
          * Delivery people must have completed 1,000 lifetime trips and have
          Gold, Platinum or Diamond status in a U.S. city where Uber Eats Pro is
          in operation to be eligible for 100% tuition coverage. Eligible family
          members are a spouse or domestic partner, child, sibling, parent or
          legal guardian, or dependent. Students are required to pay applicable
          income taxes on the tuition coverage, as well as the costs of books
          and computer or technology services. Tuition coverage is provided
          after scholarships or other grants and is only valid for certain
          online classes, up to a maximum 135 credits for ASU Online (i.e.
          degree programs) and $3,000 for Continuing Professional Education, ELL
          and Earned Admission. Maximums do not reset if a delivery person
          transfers coverage to an eligible family member or if a student
          switches between programs. Enrollment in ASU Online depends on
          enrollee gaining admission and admission decisions are made at ASU’s
          sole discretion. Delivery people remain eligible for this reward for
          as long as they maintain Uber Eats Pro Gold, Platinum or Diamond
          status, and for an additional 3 month grace period if their Uber Eats
          Pro status falls to Partner level. Additional limitations apply. For
          complete terms and conditions, visit
          <a
            data-region="uber-landing-page"
            target="_blank"
            href="https://www.uber.com/legal/rewards-program/ubereats-pro/us-en/"
            class="external-link"
            >uber.com/legal/rewards-program/ubereats-pro/us-en/</a
          >.
        </i>
      </p>
    </div>
    <div v-else class="container terms-sec mb-48">
      <p style="font-size: 9px !important">
        <i v-if="currentpage == 'family'">
          * Drivers must have completed 3,000 lifetime trips and have Gold,
          Platinum or Diamond status through the Uber Pro program in the U.S. to
          be eligible for 100% tuition coverage. Eligible family members are a
          spouse or domestic partner, child, sibling, parent or legal guardian,
          or dependent. Students are required to pay applicable income taxes on
          tuition coverage, as well as the costs of books and computer or
          technology services. Tuition coverage is provided after scholarships
          or other grants and is only valid for certain online classes, up to a
          maximum 135 credits for ASU Online (i.e. degree programs) and $3,000
          for Continuing Professional Education, ELL and Earned Admission.
          Maximums do not reset if driver transfers coverage to an eligible
          family member or if student switches between programs. Enrollment in
          ASU Online depends on enrollee gaining admission and admission
          decisions are made at ASU’s sole discretion. Drivers remain eligible
          for this reward for as long as they maintain Uber Pro Gold, Platinum
          or Diamond status and for an additional 3-month grace period if their
          Uber Pro status falls to Partner level. Additional limitations apply.
          For complete terms and conditions, visit
          <a
            data-region="uber-landing-page"
            target="_blank"
            href="http://uber.com/pro/terms"
            class="external-link"
            >uber.com/pro/terms</a
          >.
        </i>
        <i v-else-if="currentpage == 'driver'">
          * Drivers must have completed 3,000 lifetime trips and have Gold,
          Platinum or Diamond status through the Uber Pro program in the U.S. to
          be eligible for 100% tuition coverage. Eligible family members are a
          spouse or domestic partner, child, sibling, parent or legal guardian,
          or dependent. Students are required to pay applicable income taxes on
          tuition coverage, as well as the costs of books and computer or
          technology services. Tuition coverage is provided after scholarships
          or other grants and is only valid for certain online classes, up to a
          maximum 135 credits for ASU Online (i.e. degree programs) and $3,000
          for Continuing Professional Education, ELL and Earned Admission.
          Maximums do not reset if driver transfers coverage to an eligible
          family member or if student switches between programs. Enrollment in
          ASU Online depends on enrollee gaining admission and admission
          decisions made at ASU’s sole discretion. Drivers remain eligible for
          this reward for as long as they maintain Uber Pro Gold, Platinum or
          Diamond status and for an additional 3-month grace period if their
          Uber Pro status falls to Partner level. Additional limitations apply.
          For complete terms and conditions,
          <a
            data-region="uber-landing-page"
            target="_blank"
            href="http://uber.com/pro/terms"
            class="external-link"
            >uber.com/pro/terms</a
          >.
        </i>
        <i v-else>
          * Drivers must have completed 3,000 lifetime trips and have Gold,
          Platinum or Diamond status through the Uber Pro program in the U.S. to
          be eligible for 100% tuition coverage. Eligible family members are a
          spouse or domestic partner, child, sibling, parent or legal guardian,
          or dependent. Students are required to pay applicable income taxes on
          tuition coverage, as well as the costs of books and computer or
          technology services. Tuition coverage is provided after scholarships
          or other grants and is only valid for certain online classes, up to a
          maximum 135 credits for ASU Online (i.e. degree programs) and $3,000
          for Continuing Professional Education, ELL and Earned Admission.
          Maximums do not reset if driver transfers coverage to an eligible
          family member or if student switches between programs. Enrollment in
          ASU Online depends on enrollee gaining admission and admission
          decisions made at ASU’s sole discretion. Drivers remain eligible for
          this reward for as long as they maintain Uber Pro Gold, Platinum or
          Diamond status and for an additional 3-month grace period if their
          Uber Pro status falls to Partner level. Additional limitations apply.
          For complete terms and conditions, visit
          <a
            data-region="uber-landing-page"
            target="_blank"
            href="http://uber.com/pro/terms"
            class="external-link"
            >uber.com/pro/terms</a
          >.
        </i>
      </p>
    </div>
    <!-- <div class="container mobile-hide" style="z-index:89;top:-11px;height:30px">
      
      <a data-region="uber-landing-page" href="javascript:void(0)" class="need-help need-help-content" @click="showPopOver = true">
        Need help?
        <i
          class="fa fa-chevron-up"
          style="color:#fff;float: right;line-height: 41px;padding-right: 16px;"
        ></i>
      </a>
      <div id="popover_content_wrapper" v-show="showPopOver">
        <a
          data-region='uber-landing-page'
        class="popover-close" href="#close" @click="close()">
          <i class="fa fa-close" @click="showPopOver = false"></i>
        </a>
        <div style="display:flex;">
          <h2 style="flex-grow: 1;" class="font-weight-bold">Need help?</h2>
          <img
            style="height:35px; float:right; flex-grow: 1;"
            src="../assets/images/customer-service.svg"
            alt="help-icon"
          >
        </div>
        <p>Your dedicated enrollment coach can help you through the entire process.</p>
        <h4>
          For help, call us at
          <a href="tel:844-369-6587" class="text-gold">844-369-6587</a>
        </h4>
      </div>

    </div> -->
    <footer>
      <div id="innovation-footer">
        <div id="innovation-bar">
          <div class="innovation-top">
            <div class="innovation-status">
              <a
                data-region="uber-landing-page"
                href="https://www.asu.edu/rankings"
                target="_blank"
                data-aesra-score="linkNewWindowWarning:1;"
              >
                <span> ASU is No.1 in the U.S. for innovation </span>
                <span
                  style="display: none"
                  class="ae-compliance-indent ae-new-window"
                  >Opens a New Window.</span
                >
              </a>
            </div>
            <div class="innovation-hidden">
              <a
                data-region="uber-landing-page"
                href="https://www.asu.edu/rankings"
                target="_blank"
                data-aesra-score="linkNewWindowWarning:1;"
              >
                <img
                  src=" https://www.asu.edu/asuthemes/4.8/assets/ASU-number-1-innovation-best-colleges.png "
                  alt="Best Colleges U.S. News Most Innovative 2021"
                  class="ae-img"
                />
                <span
                  style="display: none"
                  class="ae-compliance-indent ae-new-window"
                  >Opens a New Window.</span
                >
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="little-foot hidden-print" role="contentinfo">
        <!--<div class="container">
          <div class="row">
        <div class="col-md-12">-->
        <div class="region region-asu-footer">
          <ul>
            <li class="font-weight-bold">Copyright 2019 ASU Online</li>
            <li>
              <router-link to="/privacy" target="_blank"
                >Privacy Policy</router-link
              >
            </li>
            <li>
              <a
                data-region="uber-landing-page"
                id="link-class"
                href="http://www.asu.edu/copyright/"
                >Copyright &amp; Trademark</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- </div>
        </div>
      </div>-->
    </footer>
  </section>
</template>
<script>
export default {
  name: "FooterComponent",
  data() {
    return {
      showPopOver: false,
      currentpage: "default",
    };
  },
  methods: {
    getTheLocation() {
      return window.location.window.location.host.indexOf("eats") >= 0
        ? true
        : false;
    },
    close() {
      this.showPopOver = false;
    },
  },
  mounted() {
    if (window.location.pathname == "/family") {
      this.currentpage = "family";
    } else if (window.location.pathname == "/driver") {
      this.currentpage = "driver";
    }
  },
};
</script>

<style scoped>
/* .footer{
  z-index: 90;
} */
.need-help {
  width: 151px;
  height: 41px;
  background-color: #7b7b7b;
  border-radius: 7px 7px 0 0;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
  display: flex;
  color: white;
  justify-content: space-around;
}
.need-help a {
  color: #fff;
}
.need-help a:hover {
  text-decoration: none;
  color: #fff;
}
#popover_content_wrapper {
  position: absolute;
  width: 350px;
  height: 188px;
  background-color: #7b7b7b;
  border-radius: 7px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  top: -159px;
  padding: 12px 12px;
}
#popover_content_wrapper p {
  font-size: 16px;
  line-height: 19px;
  margin: 8px 0 0;
}
#popover_content_wrapper h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin: 4px 0 0;
}
#popover_content_wrapper h4 span {
  color: #ffc627;
  border-bottom: #ffc627 dotted 1px;
}
.popover-close {
  cursor: pointer;
}
#popover_content_wrapper a.text-gold {
  color: #ffc627 !important;
}
#popover_content_wrapper a.text-gold:hover {
  color: #ffc627 !important;
}
#popover_content_wrapper a.popover-close i {
  color: #fff !important;
}
</style>

