<template>
  <section id="getstarted" :class="get.className">
    <BaseBanner
      :heading="get.heading"
      :page="page"
      :bgImage="get.media[$route.path.split('/')[1]].image_1"
      :lists="get.list[$route.path.split('/')[1]]"
    />
  </section>
</template>
<script>
export default {
  name: "Getstarted",
  props: {
    get: Object,
    page: String,
  },
  data() {
    return {
      buttons: {
        labels: ["Read more", "Collapse"],
        state: 0,
      },
    };
  },
  mounted() {
    console.log(this.$route.path.split("/")[1]);
  },
  methods: {
    //   faqhrefValue(indexfaq) {
    //     return "#Tcollapsethreet" + indexfaq;
    //   },
    //   faqidValue(indexfaq) {
    //     return "Tcollapsethreet" + indexfaq;
    //   },
    showMoreFaqs(e) {
      this.buttons.state = !this.buttons.state ? 1 : 0;

      if (this.buttons.state == 1) {
        $(".hidden-overlay").hide("fast");
        $("ol li").show("slow").css("display", "flex");
        $("ol li").removeAttr("style");
      } else {
        $(".hidden-overlay").show("fast");
        $("ol li:nth-child(n+4)").hide("slow").css("display", "flex");
      }
    },
  },
};
</script>