<style>
    /* #hero .hero-bg-img{
                background-image: url('../assets/images/CampusLife.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 500px;
                position: relative;
        } */
    /* @media (max-width: 991px){
            .request-info-li{
                display: none !important;
            }
        } */
        #hero .hero-bg-img {
            background-image: url('../assets/images/HeroImage.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 600px;
            position: relative;
        }

    @media (max-width: 991px) {
        #hero .hero-bg-img {
            height: 50vh;
        }
    }

    @media (max-width: 767px) {
        #hero .hero-bg-img {
            height: 60vh;
        }
    }

</style>
<template>
    <section id="hero">
        <div class="asuloc_hero">
            <div class="container mobile-text-allignment">
                <div class="hero tall-home-hero hero-bg-img">
                    <div class="container">
                        <h2 class="display-1 h1_text">Get more from<br> the road ahead</h2>
                        <p class="hero_sudhd text-gold">Undergraduate degrees</p>
                    </div>
                </div><!-- /.container -->
            </div><!-- /.col -->
        </div>
    </section>
</template>
<script>
    export default {
        name: 'HeroComponent',
    };
</script>