<template>
  <section id="tuition" class="bg-white mt-5">
    <div class="container mb-4">
      <h2 class="font-32 font-weight-bolder mb-48">
        <span class="underline">{{ chart.heading }}</span>
      </h2>
    </div>
    <div class="container align-items-center mb-24 mb-lg-0">
      <div class="row" style="display: flex; justify-content: center">
        <!-- <div class="col-lg-8 mobile-chart-parent-2233">
          <div class="donut-chart-mobile"></div>
        </div> -->
        <img
          class="mb-4"
          v-if="!$store.state.isUberEats"
          :src="getImgUrl('Uber_Tuition_Graphic-mobilee.png')"
          style="width: 90%; height: 100%"
        />
        <img
          v-else
          :src="getImgUrl('Uber_Eats_Tuition_Graphic-mobile.png')"
          style="width: 90%; height: 100%; margin-bottom: 24px"
        />
        <div class="col-lg-4 mt-5" style="position: relative">
          <div class="col-lg-4" style="background: #f1f1f1">
            <div class="p-4">
              <h2 class="font-24 font-weight-bolder">
                How does tuition coverage work?
              </h2>
              <div
                v-if="!$store.state.isUberEats"
                class="line"
                style="background-color: black"
              ></div>
              <div v-else class="line" style="background-color: #2a2a2a"></div>
              <div style="display: flex" v-for="text in summary">
                <img
                  class="m-6"
                  :src="getImgUrl(text.Icon)"
                  width="10"
                  height="10"
                />
                <p class="miniParagraph">{{ text.text }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
// import * as d3 from "d3";
export default {
  name: "doughnutMobile",
  data() {
    return {
      details: {
        heading: "",
        text: "",
      },
    };
  },
  methods: {
    getImgUrl(image) {
      return require(`../assets/images/${image}`);
    },
    getDetails(str, classes) {
      let s = str.split(" ");
      let arr = s.map(function (i) {
        return "<span class='" + classes + "'>" + i + "</span>";
      });
      return arr.join(" ");
    },
  },
  props: ["labels", "range", "more", "summary", "values", "chart"],
};
</script>
<style>
.mobile-chart-parent-2233 {
  padding-left: 0;
  padding-right: 0;
}
.donut-chart-mobile svg {
  width: 100%;
  height: 310px;
}

.donut-chart-mobile path.slice {
  stroke-width: 2px;
}

.donut-chart-mobile polyline {
  opacity: 1;
  fill: none;
}
.donut-chart-mobile .label {
  font-size: 15px;
  font-weight: 500;
}

.donut-chart-mobile {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}
.details-parent {
  background-color: #f9f9f9;
  height: 100%;
  border-left: 3px solid #dee2e6;
}
.details-heading {
  font-size: 24px;
}
.details-paragraph {
  font-size: 14px;
}
.line {
  width: 100px;
  height: 6px;
  margin: -10px 0px 10px 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}
</style>
