<style>
.text-decoration {
  text-decoration: underline;
}
/* #home-howitworks .bg-img {
  
} */
@media (min-width: 1024px) {
  #home-howitworks .bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}
@media (min-width: 767px) {
  #home-howitworks {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #home-howitworks.UberProImage {
    background-image: url("../assets/images/Asset19.svg");
  }
  #home-howitworks.UberEatsImage {
    background-image: url("../assets/images/Asset19.EATS.svg");
  }

  #home-howitworks .bg-img.UberProImage {
    background-size: contain;
    background-image: url("../assets/images/how-to-placeholder.png");
  }
  #home-howitworks .bg-img.UberEatsImage {
    background-image: url("../assets/images/how-to-placeholder.png");
  }
}
@media (max-width: 1024px) {
  #home-howitworks.UberEatsImage {
    background-color: #f5f5f5 !important;
    color: black;
  }
}
@media (max-width: 767px) {
  #home-howitworks {
    margin-top: 4rem;
  }
  #home-howitworks.UberEatsImage {
    background-color: #f5f5f5;
    color: black;
  }
  .iframe-youtube-how-to {
    width: 100%;
  }
}

@media screen and (min-width: 991px) and (max-width: 767px) {
  .container-fix {
    padding: 0;
  }
}
.v--modal-background-click {
  background-color: rgb(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
}

.embed-yt-close {
  position: fixed;
  top: 20%;
  right: 3%;
  cursor: pointer;
  line-height: 1;
  font-size: 28px;
  color: red;
}

.modal-yt-embed {
  width: 100%;
}

.modal-yt-iframe {
  width: 100%;
  height: 100%;
}

.iframe-yt-parent {
  position: relative;
  height: 100%;
}
</style>

<template>
  <section
    id="home-howitworks"
    :class="homeHowItWorks.media.className"
    class="mt-lg-5 mt-5"
  >
    <div :class="$store.state.tab ? 'container-fluid' : 'container'">
      <div class="row">
        <div class="col-12 col-lg-5 p-0 my-lg-4 py-lg-2">
          <div
            class="bg-img"
            :class="homeHowItWorks.media.className"
            @click="displayModal"
            v-dataLayerButtonTag
            tagEvent="modal"
            tagAction="open"
            tagType="click"
            tagSection="how it works"
            tagRegion="main content"
            tagText="play button"
          ></div>
          <iframe
            v-if="!$store.state.desktop"
            width="100%"
            height="315"
            src="https://www.youtube.com/embed/qxgTwhq6ugU?enablejsapi=1"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="iframe-youtube-how-to"
          />
          <modal name="how-to-video" width="80%" height="50%" @opened="opened">
            <div class="iframe-yt-parent">
              <iframe
                class="modal-yt-iframe"
                width="100%"
                src="https://www.youtube.com/embed/qxgTwhq6ugU?enablejsapi=1"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              />
              <div
                class="embed-yt-close"
                @click="$modal.hide('how-to-video'), hideModal()"
              >
                ❌
              </div>
            </div>
          </modal>
        </div>
        <div class="col-12 col-lg-7 py-5">
          <div class="howitworksli text-white">
            <div class="d-flex mt-lg-5">
              <h2
                class="font48 font-weight-bolder"
                :class="$store.state.tab ? 'ml-5' : ''"
              >
                {{ homeHowItWorks.heading }}
              </h2>
            </div>
            <ol class="custom-bullet custom-bullet--a">
              <li
                class="position-relative"
                v-for="(list, i) in homeHowItWorks.lists"
                :key="i"
                v-html="list"
              ></li>
            </ol>
          </div>
          <div>
            <button
              v-if="$store.state.isAuth"
              data-toggle="modal"
              data-target="#asu_rfi_form"
              @click="$emit('open-modal', 'driver')"
              class="btn btn-gold btn-block col-lg-6 mx-auto"
              style="margin-left: 10rem"          
                     v-dataLayerButtonTag tagSection="how to get started" tagEvent="modal" tagAction="open"

            >
              Sign up
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import {
  dataLayerAnchorTag,
  dataLayerButtonTag,
  dataLayerSelectTag,
  
} from "data-layer-test-oo-gtm";

export default {
  name: "Homehowitworks",
  directives: {
    dataLayerAnchorTag,
    dataLayerButtonTag,
    dataLayerSelectTag,
  },
  props: {
    homeHowItWorks: Object,
    page: String,
  },
  data: function () {
    return {
      showModal: false,
    };
  },
  methods: {
    getImgUrl(image) {
      return require("../assets/images/" + image);
    },
    hideModal() {
      dataLayer.push({
        event: "modal",
        action: "close",
        name: "onclick",
        type: "click",
        region: "main content",
        section: "take your seat. the road is yours | uber + asu online | uber",
        text: "close cross",
      });
    },
    displayModal() {
      this.$modal.show("how-to-video");
      // dataLayer.push({
      //   event: "modal",
      //   name: "onclick",
      //   action: "open",
      //   type: "click",
      //   region: "main content",
      //   section: "take your seat",
      //   text:
      //     window.location.pathname.indexOf("family") > 0 ? "family" : "driver",
      // });
    },
    opened(event) {
      setTimeout(function () {
        document.querySelector(".embed-yt-close").style.opacity = 1;
      }, 1000);
    },
  },
  mounted() {
    document.querySelectorAll(".triggerclassdriver").forEach((el) =>
      el.addEventListener("click", (event) => {
        console.log(event, "hello");
        dataLayer.push({
          event: 'link',
action: 'click',
name: 'onclick',
type: 'internal link',
region: 'main content',
section: 'how to get started',
          text: event.target.text,
        });
      })
    );

    console.log("hello");
  },
};
</script>
