<style>
    @media (min-width: 992px){
        #home_discover .bg-img{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
         #home_discover .UberImage-driver{
             background-image: url('../assets/images/ESLImage.jpg');
          }
          #home_discover .UberImage-family{
             background-image: url('../assets/images/uberimagefamily.jpg');
          }
          #home_discover .UberEatsImage{
             background-image: url('../assets/images/ESLImage.jpeg');
          }
    }
    </style>
<template>
    <section id="home_discover" class="py-5 pb-lg-0">
        <div class="container">
            <div class="row">
                <div class="col offset-lg-4 bg-img" :class="homeDiscover.media.className">
                    <div class="col-lg-12 location_content text-black">
                        <h2 class="display4-size font-weight-bolder mb-4"><span class="underline">{{homeDiscover.heading}}</span></h2>
                        <!-- <h2 class="display4-size font-weight-bold mb-4 underline" style="margin-top: 20px;">potential</h2> -->
                        <p class="mb-0 mb-lg-3">{{homeDiscover.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        name: 'Homediscover',
        props: {
            homeDiscover : Object
        },
    methods:{
        getImgUrl(image) {
        return require("../assets/images/" + image);
      }
    }
    };
</script>