<style>
#homehero .hero {
  background-position: center 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  #homehero .hero-bg-img {
    height: 550px;
  }
}

@media (max-width: 991px) {
  #homehero .hero-img {
    height: 400px;
    background-position: center 50%;
  }
  #homehero .hero-img::after{
    content: "";
    position: absolute;
    height: 100%;
    background-image: linear-gradient(to bottom,transparent 0,transparent 60%,#000 100%);
    width: 100%;
    top: 15px;
    height: 464px;
  }

  #homehero .hero-bg-img {
    display: none;
  }
}
</style>
<template>
  <section id="homehero">
    <section class="sb_hero">
      <div
        class="hero-img mobile-show hero"
      >
      <img :src="getImgUrl(hero.bgImage)" class="img-responsive" alt="family page hero section image">
        <div class="container">
          <h2 class="display-1 h1_text text-white" v-html="hero.heading"></h2>
          <p
            class="font24 text-gold font-weight-bold"
            style="margin-bottom: 0px;"
            v-html="hero.subheading"
          ></p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div
              class="hero tall-home-hero hero-bg-img"
              :style="{'background-image': 'url(' + getImgUrl(hero.bgImage) + ')'}"
            >
              <!-- <div class="conatiner"> -->
              <!-- <img src="../assets/images/HomePageHeroImage.jpg" alt="ASU and Uber 100% tuition coverage" style="" class="img-responsive desktop_hero"> -->
              <div class="container px-5 mx-5">
                <h2 class="display-1 h1_text text-white" v-html="hero.heading"></h2>
                <p
                  class="font24 text-gold font-weight-bold hero-sub"
                  style="margin-bottom: 0px;"
                  v-html="hero.subheading"
                ></p>
              </div>
              <!-- </div> -->
            </div>
            <!-- /.container -->
          </div>
        </div>
      </div>
      <!-- /.col -->
    </section>
  </section>
</template>
<script>
export default {
  props: {
    hero: Object
  },
  name: "Homehero",
  methods: {
    getImgUrl(image) {
      return require("../assets/images/" + image);
    }
  }
};
</script>