<template>
  <section id="home-eligible">
    <div class="container">
      <h2 class="font48 font-weight-bolder py-5 pt-lg-0 mb-0 mb-lg-5">
        <span class="text-white bg-black-gray">{{
          AreYouEligible.heading
        }}</span>
      </h2>
      <div class="row">
        <div
          class="col-md-6 col-lg-4"
          :class="getGrid()"
          v-for="(content, i) in AreYouEligible.content"
          :key="i"
        >
          <div class="row">
            <div class="col-2 col-sm-1 col-md-1 gold-icon">
              <img
                :src="getImgUrl(AreYouEligible.media.diamond)"
                alt="gold-icon"
                class="img-responsive mobile-show"
              />
            </div>
            <div
              class="col-10 col-sm-11 col-md-11 col-lg-12"
              style="margin-bottom: 4%"
            >
              <h3 class="font-24 font-weight-bolder underline">
                {{ content.heading }}
              </h3>
              <p class="font_elig mt-lg-32" v-if="content.description">
                {{ content.description ? content.description : "" }}
              </p>
              <p class="font_elig mobile-show-opp">
                {{ content.mobileContent ? content.mobileContent : "" }}
              </p>
              <p class="font_elig mobile-hide-opp">
                {{ content.deskTopContent ? content.deskTopContent : "" }}
              </p>
              <button
                v-if="content.showButton"
                type="button"
                class="btn btn-gold btn-view-city mobile-hide-opp"
                data-toggle="modal"
                data-target="#myModal-city"
              >
                View city list
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-5 mobile-hide" />
    </div>
    <!-- <hr class="my-5 mobile-hide"> -->

    <div class="modal fade" id="myModal-city">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <!-- <h4 class="modal-title">Modal Heading</h4> -->
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <p class="city-content" style="font-size: 16px">
              {{ AreYouEligible.modal }}
            </p>
          </div>

          <!-- Modal footer -->
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: "Homeeligible",
  props: {
    AreYouEligible: Object,
  },
  methods: {
    getImgUrl(image) {
      return require(`../assets/images/${image}`);
    },
    isFamilyPage() {
      return window.location.href.indexOf("family") > 0 ? true : false;
    },
    getGrid() {
      return this.$store.state.isUberEats && !this.isFamilyPage()
        ? "col-lg-3"
        : this.$store.state.isUberEats && this.isFamilyPage()
        ? "col-lg-6"
        : "col-lg-4";
    },
  },
};
</script>