<template>
  <section id="home-opportunity" class="mt-2 pt-96 pb-3 mb-0">
    <div class="container">
      <h2 class="font48 font-weight-bolder mb-5 pb-lg-2">
        <span class="underline">{{ opportunities.heading }}</span>
      </h2>
      <div class="row" v-if="$store.state.desktop || $store.state.mobile">
        <div class="col-lg-6 mb-32 mb-lg-0">
          <div
            class="opp_content_left"
            @mouseover="showLhsRFI = true"
            @mouseleave="showLhsRFI = false"
          >
            <!-- <div @mouseover="$store.state.showRFI = true"  @mouseleave="$store.state.showRFI = false"> -->
            <div style="padding-left: 2em">
              <span>
                <h2
                  class="font48 font-weight-bold bt-left"
                  v-html="opportunities.ug.heading"
                ></h2>
                <!-- <img src="../assets/images/BlackCar.svg"> -->
              </span>
              <img
                :src="getImgUrl(opportunities.media.asuo)"
                alt="opportunity"
              />
            </div>
            <div class="clearfix">
              <p style="font-size: 16px">{{ opportunities.ug.content }}</p>
              <a
                data-region="uber-landing-page"
                id="link-class"
                :href="
                  $store.state.isAuth || $store.state.family_isAuth
                    ? '/driver/asuo'
                    : '/family/asuo'
                "
                class="btn btn-gold btn-block" v-dataLayerAnchorTag tagSection="undergraduate programs"
                >View degrees</a
              >
            </div>
            <!-- </div> -->
            <transition name="slide">
              <div class="rightforyou-div hide_for_mob" v-if="showLhsRFI">
                <h2 class="font24 font-weight-bold">Is this right for me?</h2>
                <div class="rfu-li">
                  <ul>
                    <!-- <li class="font-weight-bold">Fine with long-term commitment.</li> -->
                    <li class="font-weight-bold">
                      Want to take courses to earn college credit.
                    </li>
                    <li class="font-weight-bold">
                      Interested in a university degree.
                    </li>
                    <li class="font-weight-bold">
                      Prefer learning that is structured and collaborative.
                    </li>
                  </ul>
                </div>
              </div>
            </transition>
          </div>
        </div>
        <div class="col-lg-6">
          <div
            class="opp_content_right"
            @mouseover="showRhsRFI = true"
            @mouseleave="showRhsRFI = false"
          >
            <!-- <div > -->
            <div style="padding-left: 2em">
              <span>
                <h2 class="font48 font-weight-bold bt-left mobile-hide">
                  Upskilling<br />
                  courses
                </h2>
                <h2 class="font48 font-weight-bold bt-left mobile-show">
                  Upskilling <br />
                  courses
                </h2>
                <!-- <img src="../assets/images/BlackCar.svg"> -->
              </span>
              <img
                :src="getImgUrl(opportunities.media.cpe)"
                alt="opportunity"
              />
            </div>
            <div class="clearfix">
              <p style="font-size: 16px; margin-bottom: 40px">
                Take online courses in entrepreneurship and learn how to build a
                business, or perfect your language skills with online courses in
                English language learning.
              </p>
              <a
                data-region="uber-landing-page"
                :href="
                  $store.state.isAuth || $store.state.family_isAuth
                    ? '/driver/cpe'
                    : '/family/cpe'
                "
                id="link-class"
                class="btn btn-gold btn-block"  v-dataLayerAnchorTag tagSection="upskilling courses"
                >View courses</a
              >
            </div>
            <!-- </div> -->
            <transition name="slide">
              <div class="rightforyou-div hide_for_mob" v-if="showRhsRFI">
                <h2 class="font24 font-weight-bold">Is this right for me?</h2>
                <div class="rfu-li">
                  <ul>
                    <!-- <li class="font-weight-bold">Seeking short-term commitment.</li> -->
                    <li class="font-weight-bold">Want to build your skills.</li>
                    <li class="font-weight-bold">
                      Interested in a certificate.
                    </li>
                    <li class="font-weight-bold">
                      Prefer learning that is self-paced.
                    </li>
                  </ul>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
      <!-- Tab -->
      <div v-if="$store.state.tab">
        <div style="padding-bottom: 1rem">
          <div class="opp_content_left row">
            <div class="col-md-6 bg-content-gray">
              <div style="padding-left: 2em">
                <span>
                  <h2 class="heading-4 font-weight-bold bt-left">
                    Undergraduate<br />
                    programs
                  </h2>
                  <img
                    :src="getImgUrl(opportunities.media.asuo)"
                    alt="opportunity asuo"
                  />
                </span>
              </div>
              <div class="clearfix">
                <p style="font-size: 16px">
                  Earn credits toward a degree online from the #2 undergraduate
                  degree program in the nation. Choose from 80+ undergraduate
                  degree programs 100% online.
                </p>
                <a
                  data-region="uber-landing-page"
                  id="link-class"
                  :href="
                    $store.state.isAuth || $store.state.family_isAuth
                      ? '/driver/asuo'
                      : '/family/asuo'
                  "
                  class="btn btn-gold btn-block"
                  >View degrees</a
                >
              </div>
            </div>
            <div
              class="rightforyou-div col-md-6 bg-content-gray border-left-black"
            >
              <h2 class="font24 font-weight-bold ml-3">
                Is this right for me?
              </h2>
              <div class="rfu-li">
                <ul>
                  <!-- <li class="font-weight-bold">Fine with long-term commitment.</li> -->
                  <li class="font-weight-bold">
                    Want to take courses to earn college credit.
                  </li>
                  <li class="font-weight-bold">
                    Interested in a university degree.
                  </li>
                  <li class="font-weight-bold">
                    Prefer learning that is structured and collaborative.
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 bg-content-gray bg-content-gray">
              <div style="padding-left: 2em">
                <span>
                  <h2 class="heading-4 font-weight-bold bt-left">
                    Course series
                  </h2>
                  <!-- <img src="../assets/images/BlackCar.svg"> -->
                  <img
                    :src="getImgUrl(opportunities.media.cpe)"
                    style="margin-left: 10px"
                    alt="opportunity cpe"
                  />
                </span>
              </div>
              <div class="clearfix">
                <p style="font-size: 16px">
                  Take online courses in entrepreneurship and learn how to build
                  a business, or perfect your language skills with online
                  courses in English language learning.
                </p>
                <a
                  data-region="uber-landing-page"
                  :href="
                    $store.state.isAuth || $store.state.family_isAuth
                      ? '/driver/cpe'
                      : '/family/cpe'
                  "
                  id="link-class"
                  class="btn btn-gold btn-block"
                  >View courses</a
                >
              </div>
            </div>
            <div
              class="rightforyou-div col-md-6 bg-content-gray border-left-black"
            >
              <h2 class="font24 font-weight-bold ml-3">
                Is this right for me?
              </h2>
              <div class="rfu-li">
                <ul>
                  <!-- <li class="font-weight-bold">Seeking short-term commitment.</li> -->
                  <li class="font-weight-bold">Want to build your skills.</li>
                  <li class="font-weight-bold">Interested in a certificate.</li>
                  <li class="font-weight-bold">
                    Prefer learning that is self-paced.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Tab -->
    </div>
  </section>
</template>
<script>
import { dataLayerAnchorTag, dataLayerButtonTag, dataLayerSelectTag, dataLayerInputTag} from 'data-layer-test-oo-gtm';
export default {
  name: "Homeopportunity",
  props: {
    opportunities: Object,
  },
  directives:{
    dataLayerAnchorTag,
   dataLayerButtonTag,
    dataLayerButtonTag,
    dataLayerSelectTag
  },
  
  data() {
    return {
      showLhsRFI: false,
      showRhsRFI: false,
    };
  },
  methods: {
    getImgUrl(image) {
      return require("../assets/images/" + image);
    },
  },
};
</script>
<style>