
<template>
    <section id="home-opportunity" class="my-2 pt-5">
        <div class="container">
            <h2 class="font48 font-weight-bolder mb-5">
                <span class="underline">Opportunities</span>
            </h2>
            <div class="row" v-if="$store.state.desktop || $store.state.mobile">
                <div class="col-lg-6" style="padding-bottom: 1rem;">
                    <div class="opp_content_left">
                        <div @mouseover="$store.state.showRFI = true"  @mouseleave="$store.state.showRFI = false">
                            <div style="padding-left: 2em;">
                                <span>
                                    <h2 class="font48 font-weight-bold bt-left">
                                        Undergraduate<br> programs
                                    </h2>
                                    <!-- <img src="../assets/images/BlackCar.svg"> -->
                                </span>
                                <img src="../assets/images/opportunities-2.svg" alt="opportunity">
                            </div>
                            <div class="clearfix">
                                <p style="font-size:16px">Earn credits from ASU Online, ranked in the top 10 nationally for best online bachelor’s programs by U.S. News & World Report.
                                    Choose from 80+ undergraduate degree programs 100% online.</p>
                                <a data-region='uber-landing-page' id="link-class" :href="{'/driver/asuo': $store.state.isAuth == true}" class="btn btn-gold btn-block">View degrees</a>
                            </div>
                        </div>
                        <div class="rightforyou-div hide_for_mob" v-if="$store.state.showRFI">
                            <h2 class="font24 font-weight-bold ">
                                Is this right for me?
                            </h2>
                            <div class="rfu-li">
                                <ul>
                                    <li class="font-weight-bold">Fine with long-term commitment</li>
                                    <li class="font-weight-bold">Want to lay a foundation for your education</li>
                                    <li class="font-weight-bold">Interested in a university degree</li>
                                    <li class="font-weight-bold">Prefer learning that is collaborative</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="opp_content_right">
                        <div @mouseover="$store.state.showRFUC = true" @mouseleave="$store.state.showRFUC = false">
                            <div style="padding-left: 2em;">
                                <span>
                                    <h2 class="font48 font-weight-bold bt-left mobile-hide">
                                        Course<br> series
                                    </h2>
                                    <h2 class="font48 font-weight-bold bt-left mobile-show">
                                        Course series
                                    </h2>
                                    <!-- <img src="../assets/images/BlackCar.svg"> -->
                                </span>
                                <img src="../assets/images/opportunities-3.svg" alt="opportunity">
                            </div>
                            <div class="clearfix">
                                <p style="font-size:16px">Take online courses in entrepreneurship and learn how to build a business, or perfect
                                    your
                                    English language skills with online courses in English Language Learning.</p>
                                <a data-region='uber-landing-page' id="link-class" href="/cpe" class="btn btn-gold btn-block">View courses</a>
                            </div>
                        </div>
                        <div class="rightforyou-div hide_for_mob" v-if="$store.state.showRFUC">
                            <h2 class="font24 font-weight-bold">
                                Is this right for me?
                            </h2>
                            <div class="rfu-li">
                                <ul>
                                    <li class="font-weight-bold">Fine with long-term commitment</li>
                                    <li class="font-weight-bold">Want to lay a foundation for your education</li>
                                    <li class="font-weight-bold">Interested in a university degree</li>
                                    <li class="font-weight-bold">Prefer learning that is collaborative</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab -->
            <div v-if="$store.state.tab">
                <div style="padding-bottom: 1rem;">
                    <div class="opp_content_left row">
                        <div class="col-md-6 bg-content-gray">
                            <div style="padding-left: 2em;">
                                <span>
                                    <h2 class="heading-4 font-weight-bold bt-left">
                                        Undergraduate<br> programs
                                    </h2>
                                <img src="../assets/images/opportunities-2.svg" alt="opportunity">
                                </span>
                            </div>
                            <div class="clearfix">
                                <p style="font-size:16px">Earn credits toward a degree online from the #2 undergraduate degree program in the
                                    nation.
                                    Choose from 80+ undergraduate degree programs 100% online.</p>
                                <a data-region='uber-landing-page' id="link-class" :href="{'/driver/asuo': $store.state.isAuth == true}" class="btn btn-gold btn-block">View degrees</a>
                            </div>
                        </div>
                        <div class="rightforyou-div col-md-6 bg-content-gray border-left-black">
                            <h2 class="font24 font-weight-bold ">
                                Is this right for me?
                            </h2>
                            <div class="rfu-li">
                                <ul>
                                    <li class="font-weight-bold">Fine with long-term commitment</li>
                                    <li class="font-weight-bold">Want to lay a foundation for your education</li>
                                    <li class="font-weight-bold">Interested in a university degree</li>
                                    <li class="font-weight-bold">Prefer learning that is collaborative</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 bg-content-gray bg-content-gray">
                            <div style="padding-left: 2em;">
                                <span>
                                    <h2 class="heading-4 font-weight-bold bt-left">
                                        Undergraduate<br> programs
                                    </h2>
                                <img src="../assets/images/opportunities-2.svg" alt="opportunity">
                                </span>
                            </div>
                            <div class="clearfix">
                                <p style="font-size:16px">Take online courses in entrepreneurship and learn how to build a business, or perfect your English language skills with online courses in English Language Learning.</p>
                                <a data-region="uber-landing-page" href="/asuo" id="link-class" class="btn btn-gold btn-block">View degrees</a>
                            </div>
                        </div>
                        <div class="rightforyou-div col-md-6 bg-content-gray border-left-black">
                            <h2 class="font24 font-weight-bold ">
                                Is this right for me?
                            </h2>
                            <div class="rfu-li">
                                <ul>
                                    <li class="font-weight-bold">Fine with long-term commitment</li>
                                    <li class="font-weight-bold">Want to lay a foundation for your education</li>
                                    <li class="font-weight-bold">Interested in a university degree</li>
                                    <li class="font-weight-bold">Prefer learning that is collaborative</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Tab -->
         </div>   
      </div>
    </div>
    <div class="row py-5 desktop_hide" v-if="$store.state.mobile">
      <div class="col-lg-12 py-5" style="background-color: #2a2a2a;">
        <h2
          class="font48 text-white font-weight-bold"
          style="text-align:center;"
        >Which is right for me?</h2>
        <div class="rightforyou-div">
          <h2 class="font24 font-weight-bold text-gold heading_mobile">Undergraduate program</h2>
          <div class="rfu-li text-white">
            <ol class="for_mobile">
              <li class="font-weight-mild">Fine with long-term commitment</li>
              <li class="font-weight-mild">Want to lay a foundation for your education</li>
              <li class="font-weight-mild">Interested in a university degree</li>
              <li class="font-weight-mild">Prefer learning that is collaborative</li>
            </ol>
          </div>
        </div>
        <div class="rightforyou-div">
          <h2 class="font24 font-weight-bold text-gold heading_mobile">Course series</h2>
          <div class="rfu-li text-white">
            <ol class="for_mobile">
              <li class="font-weight-mild">Seeking short-term commitment</li>
              <li class="font-weight-mild">Want to build your skills</li>
              <li class="font-weight-mild">Interested in a certificate</li>
              <li class="font-weight-mild">Prefer learning that is self-paced</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="desktop_hide container" v-if="$store.state.mobile">
      <h2 class="font48 font-weight-bold underline">
        <span>Costs and</span>
      </h2>
      <br>
      <h2 class="font48 font-weight-bold underline">
        <span>financial aid</span>
      </h2>
      <h4 style="font-weight:bold;margin-top: 1rem;">Is it really “free?”</h4>
      <p
        style="font-size:16px;"
      >We get this question a lot. The answer is yes, your tuition is covered by Uber and ASU, at no cost to you. Here’s how it works.</p>
      <MobileDoughnut
      :labels="labels"
      :range="range"
      :more="more"
      :summary="summary"
      :values="values"
      v-if="$store.state.mobile"
      ></MobileDoughnut>
    </div>
  </section>
</template>
<script>
import MobileDoughnut from '../components/homeDoughnut.vue'
export default {
  name: "Homeopportunity",
  data() {
    return {
        labels: ["Grants & Scholarships", "Uber Coverage", "Books & Supplies"],
        range: ["#5C00F0", "#FACC2A", "#33343A"],
        more: [
          "gift aid that does not require repayment",
          "Uber covers the rest of your tuition after financial aid, no matter the cost. You receive 100% tuition coverage.",
          "not covered approx. $650 per semester"
        ],
        summary: [
          "Any grants and scholarships you receive by applying for financial aid are applied.",
          "Uber covers the rest of your tuition after financial aid, no matter the cost. You receive 100% tuition coverage.",
          "What’s left that is not covered is approximately $650 for books and supplies, which financial aid may also cover."
        ],
        values: [4, 12, 1]
      }
    },
    methods:{
        mouseOverRFI: function(){
            this.$store.state.showRFI = !$store.state.showRFI;
        },
        mouseOverRFUC: function(){
            $store.state.showRFUC = !$store.state.showRFUC;
        }
    },
    components:{
        MobileDoughnut
    }
};
</script>
<style>