<style>
@media(min-width:991px)
{
    #home-financialaid{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:transparent;
    margin-top: 107px !important;
    }
    #home-financialaid.UberPro{
        background-image: url('../assets/images/Asset4.png');
    }
    #home-financialaid.UberEats{
        background-image: url('../assets/images/Asset4.EATS.png');
    }
}
@media (max-width: 991px) {
    #home-financialaid.UberPro{
       background-color: rgb(42, 42, 42);
    }
    #home-financialaid.UberEats{
        background-color: #f5f5f5
    }
.UberEats.tab-homefinancial{
    background-color: #f5f5f5
}
.UberPro.tab-homefinancial{
    background-color: rgb(42, 42, 42);
}
}

</style>
<template>
    <section id="home-financialaid" class="mt-5 pt-2 pt-lg-0" :class="financialAid.media.className">
        <div class="container-fluid" v-if="!$store.state.tab">
            <div class="container">
                <div class="row py-5 desktop_financialaid container">
                <div class="col-lg-7 text-white">
                    <h2 class="font48 font-weight-bolder" style="margin-bottom:2.5rem;">
                        {{financialAid.heading}}
                    </h2>
                    <div class="faid-content" v-html="financialAid.content">
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <img :src="getImgUrl(financialAid.media.image_1)" class="img-responsive" alt="financial aid">
                </div>
            </div>
            </div>
            <div class="mobile_financialaid row">
                <div class="text-white">
                    <div>
                    <div class="d-flex justify-content-between align-items-center container-fluid">
                        <h2 class="font48 font-weight-bolder ml-3" style="padding-top: 1.5em;">
                        {{financialAid.heading}}
                    </h2>
                    <img :src="getImgUrl(financialAid.media.image_1)" class="img-responsive" alt="financial aid" style="width:10em;margin-top: -20px;">
                    </div>
                    </div>
                   <div class="faid-content" v-html="financialAid.content">
                    </div>
                </div>
            </div>
        </div>

        <!-- tab logic -->
        <div class="container" v-else>
            <div class="row pt-5 pb-5 tab-homefinancial">
                <div class="col-md-9 text-white">
                    <h2 class="font48 font-weight-bolder col-md-11">
                        {{financialAid.heading}}
                    </h2>
                    <div class="faid-content" v-html="financialAid.content"></div>
                </div>
                <div class="position-absolute" style="right:-10rem; margin-top: -10.5rem;">
                    <img :src="getImgUrl(financialAid.media.image_1)" class="img-responsive" alt="financial aid" style="height:48em">
                </div>
            </div>
        </div>
        <!-- /tab -->
    </section>
</template>
<script>
export default {
    name: 'HomeFinancialaid',
    props: {
        financialAid: Object
    },
    methods:{
        getImgUrl(image) {
        return require(`../assets/images/${image}`);
      }
    }
};
</script>