<template>
  <div>
    <doughnut-mobile
      v-if="$store.state.mobile"
      :labels="labels"
      :range="range"
      :more="more"
      :summary="summary"
      :values="values"
    ></doughnut-mobile>
    <doughnut-desktop
      v-else
      :labels="labels"
      :range="range"
      :more="more"
      :values="values"
      :summary="summary"
    ></doughnut-desktop>
  </div>
</template>
<script>
import doughnutMobile from "./doughNutComponentMobile.vue";
import doughnutDesktop from "./doughNutComponentDesktop.vue";
export default {
  name: "loadDoughnut",
  props: ["labels", "range", "more", "summary", "values"],
  data() {
    return {};
  },
  mounted: function() {},
  components: {
    doughnutMobile,
    doughnutDesktop
  }
};
</script>
