<template>
  <div class>
    <mobile-cpe-header
      :clickedCourseCPEMobile="clickedCourseCPEMobile"
    ></mobile-cpe-header>
    <article id="explore-programs" class="cpe-explore-programs">
      <div class="section-wrapper" v-if="!$store.state.clickedCourseCPEMobile">
        <div
          class="explore-degcard row w-100 z-99 m-0"
          :class="
            !$store.state.clickedCourseCPEMobile
              ? 'position-fixed'
              : 'position-absolute'
          "
          @click="showDetailedInfoCourse(MobileCpe.courses[section])"
          v-show="!$store.state.clickedCourseCPEMobile"
        >
          <a
            data-region="uber-landing-page"
            href="javascript:void(0)"
            class="w-100 cpe-program-open"
          >
            <span class="d-none">{{ MobileCpe.courses[section].title }}</span>
            <BaseCardText
              :title="MobileCpe.courses[section].title"
              :image="getImgUrl(MobileCpe.courses[section].bgImage)"
              :startDate="MobileCpe.courses[section].start_date"
              :duration="MobileCpe.courses[section].duration"
              :toggleShow="$store.state.clickedCourseCPEMobile"
              :smallImage="getImgUrlDegree('Education')"
            />
          </a>
        </div>
        <ul class="nav-items p-0" id="cpe-programs-mobile-navigator-full">
          <div
            class="all-programs"
            :class="{
              'margin-26': MobileCpe.shortName.includes('Entrepreneurship'),
            }"
          >
            <div class="main" v-scroll-spy="{ data: 'section', offset: 245 }">
              <a
                data-region="uber-landing-page"
                :key="index"
                v-for="(item, index) in MobileCpe.courses"
                :id="`programs-mobile-Litem-${index}`"
                @click="delegateListItem($event)"
                class="nav-link font-weight-bold d-flex justify-content-between align-items-center"
                :class="{
                  'border-top border-bottom': index == 0,
                  'border-bottom': index != 0,
                }"
              >
                <span class="w-80">{{ item.title }}</span>
                <!-- todo: Add the icons from the degree icons -->
                <img
                  src="../assets/images/degreeIcons/education.svg"
                  alt="education"
                  sizes
                  srcset
                  style="width: 20px; height: 20px"
                />
              </a>
            </div>
          </div>
        </ul>
      </div>
      <div v-if="$store.state.clickedCourseCPEMobile">
        <single-course-cpe :oneCourse="selectedCourse"></single-course-cpe>
      </div>
      <div
        class="cpe-fix text-center mt-4 pt-2"
        :class="[!$store.state.clickedCourseCPEMobile ? 'd-block' : 'd-none']"
      >
        <div class="more-courses">
          <h2 class="heading-6 font-weight-bold">Looking for more courses?</h2>
          <p class="text-center">
            Explore other options including earning credits towards an ongoing
            degree
          </p>
          <a
            data-region="uber-landing-page"
            @click="choseInvertedProgram(MobileCpe.shortName)"
            class="btn btn-outline-secondary font-weight-bold"
            >{{
              MobileCpe.shortName.includes("English")
                ? "Entrepreneurship"
                : "English"
            }}
            Course</a
          >
        </div>
      </div>
    </article>
  </div>
</template>
<script>
import MobileCpeHeader from "../components/cpeProgramHeader.vue";
import SingleCourseCpe from "../components/singleCPECoursesMobile";
export default {
  name: "MobileCpe",
  components: {
    MobileCpeHeader,
    SingleCourseCpe,
  },
  data() {
    return {
      section: 0,
      clickedCourseCPEMobile: false,
      selectedCourse: {},
      height: 0,
    };
  },
  props: {
    MobileCpe: Object,
  },
  mounted() {
    this.delegateListItem({
      currentTarget: {
        id: "programs-mobile-Litem-0",
      },
    });
    window.scrollTo(0, 0);
    window.addEventListener("resize", this.getWindowWidth);
    this.getWindowWidth();
  },
  methods: {
    getWindowWidth(event) {
      let height =
        $(window).height() -
        $("#cpe-programs-mobile-navigator-full").height() -
        60;
      $(".more-courses").css("margin-bottom", height + "px");
      $("#cpe-programs-mobile-navigator-full").css("top", 166 + "px");
    },
    getImgUrlDegree(image) {
      return require("../assets/images/degreeIcons/" +
        _.camelCase(image) +
        ".svg");
    },
    getImgUrl(image) {
      return require("../assets/images/" + image);
    },
    delegateListItem(event) {
      let targetId = event.currentTarget.id;
      var position = $(`#${targetId}`).position();
      var height = $(`#${targetId}`).height();
      $("html, body").animate(
        {
          scrollTop: position.top + height - 24,
        },
        500
      );
    },
    choseInvertedProgram(program) {
      // console.log(program.split(" ")[0])
      this.$store.state.showCPEMobilePrograms = false;
      setTimeout(() => {
        this.$store.state.MobileCpe = this.$store.state.courses.CPE_Courses[
          program.includes("English") ? 1 : 0
        ];
        this.$store.state.showCPEMobilePrograms = true;
        window.scrollTo(0, 0);
      }, 50);
    },
    showDetailedInfoCourse(singleCourse) {
      this.selectedCourse = singleCourse;
      this.$store.state.mobileSelectedCpeCourse = singleCourse.title;
      this.$store.state.clickedCourseCPEMobile = !this.$store.state
        .clickedCourseCPEMobile;
    },
  },
};
</script>

<style scoped>
.margin-26 {
  margin-top: -26px;
}
</style>