<template>
  <section>
    <header id="main-header">
      <div class="container navbar navbar-expand-lg">
        <div
          class="margin-1 d-flex w-sm-100 align-items-center justify-content-between"
          id="corp_logo_II"
        >
          <a
            data-region="uber-landing-page"
            v-bind:href="getTheLocation()"
            v-if="$store.state.isUberEats"
          >
            <img
              alt="UberEats ASUO logo"
              title
              src="../assets/images/ubereats_asu_logo.svg"
              class="ae-img m-sm-0"
          /></a>
          <a data-region="uber-landing-page" :href="getTheLocation()" v-else>
            <img
              alt="uber asu logo"
              title
              src="../assets/images/uber_and_asu_logo.svg"
              class="ae-img m-sm-0"
          /></a>
          <a
            data-region="uber-landing-page"
            href="#"
            v-if="$store.state.mobile || $store.state.tab"
            data-backdrop="static"
            data-keyboard="false"
            class="btn btn-secondary font-weight-bold"
            id="sign-up"
            >Sign up</a
          >
        </div>
        <div class="collapse navbar-collapse" id="navbar-ws">
          <ul
            class="nav-items nav navbar-nav navbar-right d-flex align-items-center"
          >
            <li :key="item.id" v-for="item in titles" class="menu-item">
              <a
                data-region="uber-landing-page"
                :href="`#${item.id}`"
                @click="activateScrollSpy(item)"
                v-dataLayerAnchorTag tagSection="main navbar" tagRegion="navbar" 
                class="nav-link scrollactive-item"
               
                >{{ item.name }}</a
              >
            </li>
            <a
              data-region="uber-landing-page"
              href="#sign-up"
              v-if="$store.state.isAuth"
              class="btn btn-gold ml-4"
              data-toggle="modal"
              data-target="#asu_rfi_form"
              v-dataLayerButtonTag tagEvent="modal" tagAction="open" tagType="click" tagSection="main navbar" tagRegion="navbar"
              @click="$emit('open-modal', page)" 
            >
              Sign up
            </a>
            <!-- {{value}} -->
          </ul>
        </div>
      </div>
      <div class="background-border-header"></div>
    </header>
    <div id="need-help" class="mobile-hide" style="z-index: 89; top: 60%"        
>
<span     v-dataLayerButtonTag tagEvent="modal" tagAction="open" tagText="Need help? " tagType="click" tagSection="sticky sidebar" tagRegion=" main content"
>
      <a
        v-if="!showPopOver"
        style="-webkit-transform: rotate(180deg); transform: rotate(180deg)"
        data-region="uber-landing-page"
        href="javascript:void(0)"
        class="need-help need-help-content"
        @click="showPopOver = true"

      >
        Need help?
        <!-- <i
          class="fa fa-chevron-up fa-rotate-90"
          style="color:#fff;float: right;line-height: 41px;padding-right: 16px;"
        ></i> -->
        <img
          style="height: 13px; width: 38px; padding-left: 10px"
          src="../assets/images/right-arrow.svg"
          alt="help-icon"
        />
      </a>
</span>
      <div id="popover_content_wrapper" v-show="showPopOver" >
        <a
          style="display: block"
          data-region="uber-landing-page"
          class="popover-close"
          href="#close"
    v-dataLayerButtonTag tagEvent="collapse" tagAction="close" tagText="close cross " tagType="click" tagSection="sticky sidebar" tagRegion=" main content"

          @click="close()"
        >
          <i
            style="display: flex; justify-content: flex-end"
            class="fa fa-close"

            @click="showPopOver = false"
          ></i>
        </a>
        <div style="display: flex">
          <h2 style="flex-grow: 1" class="font-weight-bold">Need help?</h2>
          <img
            style="height: 35px; width: 35px; float: right; flex-grow: 1"
            src="../assets/images/customer-service.svg"
            alt="help-icon"
          />
        </div>
        <p>
          Your dedicated enrollment coach can help you through the entire
          process.
        </p>
        <h4>
          For help, call us at
          <a href="tel:844-369-6587"                 v-dataLayerAnchorTag tagSection="sticky sidebar" tagRegion="main content" tagText="844-369-6587"  class="text-gold" >844-369-6587</a>
        </h4>
      </div>
    </div>
  </section>
</template>

<script>
import i18n from "../services/i18n/i18n";
import { dataLayerAnchorTag, dataLayerButtonTag, dataLayerSelectTag, dataLayerInputTag} from 'data-layer-test-oo-gtm';
export default {
  name: "NavComponent",
  

  data() {
    return {
      showPopOver: false,
    };
  },directives:{
    dataLayerAnchorTag,
   dataLayerButtonTag,
    dataLayerButtonTag,
    dataLayerSelectTag
  },
  props: {
    sectionValue: Number,
    titles: Array,
    page: String,
  },
  methods: {
    close() {
      this.showPopOver = false;
    },
    activateScrollSpy(item) {
      var addressValue = document.getElementById(item.id);
      $("html, body").animate(
        {
          scrollTop: $(addressValue).offset().top - 60,
        },
        200
      );
      this.clickedItem = item.name;
    },
    getTheLocation() {
      //return window.location.href.indexOf('eats') >= 0 ? true : false
      let page_path = window.location.pathname;
      if (this.$store.state.isAuth) {
        if (page_path.indexOf("asuo") >= 0 || page_path.indexOf("cpe") >= 0) {
          return "/driver";
        } else {
          return "/";
        }
      } else {
        if (page_path.indexOf("asuo") >= 0 || page_path.indexOf("cpe") >= 0) {
          return "/family";
        } else {
          return "/";
        }
      }
    },
  },
};
</script>

<style scoped>
.background-border-header {
  border-bottom: 5px solid #ffc627;
  width: 100%;
  position: absolute;
  top: 90px;
}
.main-header-floating .background-border-header {
  border-bottom: 5px solid #ffc627;
  width: 100%;
  position: absolute;
  top: 74px;
}

.is-active {
  border-bottom: 1px dotted #8c1d40;
  color: #8c1d40 !important;
}
#need-help {
  position: fixed;
  direction: ltr !important;
  display: inline-block !important;
  overflow-wrap: normal !important;
  word-break: normal !important;
  word-wrap: normal !important;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  cursor: pointer;
  float: right;
  right: 0;
}

.need-help {
  width: 40px;
  height: 125px;
  background-color: #7b7b7b;
  border-radius: 0 7px 7px 0;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
  display: flex;
  color: white;
  justify-content: space-around;
  -moz-writing-mode: vertical-lr;
  -ms-writing-mode: tb-rl;
  -o-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
}
.need-help a {
  color: #fff;
}
.need-help a:hover {
  text-decoration: none;
  color: #fff !important;
}
#popover_content_wrapper {
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: #7b7b7b;
  border-radius: 7px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  top: -76px;
  left: -300px;
  padding: 24px 12px;
}
#popover_content_wrapper p {
  font-size: 16px;
  line-height: 19px;
  margin: 8px 0 0;
}
#popover_content_wrapper h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin: 4px 0 0;
}
#popover_content_wrapper h4 span {
  color: #ffc627;
  border-bottom: #ffc627 dotted 1px;
}
.popover-close {
  cursor: pointer;
}
#popover_content_wrapper a.text-gold {
  color: #ffc627 !important;
}
#popover_content_wrapper a.text-gold:hover {
  color: #ffc627 !important;
}
#popover_content_wrapper a.popover-close i {
  color: #fff !important;
}
</style>