<template>
  <div
    class="need-help text-white"
    id="needHelp"
    style="background-color: #000000"
  >
    <div class="container py-4">
      <div>
        <div class="d-flex justify-content-between align-items-center my-sm-4">
          <div class="col-8">
            <h2 class="display4-size m-0">Need help?</h2>
            <p>
              Your dedicated enrollment coach can help you through the entire
              process and answer any questions.
            </p>
            <p class="font24 font-weight-bold">
              For help, call us at <br />
              <a
                data-region="uber-landing-page"
                href="tel:844-369-6587"
                id="link-class"
                class="text-gold text-tel"
                >844-369-6587</a
              >
            </p>
          </div>
          <img
            src="../assets/images/NeedHelpIcon.svg"
            alt="need help"
            class="col-4"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<style>
@media (min-width: 767px) {
  .need-help .container {
    width: 95%;
  }
}
</style>
