<template>
  <section id="explore-programs" class="extra_space mt-4">
    <div class="container-fluid">
      <div class="container">
        <h2 class="display4-size text-black underline lineHeight32">
          Explore degrees
        </h2>
      </div>
      <!-- TODO: Place desktop program section here -->
      <program-desktop></program-desktop>
      <!-- TODO: place mobile program section here -->
      <!-- <program-mobile v-else :maxArray = 5 class="mobile-show"></program-mobile> -->
    </div>
  </section>
</template>
<script>
import programDesktop from "./programs/programDesktop.vue";
import programMobile from "./programs/programsMobile.vue";
$(document).ready(function () {
  // console.log("hide");
  $("#explore-programs .card .card-desc").css("display", "none");
});
export default {
  name: "Programs",
  components: {
    programDesktop,
    programMobile,
  },
  methods: {
    showNextSection() {
      // console.log("triggered")
      $("html, body").animate({
        scrollTop: $("#sticky-container").position().top - 80,
      });
    },
  },
};
</script>