<template>
  <!-- RFI modals -->
  <!-- Refactor: make them component this is a duplicate content that will be placed on several places 1)desktop navnar 2)floating nav bar 3)cpe asou discover page 4) cpe discover page form  ids will be renamed but functionalities remain the same. -->
  <section>
    <div class="modal" id="asu_rfi_form">
      <!-- The Modal -->
      <div class="modal-dialog modal-lg" v-if="flags.rfiFormSuccess">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-center" id="rfiFormModalTitle">
              {{ rfiSubmissionMsg.rfiSubmitTitle }}
            </h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body bg-gray">
            <div class="col-md-11 mx-auto">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 rfiForm">
                    <div class="margin-centered">
                      <img
                        v-if="!$store.state.isUberEats"
                        alt="uber asuo logo"
                        title
                        src="../assets/images/uber_and_asu_logo.png"
                        class="spaceball_img"
                      />
                      <img
                        v-else
                        alt="ubereats asuo logo"
                        title
                        src="../assets/images/ubereats_asu_logo.svg"
                        class="spaceball_img"
                      />
                      <div
                        style="display: flex"
                        v-show="rfiSubmissionMsg.isredirectDX"
                      >
                        <img
                          style="margin: 0 auto"
                          alt="loading"
                          title
                          src="../assets/images/loading.gif"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h2 class="center-align" style="text-align: center">
                    <span v-html="rfiSubmissionMsg.rfiSubmitMessage"></span>
                  </h2>
                </div>

                <p style="text-align: center">
                  <span v-html="rfiSubmissionMsg.rfiFooterMessage"></span>
                </p>
                <div class="row">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-dialog modal-lg" v-if="flags.rfiFormError">
        <div class="modal-content">
          <!-- Modal Header -->
          <div
            class="modal-header"
            style="background-color: #f1f1f1; border-bottom: transparent"
          >
            <h4 class="modal-title"></h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              style="font-size: 2.5em; color: #8c1d40; opacity: 1"
            >
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body bg-gray">
            <div class="col-md-10 px-4">
              <div class="container">
                <div class="row">
                  <h2 class="display-6">
                    You are currently not eligible for the ASU and Uber
                    Education Partnership.
                  </h2>
                  <p>
                    <a
                      data-region="uber-landing-page"
                      href="http://www.uber.com/asu"
                      target="_blank"
                      id="link-class"
                      class="space-bot-md"
                    >
                      Learn more about becoming eligible
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal-dialog modal-lg"
        id="rfi-main-form"
        v-if="flags.rfiForm"
        style="display: none"
      >
        <form @submit.prevent="handleSubmit">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title text-center" id="rfiFormModalTitle">
                {{ signupTitle }}
              </h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body bg-gray">
              <div class="col-md-9" style="margin: auto !important">
                <div class="container">
                  <div class="row" style="display: block">
                    <div class="rfiForm">
                      <div class="margin-centered">
                        <img
                          v-if="!$store.state.isUberEats"
                          alt="uber asuo logo"
                          title
                          src="../assets/images/uber_and_asu_logo.png"
                          class="spaceball_img"
                        />
                        <img
                          v-else
                          alt="ubereats asuo logo"
                          title
                          src="../assets/images/ubereats_asu_logo.svg"
                          class="spaceball_img"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row" v-if="flags.rfiOpportunity == 'CPE'">
                    <h2 class="center-align" style="font-size: 18px">
                      Enter the information below to begin signing up to use
                      your tuition coverage toward courses online.
                    </h2>
                  </div>
                  <div class="row" v-else-if="flags.rfiDriver == true">
                    <h2 class="center-align" style="font-size: 18px">
                      Enter the information below to begin signing up for
                      tuition coverage.
                    </h2>
                  </div>
                  <div class="row" v-else>
                    <h2 class="center-align" style="font-size: 18px">
                      Enter the information below to begin signing up to use
                      your tuition coverage toward a degree online.
                    </h2>
                  </div>
                  <div class="form-group">
                    <label for="fname">First name:</label>
                    <input
                      type="text"
                      class="form-control disabledField"
                      id="fname"
                      v-model="profileData.first_name"
                      name="first_name"
                      placeholder="First name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="lname">Last name:</label>
                    <input
                      type="text"
                      class="form-control disabledField"
                      id="lname"
                      v-model="profileData.last_name"
                      name="last_name"
                      placeholder="Last name"
                    />
                  </div>
                  <div class="form-group">
                    <div
                      style="
                        color: red;
                        text-align: left;
                        font-weight: bold;
                        font-size: 12px;
                      "
                      v-if="submitted && errors.has('Email')"
                      class="invalid-feedback"
                    >
                      {{ errors.first("Email") }}
                    </div>

                    <label v-else for="mail">Email address:</label>
                    <input
                      type="text"
                      class="form-control disabledField"
                      id="mail"
                      v-model="profileData.email"
                      v-validate="'required|email'"
                      name="Email"
                      placeholder="Email"
                    />
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone number:</label>
                    <input
                      type="int"
                      class="form-control disabledField"
                      id="phone"
                      v-model="profileData.phone_number"
                      name="phoneno"
                      placeholder="Phone Number"
                    />
                    <!-- currentmod -->
                  </div>
                  <div class="form-group">
                    <div
                      style="
                        color: red;
                        text-align: left;
                        font-weight: bold;
                        font-size: 12px;
                      "
                      v-if="submitted && errors.has('date_of_birth_m')"
                      class="invalid-feedback"
                    >
                      {{ errors.first("date_of_birth_m") }}
                    </div>
                    <div
                      style="
                        color: red;
                        text-align: left;
                        font-weight: bold;
                        font-size: 12px;
                      "
                      v-else-if="submitted && errors.has('date_of_birth_d')"
                      class="invalid-feedback"
                    >
                      {{ errors.first("date_of_birth_d") }}
                    </div>
                    <div
                      style="
                        color: red;
                        text-align: left;
                        font-weight: bold;
                        font-size: 12px;
                      "
                      v-else-if="submitted && errors.has('date_of_birth_y')"
                      class="invalid-feedback"
                    >
                      {{ errors.first("date_of_birth_y") }}
                    </div>
                    <label v-else for="date_of_birth" style="display: block"
                      >Date of birth:</label
                    >
                    <select
                      id="month"
                      v-validate="'required'"
                      name="date_of_birth_m"
                      class
                    >
                      <option value disabled selected>mm</option>
                      <option v-for="(month, index) in month" :key="index">
                        {{ month }}
                      </option>
                    </select>
                    <select
                      id="day"
                      v-validate="'required'"
                      name="date_of_birth_d"
                      class
                    >
                      <option value disabled selected>dd</option>
                      <option v-for="(day, index) in date_current" :key="index">
                        {{ day }}
                      </option>
                    </select>
                    <select
                      id="year"
                      v-validate="'required'"
                      name="date_of_birth_y"
                      class
                    >
                      <option value disabled selected>yyyy</option>
                      <option v-for="(year, index) in year" :key="index">
                        {{ year }}
                      </option>
                    </select>
                    <div class="driverPage" v-if="flags.rfiDriver">
                      <label class="pt-4">Select your benificiary:</label>
                      <div class="d-flex">
                        <div
                          class="custom-control custom-radio custom-control-inline"
                        >
                          <input
                            type="radio"
                            v-model="flags.rfiOpportunity"
                            value="ASUO"
                            id="customRadioInline1"
                            name="customRadioInline1"
                            class="custom-control-input"
                          />
                          <label
                            class="custom-control-label"
                            for="customRadioInline1"
                            >ASU Online</label
                          >
                        </div>
                        <div
                          class="custom-control custom-radio custom-control-inline"
                        >
                          <input
                            type="radio"
                            v-model="flags.rfiOpportunity"
                            value="CPE"
                            id="customRadioInline2"
                            name="customRadioInline1"
                            class="custom-control-input"
                          />
                          <label
                            class="custom-control-label"
                            for="customRadioInline2"
                            >CPE</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <!-- <div style="color:red; text-align:left; font-weight:bold; font-size:12px;" v-if="submitted && errors.has('date_of_birth')"
                      class="invalid-feedback">{{errors.first('date_of_birth')}}</div>

                      <label v-else for="date_of_birth">Date of birth:</label>-->
                    <!-- <input type="date" class="form-control" id="dob" v-model="profileData.dob" v-validate="'required'"
                      name="date_of_birth" placeholder="Date of Birth">-->
                  </div>
                  <div
                    v-if="
                      flags.rfiOpportunity == 'CPE' && !flags.toggleBeneficiary
                    "
                    class="form-group course-select"
                  >
                    <div
                      style="
                        color: red;
                        text-align: left;
                        font-weight: bold;
                        font-size: 12px;
                      "
                      v-if="
                        submitted &&
                        errors.has('course_list_cpe') &&
                        !flags.selectedCourses
                      "
                      class="invalid-feedback"
                    >
                      {{ errors.first("course_list_cpe") }}
                    </div>

                    <label v-else for="course_list_cpe"
                      >Select your courses:</label
                    >
                    <select
                      v-validate.immediate="'required'"
                      name="course_list_cpe"
                      id="course_list_cpe"
                      class="form-control"
                      style="height: 56px"
                      multiple="multiple"
                    >
                      <option value="select your courses" disabled>
                        Select your courses
                      </option>
                      <optgroup
                        v-for="(item, index) in $store.state.courses
                          .CPE_Courses"
                        :key="index"
                        v-bind:label="item.shortName"
                      >
                        <option
                          v-for="(inneritem, index) in item.courses"
                          :key="index"
                          v-bind:value="inneritem.id"
                        >
                          {{ inneritem.title }}
                        </option>
                      </optgroup>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="check_align">
                      <input
                        type="checkbox"
                        id="check_box_1"
                        name="check"
                        style="margin-left: -7px"
                      />
                      <span class="checkmark checkmark_tc"></span>
                    </label>
                    <div
                      class="modal-title uber_partner check_info text-left"
                      style="font-weight: normal"
                    >
                      I agree to the
                      <a
                        data-region="uber-landing-page"
                        style="color: #8c1d40; cursor: pointer"
                        id="link-class"
                        v-on:click="flags.toggleterms = !flags.toggleterms"
                      >
                        Terms & Conditions
                      </a>
                      for the ASU and Uber Education Partnership.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal_white">
              <div class="modal-dependent">
                <div
                  class="col-md-9 border-bottom"
                  style="margin: auto !important"
                >
                  <div class="container">
                    <div class="form-group space-top-md">
                      <label class="check_align">
                        <input
                          type="checkbox"
                          name="check"
                          id="is_family_selection"
                          style="background-color: blue"
                        />
                        <span
                          v-on:click="
                            flags.toggleBeneficiary = !flags.toggleBeneficiary;
                            flags.selectedCourses = false;
                            flags.selectedDependentRelation = false;
                          "
                          class="checkmark"
                        ></span>
                      </label>
                      <div class="check_info" style="font-weight: normal">
                        I am electing to give up my opportunity to a family
                        member instead.
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="offset-md-2 col-md-8 offset-md-2 dependent_details" v-if="flags.toggleBeneficiary"> -->

                <div
                  class="col-md-9 dependent_details space-top-md"
                  v-if="flags.toggleBeneficiary"
                  style="margin: auto"
                >
                  <!-- benificiary setup for number of details -->
                  <div class="d-flex justify-content-center align-items-center">
                    <div
                      class="beni_number bg-secondary text-black heading-5 font-weight-bold"
                    >
                      {{ totalLimit }}
                    </div>
                    <div class="content-desc">
                      <h3 class="heading-5 m-0">Transfers remaining</h3>
                      <p>
                        click to learn more about
                        <a
                          data-region="uber-landing-page"
                          href="#"
                          class="text-primary dotted-bottom"
                          id="link-class"
                        >
                          transfaring benifits
                        </a>
                      </p>
                    </div>
                  </div>
                  <div class="container" v-if="totalLimit > 0">
                    <p
                      class="display-6 text-left space-bot-md"
                      style="font-size: 18px"
                    >
                      I am a spouse or domestic partner, child, sibling, parent,
                      or legal guardian or dependent of an Uber driver-partner.
                    </p>
                    <div class="form-group dependent-select">
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-if="
                          submitted &&
                          errors.has('program_type') &&
                          !flags.selectedDependentRelation
                        "
                        class="invalid-feedback"
                      >
                        {{ errors.first("program_type") }}
                      </div>

                      <label v-else for="program_type"
                        >How is your family member related to you?</label
                      >
                      <select
                        name="program_type"
                        id="program_type"
                        v-validate="'required'"
                        class="form-control"
                      >
                        <option value disabled selected>
                          How is your family member related to you?
                        </option>
                        <option>Spouse/ Domestic partner</option>
                        <option>Child</option>
                        <option>Sibling</option>
                        <option>Dependent</option>
                        <option>Parent/ Legal guardian</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-if="submitted && errors.has('beneficiary_first_name')"
                        class="invalid-feedback"
                      >
                        {{ errors.first("beneficiary_first_name") }}
                      </div>

                      <label v-else for="beneficiary_first_name"
                        >First name:</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="beneficiary_fname"
                        v-model="profileData.beneficiary_fname"
                        name="beneficiary_first_name"
                        v-validate="'required'"
                        placeholder="First name *"
                      />
                    </div>
                    <div class="form-group">
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-if="submitted && errors.has('beneficiary_last_name')"
                        class="invalid-feedback"
                      >
                        {{ errors.first("beneficiary_last_name") }}
                      </div>
                      <label v-else for="beneficiary_last_name"
                        >Last name:</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        v-validate="'required'"
                        v-model="profileData.beneficiary_lname"
                        id="beneficiary_lname"
                        name="beneficiary_last_name"
                        placeholder="Last name *"
                      />
                    </div>
                    <div class="form-group">
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-if="
                          submitted && errors.has('beneficiary_date_of_birth_m')
                        "
                        class="invalid-feedback"
                      >
                        {{ errors.first("beneficiary_date_of_birth_m") }}
                      </div>
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-else-if="
                          submitted && errors.has('beneficiary_date_of_birth_d')
                        "
                        class="invalid-feedback"
                      >
                        {{ errors.first("beneficiary_date_of_birth_d") }}
                      </div>
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-else-if="
                          submitted && errors.has('beneficiary_date_of_birth_y')
                        "
                        class="invalid-feedback"
                      >
                        {{ errors.first("beneficiary_date_of_birth_y") }}
                      </div>
                      <label v-else for="date_of_birth" style="display: block"
                        >Date of birth:</label
                      >
                      <select
                        id="month_b"
                        v-validate="'required'"
                        name="beneficiary_date_of_birth_m"
                        class
                      >
                        <option value disabled selected>mm</option>
                        <option v-for="(month, index) in month" :key="index">
                          {{ month }}
                        </option>
                      </select>
                      <select
                        id="day_b"
                        v-validate="'required'"
                        name="beneficiary_date_of_birth_d"
                        class
                      >
                        <option value disabled selected>dd</option>
                        <option
                          v-for="(day, index) in date_current_b"
                          :key="index"
                        >
                          {{ day }}
                        </option>
                      </select>
                      <select
                        id="year_b"
                        v-validate="'required'"
                        name="beneficiary_date_of_birth_y"
                        class
                      >
                        <option value disabled selected>yyyy</option>
                        <option v-for="(year, index) in year" :key="index">
                          {{ year }}
                        </option>
                      </select>
                    </div>
                    <!-- <div class="form-group">
                    <div style="color:red; text-align:left; font-weight:bold; font-size:12px;" v-if="submitted && errors.has('beneficiary_date_of_birth')"
                      class="invalid-feedback">{{errors.first('beneficiary_date_of_birth')}}</div>
                    <label v-else for="beneficiary_date_of_birth">Date of birth:</label>
                    <input type="date" class="form-control" v-validate="'required'" v-model="profileData.beneficiary_dob"
                      id="beneficiary_dob" name="beneficiary_date_of_birth" placeholder="Date of Birth">
                    </div>-->
                    <div class="form-group">
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-if="submitted && errors.has('beneficiary_email')"
                        class="invalid-feedback"
                      >
                        {{ errors.first("beneficiary_email") }}
                      </div>
                      <label v-else for="beneficiary_email"
                        >Email address:</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        v-validate="'required|email'"
                        v-model="profileData.beneficiary_mail"
                        id="beneficiary_mail"
                        name="beneficiary_email"
                        placeholder="Email address *"
                      />
                    </div>
                    <div
                      v-if="
                        flags.rfiOpportunity == 'CPE' && flags.toggleBeneficiary
                      "
                      class="form-group course-select"
                    >
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-if="
                          submitted &&
                          errors.has('course_list_cpe') &&
                          !flags.selectedCourses
                        "
                        class="invalid-feedback"
                      >
                        {{ errors.first("course_list_cpe") }}
                      </div>

                      <label v-else for="course_list_cpe"
                        >Select your courses:</label
                      >
                      <select
                        v-validate.immediate="'required'"
                        name="course_list_cpe"
                        id="course_list_cpe"
                        class="form-control"
                        style="height: 56px"
                        multiple="multiple"
                      >
                        <option value="select your courses" disabled>
                          Select your courses
                        </option>
                        <optgroup
                          v-for="(item, index) in $store.state.courses
                            .CPE_Courses"
                          :key="index"
                          v-bind:label="item.shortName"
                        >
                          <option
                            v-for="(inneritem, index) in item.courses"
                            :key="index"
                            v-bind:value="inneritem.id"
                          >
                            {{ inneritem.title }}
                          </option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-9" style="margin: auto">
                  <div class="container">
                    <div
                      v-if="flags.toggleterms"
                      style="
                        font-size: 14px;
                        text-align: left;
                        margin: auto;
                        font-weight: normal;
                      "
                      class="space-bot-md"
                    >
                      I authorize Arizona State University and Uber to release
                      and/or exchange information about me on a regular basis as
                      needed to administer, the Uber Tuition Reward and any
                      other Uber sponsored education assistance program in which
                      I participate. This includes payment of any eligible
                      amount of the Uber tuition reward for each Semester
                      enrolled. Information covered by this authorization to
                      exchange information includes my name, Uber rewards ID,
                      ASU ID, reward eligibility, Uber account status and
                      history, educational progress, coursework completion
                      and/or grades to determine ongoing eligibility, academic
                      standing, and tuition billing.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h4
                class="modal-title uber_partner container"
                v-if="totalLimit > 0"
              >
                <strong style="font-size: 14px">Uber and ASU </strong> will use
                this information according to it's &nbsp;
                <a
                  data-region="uber-landing-page"
                  href="/privacy"
                  id="link-class"
                  target="_blank"
                  >Privacy Policy</a
                >.
              </h4>
              <div
                v-show="flags.toggleBeneficiary"
                class="form-group"
                style="text-align: center"
              >
                <div class="eligiblity-show" v-if="totalLimit <= 0">
                  Your are out of transfers. Contact Uber support for additional
                  help
                  <a
                    data-region="uber-landing-page"
                    href="#"
                    type="submit"
                    class="btn btn-lg btn-default"
                    id="benificiary-btn-3"
                  >
                    Contact Uber Support
                  </a>
                </div>
                <div class="eligiblity-hide" v-else>
                  <button
                    type="submit"
                    class="btn btn-lg btn-warning btn-yellow"
                    id="benificiary-btn-2"
                    disabled
                  >
                    Submit info
                  </button>
                </div>
              </div>
              <div
                v-show="!flags.toggleBeneficiary"
                class="form-group"
                style="text-align: center"
              >
                <button
                  type="submit"
                  class="btn btn-lg btn-warning btn-yellow"
                  id="benificiary-btn-1"
                  disabled
                >
                  Submit info
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- END refactor -->
  <!-- end RFI modals -->
</template>

<script>
import util from "../util";
export default {
  name: "NavComponent",
  data() {
    return {
      profileData: this.$store.state.profileData,
      page: this.$store.state.page,
      active: false,
      isOpen: false,
      transfers: {},
      DateOfBirth: {},
      date_current: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
        27,
        28,
        29,
        30,
        31,
      ],
      date_28: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
        27,
        28,
      ],
      date_31: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
        27,
        28,
        29,
        30,
        31,
      ],
      date_30: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
        27,
        28,
        29,
        30,
      ],
      date_29: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
        27,
        28,
        29,
      ],
      month: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
      year: [],
      select_month: "",
      select_date: "",
      select_year: "",
      select_month_b: "",
      select_date_b: "",
      select_year_b: "",
      date_current_b: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
        27,
        28,
        29,
        30,
        31,
      ],
      baseUrl: "",
      rewardsUrl: "/v1/partners/me/rewards/eligibility",
      flags: {
        toggleBeneficiary: false, //  false means the driver hasn't clicked on the benny checkbox
        rfiForm: true,
        rfiFormError: false,
        rfiFormSuccess: false,
        rfiOpportunity: "",
        rfiDriver: false,
        toggleterms: false,
        selectedCourses: false, //  false means no courses are selected
        selectedDependentRelation: false, //  false means beneficiary relation type is not selected
      },
      submitted: false,
      data: {
        rfi: "",
      },
      signupTitle: "",
      userEmail: "",
      rfiSubmissionMsg: {
        driver_degree: {
          rfiSubmitTitle: "Thank you for your interest in ASU Online",
          rfiSubmitMessage:
            "<p style='font-size: 13px; font-weight: 1000; margin-bottom: 30px;'>You are now being redirected to an interactive guide that will help you explore your tuition coverage and apply to ASU.</p>",
          rfiFooterMessage:
            "<span style='font-size: 11px;'>If you haven't been redirected in 30 seconds, please click this <a data-region='uber-landing-page' style='font-weight: bold; border-bottom: 1px dotted #a30046;' href='%url%'>link</a> to continue</span>",
          isredirectDX: true,
        },
        driver_course: {
          rfiSubmitTitle: "Thank you",
          rfiSubmitMessage:
            "Thank you for choosing Entrepreneurship or English courses online.",
          rfiFooterMessage:
            "Keep an eye on your inbox for a course invitation to access your courses.",
        },
        family_degree: {
          rfiSubmitTitle: "Thank you",
          rfiSubmitMessage:
            "You're on your way to helping your family member get an undergraduate degree online.",
          rfiFooterMessage:
            "Let your family member know to keep an eye on their inbox and an ASU enrollment coach will be in touch with them shortly",
        },
        family_course: {
          rfiSubmitTitle: "Thank you",
          rfiSubmitMessage:
            "You're on your way to helping your family member improve their English or learn how to build a business",
          rfiFooterMessage:
            "Let your family member know to keep an eye on their inbox and an ASU enrollment coach will be in touch with them shortly",
        },
        rfiSubmitTitle: "",
        rfiSubmitMessage: "",
        rfiFooterMessage: "",
      },
    };
  },
  computed: {
    computeUniqueClass() {
      let uniqueClass = "";
      if (this.flags.rfiOpportunity === "CPE") {
        uniqueClass = this.flags.toggleBeneficiary
          ? "RFI Submit CPE Dependent’"
          : "RFI Submit CPE Driver";
      } else if (this.flags.rfiOpportunity === "ASUO") {
        uniqueClass = this.flags.toggleBeneficiary
          ? "RFI Submit ASUO Dependent"
          : "RFI Submit ASUO Driver";
      }
      return uniqueClass;
    },
  },
  methods: {
    handleSubmit(e) {
      this.submitted = true;
      this.$validator.validate().then((valid) => {
        if (
          valid ||
          (this.$validator.errors.items.length === 1 &&
            this.$validator.errors.items[0].field === "course_list_cpe" &&
            this.flags.rfiOpportunity === "ASUO")
        )
          this.rfi_form_submit();
      });
    },
    checkEligibility(rfi) {
      let self = this;
      this.flags.selectedCourses = false; //  Since no courses are selected before opening the rfi modal we are setting this value to false
      this.flags.toggleBeneficiary = false;
      this.flags.toggleterms = false;
      $("#is_family_selection").prop("checked", false);
      $("#check_box_1").prop("checked", false);
      $("#benificiary-btn-1").attr("disabled", "disabled");
      $("#benificiary-btn-2").attr("disabled", "disabled");
      this.flags.rfiOpportunity = rfi;
      this.flags.rfiOpportunity === "driver"
        ? (this.flags.rfiDriver = true)
        : (this.flags.rfiOpportunity = rfi);
      console.log(this.flags.rfiOpportunity);
      this.signupTitle =
        rfi === "ASUO" ? "Sign up for a degree" : "Sign up for courses";
      this.$http({
        method: "get",
        url: `${this.baseUrl}${this.rewardsUrl}?driver=${this.profileData.driver_id}`,
        headers: {
          Authorization: JSON.parse(sessionStorage.getItem("token"))
            .access_token,
        },
      })
        .then((response) => {
          if (
            (response.data.reward_type && response.data.eligible) ||
            self.profileData.email === "fuller.christian@gmail.com"
          ) {
            if (!(this.flags.rfiFormError || this.flags.rfiFormSuccess)) {
              this.flags.rfiForm = true;
              document.getElementById("rfi-main-form").style.display = "block";
            }
          } else {
            this.flags.rfiFormError = true;
            this.flags.rfiForm = false;
          }
        })
        .catch((err) => (this.flags.rfiFormError = true));
      this.$http({
        method: "get",
        url: `https://qa-api.edpl.us/v1/cp/uber/partner/benefit/transfers/${this.profileData.driver_id}`,
        headers: {
          Accept: "application/json",
        },
      })
        .then((response) => {
          this.transfers = response.data;
        })
        .catch(
          (err) =>
            (this.transfers = {
              limit: 3,
              current: 1,
            })
        );
    },
    closeAllAreas() {
      $(
        "#view_degree_modal .modal-body ul li div.collapse.show, #view_courses_modal .modal-body ul li div.collapse.show"
      ).each((i, e) => {
        $(e).removeClass("show");
        $(e).parent().find("a").attr("aria-expanded", false);
      });
      $(".hidden-overlay, #show-all-course").show("fast");
      $("ul.list-group-programs li:nth-child(n+6), #hide-all-course").hide();
    },
    hrefValue(index) {
      return "#collapse-code-" + index;
    },
    idValue(index) {
      return "collapse-code-" + index;
    },
    getCourseIds(array) {
      if (!array) return "";

      return array.sort((a, b) => parseInt(a) - parseInt(b)).join("|");
    },
    rfiFormSubmissionMessage: function (DXlink) {
      var msgLink;
      if (
        !this.flags.toggleBeneficiary &&
        this.flags.rfiOpportunity == "ASUO"
      ) {
        msgLink = this.rfiSubmissionMsg.driver_degree;
      } else if (
        !this.flags.toggleBeneficiary &&
        this.flags.rfiOpportunity == "CPE"
      ) {
        msgLink = this.rfiSubmissionMsg.driver_course;
      } else if (
        this.flags.toggleBeneficiary &&
        this.flags.rfiOpportunity == "CPE"
      ) {
        msgLink = this.rfiSubmissionMsg.family_course;
      } else if (
        this.flags.toggleBeneficiary &&
        this.flags.rfiOpportunity == "ASUO"
      ) {
        msgLink = this.rfiSubmissionMsg.family_degree;
      }

      if (msgLink) {
        this.rfiSubmissionMsg.rfiSubmitTitle = msgLink.rfiSubmitTitle;
        this.rfiSubmissionMsg.rfiSubmitMessage = msgLink.rfiSubmitMessage;
        this.rfiSubmissionMsg.rfiFooterMessage = msgLink.rfiFooterMessage.replace(
          "%url%",
          DXlink
        );
        this.rfiSubmissionMsg.isredirectDX = msgLink.isredirectDX;
      }
    },
    rfi_form_submit() {
      $("#benificiary-btn-1").attr("disabled", "disabled");
      $("#benificiary-btn-2").attr("disabled", "disabled");
      var driver_asuo = false,
        requestBody = {},
        self = this;

      if (this.flags.toggleBeneficiary) {
        requestBody = {
          first_name: this.profileData.beneficiary_fname,
          last_name: this.profileData.beneficiary_lname,
          email_address: this.profileData.beneficiary_mail,
          dob:
            document.getElementById("year_b").value +
            "-" +
            document.getElementById("month_b").value +
            "-" +
            document.getElementById("day_b").value,
          sub_class: "uber_beneficiary",
          cp_employee_id: this.profileData.driver_id,
          cp_benefits_eligible: "Y",
          cp_employee_relationship: $("#program_type").select2("val"),
          cp_benefits_eligible_end_date: "",
          cp_employee_first_name: this.profileData.first_name,
          cp_employee_last_name: this.profileData.last_name,
          cp_employee_dob:
            document.getElementById("year").value +
            "-" +
            document.getElementById("month").value +
            "-" +
            document.getElementById("day").value,
          cp_employee_email_address: this.profileData.email,
          cp_employee_phone: this.profileData.phone_number,
          lead_class: "CORP",
          sourceid: "uber_authenticated_lp-Bsaef0JxosOKGFzW",
          origin_uri: window.location.protocol + "//" + window.location.host,
          cp_employee_terms_and_conditions: true,
        };
      } else {
        driver_asuo = this.flags.rfiOpportunity == "ASUO" ? true : false;

        requestBody = {
          first_name: this.profileData.first_name,
          last_name: this.profileData.last_name,
          email_address: this.profileData.email,
          // dob: this.profileData.dob,
          dob:
            document.getElementById("year").value +
            "-" +
            document.getElementById("month").value +
            "-" +
            document.getElementById("day").value,
          phone: this.profileData.phone_number,
          sub_class: "uber_driver",
          lead_class: "CORP",
          sourceid: "uber_authenticated_lp-Bsaef0JxosOKGFzW",
          origin_uri: window.location.protocol + "//" + window.location.host,
          cp_employee_id: this.profileData.driver_id,
          cp_benefits_eligible: "Y",
          cp_employee_terms_and_conditions: true,
        };
      }

      if (this.flags.rfiOpportunity == "ASUO") {
        requestBody.program_key = "UGUD-UNDECIDED";
      } else {
        requestBody.course_id = this.getCourseIds(
          $("#course_list_cpe").select2("val")
        );
      }

      requestBody.enterpriseclientid = cidA;
      requestBody.clientid = cidE;

      window.location.search
        .slice(1)
        .split("&")
        .forEach((e) => {
          if (e.split("=")[0] !== "params" && e.split("=")[0] !== "state")
            requestBody[e.split("=")[0]] = e.split("=")[1];
        });

      let leadUrl = util
        .getLeadAPIUrl()
        .replace("rfiJourney", this.flags.rfiOpportunity.toLowerCase());

      // if (window.location.search.indexOf('test=1') >= 0) leadUrl = leadUrl + '?test=1';

      this.$http({
        method: "post",
        url: leadUrl,
        data: require("qs").stringify(requestBody),
        headers: {
          Accept: "application/javascript",
          "x-partner-token": this.$store.state.token.refresh_token,
          "Content-Type": "application/x-www-form-urlencoded",
        },
      })
        .then(function (response) {
          dataLayer.push({
            event: self.computeUniqueClass,
            asuoid: response.data.id,
          });

          if (driver_asuo) {
            setTimeout(() => {
              self.flags.rfiForm = false;
              self.flags.rfiFormSuccess = true;
              let DXlink = util
                .getDXLink()
                .replace(
                  "%email%",
                  encodeURIComponent(document.getElementById("mail").value)
                )
                .replace("%firstname%", document.getElementById("fname").value)
                .replace("%lastname%", document.getElementById("lname").value)
                .replace(
                  "%phone%",
                  encodeURIComponent(document.getElementById("phone").value)
                )
                .replace("%alliance%", "uber_driver");

              self.rfiFormSubmissionMessage(DXlink);

              return (window.location = DXlink);
            }, 200);
          } else {
            self.rfiFormSubmissionMessage();
            self.flags.rfiFormSuccess = true;
            self.flags.rfiForm = false;

            self.sendMailer(response.data.id);
          }
        })
        .catch(function (response) {
          console.log("REESPONSE====++++ " + response);
        });
    },
    sendMailer(responseId) {
      let requestBody = {
        bennyFirstName: (document.getElementById("beneficiary_fname") || {})
          .value,
        emailAddress: this.flags.toggleBeneficiary
          ? this.profileData.beneficiary_mail
          : this.profileData.email,
        driverFname: this.profileData.first_name,
        name: this.profileData.first_name + " " + this.profileData.last_name,
        rfiJourney:
          this.flags.rfiOpportunity.toLowerCase() +
          "_" +
          this.flags.toggleBeneficiary,
        url:
          window.location.protocol +
          "//" +
          window.location.host +
          "/beneficiaryterms?benefit=" +
          this.flags.rfiOpportunity.toLowerCase() +
          "&id=" +
          responseId,
      };
      this.$http({
        method: "post",
        url: this.baseUrl + "/mail",
        data: require("qs").stringify(requestBody),
        headers: {
          Authorization: this.$store.state.token.access_token,
          "Content-Type": "application/x-www-form-urlencoded",
        },
      })
        .then()
        .catch((response) => {
          console.log("REESPONSE====++++ " + response);
        });
    },
  },
  beforeMount() {
    const dict = {
      custom: {
        Email: {
          required: "Please fill in your email address",
        },
        Email: {
          email: "Please fill in a valid email address",
        },
        beneficiary_first_name: {
          required: () => "Please enter the beneficiary's first name",
        },
        beneficiary_last_name: {
          required: () => "Please enter the beneficiary's last name",
        },
        beneficiary_date_of_birth_m: {
          required: () => "Please select the beneficiary's date of birth",
        },
        beneficiary_date_of_birth_d: {
          required: () => "Please select the beneficiary's date of birth",
        },
        beneficiary_date_of_birth_y: {
          required: () => "Please select the beneficiary's date of birth",
        },
        beneficiary_email: {
          email: () => "Please enter a valid email address",
        },
        course_list_cpe: {
          required: () => "Please select a course to continue",
        },
        date_of_birth_m: {
          required: () => "Please select your date of birth",
        },
        date_of_birth_d: {
          required: () => "Please select your date of birth",
        },
        date_of_birth_y: {
          required: () => "Please select your date of birth",
        },
        course_list_cpe: {
          required: () => "Please select a course to continue",
        },
        beneficiary_email: {
          required: () => "Please enter the beneficiary's email address",
        },
        program_type: {
          required: () =>
            "Please tell us how the beneficiary is related to you",
        },
      },
    };
    this.$validator.localize("en", dict);
  },
  created() {
    this.baseUrl = util.getAPIUrl();
    var i,
      n = new Date().getFullYear();
    for (i = 0; i < 100; i++) {
      this.year.push(n - i);
    }
  },
  beforeUpdate() {
    $("#course_list_cpe.form-control").select2({
      placeholder: "Select your courses",
      allowClear: true,
      minimumResultsForSearch: -1,
    });
    $(".dependent-select select.form-control").select2({
      minimumResultsForSearch: -1,
    });
    var self = this,
      array;
    $(document).ready(function () {
      $("#course_list_cpe").change(function () {
        //  V-validate doesn't work well with select2. Even after a value is selected the error message doesn't disappear
        array = $("#course_list_cpe").select2("val"); //  This is a JQuery function to explicitly
        self.flags.selectedCourses = !!array; //  remove the error message upon selection of an option
      });
      $("#program_type").change(function () {
        //  V-validate doesn't work well with select2. Even after a value is selected the error message doesn't disappear
        array = $("#program_type").select2("val"); //  This is a JQuery function to explicitly
        self.flags.selectedDependentRelation = !!array; //  remove the error message upon selection of an option
      });
      $("#month").change(function () {
        self.select_month = $("#month").val();
        if (self.select_month == 2) {
          if (
            (self.select_year != "" &&
              self.select_year % 4 == 0 &&
              self.select_year % 100 != 0) ||
            (self.select_year != "" && self.select_year % 400 == 0)
          ) {
            self.date_current = self.date_29;
          } else {
            self.date_current = self.date_28;
          }
        } else if (
          ["1", "3", "5", "7", "8", "10", "12"].indexOf(self.select_month) >= 0
        ) {
          self.date_current = self.date_31;
        } else {
          self.date_current = self.date_30;
        }
      });
      $("#year").change(function () {
        self.select_year = $("#year").val();
        if (self.select_month == 2) {
          if (
            (self.select_year % 4 == 0 && self.select_year % 100 != 0) ||
            self.select_year % 400 == 0
          ) {
            self.date_current = self.date_29;
          } else {
            self.date_current = self.date_28;
          }
        }
      });
      $("#day").change(function () {
        self.select_date = $("#day").val();
      });
      $("#month_b").change(function () {
        self.select_month_b = $("#month_b").val();
        if (self.select_month_b == 2) {
          if (
            (self.select_year_b != "" &&
              self.select_year_b % 4 == 0 &&
              self.select_year_b % 100 != 0) ||
            (self.select_year_b != "" && self.select_year_b % 400 == 0)
          ) {
            self.date_current_b = self.date_29;
          } else {
            self.date_current_b = self.date_28;
          }
        } else if (
          ["1", "3", "5", "7", "8", "10", "12"].indexOf(self.select_month_b) >=
          0
        ) {
          self.date_current_b = self.date_31;
        } else {
          self.date_current_b = self.date_30;
        }
      });
      $("#year_b").change(function () {
        self.select_year_b = $("#year_b").val();
        if (self.select_month_b == 2) {
          if (
            (self.select_year_b % 4 == 0 && self.select_year_b % 100 != 0) ||
            self.select_year_b % 400 == 0
          ) {
            self.date_current_b = self.date_29;
          } else {
            self.date_current_b = self.date_28;
          }
        }
      });
      $("#day_b").change(function () {
        self.select_date_b = $("#day_b").val();
      });
    });
  },
  mounted() {
    $(document).ready(function () {
      $("#check_box_1").click(function () {
        if (document.getElementById("check_box_1").checked) {
          $("#benificiary-btn-1").removeAttr("disabled");
          $("#benificiary-btn-2").removeAttr("disabled");
        } else {
          $("#benificiary-btn-1").attr("disabled", "disabled");
          $("#benificiary-btn-2").attr("disabled", "disabled");
        }
      });

      // $("#course_list_cpe.form-control").select2({
      //   placeholder: "Select your courses",
      //   allowClear: true,
      //   minimumResultsForSearch: -1
      // });

      $("ul.list-group-programs li:not(:nth-child(n+6))")
        .show()
        .css("display", "flex");
      $("ul.list-group-programs li:nth-child(n+6)")
        .show()
        .css("display", "none");
      $("ul.list-group-programs li:nth-child(5)").after(
        '<div class="hidden-overlay" style="position:absolute;top:38%;bottom:0;left:0;width:100%;height:62%;background: linear-gradient(to bottom, rgba(238,238,238,0), rgba(238,238,238,238) 100%);"></div>'
      );

      $("#show-all-course").on("click", function () {
        $(".hidden-overlay").hide("fast");
        $("ul.list-group-programs li").show().css("display", "flex");
        $("#hide-all-course").show();
        $("#show-all-course").hide();
      });

      $("#hide-all-course").on("click", function () {
        $(".hidden-overlay").show("fast");
        $("ul.list-group-programs li:nth-child(n+6)").hide();
        $("#hide-all-course").hide();
        $("#show-all-course").show();
      });

      $(".program-toggle, .card-header .row").click(function () {
        //$(this).find("div").toggleClass("toggle-open");
        if ($(this).hasClass("collapsed")) {
          $(this).find("div").removeClass("toggle-open");
          $(this).find("div").addClass("toggle-close");
          $(this).find("span").removeClass("toggle-open");
          $(this).find("span").addClass("toggle-close");
          $(this).removeClass("toggle-open");
          $(this).addClass("toggle-close");
        } else {
          $(this).find("div").removeClass("toggle-close");
          $(this).find("span").removeClass("toggle-close");
          $(this).find("div").addClass("toggle-open");
          $(this).find("span").addClass("toggle-open");
          $(this).removeClass("toggle-close");
          $(this).addClass("toggle-open");
        }
      });
    });
  },
};
</script>

<style>
.toggle-active {
  -webkit-animation: rotation 0.5s linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
  }
}
</style>