<style>
@media (min-width: 992px) {
  #rightforyou {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 600px; */
    position: relative;
    margin-bottom: -30px;
  }
  #rightforyou.UberPro {
    background-image: url("../assets/images/humans-que.svg");
  }
  #rightforyou.UberEats {
    background-image: url("../assets/images/UE_humans-que.svg");
  }
}
@media (min-width: 2000px) {
  #rightforyou {
    background-color: white;
  }
}

@media (min-width: 1500px) {
  #rightforyou {
    background-size: contain;
  }
}
</style>

<template>
  <section
    id="rightforyou"
    :class="right.media.className"
    class="mb-2 pb-4 mt-48 mt-lg-0"
  >
    <div class="container px-0">
      <div class="row text-white">
        <div class="col-lg-6 left-content mt-5">
          <h2 class="display4-size">{{ right.title }}</h2>
          <p>{{ right.paragraph1 }}</p>
          <hr />
          <div class="right-image" style="padding-bottom: 50px !important">
            <img
              :src="getImgUrl(right.media.image_1)"
              class="img-responsive"
              alt="right for you"
            />
          </div>
          <div class="list-content">
            <h3 class="text-gold font-36 font-weight-bold">
              {{ right.gold_title }}
            </h3>
            <ol style="text-indent:-1.6em">
              <li v-for="list in right.list" v-html="list"></li>
            </ol>
          </div>
        </div>
        <div class="col-lg-5 text-black offset-lg-1 not-for-you">
          <h2
            class="font-36 font-weight-bold"
            :class="{ 'underline underline-light': $store.state.desktop }"
          >
            {{ right.right_title }}
          </h2>
          <p
            class="mobile-hide"
            v-if="$store.state.isAuth"
            v-html="right.right_para_driver"
          ></p>
          <p class="mobile-hide" v-else v-html="right.right_para_family"></p>
          <div class="mobile-show">
            <p>{{ right.mobile }}</p>
            <a
              data-region="uber-landing-page" 
              :href="
                $store.state.isAuth
                  ? `/${right.redirect_driver}`
                  : `/${right.redirect_family}`
              "
              id="link-class" 
              class="btn btn-block btn-border-gold text-white" v-anchor tagSection= "not for you?" 
              >{{ right.course_degree }}</a
            >
            <!-- <a v-else :href="`/${right.redirect_family}`" id="link-class" class="btn btn-block btn-border-gold text-white">{{right.course_degree}}</a>                     -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { dataLayerAnchorTag, dataLayerButtonTag, dataLayerSelectTag, dataLayerInputTag} from 'data-layer-test-oo-gtm';

export default {
  name: "Rightforyou",
  props: {
    right: Object,
  }, directives:{
    "anchor":dataLayerAnchorTag,
    "btn":dataLayerButtonTag,
    "select":dataLayerSelectTag,
    "input":dataLayerInputTag
  },

  methods: {
    getImgUrl(image) {
      return require("../assets/images/" + image);
    },
  
  },
  mounted(){
     document.querySelectorAll(".triggerentrepreneurship").forEach(el =>
      el.addEventListener("click", event => {
        console.log(event)
        dataLayer.push({
          event: 'link',
action: 'click',
name: 'onclick',
type: 'internal link',
region: 'main content',
section: 'not for you?',
          text: event.target.text.toLowerCase(),
        });
      })
    );
 
  }
};
</script>