<template>
    <article>
      <div
        class="explore-degcard row w-100 z-99 m-0 absolute"
      >
        <a data-region="uber-landing-page" href-region="uber-landing-page" href="javascript:void(0)" class="w-100 cpe-program-close" @click="$store.state.clickedCourseCPEMobile = false">
        <BaseCardText
        :title="oneCourse.title"
        :image="getImgUrl(oneCourse.bgImage)"
        :startDate="oneCourse.start_date"
        :duration="oneCourse.duration"
        :toggleShow="$store.state.clickedCourseCPEMobile"
        :smallImage="getImgUrlDegree('education')"
        :description="oneCourse.description"
        />
        </a>
      </div>
      <div class="my-4 mobile-modules container">
      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-bold font-24">Description</p>
          <p>{{oneCourse.description}}</p>
        </div>
        <div class="col-md-4">
          <p class="font-weight-bold font-24">Course Objectives</p>
          <div v-for="objective in oneCourse.objectives" :key="objective">
            <div class="d-flex">
              <div class="gold-icon pr-2" style="width:3rem">
                <img  v-if="!$store.state.isUberEats" src="../assets/images/GoldDiamond.svg" alt="gold diamond" class="img-responsive position-relative float-right pt-1" style="width:15px;top:-10px">
                <img v-else src="../assets/images/UE_Home_Eligible_Diamond.svg" alt="UE Home Eligible Diamond" class="img-responsive  position-relative float-right pt-1" style="width:15px;top:-10px">
              </div>
              <div style="width:70%;">
                <p class="font-weight-bold">{{objective}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 container">
          <p class="font-weight-bold font-24">Course Outline</p>
          <ol class="custom-bullet custom-bullet--a">
            <li v-for="(outline,i) in oneCourse.outline" :key="i">
                <span class="font-weight-bold m-0 p-0">Module {{i+1}}</span> <br>
                <span style="margin-left:5px;" v-html="outline"></span>
            </li>
          </ol>
        </div>
      </div>
    </div>
    </article>
    
</template>
<script>
export default {
    props:{
        oneCourse: Object
    },
    mounted(){
        window.scrollTo(0,0);
    },
    methods:{
      getImgUrl(image) {
        return require("../assets/images/" + image);
      },
      getImgUrlDegree(image) {
      return require("../assets/images/degreeIcons/" +
        _.camelCase(image) +
        ".svg");
    },
    }

}
</script>
