<template>
  <div class="border" style="border-bottom: 10px solid black !important">
    <div
      :style="{
        'background-image': 'url(' + getImgUrl(oneCourse.bgImage) + ')',
      }"
      class="cpe-desktop-header bg-with-shadow cpe-desktop-singlecourse"
    >
      <a
        data-region="uber-landing-page"
        @click="$store.state.showCourse = false"
        class="bg-black text-white px-3 py-2 back-button"
      >
        <i class="fas fa-arrow-left pr-2"></i> Back
      </a>
      <div
        class="courses-desc container"
        style="padding-top: 90px; margin-left: 1.8em"
      >
        <h2 class="heading-5 mb-0 pb-0 text-white font-weight-bold">
          Online upskilling courses
        </h2>
        <h3 class="heading-2 text-white font-weight-bold">
          {{ oneCourse.title }}
        </h3>
        <p></p>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-4 pt-3 border-right">
          <div class="width-adjustment">
            <p class="font-weight-bold font-24">Description</p>
            <p v-html="oneCourse.description_html"></p>
            <div class="warning" v-if="warning">
              <p class="font-weight-bold text-primary m-0">
                {{ warning.heading }}
              </p>
              <p v-html="warning.description" class="small"></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 border-right pt-3">
          <div class="width-adjustment">
            <p class="font-weight-bold font-24">Course Objectives</p>
            <div v-for="objective in oneCourse.objectives" :key="objective">
              <div class="row">
                <div
                  class="col-2 p-0 gold-icon"
                  style="margin-left: -30px; margin-top: 5px"
                >
                  <img
                    v-if="!$store.state.isUberEats"
                    src="../assets/images/GoldDiamond.svg"
                    alt="Gold Diamond"
                    class="img-responsive float-right"
                    style="width: 15px"
                  />
                  <img
                    v-else
                    src="../assets/images/UE_Home_Eligible_Diamond.svg"
                    alt="UE Home Eligible Diamond"
                    class="img-responsive float-right"
                    style="width: 15px"
                  />
                </div>
                <div class="col-10">
                  <p>{{ objective }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-3 col-md-4">
          <div class="width-adjustment">
            <p class="font-weight-bold font-24">Course Outline</p>
            <ol class="custom-bullet custom-bullet--a">
              <li v-for="(outline, i) in oneCourse.outline" :key="i">
                <span class="font-weight-bold m-0 p-0"
                  >Module {{ i + 1 }}<br
                /></span>
                <span style="margin-left: 5px" v-html="outline"></span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    oneCourse: Object,
    warning: Object,
  },
  mounted() {
    let height =
      $(".custom-bullet--a").height() -
      $(".custom-bullet--a li:last-child").height();
    $("custom-bullet--a").css("");
  },
  methods: {
    getImgUrl(image) {
      return require("../assets/images/" + image);
    },
  },
};
</script>

