<template>
  <div id="supportAtAsu">
    <section class="mobile-carousel my-5 container position-relative">
      <div
        class="d-flex align-items-lg-center justify-content-lg-between pr-5 w-100"
      >
        <h2 class="display4-size font-weight-bold my-4 underline">
          Support at ASU
        </h2>

        <div>
          <button
            id="left-chev-success"
            class="btn mr-3 p-0 owlNavBtn bg-white rounded-circle" 
          >
            <i class="fas fa-chevron-left"></i>
          </button>

          <button
            id="right-chev-success"
            class="btn owlNavBtn p-0 bg-white rounded-circle"
          >
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
      <div id="carousel-mobile" class="owl-carousel fluid-container my-4">
        <div class="item container">
          <div class="three_supports">
            <div class="icon-bg">
              <img
                class="icon-bg-1"
                src="../assets/images/support/users.svg"
                alt="icon"
              />
            </div>
            <h4 class="support_heading">Success coaching</h4>
            <p>
              All ASU Online students have a success coach to guide them through
              their journey.
            </p>
            <h6>
              <strong>
                They provide success tips, connect you to resources and
                more.</strong
              >
            </h6>
          </div>
        </div>
        <div class="item container">
          <div class="three_supports item">
            <div class="icon-bg">
              <img
                class="icon-bg-3"
                src="../assets/images/support/laptop-video.svg"
                alt="icon"
              />
            </div>
            <h4 class="support_heading">Online tutoring</h4>
            <p>ASU provides a number of tutoring resources online.</p>
            <h6>
              <strong
                >Online tutoring is live, free and available to all online
                students.</strong
              >
            </h6>
          </div>
        </div>

        <div class="item container">
          <div class="three_supports item">
            <div class="icon-bg">
              <img
                class="icon-bg-2"
                src="../assets/images/support/briefcase.svg"
                alt="icon"
              />
            </div>
            <h4 class="support_heading">Career services</h4>
            <p>
              Boost your job search skills, build your resume, enhance your
              interview skills and more.
            </p>
            <h6>
              <strong>ASU offers year-round career support.</strong>
            </h6>
          </div>
        </div>
        <div class="item container">
          <div class="three_supports item">
            <div class="icon-bg">
              <img
                class="icon-bg-3"
                src="../assets/images/support/wheelchair.svg"
                alt="icon"
              />
            </div>
            <h4 class="support_heading">Disability support</h4>
            <p>
              We create an environment that’s accessible, supportive and
              inclusive.
            </p>
            <h6>
              <strong
                >ASU works with anyone who has a documented disability.</strong
              >
            </h6>
          </div>
        </div>
        <div class="item container">
          <div class="three_supports item">
            <div class="icon-bg">
              <img
                class="icon-bg-3"
                src="../assets/images/support/globe-americas.svg"
                alt="icon"
              />
            </div>
            <h4 class="support_heading">360 Life Services</h4>
            <p>
              This comprehensive support program provides free counseling and
              crisis intervention.
            </p>
            <h6>
              <strong
                >You can get assistance 24/7 in person or over the
                phone.</strong
              >
            </h6>
          </div>
        </div>
        <div class="item container">
          <div class="three_supports item">
            <div class="icon-bg">
              <img
                class="icon-bg-3"
                src="../assets/images/support/user-headset.svg"
                alt="icon"
              />
            </div>
            <h4 class="support_heading">Financial aid counselor</h4>
            <p>
              Provides guidance about FAFSA, the ASU and Uber Education
              Partnership, grants and loans.
            </p>
            <h6>
              <strong
                >They can answer questions about how to cover any out of pocket
                expenses like textbooks and laptops.</strong
              >
            </h6>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { dataLayerAnchorTag, dataLayerButtonTag, dataLayerSelectTag, dataLayerInputTag} from 'data-layer-test-oo-gtm';

export default {
   directives:{
    "anchor":dataLayerAnchorTag,
    "btn":dataLayerButtonTag,
    "select":dataLayerSelectTag,
    "input":dataLayerInputTag
  },

  name: "supportAsu",
  mounted() {
    this.$nextTick(() => {
      var a = $("#carousel-mobile").owlCarousel({
        loop: true,
        items: 2,
        autoplay: false,
        autoplayTimeout: 5000,
        autoplayHoverPause: true,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: true,
            loop: false,
            touchDrag: true,
            mouseDrag: true,
          },
          600: {
            items: 2,
            nav: false,
            nav: true,
            loop: false,
            touchDrag: false,
            mouseDrag: false,
          },
          1000: {
            items: 3,
            nav: true,
            loop: true,
            touchDrag: false,
            mouseDrag: false,
            margin: 20,
          },
        },
      });
      $("#supportAtAsu .owl-dots .owl-dot").each(function () {
        $(this).attr("id", "support-owl-dot");
      });
      $("#right-chev-success").click(function () {
        dataLayer.push({
          event: "select",
          action: "click",
          name: "onclick",
          type: "click",
          region: "main content",
          section: "support at asu",
          text: "right chevron",
        });
        a.trigger("next.owl.carousel");
      });
      $("#left-chev-success").click(function () {
        dataLayer.push({
          event: "select",
          action: "click",
          name: "onclick",
          type: "click",
          region: "main content",
          section: "support at asu",
          text: "left chevron",
        });
        a.trigger("prev.owl.carousel");
      });
      // $("#right-chev-success").click(function() {
      //   a.trigger("next.owl.carousel");
      // });
      // $("#left-chev-success").click(function() {
      //   a.trigger("prev.owl.carousel");
      // });
      // });
    });
  },
};
</script>
<style lang="scss">
@media (max-width: 991px) {
  .owlNavBtn {
    position: absolute;
    bottom: 35px !important;
  }
  #left-chev-success {
    left: 20px;
  }
  #right-chev-success {
    right: 20px;
  }
}
.owlNavBtn {
  z-index: 2;
  width: 40px;
  height: 40px;
  color: #848484;
  font-size: 18px;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.5);
  &:focus {
    outline: none !important;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.5);
  }
  &:hover {
    color: #848484;
  }
}
</style>
