<template>
  <div>
    <div
      class="eligiblity-show alert danger"
      v-if="transferAPILoading && !transferAPIError"
    >
      {{ transferAPILoading && !transferAPIError }}
      Loading...
    </div>
    <div
      class="eligiblity-show alert danger"
      v-else-if="!transferAPILoading && transferAPIError"
    >
      <p class="font-weight-bold">Sorry, something went wrong.</p>
      <small class="pb-4">
        The page did not load your eligibility information correctly.
      </small>
      <div class="col-md-5 mx-auto">
        <button class="btn btn-gold" @click="retryTransferLogicApi()">
          Please try again
        </button>
      </div>
    </div>
    <!--transfer logic ineligible message goes here -->
    <div
      class="eligiblity-show"
      v-if="!transferAPILoading && !transferAPIError && totalLimit <= 0"
    >
      You’ve reached your transfer limit. Please contact support through the
      Uber app.
    </div>

    <!-- end transfer logic Error message goes here-->
  </div>
</template>

<script>
import { ModalMixins } from "../mixins/ModalMixins.js";

export default {
  mixins: [ModalMixins],
};
</script>

<style lang="scss" scoped>
</style>