<template>
  <section class="container hasCoverImage mb-lg-5 mt-5" id="vido-sec">
    <div class="row">
      <a
        @click="openModalVideo()"
        class="col-lg-6 bg-img-vid popup-youtube faid-content"
        :style="{'background-image': 'url(' + getImgUrl(VidData.drivers ? VidData.drivers[driver].img : VidData.img) + ')'}"
        :href="`https://www.youtube.com/watch?v=${VidData.drivers ? VidData.drivers[driver].video : VidData.video}`">
        <!-- <iframe
            v-if="$store.state.mobile"
            height="315"
            src="https://www.youtube.com/embed/qxgTwhq6ugU?enablejsapi=1"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="iframe-youtube-how-to"
        />-->
      </a>
      <div class="col-lg-6 d-flex align-items-center">
					<div class="col-md-10 mx-auto mt-3">
						<h2 class="font48 font-weight-bolder mb-5" v-html="VidData.heading"></h2>
						<div class="col-md-9 p-0">
							<p class="font16"><b>"{{VidData.drivers ? VidData.drivers[driver].Testimonial : VidData.Testimonial}}" </b>- {{VidData.drivers ? VidData.drivers[driver].name : VidData.name}}{{VidData.drivers ? VidData.drivers[driver].Name : VidData.Name}}</p>
						</div>
						<p class="font16">{{VidData.drivers ? VidData.drivers[driver].about : VidData.about}}</p>
							<div class="d-flex" v-if="VidData.drivers">
						<template v-for="Thisdriver in Object.keys(VidData.drivers)" > 
							 <a  href="javascript:void(0)" :key="Thisdriver" :class="{'active-driver':Thisdriver===driver , 'mr-5': !$store.state.mobile }" class="driverName" @click="changeDriver(Thisdriver)">Meet {{VidData.drivers ? VidData.drivers[Thisdriver].name : VidData.name}}</a>
						</template> 
							</div>
					</div>
			</div>
    </div>
  </section>
</template>

<script>
import { dataLayerAnchorTag, dataLayerButtonTag, dataLayerSelectTag, dataLayerInputTag} from 'data-layer-test-oo-gtm';
export default {
   directives:{
    dataLayerAnchorTag,
   dataLayerButtonTag,
    dataLayerInputTag,
    dataLayerSelectTag
  },
  data() {
    return {
      driver: ""
    };
  },
  mounted(){
    let self = this;
$(document).ready(function() {
    $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
        type: 'iframe',
        mainClass: 'mfp-fade',
        preloader: true,
        callbacks: {
            open: function () {
                $.magnificPopup.instance.close = function () {
                    self.closeModal(self.driver)
                    $.magnificPopup.proto.close.call(this);
                };
            }
        }
    });
});
  },
  props: {
    VidData: Object
  },
  created() {
    this.driver = this.VidData.drivers ? Object.keys(this.VidData.drivers)[0] : this.VidData.driverName;
  },
  methods: {
    openModalVideo(){
      dataLayer.push({
        event: "modal",
        name: "onclick",
        action: "open",
        type: "click",
        region: "main content",
        section: "take your seat. the road is yours.",
        text: 'play button'
      });
    },
    changeDriver(driver) {
      this.driver = driver;
      dataLayer.push({
        event: "link",
        name: "onclick",
        action: "click",
        type: "internal link",
        region: "main content",
        section: "take your seat. the road is yours.",
        text: `meet ${driver}`
      });
    },
    getImgUrl(image) {
      return require("../assets/images/" + image);
    },
    displayModal() {
      this.$modal.show("how-to-video");
    },
    getDrivers() {
      return Object.Keys(this.VidData.drivers);
    },
    closeModal(driver) {
      dataLayer.push({
        event: "modal",
        name: "onclick",
        action: "close",
        type: "click",
        region: "main content",
        section: "take your seat",
        text: driver
      });
      this.$modal.hide("how-to-video");
    },
    opened(event) {
      // setTimeout(function() {
      //   document.querySelector(".embed-yt-close").style.opacity = 1;
      // }, 1000);
    }
  }
};
</script>

<style lang="scss">
img.innovators {
  border-right: 10px solid #ffc627;
}
.font16{
  font-size: 16px !important;
}
.bg-img-vid{
	background-size: cover;
  background-position: center;
	border-right: 10px solid #ffc627;
  min-height: 600px;
  @media screen and (max-width: 441px) {
    min-height: 320px !important;
  }
  @media screen and (min-width: 442px) and (max-width: 767px) {
    min-height: 500px !important;
  }
}
.driverName {
  font-weight: bold;
  color: black;
  font-size: 18px;
  &:last-child {
    margin-left: 20px;
  }
}
.active-driver {
  border-bottom: 5px solid #e8cb3a;
}
@media screen and (min-width: 992px){
  .hasCoverImage {
    margin-top: 8rem;
  }  
} 
.hasCoverImage {
  min-height: 500px;
}
.popup-youtube {
  .youtube-click {
    outline:none;
    width: 50px;
    height: 50px;
  }
}
</style>