.form-control{
    height: 45px !important;
}

.z-99{
    z-index: 200;
}
.display-6 {
    font-size: 2rem;
    font-weight: bold;
  }
@media (min-width: 768px){
    .sb_driver_content {
      padding: 4rem 5rem !important;
  }
  }

  .dotted-link{
      border-bottom: 1px dotted $primary;
  }

  .radio-driver{
      font-size: 16px !important;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $secondary !important;
    border: none;
}

.select2-selection__clear{
    display: none !important;
}
.display-5 {
    font-size: 1.75rem;
    font-weight: 700;
}