$brand-maroon: #8C1D40 !default;
$brand-gold: #FFC627 !default;
$brand-blue: #00A3E0 !default;
$brand-gray: #5C6670 !default; // button gray
$brand-green: #78BE20 !default;
$brand-orange: #FF7F32 !default;

$brand-primary: $brand-maroon !default;
$brand-secondary: $brand-gold !default;
$brand-success: $brand-green !default;
$brand-info: $brand-blue !default;
$brand-warning: #e3e31b !default;
$brand-danger: #ff3333 !default;

$gray-darker: #000 !default;
$gray-dark: #000 !default;
$gray: $brand-gray !default;
$gray-light: lighten($brand-gray, 10%) !default;
$gray-lighter: lighten($brand-gray, 20%) !default;
$grid-gutter-width: 30px !default;
$spacer: 1rem !default;
$grey-light: #f1f1f1 !default;

$primary: $brand-maroon;
$secondary: $brand-gold;

$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Roboto Slab", Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-weight-normal: 200 !default;
$font-weight-bold: 700 !default;

$display1-size: 3.5rem !default;
$display2-size: 3rem !default;
$display3-size: 36px !default;
$display4-size: 2rem !default;
$display5-size: 1.75rem !default;
$display6-size: 1.5rem !default;
$display7-size: 1.2rem !default;
$display8-size: 1.1rem !default;

$display1-weight: 700 !default;
$display2-weight: 700 !default;
$display3-weight: 700 !default;
$display4-weight: 700 !default;
$display5-weight: 700 !default;
$display6-weight: 700 !default;

$headings-font-weight: 200;
$headings-line-height: 1.4;
$headings-margin-bottom: $spacer;

$jumbotron-shadow-radius: 0.3em !default;

$lead-font-size: 24px !default;

$btn-default-color: #FFF !default;
$btn-default-bg: #000 !default;
$btn-default-border: $btn-default-bg !default;

$btn-secondary-color: #000 !default;
$btn-secondary-bg: $brand-secondary !default;
$btn-secondary-border: $btn-secondary-bg !default;

$btn-warning-color: #000 !default;

$enable-flex: false !default;
