<template>
  <router-view />
</template>
<script>
export default {
  created() {
    var link = document.createElement("link");
    var meta = document.createElement("meta");
    var meta2 = document.createElement("meta");
     var lab = document.createElement("title");
    var headTag = document.getElementsByTagName("head")[0]
    meta.setAttribute("name", "description");
    link.setAttribute("rel", "canonical");
    var descriptionUberEats =
      "Eligible Uber Eats drivers or one of their family members now can earn a 100% tuition coverage to Arizona State University online degrees. Learn more now!";
    var descriptionUber =
      "Uber and ASU Online are offering eligible Uber drivers or a family member 100% tuition coverage to ASU Online. Learn more here.";
    if (this.$store.state.isUberEats) {
      document.title = "Uber Eats ASU";
      //canonical
      link.setAttribute(
        "href",
        location.protocol + "//" + "ubereats.asu.edu" + location.pathname
      );
      //meta discription
      meta.setAttribute("content", descriptionUberEats);
    } else {
      document.title = "Uber and ASU Online";
      //canonical
      link.setAttribute(
        "href",
        location.protocol + "//" + "uber.asu.edu" + location.pathname
      );
      //meta discription
      meta.setAttribute("content", descriptionUber);
    }
    if(this.$route.path!=='/'){
      meta2.setAttribute("name", 'robots');
      meta2.setAttribute("content", 'nofollow,noindex');

    }
    headTag.appendChild(link);
    headTag.appendChild(meta);
    headTag.appendChild(meta2);
  },
};
</script>
