#CPE-courses,
.mobile-modules {
  $color-grey: #666;
  $color-grey-b: #f2f2f2;
  $color-purple: #ffc627;
  $color-pink: #b7235a;
  $color-orange: #f3883c;
  $color-yellow: #ffc627;

  $size-a: 0.375rem;
  $size-b: 0.75rem;
  $size-c: 1.5rem;
  $size-d: 1.875rem;
  $size-e: 3rem;
  $size-f: 20rem;

  $size-border: 3px;
  .width-adjustment {
    max-width: 80% !important;
    margin: 0 auto;
  }

  .cpe-desktop-header {
    border-bottom: 10px solid black;
    background-position: center center;
    background-size: cover;
    height: 200px;
  }
  .cpe-desktop-singlecourse {
    height: 300px;
    background-position-y: 50%;
  }
  /* Pattern stuff */
  .custom-bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: counter;
    padding-left: 40px;

    > li:before {
      counter-increment: counter;
      content: counter(counter);
    }
  }

  .custom-bullet--a {
    position: relative;

    > li {
      &:before {
        position: relative;
        display: inline-block;
        z-index: 100;
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 0.75rem;
        border: 1px solid #ffc627;
        line-height: 1.8rem;
        text-align: center;
        color: #000000;
        font-weight: 700;
        background-color: white;
        border-radius: 50%;
        counter-increment: counter;
        content: counter(counter);
        font-size: 14px;
        margin-left: -2.7em;
      }

      &:not(:last-child):after {
        position: absolute;
        top: 3px;
        bottom: 50px;
        z-index: 90;
        left: $size-b;
        // margin-left: $size-border /2;
        border-left: 1px solid $color-purple;
        content: "";
        margin-left: 0.2em;
      }

      &:last-child:before {
        margin-bottom: 0;
      }
    }
  }
  .col-lg-5 {
    border-left: 1px solid #1c1c1c;
    padding: 0 5em;
  }
  .custom-bullet {
    li {
      margin-bottom: 10px;
    }
  }

  .readmore {
    z-index: 102;
    button {
      border-radius: 20px;
      padding: 5px 70px;
      align-items: center;
      justify-content: center;
      display: flex;
      margin: 0 auto;
    }
    button.readbtn {
      margin: -56px auto 18px auto;
    }
  }
  .need-help {
    h2 {
      display: inline-block;
      margin-bottom: 26px;
    }
    img {
      float: right;
      margin-top: -10px;
    }
    a {
      border-bottom: 1px dotted #ffc627;
      &:hover {
        color: #ffc627;
        border-bottom: 1px dotted #ffc627;
      }
    }
  }
  .benefits {
    h2 {
      background-color: black;
      display: inline-block;
      padding: 5px 10px;
    }
    .testi-img {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      margin: auto;
    }
  }
  .carousel-inner {
    .display4-size {
      @media (max-width: 1199px) and (min-width: 992px) {
        font-size: 40px !important;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  .carousel-indicators {
    margin-bottom: 0;
    bottom: -2rem;
    li {
      background-color: #666;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
  .courses-desc {
    z-index: 10;
  }
  .program-card {
    cursor: pointer;
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .program-header {
      top: 280px;
      position: relative;
      z-index: 1;
      @media (max-width: 1199px) and (min-width: 992px) {
        top: 305px;
      }
      &:after {
        height: 100%;
        position: relative;
        content: "";
      }
      .content {
        padding-left: 24px;
      }
      .display4-size {
        @media only screen and (min-width: 1200px) {
          margin-left: -2px;
        }
      }
    }
    .program-shortdesc {
      width: 85%;
    }
    .program-trigger {
      font-size: 50px;
      margin-right: 2rem;
    }
  }
  .program-header {
    height: 120px;
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cpe-mob-image {
    width: 40%;
    background-size: cover;
    background-position: center;
    height: 220px;
    background-repeat: no-repeat;
  }
  .wrap-text {
    overflow-wrap: break-word;
  }
  .cpe-mob-content {
    width: 50%;
    padding: 20px;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4; /* number of lines to show */
      line-height: 1.3 !important; /* fallback */
      max-height: 4.3;
    }
  }
  .cpe-mob-nav {
    width: 10%;
  }
  .back-button {
    position: relative;
    top: 2em;
    left: 3rem;
    cursor: pointer;
    z-index: 100;
  }
  .icon {
    float: right;
    filter: invert(100%);
  }
  .card-image {
    cursor: pointer;
    background-size: cover;
    background-position-y: 15%;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1000px inset;
    display: block;
    height: 200px;
    border: transparent;
    margin: 0 !important;
    padding: 1em 1.5em;

    @include media-breakpoint-down(md) {
      margin: 0 !important;
    }
  }
  .bg-image-shadow {
    &:after {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background-image: linear-gradient(
        to bottom,
        transparent 0,
        #00000094 100%
      );
      content: "";
      // left: 0;
    }
  }
  .card-desc {
    box-shadow: rgba(0, 0, 0, 0.9) 0 0 0 1000px inset;
    padding: 20px;
    margin: 0 15px 20px 0;
    position: absolute;
    top: 0;
    height: 200px;
  }

  .card-title {
    position: absolute;
    bottom: 0;
    margin: 0 1.5em 1em 0;

    @include media-breakpoint-down(md) {
      margin: 0 !important;
    }
  }
  .program-desc {
    position: absolute;
    z-index: 20;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: linear-gradient(
      to bottom,
      #0000000f 70%,
      #0000005c 50%,
      #000 50%
    );
    .align-items-center {
      position: absolute;
      bottom: 0px !important;
    }
  }
  .card-date {
    font-size: 12px;

    .date {
      background-color: #ffffff;
      color: #000000;
      padding: 3px;
      // margin-right: 5px;
    }

    .nextdate {
      box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 1000px inset;
      padding: 4px 8px;
      font-size: 10px;
    }
  }
}
.CPE-desktop {
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    .display4-size {
      font-size: 32px !important;
    }
    .program-shortdesc {
      font-size: 16px;
    }
  }
}
.bg-with-shadow {
  &:after {
    position: absolute;
    height: 200px;
    width: 99.9%;
    top: 160px;
    right: 1px;
    background-image: linear-gradient(to bottom, transparent 0, #00000094 100%);
    content: "";
  }
}
.cpe-desktop-singlecourse {
  &:after {
    height: 300px;
  }
}
.cpe-explore-programs {
  #cpe-programs-mobile-navigator-full {
    position: relative;
    top: 166px;
    overflow-y: hidden;
    margin-bottom: 10rem;
    height: 100%;
  }
  .explore-degcard {
    top: 70px;
  }
}

.program-trigger-arrow {
  right: 2rem;
  top: 3rem;
  display: block;
  color: white;
  font-size: 50px;
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    top: 1.5rem;
  }
}

#CPE-courses {
  @media (max-width: 767px) {
    .display4-size {
      color: #000000;
    }
  }
  .cpe-mobile {
    .container > p {
      margin-bottom: 3rem;
    }
  }
  .cpe-mob-image {
    width: 30%;
  }
  .cpe-mob-content {
    width: 60%;
    padding: 0px 20px 0px;
    p {
      font-size: 14px !important;
      margin-bottom: 0px;
      display: block;
    }
  }
  .cpe-mob-nav.chevron::before {
    width: 0.5em;
    left: 15px;
  }
}

#explore-programs {
  .card-date {
    .date {
      font-size: 14px;
      padding: 2px 3px 3.5px !important;
      margin-right: 0 !important;
    }
    .nextdate {
      font-size: 12px !important;
      padding: 5px 8px !important;
    }
    .icon img {
      @media only screen and (max-width: 768px) {
        width: 40px !important;
        height: 40px !important;
      }
    }
  }
  .all-programs {
    #programs-mobile-Litem {
      padding: 1rem;
      font-size: 17px;
    }
  }
  .more-courses {
    margin: 30px 30px -23px;
  }
}

.mobile-modules {
  @media only screen and (max-width: 767px) {
    .row {
      margin: 0 15px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .program-trigger-arrow.chevron:before {
    top: -0.15em;
  }
}

.CPE-desktop {
  padding-top: 4rem 0 0rem !important;
  padding-bottom: 0 !important;
  @media only screen and (max-width: 1199px) {
    padding: 2rem 0 0rem !important;
  }
}

#view_degree_modal,
#view_courses_modal {
  .hero-gray {
    background-color: #f1f1f1;
  }
}
#view_courses_modal {
  .dotted-link {
    border-bottom: transparent;
  }
}

.carousel-inner {
  .display4-size {
    @media (max-width: 1199px) and (min-width: 992px) {
      font-size: 40px !important;
    }
  }
}

#CPE-programs-mobile {
  .explore-degcard {
    .card-image {
      background-position-y: 10% !important;
    }
  }
}
