#discover{
    .contentDESC{
        @media (min-width: 992px) {
            padding: 5em 0 7em;
        }
        .connecting-line{
            height: 5px;
            background: #ffc627;
            position: absolute;
            width: 25%;
            margin: 0 auto;
            left: 0;
            right: 0;
            margin-left: 15px;
            top: 3rem;
            @media (min-width: 992px) {
                top: 3rem;
            }
        }
        
        @media (max-width: 991px) {
        .display4-size{
                display: inline-block;
                margin-bottom: 36px;
            }
            img{
                float: right;
                margin-top: 4em;
            }
        }
        @media (max-width: 420px) {
                img{
                    margin-top: -7em;
                }
        }
    }
    
    @media (max-width: 767px) {
        h2.display4-size{
            margin-top: 16px;
        }
        .mobile-show{
            .btn-gold{
                color: #000000;
            } 
            .connecting-line {
                top: 2rem;
            }
        }
    }
    @media (max-width: 767px){
        .mobile-show .contentDESC img {
            margin-top: 1em;
            width: 5em;
        }
        .mobile-show .col-12{
            padding: 0;
        }
    }
    @media (max-width: 329px){
        .mobile-show .contentDESC img {
            margin-top: -6em;
            width: 5em;
        }
    }
}