/** @format */

#getting-started {
  /* Vars */
  $color-grey: #666;
  $color-grey-b: #f2f2f2;
  $color-purple: #ffc627;
  $color-pink: #b7235a;
  $color-orange: #f3883c;
  $color-yellow: #ffc627;
  $size-a: 5rem;
  $size-b: 0.75rem;
  $size-c: 1.5rem;
  $size-border: 3px;
  margin-top: $size-a;
  .mobile_image {
    @media (min-width: 992px) {
      display: none;
    }
    img {
      @media (max-width: 991px) {
        max-width: 100%;
      }
    }
  }
  .location_content {
    .mobile_li {
      @media (max-width: 991px) {
        margin-top: 7%;
      }
    }
    @media (min-width: 992px) {
      background-color: #ffffff;
      padding: 50px;
      margin-top: 4em;
      margin-bottom: 8em;
    }
    @media (min-width: 1200px) {
    }
  }
  @media (min-width: 992px) {
    .offset-lg-4 {
      margin-left: 43.33333%;
      margin-right: 15px;
    }
  }
  /* Pattern stuff */
  .custom-bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: counter;
    padding-left: 40px;
    padding-right: 40px;

    > li:before {
      counter-increment: counter;
      content: counter(counter);
    }
  }

  .custom-bullet li {
    margin-bottom: 4%;
    font-weight: 300 !important;
  }

  .custom-bullet--a {
    position: relative;

    > li {
      &:before {
        position: relative;
        display: inline-block;
        z-index: 100;
        width: $size-c;
        height: $size-c;
        margin-right: $size-b;
        // margin-bottom: $size-b;
        border: $size-border solid $color-purple;
        line-height: 1.5;
        text-align: center;
        font-weight: 700;
        background-color: #ffffff;
        border-radius: 100em;
        counter-increment: counter;
        content: counter(counter);
        font-size: 12px;
        margin-left: -3em;
      }

      &:after {
        position: absolute;
        top: 3px;
        bottom: 48px;
        z-index: 90;
        left: $size-b;
        // margin-left: $size-border /2;
        border-left: $size-border solid $color-purple;
        content: "";
        margin-left: 0.2em;
        @media screen and (min-width: 768px) and (max-width: 991px) {
          bottom: 0px;
        }
      }

      &:last-child:before {
        margin-bottom: 0;
      }
    }
  }
}
