#getstarted,
#needHelp,
#benifitsOfASU {
  .margin-adjustment {
    margin-left: 30px;
    margin-top: -25px;
    font-size: 16px;
  }
  /* Vars */
  $color-grey: #666;
  $color-grey-b: #f2f2f2;
  $color-purple: #ffc627;
  $color-pink: #b7235a;
  $color-orange: #f3883c;
  $color-yellow: #ffc627;

  $size-a: 0.375rem;
  $size-b: 0.75rem;
  $size-c: 1.8rem;
  $size-d: 1.875rem;
  $size-e: 3rem;
  $size-f: 20rem;

  $size-border: 1px;

  /* Pattern stuff */
  .custom-bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: counter;
    padding-left: 40px;
    @media only screen and (min-width: 992px) {
      padding-right: 3em;
    }
    @media only screen and (min-width: 1200px) {
      padding-right: 7em;
    }

    > li:before {
      counter-increment: counter;
      content: counter(counter);
    }
  }

  .custom-bullet--a {
    position: relative;

    > li {
      &:before {
        position: relative;
        display: inline-block;
        z-index: 100;
        width: $size-c;
        height: $size-c;
        margin-right: $size-b;
        // margin-bottom: $size-b;
        border: $size-border solid $color-purple;
        line-height: 1.8rem;
        text-align: center;
        color: #000000;
        font-weight: 700;
        background-color: white;
        border-radius: 100em;
        counter-increment: counter;
        content: counter(counter);
        font-size: 12px;
        margin-left: -2.4rem;
      }

      &:after {
        position: absolute;
        top: 3px;
        bottom: 25px;
        z-index: 90;
        left: $size-b;
        // margin-left: $size-border /2;
        border-left: $size-border solid $color-purple;
        content: "";
        margin-left: 0.2em;
      }

      &:last-child:before {
        margin-bottom: 0;
      }
    }
  }
  .col-lg-5 {
    border-left: 1px solid #1c1c1c;
    padding: 0 5em;
  }
  .custom-bullet {
    li {
      margin-bottom: 10px;
    }
  }

  .readmore {
    z-index: 102;
    button {
      border-radius: 20px;
      padding: 5px 70px;
      align-items: center;
      justify-content: center;
      display: flex;
      margin: 0 auto;
      @media only screen and (max-width: 554px) {
        padding: 5px 30px;
      }
    }
    button.readbtn {
      margin: -56px auto 18px auto;
    }
  }
  .need-help {
    h2 {
      display: inline-block;
      margin-bottom: 26px;
    }
    img {
      float: right;
      margin-top: -10px;
    }
    a {
      border-bottom: 1px dotted #ffc627;
      &:hover {
        color: #ffc627;
        border-bottom: 1px dotted #ffc627;
      }
    }
  }
  .benefits {
    h2 {
      background-color: black;
      display: inline-block;
      padding: 5px 10px;
    }
    .testi-img {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      margin: auto;
    }
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .carousel-indicators {
    margin-bottom: 0;
    bottom: -3rem;
    li {
      background-color: #666;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}

#getstarted {
  @media only screen and (min-width: 992px) {
    .col-lg-7 {
      .underline {
        padding-top: 13px;
      }
    }
    .col-lg-5 {
      margin-top: 7.5em !important;
    }
  }
  .mobile-show {
    .display4-size {
      margin-bottom: 40px;
    }
    .row {
      @media only screen and (max-width: 575px) {
        margin: 0 0 0 15px;
      }
    }
  }
}

.courseInfo {
  @media only screen and (max-width: 768px) {
    .carousel-item {
      .benefits-content {
        h3 {
          font-size: 32px;
        }
      }
    }
    .carousel-indicators .active {
      opacity: 1;
      background-color: #7b7b7b;
    }
    .carousel-indicators li {
      background-color: #7b7b7b !important;
      opacity: 0.4;
    }
    .indecator-courseInfo {
      height: 0.75rem !important;
      width: 0.75rem !important;
      border-radius: 50%;
    }
  }
  @media only screen and (max-width: 575px) {
    h2 {
      margin-left: 15px;
    }
  }
}
