body {
  padding-top: 5em;
  @media screen and (max-width: 1199px) and (min-width: 555px) {
    padding-top: 4.7em;
  }
}
#app{
  overflow: hidden;
}
.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 0rem;
  }

}

.positionAttribute{
  position: fixed;
  @include media-breakpoint-down(md) {
  position: absolute;
  }
}

#main-header {
    border-bottom: none !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #fff;
    height: 90px;
  }
  
  #main-header ul.nav-items li {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 24px;
    @media (max-width: 1199px) {
      font-size: 14px;
    }
    .nav-link.active{
      color: #8C1D40;
      border-bottom: 1px dotted #8c1d40;
      display: inline-block;
    }
  }
  
  #main-header ul.nav-items li .nav-link {
    padding: 0 !important;
    color: black;
    border-bottom: 1px solid transparent;
  }
  #corp_logo_III{
    height: 73px;
    padding-top: 20px;
  }
  
  #main-header ul.nav-items li .nav-link:hover {
    padding: 0;
    border-bottom: 1px dotted #8c1d40;
     color: #8C1D40;
    display: inline-block;
  }
  
  #main-header .bg-gold {
    padding: 0px 10px !important;
    color: #2A2A2A;
    border-bottom: transparent;
    border-radius: 3px;
  }
  
  p {
    max-width: 100% !important;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
  }
  
  a,
  a:hover {
    text-decoration: none;
  }
  
  .text-gold {
    color: #FFC627;
  }
  
  a.link-gold {
    border-bottom: 1px dotted #FFC627;
    color: #FFC627;
  }
  
  .btn-gold {
    background-color: #FFC627;
    color: #2A2A2A;
    font-weight: bold;
    font-size: 18px;
  }
  .menu-item, #menu-btn{
    cursor: pointer;
  }
  
#main-header .navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px;
  flex-direction: unset;
  display: block;
}

#main-header .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

#main-header .navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

#main-header #menu-btn {
  position: relative;
  float: right;
  /* margin-right: 15px; */
  padding: 9px 0px 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

#main-header #menu-btn .icons {
  margin-top: 4px;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
}
#main-header button:focus{
  outline: none !important;
}

#main-header .collapsing {
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: height .35s ease;
  -o-transition: height .35s ease;
  transition: height .35s ease;
}

#main-header .navbar-nav {
  display: flex;
  flex-direction: unset;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
  display: inline-block;
  padding-top: 10px;
}
li.request-info-li{
  background-color: #ffc627;
  padding: 0.5em 1em !important;
  border-radius: 5px;
  margin: 1em 0em 1em 18px;
  @include media-breakpoint-down(md) {
    margin-left: 0;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  a {
    color: black !important;
    border-bottom: none;
  }
  &:hover {
    background-color: #ffd150;
  }
  .nav-link{
    padding: 0 !important;
  }
  .nav-link:hover {
    padding: 0;
    border-bottom: transparent !important;
    color: #2a2a2a !important;
  }
  .nav-link.active{
    color: #000000 !important;
    border-bottom: transparent !important;
  }
}
.request-section-ui-fix {
  padding-left: 18px;
}
@media (max-width: 991px) {
  #main-header #navbar-ws {
    width: 100% !important;
    border-top: 1px solid #f7f7f7;
  }

  #main-header .navbar-right {
    float: left !important;
    margin-left: 0;
  }

  #main-header .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  #main-header ul.nav-items {
    width: 100%;
    padding-top: 0px;
  }

  #main-header ul.nav-items span li {
    padding: 0em 0 1em;
    width: 100%;
  }

  #main-header ul.nav-items span:first-child li {
    padding: 0em 0 1em;
  }

  #main-header #menu-btn {
    margin-top: 22px;
  }
  .mobile-menu__btn{
    margin-top: 10px !important;
    margin-bottom: 2px !important;
  }
  .header-pos-mobile-show{
    #corp_logo_II{
      padding-bottom: 5px !important;
      @include media-breakpoint-down(md) {
        width: 100% !important;
      }
    }
  }
  .request-info-li {
    width: 110px!important;
  }
}

.navbar-expand-md .navbar-nav .nav-link{
  padding: 0 !important;
}
// @media (max-width: 992px){
//   .navbar-expand-md .navbar-nav {
//       display: none;
//   }
// }

@media (max-width: 992px){
  .header-pos-mobile-show{
    opacity: 1 !important;
    position: fixed;
    visibility: visible;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
  }
}

.mobile-menu__btn{
  .toggle:after{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    font-size: 30px;
    content: "\f0d7";
  }
  &[aria-expanded="false"] .toggle:after {
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 free";
    font-weight: bold;
    content: "\f0d7";
  }
  &[aria-expanded="true"] .toggle:after {
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 free";
    font-weight: bold;
    content: "\f0d8";
  }
}
.header-pos-mobile-hidden{
  // height: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}


@media (min-width: 992px) {
  .header-pos-mobile-hidden{
    opacity: 0 !important;
    visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
  }
  #main-header .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  #main-header .navbar-nav>li {
    float: left;
  }

  #main-header .nav>li,
  #main-header .nav>li>a {
    display: inline-block;
  }

  #main-header #menu-btn {
    display: none;
  }

  #main-header #navbar-ws {
    float: right;
  }
}
#main-header #corp_logo_II img {
  width: 17em;
  height: 47px;
}


@media (max-width: 1199px) {
  #main-header #corp_logo_II img {
    width: 15em;
    height: 41px;
  }
}

@media (max-width: 554px) {
  #main-header #corp_logo_II img {
    width: 10.5em;
    height: 36px;
    padding-left: 0;
    margin-left: 0;
  }

  #main-header #menu-btn {
    margin-top: 15px;
  }
  body {
    padding-top: 4em;
  }
}

.mobile-show{
  visibility: hidden;
  height: 0;
  padding: 0 !important;
}
.mobile-hide{
  visibility: visible;
  height: 100%;

}

@media (max-width: 991px) {
  .border_bottom{
    border-bottom: 0.25px solid #2e2e2e;
    width: 95%;
    }
  .mobile-hide{
    visibility: hidden;
    height: 0 !important;
    padding: 0 !important;
  }
  .mobile-show{
    visibility: visible;
    height: 100%;
  }
  .header-pos-mobile-show{
    opacity: 1 !important;
    position: fixed;
    visibility: visible;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
  }
}

#corp_logo_II {
  float: left;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  padding-right: 0px !important;
  @media (min-width: 1200px){
    padding-top: 23px !important;
  }
}

.customActive {
  a {
    color: $primary !important;
    border-bottom: 1px dotted $primary;
    width: fit-content !important;
  }
}

.nav_hide{
  display: none !important;
}
.border_bottom.customActive a{
  color: #2e2e2e !important;
  border-bottom: transparent;
}
@media (min-width: 1200px){
  #corp_logo_II.thankyou-logo {
      padding-top: 24px !important;
  }
}
#corp_logo_II{
  @include media-breakpoint-down(md) {
    width: 100% !important;
  }
}

#sign-up{
  @include media-breakpoint-down(md) {
    display: block;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
// .innovation-status{
//   @media only screen and (max-width: 991px){
//     padding-top: 13px;
//   }
//   @media only screen and (max-width: 428px){
//     padding-top: 5px;
//   }
// }