.display1-size{
    font-size: $display1-size;
    font-weight: $display1-weight;
}
.display2-size{
    font-size: $display2-size;
    font-weight: $display2-weight;
    margin-bottom: 24px;
}
.display3-size{
    font-size: $display3-size;
    font-weight: $display3-weight;
    margin-bottom: 24px;
}
.display4-size{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 24px;
}
.display5-size{
    font-size: $display5-size;
    font-weight: $display5-weight;
    margin-bottom: 24px;
}
.display6-size{
    font-size: $display6-size;
    font-weight: $display6-weight;
    margin-bottom: 24px;
}
.img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
@media (max-width: 767px){
    .display4-size{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 12px;
    }
}

.asuloc_hero{
    .hero.hero-bg-img {
        -o-object-fit: cover;
        object-fit: cover;
    }
    .h1_text{
        max-width: 425px;
        color: #ffffff;
        // background-color: #fff;
        text-shadow: none;
        font-size: 48px;
        line-height: 1;
        padding: 8px 25px;
        display: inline;
        font-weight: 900!important;
        letter-spacing: normal;
        -ms-box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
        margin-left: -15px;
    }
    @media (min-width: 768px){
        .tall-home-hero {
            margin-top: -2px;
        }
        .hero-bg-img .container {
            position: absolute;
            top: 18em;
            color: white;
        }
    }
    @media (max-width: 768px){
        .hero-bg-img .container {
            position: absolute;
            bottom: 0;
            color: white;
        }
    }
}

.hero_sudhd{
    font-size: 24px;
    font-weight: 600;
    padding: 8px 8px;
    max-width: 324px !important;
}
.why-asuloc{
    p{
        font-size: 23px;
    }
}
.mobile-hero{
    background: #f1f1f1;
    .py-4{
        background: #ffffff;
        margin-top: -45px;
        padding: 35px;
        @media (min-width: 768px){
            margin-top: -70px;
        }
    }
    .request-info-btn{
        display: inline-block;
        background-color: #ffc627;
        font-weight: 700;
        border-radius: 5px;
        a{
            color: #000000 !important;
        }
    }
    h1 
    {   
        @media (max-width: 321px){
            font-size: 35px !important;
        }
        span{
            @media (max-width: 418px){
                display: block;
            }
        }
    }
}
.welcome_sec{
    .col-md-4,.col-md-8{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    @media (min-width: 768px){
        .col-md-8>div{
            max-width: 600px;
        }
    }
    @media (max-width: 991px){
        margin: 0 35px;
        img{
            width: 11em;
        }
    }
}
.welcome_sec.extra_space{
        padding: 7em 0 4em;
    @media (max-width: 767px) {
        padding: 1em 0 !important;
    }
}

.font24{
    font-size: 24px !important;
    @media (max-width: 767px){
        font-size: 18px !important;
    }
}

#tuition{
    .details-parent{
        @media (min-width: 992px){
           margin-bottom: -5em;
        }
    }
    @media (max-width: 767px){
        p{
            font-size: 14px !important;
        }
        .display4-size {
            font-size: 24px !important;
        }
     }
}

.sb_hero .hero.hero-bg-img{
        &::after{
        content:"";
      position: absolute;
      width: 97.4%;
      top: 15px;
      height: 464px;
    }
}   