#home-financialaid{
    .mobile_financialaid{
        background-color: #2A2A2A;
        @media(min-width:992px)
        {
            display:none;
        }
    }
    .desktop_financialaid{
        @media(max-width:991px)
        {
            display:none;
        }
    }
    .faid-content{
        border-left: 10px solid #ffc627;
        padding-left: 1em;
        padding-right: 15px;
    }
    .offset-lg-1{
        margin-top: -3rem !important;
    }
    .text-white{
        .font48{
            @media only screen and (max-width:371px) {
                font-size: 32px !important;
            }
        }
        img{
            @media only screen and (max-width:767px)  {
                margin-right: -15px !important;
            }
            @media only screen and (max-width:557px)  {
                width: 7em !important;
            }
            @media only screen and (max-width:572px) and (min-width: 558px) {
                margin-top: -1.5rem !important;
            }
            @media only screen and (max-width:557px) and (min-width: 510px) {
                margin-top: -3.5rem !important;
            }
            @media only screen and (max-width:509px) and (min-width: 372px) {
                margin-top: -6.5rem !important;
            }
            @media only screen and (max-width:371px) and (min-width: 346px) {
                margin-top: -5rem !important;
            }
            @media only screen and (max-width:345px) and (min-width: 336px) {
                margin-top: -8rem !important;
            }
            @media only screen and (max-width:335px) {
                margin-top: -11rem !important;
            }
        }
    }
}