#home-opportunity {
  // @media (min-width: 768px) {
  //   border-bottom: 1px solid #f1f1f1;
  // }
  .desktop_hide {
    @media (min-width: 992px) {
      display: none;
    }
  }
  .hide_for_mob {
    @media (max-width: 991px) {
      display: none;
    }
  }
  .bt-left {
    @media (min-width: 992px) and(max-width:1199px) {
      font-size: 43px !important;
    }
    @media (max-width: 427px) {
      font-size: 26px !important;
    }
  }
  .font42 {
    font-size: 42px !important;
  }
  .heading_mobile {
    @media (max-width: 991px) {
      padding-left: 7%;
    }
  }
  .for_mobile {
    @media (max-width: 991px) {
      padding-left: 40px !important;
      border-left: 10px solid #ffc627;
    }
    list-style: none;
    li{
      margin-bottom: 8px;
    }
    li::before{
      list-style-position: outside;
      content: "\F10C";
      font-size: 12px;
      vertical-align: middle;
      font-family: FontAwesome;
      margin-right: 15px;
      color: #ffc627;
      display: inline-block;
      margin-left: -1.5em;
      width: 1.3em;
      position: relative;
      top: 0px;
      font-weight: 900;
      margin-right: .2em;
    }
  }
  .opp_content_left,
  .opp_content_right {
    background-color: #f1f1f1;
    padding: 2rem 0 1rem 0;
    span {
      border-left: 10px solid #ffc627;
      float: left;
      margin-left: -2em;
      margin-bottom: 3em;
      display: block;
      // width: 100%;
      h2 {
        margin-left: 0.5em;
        margin-bottom: 0;
        line-height: 1.1;
        display: inline-block;
      }
      img {
        float: right;
        margin-right: -2em;
        margin-top: 10px;
      }
    }
    img {
      float: right;
      // margin-right: -2em;
      margin-top: -10px;
      width: 8em;
      @media(max-width: 427){
          width: 5em;
      }
    }
  }
  .clearfix {
    display: block;
    content: "";
    clear: both;
    padding: 0 2em 1em;
  }
  .mobile-hide {
    display: none !important;
  }
  .mobile-show {
    display: block !important;
  }
  @media (min-width: 992px) {
    .mobile-hide {
      display: block !important;
    }
    .mobile-show {
      display: none !important;
    }
      padding-bottom:8rem !important;
  }
  @media (max-width: 991px) {
    .font42 {
      font-size: 36px !important;
    }
  }
  .rightforyou-div {
    @media (min-width: 992px) {
      padding: 2em 0 0;
      border-top: 1px solid #dcdcdc;
      margin: 0 2em;
    }
    ul {
      list-style-position: outside;
      padding-left: 40px;
      li {
        list-style: none;
        margin-bottom: 15px;
      }

      li:before {
      list-style-position: outside;
        content: "\F10C";
        font-size: 12px;
        vertical-align: middle;
        font-family: FontAwesome;
        margin-right: 15px;
        color: #ffc627;
        display: inline-block;
        margin-left: -1.5em;
        width: 1.3em;
        position: relative;
        top: 0px;
        font-weight: 900;
        margin-right: .2em;
      }
    }
  }
    
  @media only screen and (max-width: 767px){
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    .opp_content_left,.opp_content_right{
      .font48{
        font-size: 32px !important;
      }
      p{
        font-size: 14px !important;
        line-height: 1.3 !important;
      }
    }
  }
  
  .opp_content_left,.opp_content_right{
    @media only screen and (max-width: 397px) and (min-width: 366px){
      img{
        width: 6em;
      }
    }
    @media only screen and (max-width: 365px){
      .font48{
        font-size: 29px !important;
      }
      img{
        width: 4em;
        margin-top: 0;
      }
    }
  }
}

@media screen and (min-width:767px) and (max-width:991px){
  #home-opportunity .opp_content_left span h2, #home-opportunity .opp_content_right span h2 {
    margin-left: 0.5em;
    margin-bottom: 0;
    line-height: 1.1;
    display: inline-block;
    position: relative;
    top: 2rem;
}

#home-opportunity .opp_content_left span, #home-opportunity .opp_content_right span {
    border-left: 10px solid #ffc627;
    float: left;
    margin-left: -3em;
    display: block;
    margin-bottom: 0;
}
.rightforyou-div {
  position: relative;
  padding-top: 3rem;
}
#home-opportunity .opp_content_left, #home-opportunity .opp_content_right{
  padding: 0; 
}
.bg-content-gray{
  background-color: #f1f1f1;
  margin-bottom: 1rem;
}
.opp_content_left{
  background-color: white !important;
  padding-bottom: 1rem; 
}
.border-left-black{
  border-left: 1px solid black; 
}
}


// @media screen and (min-width:992px){
// .opp_content_left, .opp_content_right{
//   transition:opacity 1s linear;
//   .rightforyou-div{
//     visibility: hidden;
//     height: 0;
//     opacity: 0;
//     width: 0;
//     padding: 0 !important;
//     transition: visibility 0s 0s, opacity 0.1s linear;
//   }
//   &:hover{
//       >div{
//       margin-bottom: 2em;
//       }
//       .rightforyou-div{
//         display: block;
//         width: 88%;
//         height: 100%;
//         opacity: 1;
//         -webkit-animation: fade-down .8s ease-out;
//       -moz-animation: fade-down .8s ease-out;
//       visibility: visible;
//       padding: 2em 0 0 !important;
//       }
//     }
// }
// @-webkit-keyframes fadeOut {
//   0% { opacity: 0.2;}
//    99% { opacity: 0.01;width: 0%; height: 0%;}
//   100% { opacity: 0;width: 0; height: 0;}
// }  
// @keyframes fadeOut {
//   0% { opacity: 0.2;}
//    99% { opacity: 0.01;width: 0%; height: 0%;}
//   100% { opacity: 0;width: 0; height: 0;}
// }
// @keyframes fadein {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }
// /* Safari, Chrome and Opera > 12.1 */
// @-webkit-keyframes fadein {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }
// @-webkit-keyframes fade-down {
//   0% { opacity: 0; -webkit-transform: translateY(-20%); }  
//   // 50% { opacity: 0.5; -webkit-transform: translateY(-50%); } 
// 100% { opacity: 1; -webkit-transform: translateY(0); }
// }
// @-moz-keyframes fade-down {
//   0% { opacity: 0; -moz-transform: translateY(-20%); }   
// 100% { opacity: 1; -moz-transform: translateY(0); }
// }

// @-ms-keyframes fade-down {
//   0% { opacity: 0; -moz-transform: translateY(-20%); }   
//   100% { opacity: 1; -moz-transform: translateY(0); }
// }
// }
