#home-howitworks {
  .home-howitworks__mobile-dimond {
    .uberEats {
      $color-grey: #666;
      $color-grey-b: #f2f2f2;
      $color-purple: #06c167;
      $color-pink: #b7235a;
      $color-orange: #f3883c;
      $color-yellow: #ffc627;
    }
    position: absolute;
    right: 5%;
    top: -3%;
    width: 4rem;
  }
  background-color: #2a2a2a;
  /* Vars */
  $color-grey: #666;
  $color-grey-b: #f2f2f2;
  $color-purple: #ffc627;
  $color-pink: #b7235a;
  $color-orange: #f3883c;
  $color-yellow: #ffc627;

  $size-a: 0.375rem;
  $size-b: 0.75rem;
  $size-c: 1.5rem;
  $size-d: 1.875rem;
  $size-e: 3rem;
  $size-f: 20rem;

  $size-border: 1px;

  /* Pattern stuff */
  .custom-bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: counter;
    padding-left: 40px;
    padding-right: 40px;
    @media only screen and (max-width: 991px) {
      padding-right: 15px;
    }

    > li:before {
      counter-increment: counter;
      content: counter(counter);
    }
  }

  .custom-bullet--a {
    position: relative;

    > li {
      &:before {
        position: relative;
        display: inline-block;
        z-index: 100;
        width: $size-c;
        height: $size-c;
        margin-right: $size-b;
        // margin-bottom: $size-b;
        border: $size-border solid $color-purple;
        line-height: 1.9;
        text-align: center;
        color: #ffffff;
        font-weight: 700;
        background-color: #2a2a2a;
        border-radius: 100em;
        counter-increment: counter;
        content: counter(counter);
        font-size: 12px;
        margin-left: -3em;
      }

      &:after {
        position: absolute;
        top: 0px;
        bottom: 0px;
        z-index: 90;
        left: -27px;
        // margin-left: $size-border /2;
        border-left: $size-border solid $color-purple;
        content: "";
        margin-left: 0.2em;
      }

      &:last-child:before {
        margin-bottom: 0;
      }
      &:last-child:after {
        top: 100%;
      }
    }
  }
  @media (min-width: 1200px) {
    background-color: transparent;
  }
  @media (min-width: 992px) {
    .howitworksli {
      padding-left: 7rem;
    }
    .col-lg-6 {
      // border-left: 1px solid #1c1c1c;
      margin-top: 1.5em;
    }
    .col-lg-6.py-5 {
      margin: 0;
      margin-top: 1.5em;
      padding: 6rem 0px !important;
    }
  }
  .custom-bullet {
    li {
      padding-bottom: 10px;
    }
  }
}
