#home_discover{
    @media (min-width: 992px){
        padding-top: 9rem !important
    }
    .location_content{
        @media (min-width: 992px){
            margin-left: -83.3333%;
            background-color: #ffffff;
            padding: 2em;
            margin-top: 4em;
            margin-bottom: 8em;
        }
        @media (min-width: 1200px){
            margin-left: -82.3333%;
        }
    }
    .underline{
        @media(max-width:403px){
            display:unset;
        }
    }
    .location_img{
        @media (min-width: 992px){
            display: none;
        }
        display: block;
    }
    @media (min-width: 992px){
        .offset-md-4 {
            margin-left: 27%;
        }
    }
    .bg-img{
        @media (max-width: 575px){
            padding-left: 0;
            padding-right: 0;
        }
    }
    .location_img img{
        border-bottom: 10px solid #ffc627;
    }
    @media (min-width: 992px){
        .offset-lg-4 {
            margin-left: 43.33333%;
            margin-right: 15px;
        }
    }
}