#homehero{
    .hero-img{
        img{
            object-fit: cover;
        }
    }
    .hero-bg-img{
        .container{
            @media (min-width: 992px){
                position: absolute;
                color: white;
                z-index: 2;
                bottom: 3em;
                top: auto;
            }
        }
        &:after {
            display: block;
            position: relative;
            background-image: linear-gradient(to bottom,transparent 0,transparent 60%,#000 100%);
            /* margin-top: 400px; */
            height: 550px;
            width: 100%;
            content: '';
        }
    }
    @include media-breakpoint-between(lg,xl){
        .hero-img .container{
            bottom: -14em;
        }
    }
    @include media-breakpoint-down(sm){
        .hero-img .container{
            bottom: -16em;
        }
    }
    @media (max-width: 991px) {
        .display-1 {
            font-size: 3rem;
        }
        .hero-sub{
            font-size: 26px !important;
        }
        .hero-img .container{
            top: auto;
            position: relative;
            z-index: 2;
        }
    }
    @media (max-width: 767px) {
        .hero-img .container{
            bottom: 9em !important;
            top: auto;
            position: relative;
            z-index: 2;
        }
        .hero-img .container{
            .h1_text{
                font-size: 48px !important;
            }
        }
    }
    @media (max-width: 351px) {
        .hero-img .container{
            .h1_text{
                font-size: 43px !important;
            }
        }
    }

    @media (min-width: 768px) and (max-width:991px) {
        .hero-img .container{
            bottom: 14em;
        }
    }
    @media (max-width:318px) {
        .hero-img .container{
            top: -14em;
        }  
    }
}