#home-eligible {
  .my-5 {
    @media (max-width: 991px) {
      margin: unset !important;
    }
  }
  @media (min-width: 992px){
    padding-top: 8rem;
    margin-top: 16px;
  }
  .bg-black-gray {
    background-color: #2e2e2e;
    padding: 10px 20px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 1.9;
  }
  .gold-icon {
    padding-right: 5px;
    margin-top: -4px;
    img {
      width: 2em;
      margin: auto;
    }
    @media (min-width: 992px) {
      display: none;
    }
  }
  .font_elig {
    @media (max-width: 991px) {
      font-size: 16px;
    }
  }
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: block;
  }
  @media (min-width: 992px) {
    .font-24 {
      margin-bottom: 32px;
    }
    .mobile-hide {
      display: block;
    }
    .mobile-show {
      display: none;
    }
  }
  .btn-view-city{
    background-color: transparent;
    border: 2px solid #ffc627;
    border-radius: 5px;
    font-size: 14px;
    padding: 2px 12px;
    display: flex;
    cursor: pointer;
    @media (min-width: 768px){
      margin: 0 4.3em;
    }
    @media (min-width: 992px){
      margin: 0 3em;
    }
    @media (min-width: 1200px){
      margin: 0 4.8em;
    }
    &:hover{
      background-color: #ffc627;
    }
  }
  #myModal-city.show{
    display: flex !important;
  }
  #myModal-city{
    .modal-dialog{
      display: flex;
      justify-content: center;
      align-items: center;
      @media (min-width: 576px){
          max-width: 512px !important;
      }
      .modal-content{
        background: #F1F1F1;
        .modal-header{
          border-bottom: transparent;
          padding: 1rem 1rem 0;
        }
        .modal-body{
          padding: 0rem 3rem 1rem;
        }
      }
    }
  }
  .mobile-hide-opp{
    display: block;
  }
  .mobile-show-opp{
    display: none;
  }
  @media (max-width: 767px){
    .mobile-hide-opp{
      display: none;
    }
    .mobile-show-opp{
      display: block;
    }
  }
}
