#explore-programs {
    .explore-degcard {
        .card {
            border: transparent;
            margin: 0;
            .card-image {
                background-size: cover;
                background-position: center;
                box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1000px inset;
                display: block;
                height: 200px;
                border: transparent;
                padding: 1em 1.5em;
            }

            .card-desc {
                box-shadow: rgba(0, 0, 0, 0.9) 0 0 0 1000px inset;
                padding: 20px;
                margin: 0 15px 20px 0;
                position: absolute;
                top: 0;
                height: 200px;
            }

         
            .card-date {
                font-size: 12px;

                .date {
                    background-color: #ffffff;
                    color: #000000;
                    padding: 3px;
                    margin-right: 5px;
                }

                .nextdate {
                    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 1000px inset;
                    padding: 3px 8px;
                    font-size: 10px;
                }
            }
        }
    }
}

.searchContainer {
    margin-top: -1rem;
}
.search__field{
  border:none;
  outline: none !important;
  border-bottom: 2px solid $primary; 
}
.search__field:focus{
  border-bottom: 2px solid $secondary;
}
.closeIcon{
    height: 20px;
    width: 20px;
    line-height: 20px;
}