#explore-programs {
  #sticky-container {
    position: absolute;
    z-index: 90;
    width: 100%;
  }

  .FixedAlgoliabar {
    position: fixed;
    top: 93px;
    background-color: white;
    width: 100%;
    margin: 0 !important;
    z-index: 900;
    padding: 1.5rem 3rem;
  }
  .algolia-sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .algolia {
    top: 16%;
    right: 5%;
  }
  .ais-Hits-list {
    @extend .row;
    padding-left: 0;
  }
  .ais-Hits-item {
    margin: 0.7rem 0 !important;
  }
  .ais-Hits-item {
    @extend .col-lg-4;
    @extend .col-md-6;
    @extend .card;
    @extend .item;
  }
  .ais-RefinementList-count {
    display: none;
  }
  .dropdown-toggle {
    align-items: center;
    background: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }
  .card {
    margin: 0.7rem 0;
  }
  .icon {
    float: right;
    filter: invert(100%);
  }

  .mobile-hidden {
    @include media-breakpoint-down(sm) {
      visibility: hidden;
      height: 0;
      width: 0;
      opacity: 0;
    }
  }
  @include media-breakpoint-between(md, xl) {
    .font-fix-tab {
      font-size: 24px;
    }
  }
  .sticky {
    @include media-breakpoint-up(sm) {
      top: 70px;
      width: 80% !important;
    }
  }

  .bottom-sticky {
    bottom: 0;
  }

  .top-sticky {
    top: 100px;
  }

  #programs-mobile-navigator-full {
    position: relative;
    top: 140px;
    margin-bottom: 13rem;
    margin-left: -15px;
    margin-right: -15px;
  }

  .mobile-show {
    @include media-breakpoint-up(sm) {
      visibility: hidden;
      height: 0;
      width: 0;
      opacity: 0;
    }

    @include media-breakpoint-down(sm) {
      visibility: visible;
      height: 100%;
      width: 100%;
      opacity: 1;
    }
  }

  .explore-degcard,
  .explore-degcard-owl {
    .owl-item .card {
      @include media-breakpoint-up(sm) {
        margin: 10px;
      }
      border: transparent;
      .card-image {
        background-size: cover;
        background-position: center;
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1000px inset;
        display: block;
        height: 200px;
        border: transparent;
        padding: 1em 1.5em;

        @include media-breakpoint-down(md) {
          margin: 0 !important;
        }
      }

      .card-desc {
        box-shadow: rgba(0, 0, 0, 0.9) 0 0 0 1000px inset;
        padding: 20px;
        margin: 0 15px 20px 0;
        position: absolute;
        top: 0;
        height: 200px;
      }

      .card-date {
        font-size: 12px;

        .date {
          background-color: #ffffff;
          color: #000000;
          padding: 3px;
          margin-right: 5px;
        }

        .nextdate {
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 1000px inset;
          padding: 4px 8px;
          font-size: 10px;
        }
      }
    }
  }

  .explore-degcard-owl {
    .owl-nav {
      float: right;
      margin-top: -10px;
    }

    .owl-dots {
      float: left;
    }

    .readmore {
      text-align: center;
      z-index: 10;
      max-width: 50%;
      margin: 0 auto;
      margin-top: -30px;
    }
  }
}

.mobile-text-allignment {
  padding: 0;
}

#mobile-all-degrees {
  overflow-y: hidden;
}

.display-card {
  border-bottom: 10px solid black;
  padding-top: 12px !important;
}

.algolia-menu {
  .ais-SearchBox-input {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    line-height: 20px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 0px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background-image: url("../../assets/images/searchIcon.png");
    background-position: 13px 13px;
    background-size: 20px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.1s ease-in-out;
  }

  .ais-SearchBox-input:focus {
    width: 100%;
    height: 50px;
    font-size: 16px;
    background-position: 8px 13px;
    border-radius: 30px;
    padding-left: 2.5rem;
  }
  .ais-SearchBox-form button {
    display: none;
  }
  .ais-RefinementList-list {
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 10px;
  }
}

.explore-programs-mobile {
  #programs-mobile-Litem {
    padding: 16px 0.5rem !important;
    padding-left: 1rem !important;
  }
  .ais-RefinementList-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    text-align: left;
  }
  .ais-SearchBox-input {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    line-height: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    font-size: 0px;
    background-color: transparent;
    background-image: url("../../assets/images/searchIcon.png");
    background-position: right;
    background-size: 20px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.1s ease-in-out;
    box-shadow: none;
  }
  .ais-SearchBox {
    width: 100%;
  }
  .ais-SearchBox-input:focus {
    width: 75vw;
    height: 50px;
    font-size: 16px;
    background-position: 95% 13px;
    border-radius: 30px;
    padding-right: 2.5rem;
    padding-left: 1.5rem;
    background-color: #f3f3f3;
    outline: none;
    position: absolute;
    right: 12px;
    top: 13px;
  }
  .ais-SearchBox-form button {
    display: none;
  }
}

.ais-focus {
  width: 100% !important;
  height: 50px !important;
  font-size: 16px !important;
  background-position: 8px 13px !important;
  border-radius: 30px !important;
  padding-left: 2.5rem !important;
}
.filterChips {
  // margin: 1rem 0;
  div {
    display: flex;
    flex-wrap: wrap;
  }
}
a.filteredChips {
  margin-bottom: 1rem;
}
.ais-RefinementList-label {
  cursor: pointer;
}
.filteredChips {
  cursor: pointer;
  padding: 8.5px 16px;
  background: #ffc627;
  margin: 5px;
  font-weight: bold;
  color: black;
  border-radius: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  &--close {
    margin: 3px;
  }
  &:hover {
    color: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  .ais-Highlight {
    @extend .ml-2;
  }
}
.ais-Pagination-list {
  display: flex;
  list-style: none;
  justify-content: center;
  .ais-Pagination-item {
    margin: auto 5px;
    background-color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid $grey-light;
    border-radius: 50%;
    text-align: center;
    .ais-Pagination-link {
      color: $black;
      width: 30px;
      height: 30px;
      display: block;
      font-size: 12px;
      line-height: 2.4;
    }
  }
  .ais-Pagination-item--selected {
    background-color: $black;
    .ais-Pagination-link {
      color: white !important;
    }
  }
  .ais-Pagination-item--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
.dropdown-toggle {
  &:focus {
    box-shadow: transparent !important;
  }
}

/********/
.ais-ClearRefinements a {
  background: transparent;
  font-weight: normal;
  border: 1px solid black;
  font-size: 12px;
  padding: 5px 10px;
  &:hover,
  &:active,
  &:focus {
    background: #ccc;
    box-shadow: unset;
  }
}
.desktop-overlay {
  .content {
    position: absolute;
    top: 48%;
    display: flex;
    padding: 5px 20px;
    background-color: #2a2a2a;
    border: 1px solid transparent;
    border-radius: 25px;
    line-height: 1.9;
    @media screen and (min-width: 768px) {
      left: 27%;
    }
    @media screen and (min-width: 992px) {
      left: 32%;
    }
    @media screen and (min-width: 1200px) {
      left: 35%;
    }
    img {
      margin-right: 20px;
    }
    .overlay {
      width: 100%;
    }
    .desktop-text {
      color: white;
      font-size: 14px;
      font-weight: normal;
      a {
        color: #ffffff;
      }
    }
  }
}

.filteredChips .ais-Highlight {
  margin-right: 0.5rem !important;
  margin-left: 0rem !important;
}
// .dropdown-menu.show{
//   transform: translate3d(-485px, -477px, 0px) !important;
// }
#programs-mobile-navigator-full {
  #programs-mobile-Litem {
    padding: 16px 24px;
  }
}

.explore-programs-mobile {
  .navbar {
    padding: 0 24px;
  }
  #programs-mobile-navigator-full {
    .nav-link {
      padding: 16px 40px;
    }
  }
}
.lineHeight32 {
  line-height: 32px;
}
