#rightforyou {
  .before-ol {
    &::before {
      position: absolute;
      border-left: 10px solid $secondary;
      content: "";
    }
  }
  .list-content {
    ol {
      @media (min-width: 992px) {
        padding-left: 24px !important;
      }
      li {
        list-style: none;
        margin-bottom: 15px;
        font-weight: 700;
      }

      li:before {
        content: "\F10C";
        font-size: 12px;
        vertical-align: middle;
        font-family: FontAwesome;
        margin-right: 15px;
        color: #ffc627;
      }
    }
  }
  @media (min-width: 992px) {
    .py-5 {
      padding-top: 4rem !important;
    }
    .left-content {
      .display4-size {
        margin-bottom: 36px;
        // font-size: 36px;
      }
      .list-content .display4-size {
        font-size: 36px;
      }
      hr {
        border-color: #f1f1f1;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
      p {
        padding-right: 2em;
      }
      .right-image {
        display: none;
      }
    }
    .mobile-hide {
      width: 80%;
      font-size: 16px;
      @media only screen and (max-width: 1199px) {
        width: 90%;
      }
    }
  }
  @media (min-width: 991px) {
    .text-black {
      position: absolute;
      right: -1rem;
      bottom: -1rem;
    }
    .list-content {
      padding-right: 6em;
    }
  }
  @media (max-width: 767px) {
    padding-top: 2rem !important;
    .list-content {
      ol {
        padding-left: 2.9em;
        margin-left: -2em;
        border-left: 10px solid #ffc627;
      }
    }
    .left-content {
      h2 {
        margin-bottom: 30px !important;
      }
    }
    .row {
      margin: 0 15px;
    }
  }
  @media (max-width: 991px) {
    background-color: #1e1e1e;
    .mobile-show {
      height: auto;
    }
    .right-image {
      width: 70%;
      display: table;
      margin: 0 auto;
    }
    hr {
      display: none;
    }
    .not-for-you {
      color: #ffffff !important;
      border-top: 1px solid #ffc627;
      h2 {
        padding-top: 1rem;
        color: #ffc627 !important;
      }
      .btn-border-gold {
        border: 1px solid #ffc627;
        background-color: transparent;
      }
      .mobile-hide {
        margin: 0 !important;
      }
      p {
        font-size: 16px;
      }
    }
  }
  @media (max-width: 554px) {
    .right-image {
      width: 100%;
    }
  }
}
