#supportAtAsu{
    .owl-dots {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
      
        .owl-dot {
          background-color: white;
          border: 2px solid gray;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin-left: 10px;
          margin-bottom: 3rem;
        }
      }
      
      .owl-dot.active {
        background-color: gray !important;
      }
      #carousel .item {
        cursor: grab;
        cursor: -webkit-grab;
      }
      
      #carousel .item img {
        display: block;
        width: 100%;
        height: 60px;
      }
      .owl-nav{
          display: none !important;
      }
      
      /* Styling Pagination*/
      .owl-theme .owl-controls .owl-page span {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        width: 100px;
        height: 5px;
        margin-left: 2px;
        margin-right: 2px;
        background: #ccc;
        border: none;
      }
      
      .owl-theme .owl-controls .owl-page.active span,
      .owl-theme .owl-controls.clickable .owl-page:hover span {
        background: #1e1e1e;
      }
      
      /* custom css */
      .carousel-page {
        display: flex;
      }
      
      #support_asu .support-section {
        margin-top: 136px;
      }
      #support_asu .row.vdivide [class*="col-"]:not(:last-child):after {
        background: #e1e1e1;
        width: 1px;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10%;
        height: 100px;
        margin: auto 0;
      }
      @media (max-width: 991px) {
        #support_asu .row.vdivide [class*="col-"]:not(:last-child):after {
          display: none;
        }
      }
      .icon-align {
        margin: 50px 0 125px;
      }
      @media (max-width: 991px) {
        #support_asu .icon-align {
          margin: unset;
        }
      }
      // @media (max-width: 991px) {
      //   .three_supports {
      //     text-align: center;
      //   }
      // }
      .three_supports p {
        font-size: 16px;
        font-weight: lighter;
        line-height: 22px;
        margin-top: 17px;
      }
      @media (max-width: 991px) {
        #support_asu .icon-align .three_supports p {
          padding: unset;
          margin: 0 auto;
        }
      }
      .support_heading {
        font-weight: bold;
        margin-top: 1rem;
      }
      .icon-bg {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        opacity: 0.86;
        padding: 0px;
        img{
          width: 100%;
          height: 100%;
        }
      }

       
      @media (max-width: 991px) {
        .desktop-carousel {
          display: none;
        }
      }
      
      .div-line {
        background: #e1e1e1;
        width: 1px;
        display: block;
        top: 0;
        bottom: 0;
        right: 28px;
        height: 100px;
        margin: auto 0;
        position: relative;
      }
}