<style>
.sb_hero.sb_hero_driver .hero.hero-bg-img {
  object-fit: cover;
}

.sb_aboutasu {
  background-image: url("../assets/images/about_asu.png");
}
</style>

<template>
  <div id="app" class="driver" v-if="authCode">
    <section>
      <nav-component
        @open-modal="checkEligibility"
        :titles="navItems"
        v-if="this.$store.state.desktop"
        page="driver"
      >
      </nav-component>
      <floating-nav-bar
        @open-modal="checkEligibility"
        :MobileTitle="navMobile"
        :mobileSectionStatus="section"
        page="driver"
        v-else
      ></floating-nav-bar>
      <homehero :hero="hero_value"></homehero>
      <homediscover :homeDiscover="discoverPage"></homediscover>
      <section
        v-scroll-spy="{ data: 'section', offset: 80 }"
        v-if="this.$store.state.desktop || $store.state.tab"
      >
        <homehowitworks :homeHowItWorks="Homehowitworks"></homehowitworks>
        <homeeligible :AreYouEligible="homeAreYouEligible"></homeeligible>
        <homeopportunity :opportunities="opportunities"></homeopportunity>
        <div>
          <doughnut-desktop
            :labels="doughnut.labels"
            :range="doughnut.range"
            :more="doughnut.more"
            :values="doughnut.values"
            :summary="doughnut.summary"
            v-if="$store.state.tab"
          ></doughnut-desktop>
          <doughnut-desktop
            :labels="doughnut.labels"
            :range="doughnut.range"
            :more="doughnut.more"
            :values="doughnut.values"
            :summary="doughnut.summary"
            v-if="$store.state.desktop && !$store.state.tab"
          >
          </doughnut-desktop>
          <home-financialaid :financialAid="financialAid"></home-financialaid>
        </div>
        <f-a-q></f-a-q>
        <div></div>
      </section>
      <section v-else>
        <homehowitworks :homeHowItWorks="Homehowitworks"></homehowitworks>
        <homeeligible :AreYouEligible="homeAreYouEligible"></homeeligible>
        <div>
          <homeopportunity :opportunities="opportunities"></homeopportunity>
        </div>
        <div class="">
          <MobileDoughnut
            :labels="doughnut.labels"
            :range="doughnut.range"
            :more="doughnut.more"
            :summary="doughnut.summary"
            :values="doughnut.values"
            v-if="$store.state.mobile"
            :chart="doughnut.chart"
          ></MobileDoughnut>
          <home-financialaid :financialAid="financialAid"></home-financialaid>
        </div>
        <f-a-q></f-a-q>
        <div></div>
      </section>
      <need-help
        v-if="$store.state.tab || $store.state.mobile"
        class="mb-4"
      ></need-help>
      <footer-componet></footer-componet>
    </section>
    <div
      class="modal"
      id="asu_rfi_form"
      data-toggle="modal"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog modal-lg" v-if="flags.rfiFormSuccess">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4
              class="modal-title text-center"
              v-if="rfiSubmissionMsg.rfiSubmitTitle"
              id="rfiFormModalTitle"
            >
              {{ rfiSubmissionMsg.rfiSubmitTitle }}
            </h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body bg-gray">
            <div class="col-md-11 mx-auto">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 rfiForm">
                    <div class="margin-centered">
                      <img
                        v-if="!$store.state.isUberEats"
                        alt="uber asuo logo"
                        title
                        src="../assets/images/uber_and_asu_logo.png"
                        class="spaceball_img"
                      />
                      <img
                        v-else
                        alt="ubereats asuo logo"
                        title
                        src="../assets/images/ubereats_asu_logo.svg"
                        class="spaceball_img"
                      />
                      <div
                        style="display: flex"
                        v-show="rfiSubmissionMsg.isredirectDX"
                      >
                        <img
                          style="margin: 0 auto"
                          alt="loading"
                          title
                          src="../assets/images/loading.gif"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h2 class="center-align" style="text-align: center">
                    <span v-html="rfiSubmissionMsg.rfiSubmitMessage"></span>
                  </h2>
                </div>
                <p style="text-align: center">
                  <span v-html="rfiSubmissionMsg.rfiFooterMessage"></span>
                </p>
                <div class="row">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-dialog modal-lg" v-if="flags.rfiFormError">
        <div class="modal-content">
          <!-- Modal Header -->
          <div
            class="modal-header"
            style="background-color: #f1f1f1; border-bottom: transparent"
          >
            <h4 class="modal-title"></h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              style="font-size: 2.5em; color: #8c1d40; opacity: 1"
            >
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body bg-gray">
            <div class="col-md-10 px-4" style="margin-top: -2rem">
              <div class="container">
                <h2 class="font48 font-weight-bold">Oops!</h2>
                <h3 class="font-24 font-weight-bold">
                  You are currently not eligible for the ASU and Uber Education
                  Partnership.
                </h3>
                <p class="font-18" v-if="$store.state.isUberEats">
                  To qualify, you must have completed 1,000 lifetime trips and
                  have earned Gold, Platinum or Diamond status.
                </p>
                <p class="font-18" v-else>
                  To qualify, you must have completed 3,000 lifetime trips and
                  earned Uber Pro Gold status or above.
                </p>
                <a
                  data-region="uber-landing-page"
                  href="https://www.uber.com/us/en/drive/uber-pro/"
                  class="btn btn-yellow"
                  >Learn more</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal-dialog modal-lg"
        id="rfi-main-form"
        v-if="flags.rfiForm"
        style="display: none"
        data-keyboard="false"
        data-backdrop="static"
      >
        <form @submit.prevent="handleSubmit">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4
                class="modal-title text-center"
                v-if="signupTitle"
                id="rfiFormModalTitle"
              >
                {{ signupTitle }}
              </h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body bg-gray">
              <div class="col-md-9" style="margin: auto !important">
                <div class="container">
                  <div class="row" style="display: block">
                    <div class="rfiForm">
                      <div class="margin-centered">
                        <img
                          v-if="!$store.state.isUberEats"
                          alt="uber asuo logo"
                          title
                          src="../assets/images/uber_and_asu_logo.png"
                          class="spaceball_img"
                        />
                        <img
                          v-else
                          alt="ubereats asuo logo"
                          title
                          src="../assets/images/ubereats_asu_logo.svg"
                          class="spaceball_img"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row" v-if="flags.rfiOpportunity == 'CPE'">
                    <h2 class="center-align" style="font-size: 18px">
                      Enter the information below to begin signing up to use
                      your tuition coverage toward courses online.
                    </h2>
                  </div>
                  <div class="row" v-else-if="flags.rfiDriver == true">
                    <h2 class="center-align" style="font-size: 18px">
                      Enter the information below to begin signing up for
                      tuition coverage.
                    </h2>
                  </div>
                  <div class="row" v-else>
                    <h2 class="center-align" style="font-size: 18px">
                      Enter the information below to begin signing up to use
                      your tuition coverage toward a degree online.
                    </h2>
                  </div>
                  <div class="form-group">
                    <label for="fname">First name:</label>
                    <input
                      type="text"
                      class="form-control disabledField"
                      id="fname"
                      v-model="profileData.first_name"
                      name="first_name"
                      placeholder="First name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="lname">Last name:</label>
                    <input
                      type="text"
                      class="form-control disabledField"
                      id="lname"
                      v-model="profileData.last_name"
                      name="last_name"
                      placeholder="Last name"
                    />
                  </div>
                  <div class="form-group">
                    <div
                      style="
                        color: red;
                        text-align: left;
                        font-weight: bold;
                        font-size: 12px;
                      "
                      v-if="submitted && errors.has('Email')"
                      class="invalid-feedback"
                    >
                      {{ errors.first("Email") }}
                    </div>

                    <label v-else for="mail">Email address:</label>
                    <input
                      type="text"
                      class="form-control disabledField"
                      id="mail"
                      :value="profileData.email"
                      v-validate="'required|email'"
                      name="Email"
                      placeholder="Email"
                    />
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone number:</label>
                    <input
                      type="int"
                      class="form-control disabledField"
                      id="phone"
                      v-model="profileData.phone_number"
                      name="phoneno"
                      placeholder="Phone Number"
                    />
                    <!-- currentmod -->
                  </div>
                  <div class="form-group">
                    <div
                      style="
                        color: red;
                        text-align: left;
                        font-weight: bold;
                        font-size: 12px;
                      "
                      v-if="submitted && errors.has('date_of_birth_m')"
                      class="invalid-feedback"
                    >
                      {{ errors.first("date_of_birth_m") }}
                    </div>
                    <div
                      style="
                        color: red;
                        text-align: left;
                        font-weight: bold;
                        font-size: 12px;
                      "
                      v-else-if="submitted && errors.has('date_of_birth_d')"
                      class="invalid-feedback"
                    >
                      {{ errors.first("date_of_birth_d") }}
                    </div>
                    <div
                      style="
                        color: red;
                        text-align: left;
                        font-weight: bold;
                        font-size: 12px;
                      "
                      v-else-if="submitted && errors.has('date_of_birth_y')"
                      class="invalid-feedback"
                    >
                      {{ errors.first("date_of_birth_y") }}
                    </div>
                    <label
                      v-else
                      aria-label="date of birth"
                      style="display: block"
                      >Date of birth:</label
                    >
                    <select
                      id="month"
                      v-validate="'required'"
                      name="date_of_birth_m"
                      class
                      aria-label="months list"
                    >
                      <option value disabled selected>mm</option>
                      <option v-for="(month, index) in month" :key="index">
                        {{ month }}
                      </option>
                    </select>
                    <select
                      id="day"
                      v-validate="'required'"
                      name="date_of_birth_d"
                      class
                      aria-label="days list"
                    >
                      <option value disabled selected>dd</option>
                      <option v-for="(day, index) in date_current" :key="index">
                        {{ day }}
                      </option>
                    </select>
                    <select
                      id="year"
                      v-validate="'required'"
                      name="date_of_birth_y"
                      class
                      aria-label="years list"
                    >
                      <option value disabled selected>yyyy</option>
                      <option v-for="(year, index) in year" :key="index">
                        {{ year }}
                      </option>
                    </select>
                    <div class="driverPage" v-if="flags.rfiDriver">
                      <label class="pt-4">Select your opportunity:</label>
                      <div class="d-flex">
                        <div
                          class="custom-control custom-radio custom-control-inline"
                          role="radiogroup"
                          aria-label="radio button"
                        >
                          <input
                            type="radio"
                            v-model="flags.rfiOpportunity"
                            value="ASUO"
                            id="customRadioInline1"
                            name="customRadioInline1"
                            class="custom-control-input"
                          />
                          <label
                            class="custom-control-label radio-driver"
                            for="customRadioInline1"
                            >A degree online</label
                          >
                        </div>
                        <div
                          class="custom-control custom-radio custom-control-inline"
                          role="radiogroup"
                          aria-label="radio button"
                        >
                          <input
                            type="radio"
                            v-model="flags.rfiOpportunity"
                            value="CPE"
                            id="customRadioInline2"
                            name="customRadioInline1"
                            class="custom-control-input"
                          />
                          <label
                            class="custom-control-label radio-driver"
                            for="customRadioInline2"
                            >ELL or entrepreneurship online</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <!-- <div style="color:red; text-align:left; font-weight:bold; font-size:12px;" v-if="submitted && errors.has('date_of_birth')"
                      class="invalid-feedback">{{errors.first('date_of_birth')}}</div>

                    <label v-else for="date_of_birth">Date of birth:</label>-->
                    <!-- <input type="date" class="form-control" id="dob" v-model="profileData.dob" v-validate="'required'"
                    name="date_of_birth" placeholder="Date of Birth">-->
                  </div>
                  <!-- <div v-if="flags.rfiOpportunity=='CPE' && !flags.toggleBeneficiary" class="form-group course-select">
                    <div style="color:red; text-align:left; font-weight:bold; font-size:12px;"
                      v-if="submitted && errors.has('course_list_cpe')&& !flags.selectedCourses"
                      class="invalid-feedback">{{errors.first('course_list_cpe')}}</div>

                    <label v-else for="course_list_cpe">Select your courses:</label>
                    <select v-validate.immediate="'required'" name="course_list_cpe" id="course_list_cpe"
                      class="form-control" style="height: 56px;" multiple="multiple">
                      <option value="select your courses" disabled>Select your courses</option>
                      <optgroup v-for="(item, index) in $store.state.courses.CPE_Courses" :key="index"
                        v-bind:label="item.shortName">
                        <template v-for="inneritem in item.courses">
                          <option v-if="inneritem.id != 'NA5'" v-bind:value="inneritem.id">{{inneritem.title}}</option>
                        </template>
                      </optgroup>
                    </select>
                  </div> -->
                  <div
                    class="form-group pt-16"
                    role="group"
                    aria-label="checkbox"
                  >
                    <label
                      class="check_align"
                      for="check_box_1"
                      aria-label="agree checkbox"
                      ><span style="display: none">Agree checkbox</span>
                      <input
                        type="checkbox"
                        id="check_box_1"
                        name="check"
                        style="margin-left: -7px"
                      />
                      <span
                        class="checkmark checkmark_tc"
                        @click="ckeckedMe()"
                      ></span>
                    </label>
                    <div
                      class="modal-title uber_partner check_info text-left"
                      style="font-weight: normal"
                    >
                      I agree to the
                      <a
                        data-region="uber-landing-page"
                        style="color: #8c1d40; cursor: pointer"
                        v-on:click="flags.toggleterms = !flags.toggleterms"
                      >
                        Terms & Conditions
                      </a>
                      for the ASU and Uber Education Partnership.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal_white">
              <div class="modal-dependent">
                <div
                  class="col-md-9 border-bottom"
                  style="margin: auto !important"
                >
                  <div class="container">
                    <div
                      class="form-group space-top-md"
                      role="group"
                      aria-label="checkbox"
                    >
                      <label class="check_align" for="is_family_selection"
                        ><span style="display: none"
                          >Family selection checkbox</span
                        >
                        <input
                          type="checkbox"
                          name="check"
                          id="is_family_selection"
                          style="background-color: blue"
                        />
                        <span
                          v-on:click="
                            flags.toggleBeneficiary = !flags.toggleBeneficiary;
                            flags.selectedCourses = false;
                            flags.selectedDependentRelation = false;
                          "
                          class="checkmark"
                        ></span>
                      </label>
                      <div class="check_info" style="font-weight: normal">
                        I am electing to give up my opportunity to a family
                        member instead.
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="offset-md-2 col-md-8 offset-md-2 dependent_details" v-if="flags.toggleBeneficiary"> -->

                <div
                  class="col-md-9 dependent_details space-top-md"
                  v-if="flags.toggleBeneficiary"
                  style="margin: auto"
                >
                  <!-- benificiary setup for number of details -->
                  <div class="justify-content-center align-items-center d-none">
                    <div
                      class="beni_number bg-secondary text-black heading-5 font-weight-bold"
                    >
                      {{ totalLimit }}
                    </div>
                    <div class="content-desc">
                      <h3 class="heading-5 m-0">Transfers remaining</h3>
                      <p>
                        click to learn more about
                        <a
                          data-region="uber-landing-page"
                          href="#"
                          class="text-primary dotted-bottom"
                          >transfaring benifits</a
                        >
                      </p>
                    </div>
                  </div>
                  <div class="container" v-if="totalLimit > 0">
                    <p
                      class="display-6 text-left space-bot-md"
                      style="font-size: 18px"
                    >
                      I am a spouse or domestic partner, child, sibling, parent,
                      or legal guardian or dependent of an Uber driver-partner.
                    </p>
                    <div class="form-group dependent-select">
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-if="
                          submitted &&
                          errors.has('program_type') &&
                          !flags.selectedDependentRelation
                        "
                        class="invalid-feedback"
                      >
                        {{ errors.first("program_type") }}
                      </div>

                      <label v-else for="program_type"
                        >How is your family member related to you?</label
                      >
                      <select
                        name="program_type"
                        id="program_type"
                        v-validate="'required'"
                        class="form-control"
                      >
                        <option value disabled selected>
                          How is your family member related to you?
                        </option>
                        <option>Spouse/ Domestic partner</option>
                        <option>Child</option>
                        <option>Sibling</option>
                        <option>Dependent</option>
                        <option>Parent/ Legal guardian</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-if="submitted && errors.has('beneficiary_first_name')"
                        class="invalid-feedback"
                      >
                        {{ errors.first("beneficiary_first_name") }}
                      </div>

                      <label v-else for="beneficiary_first_name"
                        >First name:</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="beneficiary_fname"
                        v-model="profileData.beneficiary_fname"
                        name="beneficiary_first_name"
                        v-validate="'required'"
                        placeholder="First name *"
                      />
                    </div>
                    <div class="form-group">
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-if="submitted && errors.has('beneficiary_last_name')"
                        class="invalid-feedback"
                      >
                        {{ errors.first("beneficiary_last_name") }}
                      </div>
                      <label v-else for="beneficiary_last_name"
                        >Last name:</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        v-validate="'required'"
                        v-model="profileData.beneficiary_lname"
                        id="beneficiary_lname"
                        name="beneficiary_last_name"
                        placeholder="Last name *"
                      />
                    </div>
                    <div class="form-group">
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-if="
                          submitted && errors.has('beneficiary_date_of_birth_m')
                        "
                        class="invalid-feedback"
                      >
                        {{ errors.first("beneficiary_date_of_birth_m") }}
                      </div>
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-else-if="
                          submitted && errors.has('beneficiary_date_of_birth_d')
                        "
                        class="invalid-feedback"
                      >
                        {{ errors.first("beneficiary_date_of_birth_d") }}
                      </div>
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-else-if="
                          submitted && errors.has('beneficiary_date_of_birth_y')
                        "
                        class="invalid-feedback"
                      >
                        {{ errors.first("beneficiary_date_of_birth_y") }}
                      </div>
                      <label v-else for="date_of_birth" style="display: block"
                        >Date of birth:</label
                      >
                      <select
                        id="month_b"
                        v-validate="'required'"
                        name="beneficiary_date_of_birth_m"
                        class
                      >
                        <option value disabled selected>mm</option>
                        <option v-for="(month, index) in month" :key="index">
                          {{ month }}
                        </option>
                      </select>
                      <select
                        id="day_b"
                        v-validate="'required'"
                        name="beneficiary_date_of_birth_d"
                        class
                      >
                        <option value disabled selected>dd</option>
                        <option
                          v-for="(day, index) in date_current_b"
                          :key="index"
                        >
                          {{ day }}
                        </option>
                      </select>
                      <select
                        id="year_b"
                        v-validate="'required'"
                        name="beneficiary_date_of_birth_y"
                        class
                      >
                        <option value disabled selected>yyyy</option>
                        <option v-for="(year, index) in year" :key="index">
                          {{ year }}
                        </option>
                      </select>
                    </div>
                    <!-- <div class="form-group">
                    <div style="color:red; text-align:left; font-weight:bold; font-size:12px;" v-if="submitted && errors.has('beneficiary_date_of_birth')"
                      class="invalid-feedback">{{errors.first('beneficiary_date_of_birth')}}</div>
                    <label v-else for="beneficiary_date_of_birth">Date of birth:</label>
                    <input type="date" class="form-control" v-validate="'required'" v-model="profileData.beneficiary_dob"
                      id="beneficiary_dob" name="beneficiary_date_of_birth" placeholder="Date of Birth">
                    </div>-->
                    <div class="form-group">
                      <div
                        style="
                          color: red;
                          text-align: left;
                          font-weight: bold;
                          font-size: 12px;
                        "
                        v-if="submitted && errors.has('beneficiary_email')"
                        class="invalid-feedback"
                      >
                        {{ errors.first("beneficiary_email") }}
                      </div>
                      <label v-else for="beneficiary_email"
                        >Email address:</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        v-validate="'required|email'"
                        v-model="profileData.beneficiary_mail"
                        id="beneficiary_mail"
                        name="beneficiary_email"
                        placeholder="Email address *"
                      />
                    </div>
                    <!-- <div v-if="flags.rfiOpportunity=='CPE' && flags.toggleBeneficiary" class="form-group course-select">
                      <div style="color:red; text-align:left; font-weight:bold; font-size:12px;"
                        v-if="submitted && errors.has('course_list_cpe') && !flags.selectedCourses"
                        class="invalid-feedback">{{errors.first('course_list_cpe')}}</div>
  
                      <label v-else for="course_list_cpe">Select your courses:</label>
                      <select v-validate.immediate="'required'" name="course_list_cpe" id="course_list_cpe"
                        class="form-control" style="height: 56px;" multiple="multiple">
                        <option value="select your courses" disabled>Select your courses</option>
                        <optgroup v-for="(item, index) in $store.state.courses.CPE_Courses" :key="index"
                          v-bind:label="item.shortName">
                          <option v-for="(inneritem, index) in item.courses" :key="index" v-bind:value="inneritem.id">
                            {{inneritem.title}}</option>
                        </optgroup>
                      </select>
                    </div> -->
                  </div>
                </div>
                <div class="col-md-9" style="margin: auto">
                  <div class="container">
                    <div
                      v-if="flags.toggleterms"
                      style="
                        font-size: 14px;
                        text-align: left;
                        margin: auto;
                        font-weight: normal;
                      "
                      class="space-bot-md"
                    >
                      I authorize Arizona State University and Uber to release
                      and/or exchange information about me with each other on a
                      regular basis as needed to administer the Uber Tuition
                      Reward and any other Uber-sponsored education assistance
                      program in which I participate. This includes payment of
                      any eligible amount of the Uber tuition reward for each
                      Semester enrolled. Information covered by this
                      authorization to exchange information includes my name,
                      Uber rewards ID, ASU ID, reward eligibility, Uber account
                      status and history, educational progress, coursework
                      completion and/or grades to analyze program effectiveness
                      and determine ongoing eligibility, academic standing, and
                      tuition billing. Sharing information about my status will
                      permit my manager, ASU and Uber Tuition Reward partner
                      resources and staff to answer questions, provide support,
                      and celebrate my progress and completion within a program
                      as I consider joining and /or officially enroll in an
                      Uber-sponsored tuition reward program. It will also allow
                      for analysis of program effectiveness, outcomes, and
                      benefits as well as outreach for marketing-related
                      opportunities regarding the Uber Tuition Reward.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center container">
              <h4 class="modal-title uber_partner">
                <strong style="font-size: 14px">Uber and ASU&nbsp;</strong>will
                use this information according to it's
                <a
                  data-region="uber-landing-page"
                  href="/privacy"
                  class
                  target="_blank"
                  >Privacy Policy</a
                >.
              </h4>
              <div
                v-show="flags.toggleBeneficiary"
                class="form-group"
                style="text-align: center"
              >
                <div class="eligiblity-show" v-if="totalLimit <= 0">
                  Your are out of transfers. Contact Uber support for additional
                  help
                  <a
                    data-region="uber-landing-page"
                    href="#"
                    type="submit"
                    class="btn btn-lg btn-default"
                    id="benificiary-btn-3"
                    >Contact Uber Support</a
                  >
                </div>
                <div class="eligiblity-hide" v-else>
                  <button
                    type="submit"
                    class="btn btn-lg btn-warning btn-yellow"
                    id="benificiary-btn-2"
                    disabled
                  >
                    Submit info
                  </button>
                </div>
              </div>
              <div
                v-show="!flags.toggleBeneficiary"
                class="form-group"
                style="text-align: center"
              >
                <button
                  type="submit"
                  class="btn btn-lg btn-warning btn-yellow"
                  id="benificiary-btn-1"
                  disabled
                >
                  Submit info
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import util from "../util";
import { ModalMixins } from "../mixins/ModalMixins.js";
import NeedHelp from "../components/needHelpComponent.vue";
import MobileDoughnut from "../components/homeDoughnut";
import "@/assets/scss/main.scss";
import doughnutDesktop from "../components/doughNutComponentDesktop.vue";
import FloatingNavBar from "../components/FloatingNavBarComponent.vue";
import NavComponent from "../components/navBarComponent.vue";
import Homehero from "../components/homehero.vue";
import Homediscover from "../components/homediscover.vue";
import Homehowitworks from "../components/homehowitworks.vue";
import Homeeligible from "../components/homeeligible.vue";
import Homeopportunity from "../components/homeopportunity.vue";
import HomeFinancialaid from "../components/homefinancialaid.vue";
import FooterComponet from "../components/footerComponent.vue";
import FAQ from "../components/FAQ.vue";
export default {
  name: "driver",
  mixins: [ModalMixins],
  data() {
    return {
      baseUrl: "",
      mixins: [ModalMixins],
      oauth2Url: "/oauth/v2/token",
      profileUrl: "/v1/partners/me",
      authCode: "",
      profileData: JSON.parse(sessionStorage.getItem("profileData")),
      hero_value: {},
      navItems: [],
      navMobile: [],
      pageContent: {},
      discoverPage: {},
      Homehowitworks: {},
      AreYouEligible: {},
      doughnut: {},
      homeAreYouEligible: {},
      financialAid: {},
      faq: "",
      opportunities: {},
      section: 0,
      mobStatus: 0,
    };
  },
  components: {
    NavComponent,
    NeedHelp,
    Homehero,
    FloatingNavBar,
    Homediscover,
    Homehowitworks,
    Homeeligible,
    Homeopportunity,
    HomeFinancialaid,
    FAQ,
    doughnutDesktop,
    FooterComponet,
    MobileDoughnut,
  },
  methods: {
    ckeckedMe() {
      if (document.getElementById("check_box_1").checked) {
        $("#benificiary-btn-1").attr("disabled", "disabled");
        $("#benificiary-btn-2").attr("disabled", "disabled");
      } else {
        $("#benificiary-btn-1").removeAttr("disabled");
        $("#benificiary-btn-2").removeAttr("disabled");
      }
    },
    takeHimOut() {
      sessionStorage.removeItem("appState"); // removing authorization code stored in session storage when the user clicks on log out
      window.open("https://partners.uber.com/logout", "_self");
      sessionStorage.removeItem("profileData");
      sessionStorage.removeItem("token");

      // return this.$router.push({ path: '/' })
    },
    getAuthCode: function (callback) {
      let authorizationCode = "";
      if (window.location.search) {
        window.location.search
          .slice(1)
          .split("&")
          .forEach((element) => {
            if (!authorizationCode) {
              if (element.split("=")[0] === "code") {
                authorizationCode = element.split("=")[1];
                sessionStorage.setItem("appState", authorizationCode); // storing authorization code so that we know if the user is logged in or not
              }
            }
          });
      }
      callback(authorizationCode);
    },
  },
  created() {
    if (this.$store.state.isUberEats) {
      this.$i18n.locale = "uberEats";
    } else {
      this.$i18n.locale = "uberPro";
    }
    this.pageContent = this.$i18n.messages[
      this.$i18n.locale
    ].driverPage.content;
    this.hero_value = this.pageContent.hero_value;
    (this.navItems = this.pageContent.navItems),
      (this.navMobile = this.pageContent.navMobile),
      (this.discoverPage = this.pageContent.discover),
      (this.Homehowitworks = this.pageContent.howItWorks),
      (this.AreYouEligible = this.pageContent.areYouEligible),
      (this.opportunities = this.pageContent.opportunities),
      (this.doughnut = this.pageContent.doughnut);
    this.financialAid = this.pageContent.financialAid;
    this.homeAreYouEligible = this.pageContent.areYouEligible;
    let self = this;
    this.baseUrl = util.getAPIUrl();

    this.getAuthCode((code) => {
      if (!code) return (window.location.href = util.getAuthorizeUrl());

      this.$http({
        method: "get",
        url: this.baseUrl + this.oauth2Url,
        headers: {
          Authorization: code,
        },
      })
        .then((response) => {
          sessionStorage.setItem("token", JSON.stringify(response.data));
          this.$store.state.token = sessionStorage.getItem("token");
          this.$http({
            method: "get",
            url: this.baseUrl + this.profileUrl,
            headers: {
              Authorization: response.data.access_token,
            },
          })
            .then((response) => {
              this.authCode = code;
              this.profileData = response.data;
              sessionStorage.setItem(
                "profileData",
                JSON.stringify(response.data)
              );
            })
            .catch((err) => {
              console.log("Profile : " + JSON.stringify(err.response.data));
              self.$store.state.notUberDriver = true;

              self.$router.push({
                name: "public",
              });
            });
        })
        .catch((err) => {
          console.log("Authorization : " + JSON.stringify(err.response.data));

          this.$router.push({
            path: "/",
          });
        });
    });
    this.$router.replace({
      query: removeAuthCode(),
    });

    function removeAuthCode() {
      let reframeSearch = {};
      window.location.search
        .slice(1)
        .split("&")
        .forEach((element) => {
          if (
            element &&
            element.split("=")[0] !== "code" &&
            element.split("=")[0] !== "status"
          ) {
            reframeSearch[element.split("=")[0]] = element.split("=")[1];
          }
        });
      if (Object.keys(reframeSearch).length > 0) {
        return reframeSearch;
      } else {
        reframeSearch.params = null;
        return reframeSearch;
      }
    }
  },
};
</script>