<template>
  <div>
    <section class="container pt-3">
      <!--  <div class="filter-2">
          <h5>Degree type</h5>
       <div class="filters">    
      <ais-refinement-list attribute="category" class="">
        <div slot-scope="{
                items,
                refine,
                }">
            <ul class="algolia-pills--ul">
              <li v-for="item in items" :key="item.value" class="algolia-pills--li">
                <a
                  href="#" class="filter-item"
                  :class="{'addActivePill': item.isRefined }"
                  @click.prevent="refine(item.value)"
                >
                  <ais-highlight attribute="item" :hit="item"/>
                </a>
              </li>
            </ul>
          </div>
        </ais-refinement-list>
      </div>
      </div> -->
      <div class="filter-2 interest-area">
        <p class="font-weight-bold text-left">Area of interest</p>
        <hr />
        <div class="filters">
          <ais-refinement-list attribute="interestareas" :limit="100" class="">
            <div slot-scope="{ items, refine }">
              <ul class="algolia-pills--ul d-flex">
                <li
                  v-for="item in items"
                  :key="item.value"
                  class="algolia-pills--li w-100"
                >
                  <label
                    class="checkContainer d-block mb-0 position-relative word-break"
                    ><p class="mb-0 font16 text-left">
                      <ais-highlight attribute="item" :hit="item" />
                    </p>
                    <input
                      type="checkbox"
                      class="checkCheckBox h-0 w-0 position-absolute d-none"
                      :checked="item.isRefined"
                      :value="item.value"
                      v-model="$store.state.checkedBoxes"
                      @click="refine(item.value)"
                    />
                    <span
                      class="checkmark rounded position-absolute border"
                    ></span>
                  </label>
                </li>
              </ul>
            </div>
          </ais-refinement-list>
        </div>
      </div>
      <div class="d-lg-none">
        <div class="row">
          <div class="col-6">
            <button
              class="btn btn-secondary btn-block font-weight-bold btn-apply"
              @click="btnclick()"
            >
              Apply filters
            </button>
          </div>
          <div class="col-6">
            <ais-clear-refinements v-if="!$store.state.applystate">
              <button
                data-region="uber-landing-page"
                class="btn btn-black btn-block"
                slot-scope="{ canRefine, refine, createURL }"
                :href="createURL()"
                @click.prevent="refine"
                :disabled="!canRefine"
              >
                Reset
              </button>
            </ais-clear-refinements>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  methods: {
    btnclick() {
      this.$store.state.applystate = false;
    },
  },
};
</script>

<style scoped>
.filter-2 h5 {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: left;
  color: #7b7b7b;
  font-weight: normal;
}
/* .filters{
  border-left: 4px solid #8c8c8c;
} */
.algolia-pills--ul {
  list-style: none;
  display: flex;
  padding: 0;
  width: 850px;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
@media screen and (max-width: 992px) {
  .algolia-pills--ul {
    width: 700px;
  }
}
.algolia-pills--li {
  margin: 5px;
}
.algolia-pills--li a {
  color: #2a2a2a;
  background: #ebebeb;
  border: 1px solid black;
  border-color: transparent;
  border-radius: 5px;
  margin: 0px 0 0;
  display: flex;
}
.algolia-pills--li .addActivePill {
  background-color: #ffc627;
}
span.ais-Highlight {
  font-size: 14px;
  padding: 8.5px 16px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .algolia-pills--ul {
    width: 100%;
  }
  .algolia-pills--li {
    margin: 0px !important;
  }
}
.btn-black {
  float: right;
  background-color: #2a2a2a;
  color: #ffffff;
  font-weight: normal;
  padding: 5px 30px;
  font-size: 18px;
}

.filteredChips .ais-Highlight {
  font-size: 16px;
}

.filter-2.interest-area {
  height: calc(100vh - 140px);
  overflow: scroll;
}
</style>
