<template>
  <div>
    <section class="container">
      <div class="filter-2 pt-4">
        <div class="filters">
          <ais-refinement-list
            attribute="interestareas"
            :limit="100"
            class="ml-3"
          >
            <div slot-scope="{ items, refine }">
              <ul class="algolia-pills--ul">
                <li
                  v-for="item in items"
                  :key="item.value"
                  class="algolia-pills--li"
                >
                  <a
                    href="#"
                    data-region="uber-landing-page"
                    class="activate-interestarea"
                    :class="{ addActivePill: item.isRefined }"
                    @click.prevent="refine(item.value)"
                  >
                    <ais-highlight attribute="item" :hit="item" />
                  </a>
                </li>
              </ul>
            </div>
          </ais-refinement-list>
        </div>
      </div>
    </section>
  </div>
</template>

<style scoped>
.filter-2 h5 {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
}
.filters {
  border-left: 4px solid #8c8c8c;
}
.algolia-pills--ul {
  list-style: none;
  display: flex;
  padding: 0;
  width: 500px;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.algolia-pills--li {
  margin: 5px;
}
.algolia-pills--li a {
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 30px;
  margin: 0px 0 0;
  display: flex;
}
.algolia-pills--li .addActivePill {
  background-color: #ffc627;
}
span.ais-Highlight {
  font-size: 12px;
  padding: 1px 10px;
}
@media screen and (max-width: 767px) {
  .algolia-pills--ul {
    width: 100%;
  }
  .algolia-pills--li {
    margin: 3px;
  }
}
</style>

<script>
export default {
  mounted() {},
};
</script>
