<template>
  <div style="overflow-y: hidden">
    <article id="explore-programs" class="explore-programs-mobile">
      <ais-instant-search
        :search-client="searchClient"
        index-name="dev_starbucks_ug"
        class="algolia-integration"
      >
        <header class="main-header-program">
          <div class="container navbar navbar-expand-lg">
            <div
              class="margin-1 d-flex w-sm-100 align-items-center justify-content-between"
              id="corp_logo_III"
            >
              <p v-if="!toggleSeachBox" class="d-flex m-0 align-items-center">
                <a
                  class="back"
                  data-region="uber-landing-page"
                  style="font-size: 18px; min-height: 30px; min-width: 23px"
                >
                  <span style="display: none">Back</span>
                  <i
                    class="fas fa-arrow-left"
                    @click="$store.state.showAllDegrees = false"
                    style="margin-right: 15px"
                  ></i>
                </a>
                |
                <span>
                  <a
                    data-region="uber-landing-page"
                    id="menu-btn-program"
                    class="new collapsed ml-3"
                    data-toggle="collapse"
                    data-target="#navbar-wse"
                    @click="handler()"
                  >
                    <span
                      class="back font-weight-bold ml-3"
                      style="vertical-align: top"
                      >Filter</span
                    >
                    <i id="toggle" class="ml-3 fas fa-caret-down"></i>
                  </a>
                </span>
                <span class="filter-count">{{
                  $store.state.checkedBoxes.length
                }}</span>
              </p>

              <div class="searchContainer" :class="{ 'w-100': openSearch }">
                <div class="search__box d-flex align-items-center w-100">
                  <ais-search-box placeholder></ais-search-box>
                </div>
              </div>
            </div>

            <div class="navbar-collapsee collapse" id="navbar-wse">
              <ul
                class="nav-items nav navbar-nav navbar-right text-center"
                v-scroll-spy-active="{ class: 'programActive' }"
                v-scroll-spy-link
              >
                <li class="menu-item">
                  <algoliaMenu></algoliaMenu>
                  <!-- <a class="nav-link"><ais-refinement-list :limit="100" v-model="checked" attribute="category"/></a>
              <a class="nav-link"><ais-refinement-list :limit="100" v-model="checked" attribute="interestareas"/></a> -->
                </li>
                <ais-state-results>
                  <p slot-scope="{ query, hits }">
                    {{ saveData(hits) }}
                  </p>
                </ais-state-results>
              </ul>
            </div>
          </div>
        </header>
        <div class="notify">
          <img
            src="../../assets/images/one-finger-tap-gesture-of-outlined-hand-symbol.svg"
            alt="tap gesture"
            title="More info icon"
          />
          <div class="overlay">
            <div class="text">
              Tap for information
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                data-region="uber-landing-page"
                href="javascript:void(0)"
                aria-label="Close Account Info Modal Box"
                @click="showpopover()"
                >&times;</a
              >
            </div>
          </div>
        </div>
        <div class="container1">
          <div id="popover">
            <img
              src="../../assets/images/lightbulb-idea2.svg"
              alt="popover"
              title="Popover"
            />
            <div class="popover-text">
              Get more from your search with filters
              <a
                data-region="uber-landing-page"
                href="javascript:void(0)"
                aria-label="Close Account Info Modal Box"
                @click="closepopover()"
                >&times;</a
              >
            </div>
          </div>
        </div>
        <div
          v-if="$store.state.filteredDegrees.length > 0"
          class="explore-degcard row position-fixed w-100 z-99 m-0"
          @click="
            showDescMobile($store.state.filteredDegrees[section].shortdesc)
          "
        >
          <div class="card item w-100">
            <div class="program-container text-white">
              <a
                data-region="uber-landing-page"
                class="card-image degree-details"
                @click="!dispCourses, applyOverlayToBody(), showpopover()"
                :id="$store.state.filteredDegrees[section].title"
                v-bind:style="{
                  backgroundImage:
                    'url(' +
                    $store.state.filteredDegrees[section].degreeimage +
                    ')',
                }"
              >
                <div class="card-date">
                  <!-- <span class="date font-weight-mild">03/11/2019</span> -->
                  <span class="close-courses" v-show="dispCourses">X</span>

                  <span class="icon">
                    <img
                      :src="
                        getImgUrl(
                          $store.state.filteredDegrees[section].interestareas[0]
                        )
                      "
                      alt="icon"
                      sizes
                      srcset
                      style="width: 40px; height: 40px"
                    />
                  </span>
                </div>
                <div class="card-title" style="top: 90px">
                  <!-- <p class="font-weight-normal mb-3" style="line-height: 1.2;font-size:14px !important; ">{{$store.state.filteredDegrees[section].interestareas['0']}}</p> -->
                  <span class="font14 font-weight-normal text-white">{{
                    $store.state.filteredDegrees[section].interestareas["0"]
                  }}</span>
                  <p
                    class="font24 font-weight-bold mb-3"
                    style="line-height: 1.2"
                  >
                    {{ $store.state.filteredDegrees[section].title }}
                  </p>
                </div>
              </a>
              <div
                class="display-card container border-4"
                v-if="dispCourses"
                @click="!dispCourses, applyOverlayToBody(), showpopover()"
                :id="$store.state.filteredDegrees[section].code"
              >
                <p
                  class="font-black pt-2 pb-4"
                  style="font-size: 12px !important"
                >
                  {{ $store.state.filteredDegrees[section].shortdesc }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <ul class="nav-items p-0" id="programs-mobile-navigator-full">
          <div class="all-programs">
            <div
              class="main"
              v-scroll-spy="{ data: 'section', offset: dataValue }"
              v-if="$store.state.filteredDegrees.length > 0"
            >
              <a
                data-region="uber-landing-page"
                :key="index"
                v-for="(item, index) in $store.state.filteredDegrees"
                :id="`programs-mobile-Litem-${index}`"
                @click="delegateListItem($event)"
                class="nav-link font-weight-bold d-flex justify-content-between align-items-center"
                :class="{
                  'border-top border-bottom': index == 0,
                  'border-bottom': index != 0,
                }"
              >
                <span id="programs-mobile-title" class="w-80">{{
                  item.title
                }}</span>
                <img
                  :src="getImgUrl(item.interestareas[0])"
                  alt="icon"
                  sizes
                  srcset
                  style="width: 26px; height: 26px"
                />
              </a>
            </div>
          </div>
          <div class="more-courses text-center">
            <h2 class="heading-6 font-weight-bold">
              Looking for more courses?
            </h2>
            <p class="text-center">
              Explore other options including earning credit towards an ongoing
              degree
            </p>
            <a
              data-region="uber-landing-page"
              class="btn btn-outline-secondary"
              href="/cpe"
              >CPE courses</a
            >
          </div>
        </ul>
      </ais-instant-search>
    </article>
    <div
      class="courseOverlay"
      v-show="courseOverlay"
      @click="(dispCourses = false), (courseOverlay = false)"
    ></div>
  </div>
</template>
<script>
$(document).on("click", ".btn-apply", function (e) {
  $(".navbar-collapsee").collapse("hide");
});
import algoliasearch from "algoliasearch/lite";
import navComponent from "./programNavBar.vue";
import { programMixin } from "../../mixins/programMixin.js";
import algoliaMenu from "./algoliaDesktopMenu";
import util from "../../util";

export default {
  data() {
    return {
      section: 0,
      expand: false,
      titles: this.$store.state.catagories,
      toggleSeachBox: false,
      openSearch: false,
      search: "",
      courseOverlay: false,
      checked: "",
      dataValue: 220,
      searchClient: algoliasearch(
        "MLXAAABPA9",
        "fa13eba25dbdd8dcbafed650778bc03e"
      ),
    };
  },
  methods: {
    closeOverlay() {
      console.log("asdfadsfasd");
    },
    filtercount() {
      let count = $(".addActivePill").length;
      return count;
    },
    getareaexpand() {
      if ($("#menu-btn-program").attr("aria-expanded") === "true") {
        this.$store.state.applystate = true;
      } else {
        this.$store.state.applystate = false;
      }
    },
    showpopover() {
      $(".notify").addClass("hide");
      $("#popover").addClass("slideDown");
    },
    closepopover() {
      $("#popover").addClass("hide");
    },
    handler: function () {
      this.showpopover();
      this.closepopover();
      this.getareaexpand();
    },
    getIndex() {
      return util.getEnv() === "prod" ? `dev_starbucks_ug` : `dev_starbucks_ug`;
    },
    applyOverlayToBody() {
      if (!this.dispCourses) {
        $("body").addClass("overlay-courses");
        this.courseOverlay = true;
      } else {
        $("body").removeClass("overlay-courses");
        this.courseOverlay = false;
      }
    },
    delegateListItem(event) {
      let targetId = event.currentTarget.id;
      console.log(targetId);
      var position = $(`#${targetId}`).position();
      var height = $(`#${targetId}`).height();
      $("html, body").animate(
        {
          scrollTop: position.top - height + 16,
        },
        500
      );
      this.applyOverlayToBody();
      this.showpopover();
      setTimeout(this.changedispCourse, 1000);
    },
    changedispCourse() {
      this.dispCourses = !this.dispCourses;
    },
    openInputBox() {
      this.toggleSeachBox = true;
      this.openSearch = true;
    },
    openInMobile() {
      $("#menu-btn-program").click();
    },
    saveData(json) {
      this.$store.state.filteredDegrees = json;
    },
    filterIntrest(intrest) {
      // console.log(intrest)
    },
    closeInputBox() {
      this.toggleSeachBox = false;
      this.openSearch = false;
      this.search = "";
    },
    getWindowWidth(event) {
      let height = $(window).height() - 200 - 60;
      $(".more-courses").css("margin-bottom", height + "px");
      var p = $("#toggle");
      var position = $("#toggle").offset().left - 45;
      $("#popover").css("left", position);
    },
  },
  computed: {
    filteredCustomers: function () {
      var self = this;
      return this.$store.state.filteredDegrees.filter(function (degree) {
        // console.log(degree.title)
      });
    },
  },
  mounted() {
    window.scrollTo(0, 0);
    let height = $(window).height() - 200 - 100;
    $(".more-courses").css("margin-bottom", height + "px");
    window.addEventListener("resize", this.getWindowWidth);
    setTimeout(function () {
      $(".notify,.notify .overlay").addClass("loaded");
    }, 700);
    var position = $("#toggle").offset().left - 45;
    $("#popover").css("left", position);
  },
  name: "programsMobile",
  mixins: [programMixin],
  components: {
    navComponent,
    algoliaMenu,
  },
};
</script>

<style>
/* #menu-btn-program #toggle:before {
  content: url("../../assets/images/Artwork 371.svg") !important;
}
#menu-btn-program[aria-expanded="false"] #toggle:before {
  content: url("../../assets/images/Artwork 371.svg") !important;
}
#menu-btn-program[aria-expanded="true"] #toggle:before {
  content: "\f106" !important ;
  font-size: 26px;
  font-weight: 600;
  margin-right: 6px;
} */

#menu-btn-program[aria-expanded="true"] #toggle {
  transform: rotate(180deg);
}
.z-99 {
  z-index: 99;
}
.courseOverlay {
  background: black;
  opacity: 0.8;
  position: fixed !important;
  z-index: 98;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}
.overlay-courses {
  overflow: hidden;
}
.ais-InstantSearch header {
  background-color: #fafafa;
}
.explore-programs-mobile header #navbar-wse {
  width: 100%;
  overflow-y: auto;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 74px;
  left: 0;
  background: #fafafa;
  border-bottom: 1px solid #707070;
}
.explore-programs-mobile header #navbar-wse .container {
  /* border-top: 1px solid #7B7B7B; */
  padding-top: 15px;
}
.notify {
  position: fixed;
  top: 6em;
  z-index: 10000;
  left: 24px;
  display: flex;
  justify-content: center;
  width: 200px;
  display: block;
}
.notify.loaded {
  background-color: #2a2a2a;
  border-radius: 25px;
}
.notify img {
  width: 2.5em;
  height: 2.5em;
  background: #2a2a2a;
  border-radius: 50%;
  padding: 0.5em;
}
.overlay {
  width: 0;
}
.overlay.loaded {
  position: absolute;
  bottom: 0;
  left: 2em;
  right: 0;
  overflow: hidden;
  width: 85%;
  height: 100%;
  transition: 0.5s ease;
  background: #2a2a2a;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.notify:focus .overlay {
  width: 100%;
}
.text {
  display: none;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 6.5em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.loaded .text {
  display: block;
}
.text a,
#popover a {
  color: #fafafa;
}
#popover {
  width: 290px;
  background: #2a2a2a;
  display: none;
  position: fixed;
  top: 3.5em;
  z-index: 10000;
  /* left: 1em; */
  border-radius: 25px;
  padding: 0.5em 5px 0.5em 15px;
}
#popover img {
  padding-right: 8px;
}
#popover:after {
  bottom: 100%;
  left: 3rem;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #2a2a2a;
  border-width: 6px;
}
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  display: block !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
#popover.hide {
  display: none !important;
}
.popover-text {
  color: #fafafa;
  font-size: 12px;
  display: inline;
}

.filter-count {
  vertical-align: top;
  margin: 0 9px;
  background-color: #ffc627;
  padding: 0;
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  height: 20px;
  width: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.close-courses {
  font-size: 24px;
  font-weight: bold;
}
</style>
