<template>
  <article>
    <ais-instant-search
      :search-client="searchClient"
      index-name="dev_starbucks_ug"
      class="algolia-integration"
    >
      <div class="explore-degcard algolia-desktop">
        <ais-hits-per-page
          class="d-none"
          :items="[
            { label: '8 hits per page', value: 12, default: true },
            { label: '16 hits per page', value: 16 },
          ]"
        />
        <transition name="fade">
          <div class="algolia-sticky-header mb-5">
            <div
              class="container d-flex justify-content-start align-items-center pl-0 pr-lg-4 flex-column"
            >
              <div class="w-100 mb-4">
                <p class="font-weight-bold ml-3 m-0 font-fix-tab pt-24">
                  Browse all ASU degree programs online
                </p>
              </div>
              <div class="row w-100">
                <div class="col-md-8 pr-0">
                  <ais-search-box>
                    <div
                      slot-scope="{
                        currentRefinement,
                        isSearchStalled,
                        refine,
                      }"
                    >
                      <input
                        type="text"
                        title="seach input"
                        v-model="algolia"
                        class="ais-SearchBox-input position-relative"
                        placeholder="Search degrees"
                        @input="
                          refine($event.currentTarget.value),
                            searchdata($event.currentTarget.value)
                        "
                      />
                      <a
                        href="javascript:void(0)"
                        class="position-absolute"
                        style="top: 1rem; right: 1rem"
                        @click="refine(''), (algolia = '')"
                        v-if="algolia.length > 0"
                        ><i class="fa fa-close"></i
                      ></a>
                    </div>
                  </ais-search-box>
                </div>
                <div class="col-md-4 pr-0">
                  <div class="dropdown h-100 w-100 d-md-block d-none">
                    <button
                      class="btn btn-secondary triggerclasstoggle rounded bg-secondary dropt dropdown-toggle h-100 w-100 d-flex justify-content-center"
                      type="button"
                      id="dropDownFilter"
                      data-display="static"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <ais-current-refinements>
                        <template slot-scope="{ items }">
                          <span>
                            {{ items[0] ? "Filters" : "Filter" }}
                            ({{
                              items[0] ? items[0].refinements.length : 0
                            }})</span
                          >
                        </template>
                      </ais-current-refinements>
                      <span class="ml-2 customCaretDown"></span>
                    </button>
                    <div
                      class="dropdown-menu w-100"
                      id="drop-down-div"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <ais-current-refinements>
                        <template slot-scope="{ items }">
                          <div class="p-3 border-bottom" @click="stopDefault">
                            <h5 class="font-weight-bold mb-0 font-18">
                              Area of interest
                              <span
                                >({{
                                  items[0] ? items[0].refinements.length : 0
                                }})</span
                              >
                            </h5>
                          </div>
                        </template>
                      </ais-current-refinements>
                      <refinement />
                      <div
                        class="submitAndReset d-flex flex-wrap pt-4 border-top pb-3"
                      >
                        <div class="submitBtn col-6">
                          <button
                            class="btn btn-secondary w-100 font-weight-bold rounded bg-secondary"
                            v-dataLayerButtonTag
                            tagSection="area of interest"
                          >
                            Apply Filters
                          </button>
                        </div>
                        <div class="resetBtn col-6">
                          <ais-clear-refinements>
                            <template slot-scope="{ canRefine, refine }">
                              <button
                                class="btn btn-grey w-100 font-weight-bold rounded bg-grey"
                                @click.prevent="refine"
                                :disabled="!canRefine"
                                @click="stopDefault"
                                v-dataLayerButtonTag
                                tagSection="area of interest"
                              >
                                Reset
                              </button>
                            </template>
                          </ais-clear-refinements>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button
                    data-toggle="modal"
                    data-target="#exampleModal"
                    class="btn btn-gold btn-block d-md-none mt-3 font-weight-bold"
                  >
                    <ais-current-refinements>
                      <template slot-scope="{ items }">
                        <p class="font-weight-bold m-0">
                          Filters ({{
                            items[0] ? items[0].refinements.length : 0
                          }})
                        </p>
                      </template>
                    </ais-current-refinements>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </transition>
        <!-- {% for program in programs %} -->
        <div class="container">
          <ais-hits>
            <template slot-scope="{ items }">
              <div class="row">
                <a
                  href="javascript:void(0)"
                  class="col-lg-3 col-md-6 card-deck d-flex m-0 mb-4"
                  v-for="(item, index) in items"
                  @click="modalOpenBtn(item)"
                  :key="index"
                >
                  <degree-cards
                    :item="item"
                    v-dataLayerButtonTag
                    tagEvent="modal"
                    tagAction="open"
                    tagType="click"
                    tagSection="uber and asu"
                    tagRegion="main content"
                    :tagText="item.title"
                  ></degree-cards>
                </a>
              </div>
            </template>
          </ais-hits>
        </div>

        <!-- </ais-state-results> -->
        <ais-pagination class="mt-4">
          <ul
            class="d-flex listStyleNone paginationUl container justify-content-center"
            slot-scope="{
              currentRefinement,
              pages,
              isFirstPage,
              isLastPage,
              refine,
              createURL,
            }"
          >
            <li class="rounded-circle border shadow-sm is-rounded">
              <a
                :class="isFirstPage ? 'disablePageLink' : ''"
                :href="createURL(currentRefinement - 1)"
                class="text-black d-flex is-rounded align-items-center justify-content-center"
                @click.prevent="refine(currentRefinement - 1)"
                v-dataLayerButtonTag
                tagEvent="select"
                tagType="pagination"
                tagSection="explore degrees"
                tagText="right chevron"
              >
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </a>
            </li>
            <li v-for="page in pages" :key="page" class="ml-lg-3 ml-2">
              <a
                :href="createURL(page)"
                :class="page === currentRefinement ? 'bg-dark text-white' : ''"
                class="d-flex align-items-center justify-content-center pageIndex rounded-circle is-rounded border shadow-sm"
                @click.prevent="refine(page), scrollTop()"
                v-dataLayerButtonTag
                tagSection="explore degrees"
              >
                {{ page + 1 }}
              </a>
            </li>
            <li class="rounded-circle border shadow-sm is-rounded ml-2 ml-lg-3">
              <a
                :class="isLastPage ? 'disablePageLink' : ''"
                :href="createURL(currentRefinement + 1)"
                class="text-black d-flex is-rounded align-items-center justify-content-center disablePageLink"
                @click.prevent="refine(currentRefinement + 1)"
                v-dataLayerButtonTag
                tagEvent="select"
                tagType="pagination"
                tagSection="explore degrees"
                tagText="left chevron"
              >
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </ais-pagination>
      </div>

      <!--  degree card modal-->
      <div
        v-show="modalOpen"
        @click="modalCloseBtn"
        id="customModal"
        class="position-fixed w-100 h-100 bgBackDrop"
      >
        <div class="sideModalMain bg-white shadow border-secondary ml-auto">
          <div
            class="sideModalHeader position-relative w-100"
            :style="`background-image:url(${activeModal.degreeimage})`"
          >
            <div class="headerClose d-md-flex d-none">
              <a
                href="javascript:void(0)"
                class="w-100 text-white font-weight-bold p-3 shadow"
                @click="modalCloseBtn('close'), modaltitle(activeModal.title)"
              >
                <i class="fa fa-chevron-left mr-1" aria-hidden="true"></i>
                Back
              </a>
            </div>
            <div class="bg-white d-md-none">
              <div class="container py-4">
                <a
                  href="javascript:void(0)"
                  @click="modalCloseBtn('close'),modaltitle(activeModal.title)"
                  class="text-black font-weight-bold"
                >
                  <i class="fa fa-arrow-left mr-3" aria-hidden="true"></i>
                  Back
                </a>
              </div>
            </div>
          </div>
          <div class="sideModalBody position-relative">
            <div class="degreeTag pl-5" style="margin-top: -12px">
              <span class="p-2 font18 font-weight-bold bg-secondary"
                >Degree</span
              >
            </div>
            <div class="sideModalContent px-lg-5 mx-lg-0 px-4 mx-2 mt-3 pt-3">
              <div class="sideModalTitle mb-3 pb-3">
                <h3 class="font-weight-bolder sideModalTitle mb-0">
                  {{ activeModal.title }}
                </h3>
              </div>
              <div class="datesSection border-top border-bottom mb-4">
                <div class="py-2 d-flex flex-wrap">
                  <div
                    class="startDate d-flex align-items-center font14 w-50 mb-2"
                  >
                    <i class="fas fa-calendar-alt"></i>
                    <p class="mb-0 ml-2">
                      <span class="d-none d-lg-inline">Next start date: </span>
                      <span class="d-lg-none">Start date: </span>
                      <span class="font-weight-bold">{{
                        activeModal.nextstartdate
                      }}</span>
                    </p>
                  </div>
                  <div
                    class="startDate d-flex align-items-center font14 w-50 mb-2"
                  >
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p class="mb-0 ml-2">
                      Total Classes:
                      <span class="font-weight-bold">{{
                        activeModal.totalcredithours
                      }}</span>
                    </p>
                  </div>
                  <div
                    class="startDate d-flex align-items-center font14 w-50 mb-2"
                  >
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p class="mb-0 ml-2">Fast Track Eligible</p>
                  </div>
                  <div
                    class="startDate d-flex align-items-center font14 w-50 mb-2"
                  >
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p class="mb-0 ml-2">
                      Weeks per class:
                      <span class="font-weight-bold">{{
                        activeModal.weeksperclass
                      }}</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="sideModalDescription">
                <h6 class="font-weight-bold font16">Description</h6>
                <div v-html="activeModal.shortdesc" class="mb-3 pb-3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- modal -->
      <!-- Mobile modal filter -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog m-0" role="document">
          <div class="modal-content border-0 vh-100 overflow-hidden">
            <div class="modal-header">
              <ais-current-refinements class="d-flex align-items-center">
                <template slot-scope="{ items }">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    v-dataLayerButtonTag
                    tagSection="filters"
                    tagText="back arrow"
                  >
                    <i
                      class="fas fa-arrow-left text-black"
                      style="margin-right: 15px"
                    ></i>
                  </button>
                  |

                  <div class="p-3" @click="stopDefault">
                    <h5 class="font-weight-bold mb-0">
                      Filter
                      <span
                        >({{
                          items[0] ? items[0].refinements.length : 0
                        }})</span
                      >
                    </h5>
                  </div>
                </template>
              </ais-current-refinements>
            </div>
            <div class="modal-body">
              <p class="font-weight-bold">Area of interest</p>
              <hr />
              <refinement />
            </div>
            <div class="modal-footer">
              <div class="row" style="width: 100vw">
                <div class="col-6">
                  <button
                    type="button"
                    class="btn btn-secondary btn-block font-weight-bold"
                    data-dismiss="modal"
                    v-dataLayerButtonTag
                    tagSection="area of interest"
                  >
                    Apply filters
                  </button>
                </div>
                <div class="col-6">
                  <ais-clear-refinements>
                    <button
                      data-region="uber-landing-page"
                      class="btn btn-black btn-block font-weight-bold"
                      style="background-color: #cccccc"
                      slot-scope="{ canRefine, refine }"
                      @click.prevent="refine"
                      :disabled="!canRefine"
                      v-dataLayerButtonTag
                      tagSection="area of interest"
                    >
                      Reset
                    </button>
                  </ais-clear-refinements>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ais-instant-search>
  </article>
</template>

<script>
$(window).load(function () {
  $(".ais-HitsPerPage-select").attr("title", "Hites per page");
});
import algoliasearch from "algoliasearch/lite";
import refinement from "./refinement.vue";
import DegreeCards from "./SectionDegreeCards.vue";
import util from "../../util";
import {
  dataLayerAnchorTag,
  dataLayerButtonTag,
  dataLayerSelectTag,
  dataLayerInputTag,
} from "data-layer-test-oo-gtm";

import { programMixin } from "../../mixins/programMixin.js";
import { setTimeout } from "timers";
export default {
  directives: {
    dataLayerAnchorTag,
    dataLayerButtonTag,
    dataLayerInputTag,
    dataLayerSelectTag,
  },
  data() {
    return {
      _algolia: "",
      windowWidth: 0,
      modalOpen: false,
      makeSticky: false,
      get algolia() {
        return this._algolia;
      },
      set algolia(value) {
        this._algolia = value;
      },
      showAlgoliaMenu: true,
      checked: "Filter",
      areInterest: [],
      activeModal: {},
      searchClient: algoliasearch(
        "MLXAAABPA9",
        "fa13eba25dbdd8dcbafed650778bc03e"
      ),
    };
  },
  name: "programDesktop",
  mixins: [programMixin],
  methods: {
    scrollTop() {
      $("html, body").animate(
        {
          scrollTop: $("#explore-programs").offset().top - 24,
        },
        500
      );
    },
    modalCloseBtn(event) {
      var modalId = document.getElementById("customModal");
      if (event.target == modalId || event == "close") {
        this.modalOpen = false;

        document
          .getElementsByTagName("html")[0]
          .classList.remove("overflow-hidden");
        document.body.classList.remove("pr-3");
      }
    },
    modalOpenBtn(modalData) {
      this.modalOpen = true;
      this.activeModal = {};
      this.activeModal = modalData;
      document.getElementsByTagName("html")[0].classList.add("overflow-hidden");
      document.body.classList.add("pr-3");
    },
    searchdata(value) {
      dataLayer.push({
        event: "search",
        action: "type",
        name: "onenter",
        type: "degree search",
        region: "main content",
        section: "our programs",
        text: value.toLowerCase(),
      });
    },
    getIndex() {
      return util.getEnv() === "prod" ? `dev_programs2` : `prod_uber_ug`;
    },
    stopDefault(e) {
      e.stopPropagation();
    },
    modaltitle(text) {
       console.log(text)
      dataLayer.push({
        event: "modal",
        action: "close",
        name: "onclick",
        type: "click",
        region: "main content",
        section: text.toLowerCase(),
        text: "back",
      });
     
    },
  },
  created() {
    $("explore-degcard-owl .owl-dot").each(function () {
      $(this).attr("id", "degree-owl-dot");
    });
  },
  mounted() {
    $(document).ready(function () {
      $(".dropdown").on("show.bs.dropdown", function (e) {
        dataLayer.push({
          event: "collapse",
          action: "open",
          name: "onclick",
          type: "click",
          region: "main content",
          section: "explore degrees",
          text: "filters",
        });
        console.log("test");
      });
    });

    $(document).ready(function () {
      $(".dropdown").on("hide.bs.dropdown", function (e) {
        dataLayer.push({
          event: "collapse",
          action: "close",
          name: "onclick",
          type: "click",
          region: "main content",
          section: "explore degrees",
          text: "filters",
        });
        console.log("close");
      });
    });

    $(document).ready(() => {
      $(window).scroll(function (e) {
        var $el = $("#fixedElement");
        var $elementFixed = $("#explore-programs");
        var paddingBottom = $("#explore-programs > .container");
        var isPositionFixed = $el.css("position") == "fixed";
        console.log(paddingBottom.offsetHeight);
        if (
          $(this).scrollTop() >
            $elementFixed.position().top - paddingBottom.offsetHeight &&
          !isPositionFixed
        ) {
          $el.addClass("algolia-sticky");
        }
        if (
          $(this).scrollTop() <
            $elementFixed.position().top - paddingBottom.offsetHeight &&
          isPositionFixed
        ) {
          $el.removeClass("algolia-sticky");
        }
      });
    });
  },
  components: {
    "degree-cards": DegreeCards,
    refinement,
  },
};
</script>
<style>
#customModal {
  top: 0px;
  left: 0px;
  z-index: 1040;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.7);
}
.spanDisplayNone .ais-Pagination-link {
  display: none !important;
}
.headerClose {
  background-image: linear-gradient(
    rgba(30, 30, 30, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}
.listStyleNone {
  list-style-type: none;
}
.disablePageLink {
  cursor: not-allowed;
}

.pageIndex {
  color: #000000;
}
.sideModalMain {
  border-bottom: 5px solid;
  right: 0;
  height: 100vh;
  overflow: scroll;
}
@media screen and (max-width: 767px) {
  .sideModalMain {
    width: 100vw;
  }
}
@media screen and (min-width: 767px) {
  .sideModalMain {
    width: 65vw;
  }
}
@media screen and (min-width: 991px) {
  .sideModalMain {
    width: 50vw;
  }
}
.sideModalTitle {
  font-size: 36px;
}
@media screen and (max-width: 776px) {
  .sideModalTitle {
    font-size: 24px;
  }
}
@media screen and (max-width: 776px) {
  .datesSection p {
    font-size: 12px !important;
  }
}

.sideModalHeader {
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#myModal2 {
  padding-right: 0px !important;
}
.is-rounded {
  width: 30px;
  height: 30px;
}
</style>
<style>
.degreeCardHeader {
  background-size: cover;
  height: 180px;
  width: 100%;
}
.checkContainer {
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.divCheckBox {
  max-height: 330px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@media screen and (max-width: 991px) {
  .divCheckBox {
    max-height: 60vh;
  }
}
.divCheckBox::-webkit-scrollbar {
  display: none;
}

.checkContainer p {
  white-space: normal;
  word-break: break-word;
}
.checkCheckBox {
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
}
.checkContainer .checkCheckBox:checked ~ .checkmark {
  background-color: #f3b300;
  border: none;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkContainer .checkCheckBox:checked ~ .checkmark:after {
  display: block;
}
.checkContainer .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ais-SearchBox-input {
  padding: 8px 20px;
  width: 100%;
  height: 50px;
  line-height: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  transition: width 0.1s ease-in-out;
}
#dropDownFilter::after {
  display: none;
}
.show #dropDownFilter {
  z-index: 999;
  box-shadow: 0px 0px 5px -1px rgb(0 0 0 / 20%);
  position: relative;
}
.show #dropDownFilter .customCaretDown {
  transform: rotate(180deg);
}
.show #drop-down-div {
  box-shadow: 0px 2px 5px -1px rgb(0 0 0 / 20%);
  top: 50px !important;
  width: 315px !important;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .show #drop-down-div {
    width: 110% !important;
  }
}
#drop-down-div .dropdown-item:active,
.dropdown-item:hover {
  background-color: white;
  color: #000000;
}
.algolia-sticky {
  position: fixed;
  top: 55px;
  width: 100%;
  left: 0;
  z-index: 999;
  background: white;
}
.customCaretDown {
  vertical-align: 0.1em !important;
  content: "";
  border-top: 0.4em solid #000000 !important;
  border-right: 0.4em solid transparent !important;
  border-bottom: 0em solid #000000 !important;
  border-left: 0.4em solid transparent !important;
  transition: all 0.4s;
}
.ais-SearchBox-form button {
  display: none;
}

.algolia-sticky-header.position-fixed {
  margin-bottom: 1.5rem !important;
  top: 93px;
  width: 100%;
  background: white;
  padding: 1.5rem;
  margin-left: -20px;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .algolia-sticky-header.position-fixed {
    top: 72px;
  }
}

.ais-RefinementList-list {
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.dropdown-menu {
  background-color: #fbfbfb !important;
}
.dropdown-toggle {
  font-size: 16px !important;
  font-weight: 600 !important;
  padding: 5px 40px !important;
}
@media screen and (max-width: 991px) {
  .dropdown-toggle {
    padding: 5px 20px !important;
  }
}
.dropdown-toggle[aria-expanded="false"]::after {
  display: inline-block;
  margin-left: 1.255em !important;
  vertical-align: 0.1em !important;
  content: "";
  border-top: 0.4em solid #848484 !important;
  border-right: 0.4em solid transparent !important;
  border-bottom: 0em solid #848484 !important;
  border-left: 0.4em solid transparent !important;
}
.show .dropdown-toggle[aria-expanded="true"]::after {
  display: inline-block;
  margin-left: 1.255em !important;
  vertical-align: 0.1em !important;
  content: "";
  border-top: 0em solid #848484 !important;
  border-right: 0.4em solid transparent !important;
  border-bottom: 0.4em solid #848484 !important;
  border-left: 0.4em solid transparent !important;
}
.desktop-overlay {
  box-shadow: rgba(225, 225, 225, 0.2) 0 0 0 1000px inset;
  width: 96%;
  height: 300px;
  position: absolute;
  z-index: 2;
  margin-top: 10px;
}
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  display: block !important;
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.desktop-overlay .content {
  display: flex !important;
}
#popover.desktop-popup {
  top: 3.5em;
  position: absolute;
  left: 47em;
}
@media screen and (max-width: 1119px) {
  #popover.desktop-popup {
    left: 37em;
  }
}
@media screen and (max-width: 991px) {
  #popover.desktop-popup {
    left: 22em;
  }
}
#popover.desktop-popup:after {
  left: 13rem;
}
.algolia-sticky-header {
  z-index: 2;
}
@media screen and (min-width: 1200px) {
  .dropdown-toggle.popover-show {
    margin-left: 33em !important;
  }
}
.algolia-desktop .ais-ClearRefinements {
  display: flex;
}
.hide {
  display: none !important;
}
</style>
