<template>
  <div class @click="!dispCourses, applyOverlayToBody()">
    <article id="explore-programs">
      <div class="explore-degcard row" id="sticky-container" :class="{sticky: false}">
        <div class="notify">
          <img src="../../assets/images/one-finger-tap-gesture-of-outlined-hand-symbol.svg" alt="tap gesture" title="More info icon">
          <div class="overlay">
            <div class="text">Tap for more information&nbsp;&nbsp;&nbsp;&nbsp;<a data-region="uber-landing-page" href="javascript:void(0)" aria-label="Close Account Info Modal Box" @click="closetooltip()">&times;</a></div>
          </div>
        </div>
        <div class="card item w-100" @click="closetooltip()">
          <div class="program-container text-white">
            <a :id="this.$store.state.filteredDegrees[item].title">
            <div
              class="card-image degree-details"
              @click="showDescMobile($store.state.filteredDegrees[item])"
              :rel="this.$store.state.filteredDegrees[item].code"
              v-bind:style="{ backgroundImage: 'url(' + this.$store.state.filteredDegrees[item].degreeimage + ')' }"
            >
              <div class="card-date">
                <!-- <span class="date font-weight-mild">03/11/2019</span>
                <span class="nextdate">Next start date</span> -->
                <span class="close-courses" v-show="dispCourses">X</span>
                <span class="icon">
                  <img
                    :src="getImgUrl(this.$store.state.filteredDegrees[item].interestareas[0])"
                    alt="icon"
                    sizes
                    srcset
                    style="width:20px; height:20px"
                  >
                </span>
              </div>
              <div class="card-title" style="top:100px;">
                <span class="font14 font-weight-normal text-white">{{$store.state.filteredDegrees[section].interestareas['0']}}</span>
                <p class="font24 font-weight-bold">{{$store.state.filteredDegrees[item].title}}</p>
                <span class="showCourse btn btn-secondary text-black font-weight-bold" style="display:none;">{{dispCourses ? 'Hide' : 'Show'}} details</span>
              </div>
            </div>
            </a>
            <div
              class="display-card container py-4"
              v-if="dispCourses"
              :id="this.$store.state.filteredDegrees[item].code"
            >
              <p class="font-black">{{$store.state.filteredDegrees[item].shortdesc}}</p>
            </div>
          </div>
        </div>
      </div>
      <ul class="nav-items p-0" id="programs-mobile-navigator" style="top:200px !important;position:relative;">
        <div class="main">
          <a
            :key="index"
            data-region='uber-landing-page'
            v-for="(item,index) in $store.state.filteredDegrees.slice(0,maxArray)"
            id="programs-mobile-Litem"
            class="nav-link font-weight-bold d-flex justify-content-between align-items-center"
            :class="{'border-top border-bottom': index == 0, 'border-bottom': index != 0}"
            @click="showCourse(index)"
          >
            <span id="programs-mobile-title " class="w-80">{{ item.title }}</span>
            <img
              :src="getImgUrl(item.interestareas[0])"
              alt="icon"
              sizes
              srcset
              style="width:20px; height:20px"
            >
          </a>
        </div>
        <a
        data-region='uber-landing-page'
          class="mx-auto d-table my-3 pb-2 font-small"
          v-if="!$store.state.showAllDegrees"
          @click="showalldegrees()"
        >View all degrees</a>
      </ul>
    </article>
    <div class="courseBg" v-show="courseOverlay" @click="dispCourses = false, courseOverlay=false"></div>
  </div>
</template>
<script>
import { programMixin } from "../../mixins/programMixin.js";

export default {
  data(){
    return{
      item: 0,
      courseOverlay: false,
    }
  },
  methods:{
     applyOverlayToBody(){
      if(this.dispCourses){
      $('body').addClass('overlay-courses')
      this.courseOverlay = true 
      }else{
         $('body').removeClass('overlay-courses')
         this.courseOverlay = false
      }
    },
    closetooltip() {
      $('.notify').addClass('hide');
    },
    showCourse(item){
      this.item = item;
      this.closetooltip();
      this.showDescMobile(this.$store.state.filteredDegrees[item]);
    },
    showalldegrees() {
      this.closetooltip();
      this.$store.state.showAllDegrees=true
    }
  },
  mounted() {
    setTimeout(function(){ 
      $('.notify,.notify .overlay').addClass('loaded');
    }, 700);
  },
  name: "programsMobile",
  mixins: [programMixin],
  props: {
    maxArray: Number
  },
};
</script>
<style scoped>
.notify{
  position: absolute;
  top: 2em;
}
.courseBg{
  background: black;
    opacity: 0.8;
    position: fixed!important;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
}
</style>


