<template>
  <section>
    <header class="main-header-program">
      <div class="container navbar navbar-expand-lg">
        <div
          class="margin-1 d-flex w-sm-100 align-items-center justify-content-between"
          id="corp_logo_III"
        >
          <p v-if="!toggleSeachBox">
            <a data-region='uber-landing-page'>
              <i class="fas fa-arrow-left" @click="$store.state.showAllDegrees = false"></i>
            </a> |
            <span class="back font-weight-bold">{{$store.state.catagories[0]}}</span>
            <a
            data-region='uber-landing-page'
              id="menu-btn-program"
              class="new collapsed ml-3"
              data-toggle="collapse"
              data-target="#navbar-ws"
            >
              <i id="toggle" class="fas fa-caret-down"></i>
            </a>
          </p>

          <div class="searchContainer" :class="{'w-100':openSearch}">
            <div v-if="openSearch" class="search__box d-flex align-items-center w-100">
              <input class="search__field w-100" v-model="search" type="text" placeholder="Search">
              <i class="fas fa-close closeIcon text-primary" @click="closeInputBox()"></i>
            </div>
            <div v-else>
              <i v-if="!toggleSeachBox" class="fas fa-search" @click="openInputBox()"></i>
            </div>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="navbar-ws">
          <ul
            class="nav-items nav navbar-nav navbar-right text-center"
            v-scroll-spy-active="{class: 'programActive'}"
            v-scroll-spy-link
          >
            <li :key="index" v-for="(item,index) in titles" class="menu-item" @click="filterIntrest(item)">
              <a data-region='uber-landing-page' class="filter-interest">{{ item }}</a>
            </li>
            <!-- {{value}} -->
          </ul>
        </div>
      </div>
    </header>
  </section>
</template>

<script>
$("body").click(function(e) {
  if (!$(e.target).is("header")) {
    let toggleIcon = $("#navbar-ws").hasClass("show");
    if (toggleIcon) {
      $("#toggle").removeClass("fa-caret-up");
      $("#toggle").addClass("fa-caret-down");
    } else if (!toggleIcon && $(e.target).is("#toggle")) {
      $("#toggle").removeClass("fa-caret-down");
      $("#toggle").addClass("fa-caret-up");
    }

    $(".navbar-collapse").collapse("hide");
  }
});
export default {
  name: "NavComponent",
  props: [{ sectionValue: Number }],
  data() {
    return {
      titles: this.$store.state.catagories,
      toggleSeachBox: false,
      openSearch: false,
      search: ""
    };
  },
  watch: {
    search: function(val) {
      var self = this;
      this.$store.state.filteredDegrees = this.$store.state.degrees.filter(function(degree){
        return degree.title.toLowerCase().indexOf(val.toLowerCase())>=0;});
    }
  },
  methods: {
    openInputBox() {
      this.toggleSeachBox = true;
      this.openSearch = true;
    },
    filterIntrest(intrest){
      console.log(intrest)
    },
    closeInputBox() {
      this.toggleSeachBox = false;
      this.openSearch = false;
      this.search = ''
    }
  }
};
</script>

