<template>
  <div>
    <ais-refinement-list
      attribute="interestareas"
      :limit="100"
      class="ml-3"
      :sort-by="['title', 'name:asc']"
    >
      <div slot-scope="{ items, refine }">
        <div
          class="divCheckBox my-3 h-100 overflow-scroll"
          @click="stopDefault"
        >
          <a
            class="dropdown-item px-2"
            href="javascript:void(0)"
            v-for="item in items"
            :key="item.value" 
          >
            <label
              class="checkContainer d-block mb-0 position-relative word-break"
              ><p class="mb-0 font16" >
                <ais-highlight attribute="item" :hit="item" />
              </p>
              <input
                type="checkbox"
                class="checkCheckBox h-0 w-0 position-absolute d-none"
                :value="item.value"
                :checked="item.isRefined"
                @click="refine(item.value)"  v-dataLayerButtonTag tagEvent="select" tagType="checkbox" tagSection="area of interest" :tagText="item.value"
              />
              <span class="checkmark rounded position-absolute border" ></span>
            </label>
          </a>
        </div>
      </div>
    </ais-refinement-list>
  </div>
</template>

<script>
import { dataLayerAnchorTag, dataLayerButtonTag, dataLayerSelectTag, dataLayerInputTag} from 'data-layer-test-oo-gtm';

export default {
   
  methods: {
    stopDefault(e) {
      e.stopPropagation();
    },
  },
  directives:{
    dataLayerAnchorTag,
   dataLayerButtonTag,
    dataLayerInputTag,
    dataLayerSelectTag
  },
};
</script>

<style lang="scss" scoped>
</style>