<template>
  <section
    class="card border-light lex-fill mb-space-xs mb-lg-space-md mx-0 text-dark border-light algolia-cards w-100 text-left"
  >
    <div
      class="algolia-card__header degree-header d-md-block d-none"
      :style="`background-image: url(${item.degreeimage});`"
    ></div>
    <div class="card-body container py-3">
      <div class="algolia-card__type">
        <span class="p-1 font12 font-weight-bold bg-secondary">Degree</span>
      </div>
      <div class="algolia-card__title">
        <h3 class="font-weight-bolder font16">{{ item.title }}</h3>
        <span
          class="d-block bg-secondary mb-3"
          style="height: 2px; width: 30px"
        ></span>
      </div>
    </div>
    <hr class="card-footer m-0 bg-white" />
    <div class="algolia-card__dates container row align-items-center mb-10">
      <div class="col-11 pr-0 mb-1">
        <p class="font14 mb-2">Starts: {{ item.nextstartdate }}</p>
        <a
          href="javascript:void(0)"
          class="font16 text-underline text-primary p-0 font-weight-bold"
        >
          Learn more
        </a>
      </div>
      <div class="col-1 pl-0">
        <a
          href="javascript:void(0)"
          class="btn text-light-green mb-10 font-16 text-underline"
        >
          <img
            src="../../assets/images/Icon-chevron-right.svg"
            alt="Icon-chevron-right"
          />
        </a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "DegreeCards",
  props: {
    item: Object,
  },
};
</script>

<style>
/* body.modal-open { position:fixed !important; width:100% !important; } */
.text-underline,
.text-underline:hover {
  text-decoration: underline;
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.degree-header {
  background-size: cover;
  height: 180px;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .degree-header {
    height: 220px;
  }
}
.algolia-card__type {
  margin-top: -30px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .algolia-card__type {
    margin-top: 0px;
  }
}
.algolia-cards {
  border-radius: 12px;
  border: 1px solid #dee2e6 !important;
  border-bottom: 5px solid #f3b300 !important;
}
.algolia-card__header {
  border-radius: 12px;
  border-bottom-right-radius: 0% !important;
  border-bottom-left-radius: 0% !important;
}
.algolia-card__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
</style>
