<template>
  <div class="mt-lg-128 mb-lg-128 mt-64 mb-64">
    <div
      class="bg-image"
      :style="{
        'background-image': 'url(' + getImgUrl(bgImage) + ')',
      }"
    ></div>
    <div class="container">
      <div
        class="col-lg-11 mx-auto bg-white rounded overlay-margin pt-32 pl-lg-64 pt-lg-64 pr-lg-18"
      >
        <h2 class="text-lg-48 text-36 font-weight-bolder underline m-0">
          {{ heading }}
        </h2>
        <p
          v-if="page === 'asuo'"
          class="text-lg-24 text-18 font-weight-bold pt-lg-48 pb-24 pt-20 pb-lg-32 m-0"
        >
          Follow these steps to apply to ASU through the ASU and Uber Education
          Partnership
        </p>
        <div
          class="col-lg-12 mx-auto"
          :class="{ 'pt-lg-48 pt-20': page === 'cpe' }"
        >
          <BaseListItem :compData="lists" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BaseBanner",
  props: {
    heading: String,
    lists: Array,
    bgImage: String,
    page: {
      default: "cpe",
      type: String,
    },
  },
  methods: {
    getImgUrl(image) {
      return require("../../assets/images" + image);
    },
  },
};
</script>

<style lang="scss" scoped>
.bg-image {
  height: 550px;
  background-size: cover;
  background-position: center top;
  @media (max-width: 991px) {
    height: 350px;
  }
}
.overlay-margin {
  margin-top: -64px;
}
</style>