<template>
  <div class="card item w-100">
          <div class="program-container text-white">
            <div class="card-image"
              :style="{'background-image': 'url(' + image + ')'}">
              <div class="card-date">
                <span class="date font-weight-bold" v-if="startDate.length > 0">{{startDate}}</span>
                <span class="nextdate" v-if="duration.length > 0">{{duration}}</span>
                <span class="icon">
                  <img :src="smallImage" alt="icon"
                    style="width:20px; height:20px">
                </span>
              </div>
              <div class="card-title" style="top: 70px">
                <p class="font24 font-weight-bold">{{title}}</p>
                <span
                  class="showCourse btn btn-secondary text-black font-weight-bold">{{toggleShow ? 'Hide' : 'Show'}}
                  details</span>
              </div>
            </div>
            <div class="display-card container border-4 d-none">
              <p class="font-black">{{description}}</p>
            </div>
          </div>
        </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    image: {
      type: String,
      default: ""
    },
    startDate: {
      type: String,
      default: ""
    },
    duration:{
      type: String,
      default: ""
    },
    toggleShow:{
      type: Boolean,
      default: false
    },
    smallImage:{
      type: String,
      default: ""
    },
    description:{
      type: String,
      default: ""
    }
  },
  methods: {
    getImgUrlDegree(image) {
      return require("../../assets/images/degreeIcons/" +
        _.camelCase(image) +
        ".svg");
    }
  }
};
</script>

