<template>
  <ol class="">
    <template v-for="(list, i) in compData">
      <li
        class="timeline-num"
        :class="{ 'timeline-connect': i !== compData.length - 1 }"
        :key="list"
      >
        <div class="row no-gutters">
          <div class="col-12" v-html="list"></div>
        </div>
      </li>
    </template>
  </ol>
</template>

<script>
export default {
  props: {
    compData: Array,
  },
};
</script>

<style lang="scss" scoped>
ol {
  position: relative;
  list-style-type: none;
}
.timeline-num,
.timeline-connect {
  padding-bottom: 28px;
  counter-increment: my-awesome-counter;
  position: relative;
}
.timeline-num::before {
  content: counter(my-awesome-counter);
  position: absolute;
  text-align: center;
  line-height: 35px;
  border-width: 2px;
  border-style: solid;
  font-size: 18px;
  border-color: #ffc647;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  left: -50.4px;
  font-weight: 700;
  color: #191919;
}
.timeline-connect::after {
  content: "";
  position: absolute;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #ffc647;
  bottom: 0;
  left: -32.4px;
  top: 36px;
}
</style>