<template>
    <a data-region="uber-landing-page" href="javascript:void(0)" class="card-image" :rel="item.code"
                  v-bind:style="{ backgroundImage: 'url(' + item.degreeimage + ')' }">
                  <div class="card-date">
                    <!-- <span class="date font-weight-mild">03/11/2019</span>
                      <span class="nextdate">Next start date</span> -->
                    <span class="icon">
                      <img :src="getImgUrl(item.interestareas[0])" alt="icon" sizes srcset style="width:20px; height:20px">
                    </span>
                  </div>
                  <div class="card-title">
                    <p class="font24 font-weight-bold text-white">{{item.title}}</p>
                  </div>
                </a>
</template>
<script>
export default {
    props:{
        item: Object
    },
    methods:{
      getImgUrl(image) {
      return require("../../assets/images/degreeIcons/" + _.camelCase(image) + ".svg");
      }
    }
}
</script>

