<template>
  <section class="container-xl px-0 sb_hero">
    <div
      class="video-hero d-flex after-shadow pb-30"
      @click="displayModal"
      :class="compData.media.className"
      :style="`background-image: url(${require('../../assets/images/' +
        compData.media.bgImage)})`"
    >
      <div
        class="hero-content container pl-30 pl-lg-48 pb-lg-48"
        :class="compData.media.className"
      >
        <h1
          class="text-lg-56 text-48 font-weight-bolder mb-0 page-title"
          v-html="compData.heading"
        ></h1>
        <p class="font-weight-bold text-18 m-0" v-html="compData.subheading">
          {{}}
        </p>
      </div>
    </div>
    <modal name="how-to-video" width="80%" height="50%" @opened="opened">
      <div class="iframe-yt-parent">
        <iframe
          class="modal-yt-iframe"
          width="100%"
          src="https://www.youtube.com/embed/qxgTwhq6ugU?enablejsapi=1"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        />
        <div
          class="embed-yt-close"
          @click="$modal.hide('how-to-video'), hideModal()"
        >
          ❌
        </div>
      </div>
    </modal>
  </section>
</template>

<script>
export default {
  props: {
    compData: Object,
  },
  methods: {
    displayModal() {
      if (this.compData.media.video) {
        this.$modal.show("how-to-video");
        dataLayer.push({
          event: "modal",
          name: "onclick",
          action: "open",
          type: "click",
          region: "main content",
          section: "take your seat",
          text:
            window.location.pathname.indexOf("family") > 0
              ? "family"
              : "driver",
        });
      }
    },
    opened(event) {
      setTimeout(function () {
        document.querySelector(".embed-yt-close").style.opacity = 1;
      }, 1000);
    },
  },
};
</script>

<style lang="scss" scoped>
.video-hero {
  height: 557px;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  background-position: center top;
  @media only screen and (max-width: 767px) {
    height:464px ;
  }
}
.hero-content {
  position: relative;
  z-index: 1;
}
.page-title{
  line-height: 1;
  @media only screen and (max-width: 767px) {
    line-height: 1.2;
  }
}
.uber-Eats {
  h1 {
    color: white !important;
  }
  p {
    color: #06c167;
  }
}

.UberPro {
  h1 {
    color: white !important;
  }
  p {
    color: #ffc627;
  }
}
.after-shadow {
  position: relative;
  &:after {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(3, 3, 3, 1) 99%,
      rgba(0, 0, 0, 1) 98%
    );
  }
}
</style>