<template>
  <div role="tablist" class="border-top border-dark py-2">
    <a
      href="javascript:void(0)"
      v-b-toggle="'accordion-' + iterate"
      class="p-3 d-flex w-100 justify-content-between text-dark font-18 fam-roboto font-black position-relative z-top"
    >
      <span class="item-title-accordian font-weight-bold">{{
        item.title
      }}</span>
      <span class="when-opened">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </span>
      <span class="when-closed">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </span>
    </a>
    <b-collapse
      :id="`accordion-${iterate}`"
      accordion="my-accordion"
      role="tabpanel"
      class="px-3 positon-relative z-down"
    >
      <div class="faq-body">
        <p>{{ item.shortdesc }}</p>
      </div>
    </b-collapse>
  </div>
</template>
<script>
export default {
  props: {
    item: Object,
    iterate: Number,
  },
};
</script>

<style lang="scss" scoped>
.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}
.icon-cheveron-down {
  transform: rotate(-180deg);
  width: 26px;
}
.icon-cheveron-up {
  width: 26px;
}
.collapsing {
  transition: all 0.5s !important;
}
</style>
