<template>
  <div role="tablist" class="border-top border-dark py-2">
    <a
      href="javascript:void(0)"
      v-b-toggle="'accordion-' + iterate"
      class="p-3 d-flex w-100 justify-content-between text-dark font-18 fam-roboto font-black position-relative z-top"
    >
      <span class="item-title-accordian font-weight-bold">{{
        item.category
      }}</span>
      <span class="when-opened">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </span>
      <span class="when-closed">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </span>
    </a>
    <b-collapse
      :id="`accordion-${iterate}`"
      accordion="my-accordion"
      role="tabpanel"
      class="px-3 positon-relative z-down"
    >
      <div class="faq-body">
        <div class="row p-3">
          <div class="degrees_public mb-0">
            <div
              class="col-10 col-sm-11"
              v-for="(inneritem, innerindex) in item.courses"
              :key="innerindex"
              style="padding: 0px"
            >
              <strong style="font-size: 14px" class="font-weight-bold">{{
                inneritem.title
              }}</strong>
              <div class="coursePublic_display">
                <p class="body_text" style="font-size: 14px">
                  {{ inneritem.description }}
                </p>
              </div>
              <p style="font-size: 14px">
                Start: {{ inneritem.start_date }} | Duration:
                {{ inneritem.duration }}
                | Delivery: {{ inneritem.delivery }}
              </p>
              <p
                style="color: #a30046"
                v-show="item.category == 'Entrepreneurship'"
              >
                <strong style="font-size: 14px">
                  {{ inneritem.Course_available }}</strong
                >
              </p>
            </div>
          </div>
        </div>
        <div class="row note_content py-4" v-if="item.warning">
          <a
            data-region="uber-landing-page"
            v-bind:href="item.warning.link"
            style="border-bottom: transparent"
            target="_blank"
            class="external-link"
          >
            <p style="margin-bottom: 3px">
              <strong
                style="font-size: 14px"
                v-html="item.warning.heading"
              ></strong>
            </p>
            <p
              style="margin-bottom: 3px; font-size: 14px"
              v-html="item.warning.description"
            ></p>
          </a>
        </div>
      </div>
    </b-collapse>
  </div>
</template>
<script>
export default {
  props: {
    item: Object,
    iterate: Number,
  },
};
</script>

<style lang="scss" scoped>
.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}
.icon-cheveron-down {
  transform: rotate(-180deg);
  width: 26px;
}
.icon-cheveron-up {
  width: 26px;
}
.collapsing {
  transition: all 0.5s !important;
}
</style>
